workflows/fit_stage3_assembly.json
{
  "name": "Fitness Channel - Stage 3 - Video Assembly",
  "nodes": [
    {
      "parameters": {},
      "id": "fit3-n0",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\"job_id\":\"FIT-TEST003\",\"exercise_name\":\"Romanian Deadlift\",\"title\":\"ROMANIAN DEADLIFT — ANATOMY GUIDE\",\"hashtags\":\"#fitness #anatomy #muscles #workout #gym #deadlift #hamstrings #strengthtraining #posteriorchain #fitonomy\",\"narration\":\"Romanian Deadlift — fire your hamstrings and build powerful posterior chain strength. Stand tall, grip the barbell shoulder-width, hinge at the hips, spine neutral. Push the hips back, breathe out, feel the hamstrings load and stretch. Feel those hamstring fibers engage and burn under full eccentric tension. Push your hips back — do not bend the knees. Control every rep. Lock in the form. Now go build it.\",\"highlight_keywords\":[\"HAMSTRINGS\",\"PUSH\",\"FIRE\",\"CONTROL\"],\"muscle_labels_scene4\":[{\"name\":\"BICEPS FEMORIS\",\"x_pct\":0.55,\"y_pct\":0.4},{\"name\":\"SEMIMEMBRANOSUS\",\"x_pct\":0.42,\"y_pct\":0.52},{\"name\":\"SEMITENDINOSUS\",\"x_pct\":0.6,\"y_pct\":0.6},{\"name\":\"ISCHIAL TUBEROSITY\",\"x_pct\":0.48,\"y_pct\":0.28}],\"popup\":{\"start_sec\":5,\"end_sec\":9,\"app_name\":\"FitChannel\",\"message\":\"Full program in bio!\"},\"clip_paths\":[\"/data/ffmpeg/input/FIT-TEST003_scene1.mp4\",\"/data/ffmpeg/input/FIT-TEST003_scene2.mp4\",\"/data/ffmpeg/input/FIT-TEST003_scene3.mp4\",\"/data/ffmpeg/input/FIT-TEST003_scene4.mp4\",\"/data/ffmpeg/input/FIT-TEST003_scene5.mp4\",\"/data/ffmpeg/input/FIT-TEST003_scene6.mp4\"],\"num_clips\":6,\"clip_dur_sec\":5,\"audio_path\":\"/ffmpeg/input/FIT-TEST003_voice.mp3\",\"audio_duration\":29.518,\"word_timings\":[{\"word\":\"Romanian\",\"start\":0,\"end\":0.522},{\"word\":\"Deadlift\",\"start\":0.592,\"end\":1.057},{\"word\":\"fire\",\"start\":1.463,\"end\":1.811},{\"word\":\"your\",\"start\":1.858,\"end\":1.985},{\"word\":\"hamstrings\",\"start\":2.043,\"end\":2.694},{\"word\":\"and\",\"start\":2.775,\"end\":2.961},{\"word\":\"build\",\"start\":3.053,\"end\":3.367},{\"word\":\"powerful\",\"start\":3.483,\"end\":4.017},{\"word\":\"posterior\",\"start\":4.098,\"end\":4.783},{\"word\":\"chain\",\"start\":4.853,\"end\":5.108},{\"word\":\"strength\",\"start\":5.178,\"end\":5.7},{\"word\":\"Stand\",\"start\":5.979,\"end\":6.362},{\"word\":\"tall\",\"start\":6.432,\"end\":6.896},{\"word\":\"grip\",\"start\":7.047,\"end\":7.326},{\"word\":\"the\",\"start\":7.396,\"end\":7.477},{\"word\":\"barbell\",\"start\":7.535,\"end\":7.964},{\"word\":\"shoulder-width\",\"start\":8.046,\"end\":8.731},{\"word\":\"hinge\",\"start\":8.94,\"end\":9.276},{\"word\":\"at\",\"start\":9.3,\"end\":9.369},{\"word\":\"the\",\"start\":9.404,\"end\":9.474},{\"word\":\"hips\",\"start\":9.532,\"end\":9.973},{\"word\":\"spine\",\"start\":10.124,\"end\":10.565},{\"word\":\"neutral\",\"start\":10.635,\"end\":11.181},{\"word\":\"Push\",\"start\":11.459,\"end\":11.796},{\"word\":\"the\",\"start\":11.877,\"end\":11.97},{\"word\":\"hips\",\"start\":12.04,\"end\":12.295},{\"word\":\"back\",\"start\":12.376,\"end\":12.876},{\"word\":\"breathe\",\"start\":13.05,\"end\":13.41},{\"word\":\"out\",\"start\":13.479,\"end\":13.886},{\"word\":\"feel\",\"start\":14.06,\"end\":14.339},{\"word\":\"the\",\"start\":14.397,\"end\":14.466},{\"word\":\"hamstrings\",\"start\":14.548,\"end\":15.209},{\"word\":\"load\",\"start\":15.302,\"end\":15.651},{\"word\":\"and\",\"start\":15.767,\"end\":15.976},{\"word\":\"stretch\",\"start\":16.045,\"end\":16.649},{\"word\":\"Feel\",\"start\":16.974,\"end\":17.264},{\"word\":\"those\",\"start\":17.334,\"end\":17.555},{\"word\":\"hamstring\",\"start\":17.613,\"end\":18.147},{\"word\":\"fibers\",\"start\":18.228,\"end\":18.657},{\"word\":\"engage\",\"start\":18.716,\"end\":19.296},{\"word\":\"and\",\"start\":19.342,\"end\":19.459},{\"word\":\"burn\",\"start\":19.54,\"end\":19.923},{\"word\":\"under\",\"start\":20.039,\"end\":20.26},{\"word\":\"full\",\"start\":20.341,\"end\":20.585},{\"word\":\"eccentric\",\"start\":20.654,\"end\":21.177},{\"word\":\"tension\",\"start\":21.247,\"end\":21.827},{\"word\":\"Push\",\"start\":22.106,\"end\":22.361},{\"word\":\"your\",\"start\":22.408,\"end\":22.558},{\"word\":\"hips\",\"start\":22.628,\"end\":22.895},{\"word\":\"back\",\"start\":22.988,\"end\":23.313},{\"word\":\"do\",\"start\":23.673,\"end\":23.812},{\"word\":\"not\",\"start\":23.894,\"end\":24.068},{\"word\":\"bend\",\"start\":24.126,\"end\":24.381},{\"word\":\"the\",\"start\":24.462,\"end\":24.532},{\"word\":\"knees\",\"start\":24.579,\"end\":25.101},{\"word\":\"Control\",\"start\":25.275,\"end\":25.856},{\"word\":\"every\",\"start\":25.972,\"end\":26.227},{\"word\":\"rep\",\"start\":26.32,\"end\":26.75},{\"word\":\"Lock\",\"start\":26.924,\"end\":27.214},{\"word\":\"in\",\"start\":27.272,\"end\":27.33},{\"word\":\"the\",\"start\":27.377,\"end\":27.446},{\"word\":\"form\",\"start\":27.504,\"end\":27.992},{\"word\":\"Now\",\"start\":28.236,\"end\":28.445},{\"word\":\"go\",\"start\":28.514,\"end\":28.642},{\"word\":\"build\",\"start\":28.735,\"end\":29.002},{\"word\":\"it\",\"start\":29.06,\"end\":29.49}],\"ass_path\":\"/data/ffmpeg/input/FIT-TEST003_captions.ass\",\"bgm_path\":\"/data/ffmpeg/input/FIT-TEST003_bgm.mp3\",\"sheet_row\":null,\"start_time\":1780483392248} }];"
      },
      "id": "fit3-n0b",
      "name": "Test Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generates 6 dark-gym-colored test clips using FFmpeg's built-in color source.\n// Skips any clip that already exists (e.g. real clips from Stage 2).\n// These are solid-color 1080x1920 clips so normalization in Assemble Video is a no-op.\nconst { execSync } = require('child_process');\nconst fs = require('fs');\n\nconst data   = $input.first().json;\nconst jobId  = data.job_id;\nconst n8nIn  = '/data/ffmpeg/input';\nconst contIn = '/ffmpeg/input';\n\nif (!fs.existsSync(n8nIn)) fs.mkdirSync(n8nIn, { recursive: true });\n\n// Dark cinematic gym colors per scene\nconst colors = ['0x1a1a2e', '0x0f2a4a', '0x0a1628', '0x1c0a3a', '0x0a2a20', '0x1a1a2e'];\nconst labels = ['HOOK', 'SETUP', 'EXECUTION', 'ANATOMY', 'KEY TIP', 'CTA'];\n\nconst clipPaths = data.clip_paths || [];\n\nfor (let i = 0; i < 6; i++) {\n  const n8nPath  = n8nIn  + '/' + jobId + '_scene' + (i+1) + '.mp4';\n  const contPath = contIn + '/' + jobId + '_scene' + (i+1) + '.mp4';\n\n  // Use existing file if already downloaded from Stage 2\n  if (fs.existsSync(n8nPath)) {\n    console.log('Scene ' + (i+1) + ' already exists — using real Seedance clip.');\n    if (!clipPaths[i]) clipPaths[i] = n8nPath;\n    continue;\n  }\n\n  console.log('Generating test clip ' + (i+1) + '/6 (' + labels[i] + ')...');\n  const cmd =\n    'docker exec qpc_ffmpeg_runner ffmpeg -y ' +\n    '-f lavfi -i \"color=c=' + colors[i] + ':s=1080x1920:r=24:d=5\" ' +\n    '-f lavfi -i \"sine=frequency=0:sample_rate=44100:duration=5\" ' +\n    '-c:v libx264 -crf 20 -preset fast -pix_fmt yuv420p ' +\n    '-c:a aac -b:a 64k -shortest ' +\n    '\"' + contPath + '\" && echo CLIP_OK';\n\n  const res = execSync(cmd, { encoding: 'utf-8', timeout: 30000 });\n  if (!res.includes('CLIP_OK')) throw new Error('Test clip ' + (i+1) + ' generation failed: ' + res.slice(-200));\n\n  clipPaths[i] = n8nPath;\n  console.log('  -> ' + n8nPath);\n}\n\nconsole.log('Test clips ready: ' + clipPaths.length + ' clips');\nreturn [{ json: { ...data, clip_paths: clipPaths } }];"
      },
      "id": "fit3-n0c",
      "name": "Generate Test Clips",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fit-stage3-assembly",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "fit3-n1",
      "name": "Stage 3 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        260
      ],
      "webhookId": "fitness-stage3-assembly"
    },
    {
      "parameters": {
        "jsCode": "const raw  = $input.first().json;\nconst body = (raw.body !== undefined) ? raw.body : raw;\nif (!body.job_id)     throw new Error('Stage 3 missing: job_id');\nif (!body.clip_paths) throw new Error('Stage 3 missing: clip_paths');\nif (!body.title)      throw new Error('Stage 3 missing: title');\nreturn [{ json: {\n  job_id:               body.job_id,\n  exercise_name:        body.exercise_name || body.title,\n  title:                body.title,\n  hashtags:             body.hashtags || '#fitness #workout',\n  narration:            body.narration || '',\n  highlight_keywords:   body.highlight_keywords || [],\n  muscle_labels_scene4: body.muscle_labels_scene4 || [],\n  popup:                body.popup || {},\n  clip_paths:           body.clip_paths,\n  num_clips:            body.num_clips || body.clip_paths.length,\n  clip_dur_sec:         body.clip_dur_sec || 5,\n  audio_path:           body.audio_path || null,\n  audio_duration:       body.audio_duration || 30,\n  word_timings:         body.word_timings || [],\n  ass_path:             body.ass_path || null,\n  bgm_path:             body.bgm_path || null,\n  sheet_row:            body.sheet_row || null,\n  start_time:           body.start_time || Date.now()\n}}];"
      },
      "id": "fit3-n2",
      "name": "Extract S3 Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        130
      ]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst fs = require('fs');\n\nconst data   = $input.first().json;\nconst jobId  = data.job_id;\nconst clips  = data.clip_paths || [];\nconst N      = clips.length;\nconst popup  = data.popup || {};\nconst muscleLabels = data.muscle_labels_scene4 || [];\n\nconst n8nIn  = '/data/ffmpeg/input';\nconst n8nOut = '/data/ffmpeg/output';\nconst contIn = '/ffmpeg/input';\nconst contOut= '/ffmpeg/output';\n\nif (!fs.existsSync(n8nOut)) fs.mkdirSync(n8nOut, { recursive: true });\n\nfunction run(cmd, ms) {\n  ms = ms || 120000;\n  console.log('CMD: ' + cmd.slice(0, 220));\n  let out = '';\n  try { out = execSync(cmd, { encoding: 'utf-8', timeout: ms }); }\n  catch(e) { out = (e.stdout||'') + (e.stderr||''); }\n  return out.toString();\n}\n\n// ─── STEP 1: Create iOS-style notification PNG (WhatsApp Messages style) ────\nconst overlayDir  = '/ffmpeg/config/overlay';\nconst notifBase   = overlayDir + '/ios_notification_bg.png';\nconst notifExists = run('docker exec qpc_ffmpeg_runner test -f \"' + notifBase + '\" && echo OK').includes('OK');\n\nif (!notifExists) {\n  run('docker exec qpc_ffmpeg_runner mkdir -p \"' + overlayDir + '\"');\n\n  // Install Pillow if missing\n  run('docker exec qpc_ffmpeg_runner pip install pillow --quiet 2>&1', 30000);\n\n  // Write the notification card Python script\n  const pyPath = n8nIn + '/_mknotif_final.py';\n  const pyScript = `import os, math\nos.makedirs('/ffmpeg/config/overlay', exist_ok=True)\nfrom PIL import Image, ImageDraw, ImageFilter, ImageFont\n\nW=1040; TITLE_H=44; CONTENT_H=82; TOTAL_H=TITLE_H+CONTENT_H; R=18\nSHADOW_BLUR=11; PAD=20\nICON_SZ=22; ICON_X=14; ICON_Y=(TITLE_H-ICON_SZ)//2\n\n# Draw Messages icon at 4x then downsample (smooth antialiasing)\nSZ4=ICON_SZ*4\nbig=Image.new('RGBA',(SZ4,SZ4),(0,0,0,0))\nbd=ImageDraw.Draw(big)\nbd.rounded_rectangle([0,0,SZ4-1,SZ4-1],radius=SZ4//4,fill=(52,199,89,255))\npad1=SZ4//8\nbd.ellipse([pad1,pad1,SZ4-pad1-1,SZ4-pad1-6],fill=(255,255,255,255))\ntail=[(pad1+2,SZ4-pad1-8),(pad1+2,SZ4-pad1+6),(pad1+SZ4//6,SZ4-pad1-14)]\nbd.polygon(tail,fill=(255,255,255,255))\nicon=big.resize((ICON_SZ,ICON_SZ),Image.LANCZOS)\n\n# Shadow\nfull_w=W+PAD*2; full_h=TOTAL_H+PAD*2+10\nshadow=Image.new('RGBA',(full_w,full_h),(0,0,0,0))\nImageDraw.Draw(shadow).rounded_rectangle([PAD,PAD+8,PAD+W-1,PAD+TOTAL_H+8-1],radius=R,fill=(0,0,0,72))\nshadow=shadow.filter(ImageFilter.GaussianBlur(SHADOW_BLUR))\n\n# Card\ncard=Image.new('RGBA',(W,TOTAL_H),(0,0,0,0))\nmask=Image.new('L',(W,TOTAL_H),0)\nImageDraw.Draw(mask).rounded_rectangle([0,0,W-1,TOTAL_H-1],radius=R,fill=255)\ncard.paste(Image.new('RGBA',(W,TITLE_H),(255,255,255,250)),(0,0))\nImageDraw.Draw(card).rectangle([0,TITLE_H,W,TITLE_H+1],fill=(208,208,212,255))\ncard.paste(Image.new('RGBA',(W,CONTENT_H),(230,230,234,250)),(0,TITLE_H+1))\ncard.putalpha(mask)\n\n# Light sweep (per-pixel, no putalpha)\nsweep=Image.new('RGBA',(W,TITLE_H),(0,0,0,0))\nsp=sweep.load()\nfor y in range(TITLE_H):\n  for x in range(W):\n    dv=(x*0.75+y*0.25)/(W*0.75+TITLE_H*0.25)\n    if 0.06<dv<0.30:\n      t=(dv-0.06)/0.24\n      sp[x,y]=(255,255,255,int(18*math.sin(math.pi*t)))\ntc=card.crop((0,0,W,TITLE_H))\ncard.paste(Image.alpha_composite(tc,sweep),(0,0))\ncard.paste(icon,(ICON_X,ICON_Y),icon)\n\nresult=shadow.copy()\nresult.paste(card,(PAD,PAD),card)\nresult.save('/ffmpeg/config/overlay/ios_notification_bg.png','PNG')\nprint('NOTIF_OK')\n`;\n  fs.writeFileSync(pyPath, pyScript);\n  const pyRes = run('docker exec qpc_ffmpeg_runner python3 \"' + pyPath.replace('/data/ffmpeg','/ffmpeg') + '\"', 30000);\n  console.log('Notification card:', pyRes.trim());\n}\n\nconst hasNotif = run('docker exec qpc_ffmpeg_runner test -f \"' + notifBase + '\" && echo OK').includes('OK');\nconsole.log('Notification PNG: ' + (hasNotif ? 'READY (rounded corners)' : 'using drawbox fallback'));\n\n// ─── STEP 2: Normalize all clips to 1080x1920 ───────────────────────────────\nfor (let i = 0; i < N; i++) {\n  const inFile  = clips[i].replace('/data/ffmpeg', '/ffmpeg');\n  const outFile = contIn + '/' + jobId + '_norm' + i + '.mp4';\n  run(\n    'docker exec qpc_ffmpeg_runner ffmpeg -y -i \"' + inFile + '\" ' +\n    '-vf \"scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2:black\" ' +\n    '-r 24 -c:v libx264 -crf 20 -preset fast -pix_fmt yuv420p -an \"' + outFile + '\"',\n    120000\n  );\n}\n\n// ─── STEP 3: XFADE transitions (variety cycle) ──────────────────────────────\nconst transitions = ['fade','wipeleft','slidedown','circlecrop','wiperight','slideleft'];\nconst CLIP_DUR  = 5.0;\nconst FADE_DUR  = 0.4;\nconst VIDEO_DUR = N * CLIP_DUR - Math.max(0, N-1) * FADE_DUR;  // 28s for 6 clips\nlet withTransitions;\n\nif (N === 1) {\n  withTransitions = contIn + '/' + jobId + '_norm0.mp4';\n} else {\n  const inputs = Array.from({length:N}, (_,i) => '-i \"' + contIn + '/' + jobId + '_norm' + i + '.mp4\"').join(' ');\n  let xf = '', prev = '[0:v]';\n  for (let i = 1; i < N; i++) {\n    const t   = transitions[(i-1) % transitions.length];\n    const off = (i * (CLIP_DUR - FADE_DUR)).toFixed(1);\n    const o   = (i === N-1) ? '[vout]' : '[x'+i+']';\n    xf += prev + '['+i+':v]xfade=transition='+t+':duration='+FADE_DUR+':offset='+off+o+';';\n    prev = o;\n  }\n  run(\n    'docker exec qpc_ffmpeg_runner ffmpeg -y ' + inputs +\n    ' -filter_complex \"' + xf.slice(0,-1) + '\" -map \"[vout]\"' +\n    ' -c:v libx264 -crf 20 -preset fast -pix_fmt yuv420p \"' +\n    contIn + '/' + jobId + '_xfade.mp4\"',\n    300000\n  );\n  withTransitions = contIn + '/' + jobId + '_xfade.mp4';\n}\n\n// ─── STEP 4: Check assets ───────────────────────────────────────────────────\n// No logo overlay for fitness channel — text-only branding\nconst hasLogo = false;\n\nlet narFile = data.audio_path || null;\nif (narFile) {\n  const c = narFile.replace('/data/ffmpeg','/ffmpeg');\n  narFile  = run('docker exec qpc_ffmpeg_runner test -f \"' + c + '\" && echo OK').includes('OK') ? c : null;\n}\n\nlet bgmFile = data.bgm_path ? data.bgm_path.replace('/data/ffmpeg','/ffmpeg') : null;\nconst hasBgm = !!(bgmFile && run('docker exec qpc_ffmpeg_runner test -f \"' + bgmFile + '\" && echo OK').includes('OK'));\n\nconst assFile = data.ass_path ? data.ass_path.replace('/data/ffmpeg','/ffmpeg') : null;\nconst hasAss  = !!(assFile && run('docker exec qpc_ffmpeg_runner test -f \"' + assFile + '\" && echo OK').includes('OK'));\n\n// Notification bell sound\nconst notifSndPath = '/ffmpeg/config/whatsapp_notify.mp3';\nconst hasNotifSnd  = run('docker exec qpc_ffmpeg_runner test -f \"' + notifSndPath + '\" && echo OK').includes('OK');\nconsole.log('Assets | logo:'+hasLogo+' | voice:'+!!narFile+' | bgm:'+hasBgm+' | ass:'+hasAss+' | bell:'+hasNotifSnd);\n\n// ─── STEP 5: Build FFmpeg input list ────────────────────────────────────────\nconst inp        = ['-i \"' + withTransitions + '\"'];\nconst notifI     = hasNotif    ? inp.push('-i \"' + notifBase    + '\"') - 1 : -1;\nconst narI       = narFile     ? inp.push('-i \"' + narFile      + '\"') - 1 : -1;\nconst bgmI       = hasBgm      ? inp.push('-i \"' + bgmFile      + '\"') - 1 : -1;\nconst notifSndI  = hasNotifSnd ? inp.push('-i \"' + notifSndPath + '\"') - 1 : -1;\n\n// ─── STEP 6: Video filter chain ─────────────────────────────────────────────\nlet lbl = 0;\nlet vf  = '';\nlet cur = '0:v';\n\n// No channel branding overlay — clean video output\n\n// ─── POPUP NOTIFICATION — iOS Messages style, full width, slide-in ──────────\nconst popupStart = popup.start_sec || 5;\nconst popupEnd   = popup.end_sec   || 9;\n\nfunction ffText(s) {\n  return (s||'').replace(/[\\\\':]/g,'').replace(/[^\\x20-\\x7E]/g,'').slice(0,52);\n}\nconst pApp = ffText(popup.app_name || 'FitChannel');\nconst pMsg = ffText(popup.message  || 'Get the full program');\nconst en   = \"between(t,\" + popupStart + \",\" + popupEnd + \")\";\n\n// Slide in from y=-10 → y=20 over 0.35s (image placed at y=20 final)\nconst animY =\n  \"if(between(t,\" + popupStart + \",\" + (popupStart+0.35).toFixed(2) + \"),\" +\n    \"20-30*(1-((t-\" + popupStart + \")/0.35)),\" +\n  \"20)\";\n\nif (hasNotif) {\n  // Scale PNG to 1080×176, overlay full-width at x=0 with slide animation\n  vf += ';['+notifI+':v]scale=1080:176,format=rgba[notif]';\n  vf += ';['+cur+'][notif]overlay=x=0:y=\\''+animY+'\\''+\n        ':format=auto:enable=\\''+en+'\\'[vb'+lbl+']';\n  cur='vb'+lbl; lbl++;\n\n  // Title bar text — Liberation Sans style (ffmpeg default closest match)\n  vf += ';['+cur+\"]drawtext=text='MESSAGES':fontcolor=0x646468:fontsize=20:x=64:y=52:enable='\"+en+\"'[vb\"+lbl+']';\n  cur='vb'+lbl; lbl++;\n  vf += ';['+cur+\"]drawtext=text='now':fontcolor=0x9B9BA0:fontsize=20:x=1008:y=52:enable='\"+en+\"'[vb\"+lbl+']';\n  cur='vb'+lbl; lbl++;\n\n  // App name bold (double-draw 1px offset for bold effect)\n  vf += ';['+cur+\"]drawtext=text='\"+pApp+\"':fontfile=/data/ffmpeg/config/fonts/LiberationSans-Bold.ttf:fontcolor=0x0F0F0F:fontsize=27:x=34:y=95:enable='\"+en+\"'[vb\"+lbl+']';\n  cur='vb'+lbl; lbl++;\n  vf += ';['+cur+\"]drawtext=text='\"+pApp+\"':fontfile=/data/ffmpeg/config/fonts/LiberationSans-Bold.ttf:fontcolor=0x0F0F0F:fontsize=27:x=35:y=95:enable='\"+en+\"'[vb\"+lbl+']';\n  cur='vb'+lbl; lbl++;\n\n  // Message text\n  vf += ';['+cur+\"]drawtext=text='\"+pMsg+\"':fontcolor=0x4B4B50:fontsize=24:x=34:y=131:enable='\"+en+\"'[vb\"+lbl+']';\n  cur='vb'+lbl; lbl++;\n\n} else {\n  // Fallback drawbox\n  vf += ';['+cur+']drawbox=x=20:y=40:w=1040:h=44:color=0xFFFFFF@0.97:t=fill:enable=\\''+en+'\\'[vb'+lbl+']'; cur='vb'+lbl; lbl++;\n  vf += ';['+cur+']drawbox=x=20:y=84:w=1040:h=82:color=0xE6E6EA@0.97:t=fill:enable=\\''+en+'\\'[vb'+lbl+']'; cur='vb'+lbl; lbl++;\n  vf += ';['+cur+']drawbox=x=34:y=51:w=22:h=22:color=0x34C759@1:t=fill:enable=\\''+en+'\\'[vb'+lbl+']'; cur='vb'+lbl; lbl++;\n  vf += ';['+cur+\"]drawtext=text='MESSAGES':fontcolor=0x646468:fontsize=20:x=64:y=52:enable='\"+en+\"'[vb\"+lbl+']'; cur='vb'+lbl; lbl++;\n  vf += ';['+cur+\"]drawtext=text='now':fontcolor=0x9B9BA0:fontsize=20:x=1008:y=52:enable='\"+en+\"'[vb\"+lbl+']'; cur='vb'+lbl; lbl++;\n  vf += ';['+cur+\"]drawtext=text='\"+pApp+\"':fontcolor=0x0F0F0F:fontsize=27:x=34:y=95:enable='\"+en+\"'[vb\"+lbl+']'; cur='vb'+lbl; lbl++;\n  vf += ';['+cur+\"]drawtext=text='\"+pMsg+\"':fontcolor=0x4B4B50:fontsize=24:x=34:y=131:enable='\"+en+\"'[vb\"+lbl+']'; cur='vb'+lbl; lbl++;\n}\n\n//ASS SubtitlesASS Subtitles ───────────────────────────────────────────────────────────\nif (hasAss) {\n  vf += \";[\"+cur+\"]subtitles=filename='\"+assFile+\"':fontsdir='/ffmpeg/config/fonts'[outv]\";\n} else {\n  vf += \";[\"+cur+\"]copy[outv]\";\n}\n\n// ── Video/audio duration (concat = exact 30s, no xfade loss) ─────────────────\nconst videoDur = VIDEO_DUR;  // N×5 = 30s exactly\nconst audioCap = data.audio_duration ? Math.min(data.audio_duration, videoDur) : videoDur;\nconst dur      = Math.ceil(Math.max(videoDur, audioCap)) + 1;  // render cap covers both video and audio\nconsole.log('Video: ' + videoDur.toFixed(1) + 's | Audio: ' + (data.audio_duration||0).toFixed(1) + 's | Cap: ' + audioCap.toFixed(1) + 's');\n\n// ─── Audio mix (narration + BGM + notification bell) ─────────────────────────\nlet afilters = '';\nlet amap     = '-an';\nconst bellDelayMs = Math.round((popup.start_sec || 5) * 1000);\n\n// Bell filter: delay to popup timestamp, volume boost\nconst bellF = hasNotifSnd\n  ? '['+notifSndI+':a]adelay='+bellDelayMs+'|'+bellDelayMs+',volume=2.2,aformat=sample_fmts=fltp[bell];'\n  : '';\n\n// Narration trimmed to exact video duration + 0.5s fade-out\nconst narTrim = 'atrim=0:' + audioCap.toFixed(3) + ',afade=t=out:st=' + Math.max(0,(audioCap-0.6)).toFixed(3) + ':d=0.6,volume=1.0';\nconst narF    = narFile ? '['+narI+':a]'+narTrim+'[nar];' : '';\n\nif (narFile && hasBgm && hasNotifSnd) {\n  afilters = ';'+narF+bellF+'['+bgmI+':a]atrim=0:'+dur+',volume=0.22[bgm];[nar][bgm][bell]amix=inputs=3:duration=first:dropout_transition=2[aout]';\n  amap = '-map \"[aout]\"';\n} else if (narFile && hasBgm) {\n  afilters = ';'+narF+'['+bgmI+':a]atrim=0:'+dur+',volume=0.22[bgm];[nar][bgm]amix=inputs=2:duration=first:dropout_transition=2[aout]';\n  amap = '-map \"[aout]\"';\n} else if (narFile && hasNotifSnd) {\n  afilters = ';'+narF+bellF+'[nar][bell]amix=inputs=2:duration=first:dropout_transition=2[aout]';\n  amap = '-map \"[aout]\"';\n} else if (narFile) {\n  afilters = ';'+narF+'[nar]aformat=sample_fmts=fltp[aout]';\n  amap = '-map \"[aout]\"';\n} else if (hasBgm) {\n  afilters = ';['+bgmI+':a]atrim=0:'+dur+',volume=0.85[aout]';\n  amap = '-map \"[aout]\"';\n}\n\nconst fullFilter = (vf + afilters).replace(/^;/, \"\");\nconst hasAudio   = amap !== '-an';\n\n// ─── Extend video to cover full audio if clips are shorter ──────────────────\n// If videoDur < audioCap: tpad holds last frame, then fade to black\n// This ensures the full narration audio plays without cutting off mid-sentence\nlet finalVLabel = 'outv';\nif (audioCap > videoDur) {\n  const gap = (audioCap - videoDur + 0.5).toFixed(3);\n  const fadeSt = (audioCap - 0.6).toFixed(3);\n  vf += \";[outv]tpad=stop_mode=clone:stop_duration=\"+gap+\",fade=t=out:st=\"+fadeSt+\":d=0.6[outvf]\";\n  finalVLabel = 'outvf';\n  console.log('Video extended by '+gap+'s with fade-to-black to cover audio length');\n} else {\n  finalVLabel = 'outv';\n}\n\nconsole.log('Filter nodes: '+lbl+' | audio:'+hasAudio+' | subtitles:'+hasAss+' | popup_png:'+hasNotif);\n\n// ─── Final render ─────────────────────────────────────────────────────────────\nconst cmd =\n  'docker exec qpc_ffmpeg_runner ffmpeg -y ' + inp.join(' ') +\n  ' -filter_complex \"' + fullFilter + '\" -map \"[' + finalVLabel + ']\" ' + amap +\n  ' -c:v libx264 -crf 18 -preset fast -pix_fmt yuv420p -movflags +faststart' +\n  (hasAudio ? ' -c:a aac -b:a 192k' : '') +\n  ' -t ' + dur + ' \"' + contOut + '/' + jobId + '_final.mp4\" && echo FINAL_OK';\n\nconst result = run(cmd, 900000);\nif (!result.includes('FINAL_OK')) throw new Error('Final render failed:\\n' + result.slice(-800));\n\nconst finalPath = n8nOut + '/' + jobId + '_final.mp4';\nif (!fs.existsSync(finalPath)) throw new Error('Output not on disk: ' + finalPath);\n\nconst elapsed = Math.round((Date.now() - data.start_time) / 1000);\nconsole.log('Assembly complete | ' + jobId + ' | ' + elapsed + 's | ' + finalPath);\n\nreturn [{ json: { ...data, final_video_path: finalPath, output_filename: jobId + '_final.mp4', assembly_time_sec: elapsed } }];"
      },
      "id": "fit3-n3",
      "name": "Assemble Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        130
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs           = require('fs');\nconst { execSync } = require('child_process');\n\nconst data     = $input.first().json;\nconst filePath = data.final_video_path;\nconst contPath = filePath.replace('/data/ffmpeg', '/ffmpeg');\n\nif (!fs.existsSync(filePath)) throw new Error('Final video missing: ' + filePath);\n\nconst folderId = $env.GOOGLE_DRIVE_FOLDER_ID || '';\nconst token    = $env.GOOGLE_DRIVE_ACCESS_TOKEN || '';\n\nif (!token || !folderId) {\n  console.warn('GOOGLE_DRIVE_ACCESS_TOKEN or GOOGLE_DRIVE_FOLDER_ID not set — skipping Drive upload.');\n  console.log('Video ready at: ' + filePath);\n  return [{ json: { ...data, drive_file_id: null, drive_video_url: null, drive_skipped: true } }];\n}\n\nconst metadata    = JSON.stringify({ name: data.output_filename, parents: [folderId] });\nconst escapedMeta = metadata.replace(/\"/g, '\\\\\"');\n\nconst res = execSync(\n  'docker exec qpc_ffmpeg_runner curl -s -X POST ' +\n  '-H \"Authorization: Bearer ' + token + '\" ' +\n  '-F \"metadata=' + escapedMeta + ';type=application/json\" ' +\n  '-F \"file=@' + contPath + ';type=video/mp4\" ' +\n  '\"https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart&fields=id\"',\n  { encoding: 'utf-8', timeout: 600000 }\n);\n\nlet parsed = {};\ntry { parsed = JSON.parse(res); } catch(e) {}\n\nconst fileId   = parsed.id || null;\nconst driveUrl = fileId ? 'https://drive.usercontent.google.com/download?id=' + fileId + '&export=download' : null;\nconsole.log('Drive: ' + (fileId ? 'OK -> ' + fileId : 'failed: ' + res.slice(0,200)));\n\nreturn [{ json: { ...data, drive_file_id: fileId, drive_video_url: driveUrl } }];"
      },
      "id": "fit3-n4",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        130
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst totalSec = Math.round((Date.now() - (data.start_time||Date.now())) / 1000);\nconsole.log('=== FITNESS STAGE 3 COMPLETE ===');\nconsole.log('Job:      ' + data.job_id);\nconsole.log('Exercise: ' + data.exercise_name);\nconsole.log('File:     ' + data.final_video_path);\nconsole.log('Drive:    ' + (data.drive_file_id || 'not uploaded'));\nconsole.log('Time:     ' + totalSec + 's');\nreturn [{ json: {\n  job_id:           data.job_id,\n  title:            data.title,\n  exercise_name:    data.exercise_name,\n  final_video_path: data.final_video_path,\n  output_filename:  data.output_filename,\n  drive_file_id:    data.drive_file_id  || null,\n  drive_video_url:  data.drive_video_url || null,\n  sheet_row:        data.sheet_row,\n  total_time_sec:   totalSec,\n  status:           'stage3_complete'\n}}];"
      },
      "id": "fit3-n5",
      "name": "Build Final Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        130
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/YOUR_FITNESS_SHEET_ID/values/Fitness%20Topics!B' + $json.sheet_row + '?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ majorDimension: 'ROWS', values: [['DONE']] }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fit3-n6",
      "name": "Mark DONE in Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        1820,
        130
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tP4JYWZBLWv0OKKg",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Test Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Payload": {
      "main": [
        [
          {
            "node": "Generate Test Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Test Clips": {
      "main": [
        [
          {
            "node": "Extract S3 Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 3 Webhook": {
      "main": [
        [
          {
            "node": "Extract S3 Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract S3 Payload": {
      "main": [
        [
          {
            "node": "Assemble Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Video": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Build Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Summary": {
      "main": [
        [
          {
            "node": "Mark DONE in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}