workflows/fit_stage2_video_gen.json
{
  "name": "Fitness Channel - Stage 2 - Video Generation",
  "nodes": [
    {
      "parameters": {},
      "id": "fit2-n0",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  \"job_id\": \"FIT-TEST001\",\n  \"exercise_name\": \"Push-Up\",\n  \"title\": \"PUSH-UP — ANATOMY GUIDE\",\n  \"hashtags\": \"#fitness #anatomy #muscles #workout #gym #pushup #chestworkout #bodyweight #strengthtraining #fitnesseducation #fitonomy #calisthenics #pectorals #workoutform #beginnerfitness\",\n  \"narration\": \"Push-Up. Builds a powerful chest fast. Start in a high plank. Hands shoulder-width apart. Body forms one straight line. BREATHE in and lower with control. PUSH the floor away hard. SQUEEZE the chest at the top. FEEL the pectorals fire deep. LOCK the core throughout. Hips level — no sagging, no piking. That detail separates beginners from pros. DRIVE every rep with intention. Follow for daily workout tips.\",\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"start_sec\": 0,\n      \"end_sec\": 5,\n      \"narration_segment\": \"Push-Up. Builds a powerful chest fast.\",\n      \"visual_prompt\": \"Consistent: same smooth white anatomical mannequin (Fitonomy-style faceless glossy-matte white figure), same solid bright cobalt blue studio background, same clean studio blue key lighting from above-left — LOW-ANGLE HERO SHOT looking upward at full standing figure posed in confident athletic stance, arms slightly raised and chest expanded in a proud display position, slight Dutch-angle tilt adding dynamism; CLEAN OVAL CUTAWAY WINDOW cut into the pectoralis major area of the white mannequin skin revealing VIVID RED raw muscle tissue inside with individual fiber bundles and striations clearly visible, clean white cutaway edges glowing slightly at rim; black rubber exercise mat with subtle branding visible on floor foreground, black iron dumbbells resting in background on floor, black padded bench partially visible at rear right; mannequin cleanly and brightly lit with soft realistic shadow cast on cobalt blue ground plane; Fitonomy-style 3D anatomy render, solid bright cobalt blue background, white mannequin, vivid red muscle cutaway, clean studio product photography lighting, 9:16 vertical format, photorealistic 3D CGI, no text overlays, no labels, no watermarks\",\n      \"negative_prompt\": \"text, letters, numbers, labels, watermarks, UI, arrows, cartoon, anime, blurry, low quality, dark background, black background\"\n    },\n    {\n      \"scene_number\": 2,\n      \"start_sec\": 5,\n      \"end_sec\": 10,\n      \"narration_segment\": \"Start in a high plank. Hands shoulder-width apart. Body forms one straight line.\",\n      \"visual_prompt\": \"Consistent: same smooth white anatomical mannequin (Fitonomy-style faceless glossy-matte white figure), same solid bright cobalt blue studio background, same clean studio blue key lighting from above-left — SIDE-PROFILE STATIC FRAME showing full body in perfect high plank starting position, arms fully extended, palms flat on black rubber exercise mat, toes planted, body completely horizontal; GREEN DASHED VERTICAL ALIGNMENT GUIDE LINES running parallel along the spine from crown of head to heels confirming perfect straight-line alignment, additional green dashed vertical lines dropping from shoulder joint straight down to wrist confirming stacked joint position; SMALL SECONDARY CUTAWAY WINDOWS on triceps brachii area and anterior deltoid showing warm red-orange tinge beneath white skin indicating secondary activation; black cable machine with chrome pulleys visible in background left, black iron dumbbells on floor background right, black padded bench behind figure; clean soft shadow beneath mannequin on mat; Fitonomy-style 3D anatomy render, solid bright cobalt blue background, white mannequin, vivid red muscle cutaway, clean studio product photography lighting, 9:16 vertical format, photorealistic 3D CGI, no text overlays, no labels, no watermarks\",\n      \"negative_prompt\": \"text, letters, numbers, labels, watermarks, UI, arrows, cartoon, anime, blurry, low quality, dark background, black background\"\n    },\n    {\n      \"scene_number\": 3,\n      \"start_sec\": 10,\n      \"end_sec\": 15,\n      \"narration_segment\": \"BREATHE in and lower with control. PUSH the floor away hard. SQUEEZE the chest at the top.\",\n      \"visual_prompt\": \"Consistent: same smooth white anatomical mannequin (Fitonomy-style faceless glossy-matte white figure), same solid bright cobalt blue studio background, same clean studio blue key lighting from above-left — 45-DEGREE FRONT-SIDE TRACKING SHOT following the full arc of the push-up movement, capturing the mannequin mid-descent at approximately 90-degree elbow bend, elbows tracking at roughly 45 degrees from torso; motion blur on the arms suggesting controlled downward movement; CLEAN OVAL CUTAWAY WINDOW cut into the pectoralis major on the near-side chest revealing VIVID RED raw muscle tissue with fiber bundles under stretch load, striations fanning outward toward sternum clearly visible, clean white cutaway edges sharp and precise; SECONDARY SMALLER CUTAWAY on triceps brachii showing warm red-orange tissue beneath; GREEN DASHED VERTICAL ALIGNMENT GUIDE LINE running from ear through shoulder through wrist confirming joint stacking; black rubber exercise mat beneath hands, black iron dumbbells in background, black cable machine partially visible at frame edge; Fitonomy-style 3D anatomy render, solid bright cobalt blue background, white mannequin, vivid red muscle cutaway, clean studio product photography lighting, 9:16 vertical format, photorealistic 3D CGI, no text overlays, no labels, no watermarks\",\n      \"negative_prompt\": \"text, letters, numbers, labels, watermarks, UI, arrows, cartoon, anime, blurry, low quality, dark background, black background\"\n    },\n    {\n      \"scene_number\": 4,\n      \"start_sec\": 15,\n      \"end_sec\": 20,\n      \"narration_segment\": \"FEEL the pectorals fire deep. LOCK the core throughout.\",\n      \"visual_prompt\": \"Consistent: same smooth white anatomical mannequin (Fitonomy-style faceless glossy-matte white figure), same solid bright cobalt blue studio background, same clean studio blue key lighting from above-left — SLOW CINEMATIC ZOOM into the upper torso of the mannequin in the top push-up lockout position, chest and shoulder region filling nearly the entire frame; LARGE PROMINENT HEART-SHAPED CUTAWAY WINDOW dominating the center of frame cut into the pectoralis major revealing VIVID RED raw muscle anatomy — dense fiber bundles radiating from sternum outward toward the humerus, visible tendinous attachments at clavicular and sternal heads, deep striations catching the studio light, photorealistic muscle tissue glistening inside the crisp white cutaway rim; SECONDARY BLUE-TINTED CUTAWAY WINDOW on the anterior deltoid (upper left of frame) revealing red-orange muscle tissue indicating secondary activation; TERTIARY GREEN-TINTED SMALLER CUTAWAY on visible triceps brachii area (right frame edge) showing contracted red-orange fiber tissue; core region shows subtle warm tinge beneath white skin surface; soft even studio lighting makes all anatomical detail crystal clear; black padded bench edge visible at lower frame; Fitonomy-style 3D anatomy render, solid bright cobalt blue background, white mannequin, vivid red muscle cutaway, clean studio product photography lighting, 9:16 vertical format, photorealistic 3D CGI, no text overlays, no labels, no watermarks\",\n      \"negative_prompt\": \"text, letters, numbers, labels, watermarks, UI, arrows, cartoon, anime, blurry, low quality, dark background, black background\"\n    },\n    {\n      \"scene_number\": 5,\n      \"start_sec\": 20,\n      \"end_sec\": 25,\n      \"narration_segment\": \"Hips level — no sagging, no piking. That detail separates beginners from pros.\",\n      \"visual_prompt\": \"Consistent: same smooth white anatomical mannequin (Fitonomy-style faceless glossy-matte white figure), same solid bright cobalt blue studio background, same clean studio blue key lighting from above-left — CLOSE-UP SIDE-VIEW on the lower spine, hip, and core region of the mannequin held in perfect high plank lockout, camera tight on the lumbar-to-pelvis-to-thigh alignment zone; GREEN DASHED VERTICAL ALIGNMENT GUIDE LINE running perfectly horizontal along the spine from lumbar vertebrae through glutes through heels emphasizing neutral hip position — the spine is arrow-straight with zero sag or pike; SMALL CUTAWAY WINDOW on the core abdominal region revealing red muscle tissue of rectus abdominis and obliques in active bracing contraction, fiber bundles clearly visible through the clean white cutaway edges; a SUBTLE FAINT RED-ORANGE GHOST COMPARISON silhouette behind the mannequin suggests the wrong sagging hip position as a contrast reference without overpowering the main figure; black rubber exercise mat surface texture visible beneath the hands and foreground floor; black cable machine chrome pulleys visible in upper background; Fitonomy-style 3D anatomy render, solid bright cobalt blue background, white mannequin, vivid red muscle cutaway, clean studio product photography lighting, 9:16 vertical format, photorealistic 3D CGI, no text overlays, no labels, no watermarks\",\n      \"negative_prompt\": \"text, letters, numbers, labels, watermarks, UI, arrows, cartoon, anime, blurry, low quality, dark background, black background\"\n    },\n    {\n      \"scene_number\": 6,\n      \"start_sec\": 25,\n      \"end_sec\": 30,\n      \"narration_segment\": \"DRIVE every rep with intention. Follow for daily workout tips.\",\n      \"visual_prompt\": \"Consistent: same smooth white anatomical mannequin (Fitonomy-style faceless glossy-matte white figure), same solid bright cobalt blue studio background, same clean studio blue key lighting from above-left — WIDE PULL-BACK to full-figure shot, mannequin in triumphant top push-up lockout position with arms fully extended, chest broad, body in perfect straight plank, head neutral, radiating athletic power; camera slowly pulling back and rising slightly to reveal the full figure dramatically; CLEAN OVAL CUTAWAY WINDOW on the pectoralis major glowing with VIVID RED contracted muscle tissue at peak contraction, fiber bundles tightly grouped, striations compressed, tendon attachments visible, clean white cutaway edges bright and sharp; SECONDARY SMALLER CUTAWAY on triceps brachii showing contracted red-orange tissue; entire studio environment fully revealed — black rubber exercise mat beneath figure, black iron dumbbells neatly placed at background left, black cable machine with chrome pulleys at background right, black padded bench behind figure; the cobalt blue background is rich and saturated filling the entire frame evenly with slight brightness at center creating a premium product-photography vignette feel; soft realistic shadow beneath mannequin grounds the figure; Fitonomy-style 3D anatomy render, solid bright cobalt blue background, white mannequin, vivid red muscle cutaway, clean studio product photography lighting, 9:16 vertical format, photorealistic 3D CGI, no text overlays, no labels, no watermarks\",\n      \"negative_prompt\": \"text, letters, numbers, labels, watermarks, UI, arrows, cartoon, anime, blurry, low quality, dark background, black background\"\n    }\n  ],\n  \"seedance_prompts\": [\n    \"Consistent: same smooth white anatomical mannequin (Fitonomy-style faceless glossy-matte white figure), same solid bright cobalt blue studio background, same clean studio blue key lighting from above-left — LOW-ANGLE HERO SHOT looking upward at full standing figure posed in confident athletic stance, arms slightly raised and chest expanded in a proud display position, slight Dutch-angle tilt adding dynamism; CLEAN OVAL CUTAWAY WINDOW cut into the pectoralis major area of the white mannequin skin revealing VIVID RED raw muscle tissue inside with individual fiber bundles and striations clearly visible, clean white cutaway edges glowing slightly at rim; black rubber exercise mat with subtle branding visible on floor foreground, black iron dumbbells resting in background on floor, black padded bench partially visible at rear right; mannequin cleanly and brightly lit with soft realistic shadow cast on cobalt blue ground plane; Fitonomy-style 3D anatomy render, solid bright cobalt blue background, white mannequin, vivid red muscle cutaway, clean studio product photography lighting, 9:16 vertical format, photorealistic 3D CGI, no text overlays, no labels, no watermarks\",\n    \"Consistent: same smooth white anatomical mannequin (Fitonomy-style faceless glossy-matte white figure), same solid bright cobalt blue studio background, same clean studio blue key lighting from above-left — SIDE-PROFILE STATIC FRAME showing full body in perfect high plank starting position, arms fully extended, palms flat on black rubber exercise mat, toes planted, body completely horizontal; GREEN DASHED VERTICAL ALIGNMENT GUIDE LINES running parallel along the spine from crown of head to heels confirming perfect straight-line alignment, additional green dashed vertical lines dropping from shoulder joint straight down to wrist confirming stacked joint position; SMALL SECONDARY CUTAWAY WINDOWS on triceps brachii area and anterior deltoid showing warm red-orange tinge beneath white skin indicating secondary activation; black cable machine with chrome pulleys visible in background left, black iron dumbbells on floor background right, black padded bench behind figure; clean soft shadow beneath mannequin on mat; Fitonomy-style 3D anatomy render, solid bright cobalt blue background, white mannequin, vivid red muscle cutaway, clean studio product photography lighting, 9:16 vertical format, photorealistic 3D CGI, no text overlays, no labels, no watermarks\",\n    \"Consistent: same smooth white anatomical mannequin (Fitonomy-style faceless glossy-matte white figure), same solid bright cobalt blue studio background, same clean studio blue key lighting from above-left — 45-DEGREE FRONT-SIDE TRACKING SHOT following the full arc of the push-up movement, capturing the mannequin mid-descent at approximately 90-degree elbow bend, elbows tracking at roughly 45 degrees from torso; motion blur on the arms suggesting controlled downward movement; CLEAN OVAL CUTAWAY WINDOW cut into the pectoralis major on the near-side chest revealing VIVID RED raw muscle tissue with fiber bundles under stretch load, striations fanning outward toward sternum clearly visible, clean white cutaway edges sharp and precise; SECONDARY SMALLER CUTAWAY on triceps brachii showing warm red-orange tissue beneath; GREEN DASHED VERTICAL ALIGNMENT GUIDE LINE running from ear through shoulder through wrist confirming joint stacking; black rubber exercise mat beneath hands, black iron dumbbells in background, black cable machine partially visible at frame edge; Fitonomy-style 3D anatomy render, solid bright cobalt blue background, white mannequin, vivid red muscle cutaway, clean studio product photography lighting, 9:16 vertical format, photorealistic 3D CGI, no text overlays, no labels, no watermarks\",\n    \"Consistent: same smooth white anatomical mannequin (Fitonomy-style faceless glossy-matte white figure), same solid bright cobalt blue studio background, same clean studio blue key lighting from above-left — SLOW CINEMATIC ZOOM into the upper torso of the mannequin in the top push-up lockout position, chest and shoulder region filling nearly the entire frame; LARGE PROMINENT HEART-SHAPED CUTAWAY WINDOW dominating the center of frame cut into the pectoralis major revealing VIVID RED raw muscle anatomy — dense fiber bundles radiating from sternum outward toward the humerus, visible tendinous attachments at clavicular and sternal heads, deep striations catching the studio light, photorealistic muscle tissue glistening inside the crisp white cutaway rim; SECONDARY BLUE-TINTED CUTAWAY WINDOW on the anterior deltoid (upper left of frame) revealing red-orange muscle tissue indicating secondary activation; TERTIARY GREEN-TINTED SMALLER CUTAWAY on visible triceps brachii area (right frame edge) showing contracted red-orange fiber tissue; core region shows subtle warm tinge beneath white skin surface; soft even studio lighting makes all anatomical detail crystal clear; black padded bench edge visible at lower frame; Fitonomy-style 3D anatomy render, solid bright cobalt blue background, white mannequin, vivid red muscle cutaway, clean studio product photography lighting, 9:16 vertical format, photorealistic 3D CGI, no text overlays, no labels, no watermarks\",\n    \"Consistent: same smooth white anatomical mannequin (Fitonomy-style faceless glossy-matte white figure), same solid bright cobalt blue studio background, same clean studio blue key lighting from above-left — CLOSE-UP SIDE-VIEW on the lower spine, hip, and core region of the mannequin held in perfect high plank lockout, camera tight on the lumbar-to-pelvis-to-thigh alignment zone; GREEN DASHED VERTICAL ALIGNMENT GUIDE LINE running perfectly horizontal along the spine from lumbar vertebrae through glutes through heels emphasizing neutral hip position — the spine is arrow-straight with zero sag or pike; SMALL CUTAWAY WINDOW on the core abdominal region revealing red muscle tissue of rectus abdominis and obliques in active bracing contraction, fiber bundles clearly visible through the clean white cutaway edges; a SUBTLE FAINT RED-ORANGE GHOST COMPARISON silhouette behind the mannequin suggests the wrong sagging hip position as a contrast reference without overpowering the main figure; black rubber exercise mat surface texture visible beneath the hands and foreground floor; black cable machine chrome pulleys visible in upper background; Fitonomy-style 3D anatomy render, solid bright cobalt blue background, white mannequin, vivid red muscle cutaway, clean studio product photography lighting, 9:16 vertical format, photorealistic 3D CGI, no text overlays, no labels, no watermarks\",\n    \"Consistent: same smooth white anatomical mannequin (Fitonomy-style faceless glossy-matte white figure), same solid bright cobalt blue studio background, same clean studio blue key lighting from above-left — WIDE PULL-BACK to full-figure shot, mannequin in triumphant top push-up lockout position with arms fully extended, chest broad, body in perfect straight plank, head neutral, radiating athletic power; camera slowly pulling back and rising slightly to reveal the full figure dramatically; CLEAN OVAL CUTAWAY WINDOW on the pectoralis major glowing with VIVID RED contracted muscle tissue at peak contraction, fiber bundles tightly grouped, striations compressed, tendon attachments visible, clean white cutaway edges bright and sharp; SECONDARY SMALLER CUTAWAY on triceps brachii showing contracted red-orange tissue; entire studio environment fully revealed — black rubber exercise mat beneath figure, black iron dumbbells neatly placed at background left, black cable machine with chrome pulleys at background right, black padded bench behind figure; the cobalt blue background is rich and saturated filling the entire frame evenly with slight brightness at center creating a premium product-photography vignette feel; soft realistic shadow beneath mannequin grounds the figure; Fitonomy-style 3D anatomy render, solid bright cobalt blue background, white mannequin, vivid red muscle cutaway, clean studio product photography lighting, 9:16 vertical format, photorealistic 3D CGI, no text overlays, no labels, no watermarks\"\n  ],\n  \"negative_prompts\": [\n    \"text, letters, numbers, labels, watermarks, UI, arrows, cartoon, anime, blurry, low quality, dark background, black background\",\n    \"text, letters, numbers, labels, watermarks, UI, arrows, cartoon, anime, blurry, low quality, dark background, black background\",\n    \"text, letters, numbers, labels, watermarks, UI, arrows, cartoon, anime, blurry, low quality, dark background, black background\",\n    \"text, letters, numbers, labels, watermarks, UI, arrows, cartoon, anime, blurry, low quality, dark background, black background\",\n    \"text, letters, numbers, labels, watermarks, UI, arrows, cartoon, anime, blurry, low quality, dark background, black background\",\n    \"text, letters, numbers, labels, watermarks, UI, arrows, cartoon, anime, blurry, low quality, dark background, black background\"\n  ],\n  \"highlight_keywords\": [\n    \"PUSH\",\n    \"SQUEEZE\",\n    \"BREATHE\",\n    \"FEEL\",\n    \"LOCK\",\n    \"DRIVE\",\n    \"CONTROL\",\n    \"HOLD\"\n  ],\n  \"muscle_labels_scene4\": [\n    {\n      \"name\": \"PECTORALIS MAJOR\",\n      \"x_pct\": 0.5,\n      \"y_pct\": 0.4\n    },\n    {\n      \"name\": \"ANTERIOR DELTOID\",\n      \"x_pct\": 0.22,\n      \"y_pct\": 0.28\n    },\n    {\n      \"name\": \"TRICEPS BRACHII\",\n      \"x_pct\": 0.78,\n      \"y_pct\": 0.52\n    },\n    {\n      \"name\": \"CORE STABILIZERS\",\n      \"x_pct\": 0.5,\n      \"y_pct\": 0.68\n    }\n  ],\n  \"popup\": {\n    \"start_sec\": 5,\n    \"end_sec\": 9,\n    \"app_name\": \"FitChannel\",\n    \"message\": \"Full program in bio!\"\n  },\n  \"audio_path\": \"/ffmpeg/input/FIT-TEST001_voice.mp3\",\n  \"audio_duration\": 34.464,\n  \"word_timings\": [\n    {\n      \"word\": \"Push-Up\",\n      \"start\": 0.1,\n      \"end\": 1.598\n    },\n    {\n      \"word\": \"Builds\",\n      \"start\": 1.548,\n      \"end\": 2.148\n    },\n    {\n      \"word\": \"a\",\n      \"start\": 2.148,\n      \"end\": 2.248\n    },\n    {\n      \"word\": \"powerful\",\n      \"start\": 2.248,\n      \"end\": 3.048\n    },\n    {\n      \"word\": \"chest\",\n      \"start\": 3.048,\n      \"end\": 3.548\n    },\n    {\n      \"word\": \"fast\",\n      \"start\": 3.548,\n      \"end\": 4.048\n    },\n    {\n      \"word\": \"Start\",\n      \"start\": 4.048,\n      \"end\": 4.643\n    },\n    {\n      \"word\": \"in\",\n      \"start\": 4.643,\n      \"end\": 4.881\n    },\n    {\n      \"word\": \"a\",\n      \"start\": 4.881,\n      \"end\": 5\n    },\n    {\n      \"word\": \"high\",\n      \"start\": 5,\n      \"end\": 5.476\n    },\n    {\n      \"word\": \"plank\",\n      \"start\": 5.476,\n      \"end\": 6.19\n    },\n    {\n      \"word\": \"Hands\",\n      \"start\": 6.19,\n      \"end\": 6.667\n    },\n    {\n      \"word\": \"shoulder-width\",\n      \"start\": 6.667,\n      \"end\": 8\n    },\n    {\n      \"word\": \"apart\",\n      \"start\": 8,\n      \"end\": 8.571\n    },\n    {\n      \"word\": \"Body\",\n      \"start\": 8.571,\n      \"end\": 8.968\n    },\n    {\n      \"word\": \"forms\",\n      \"start\": 8.968,\n      \"end\": 9.463\n    },\n    {\n      \"word\": \"one\",\n      \"start\": 9.463,\n      \"end\": 9.76\n    },\n    {\n      \"word\": \"straight\",\n      \"start\": 9.76,\n      \"end\": 10.552\n    },\n    {\n      \"word\": \"line\",\n      \"start\": 10.552,\n      \"end\": 11.048\n    },\n    {\n      \"word\": \"BREATHE\",\n      \"start\": 11.048,\n      \"end\": 11.68\n    },\n    {\n      \"word\": \"in\",\n      \"start\": 11.68,\n      \"end\": 11.86\n    },\n    {\n      \"word\": \"and\",\n      \"start\": 11.86,\n      \"end\": 12.131\n    },\n    {\n      \"word\": \"lower\",\n      \"start\": 12.131,\n      \"end\": 12.583\n    },\n    {\n      \"word\": \"with\",\n      \"start\": 12.583,\n      \"end\": 12.944\n    },\n    {\n      \"word\": \"control\",\n      \"start\": 12.944,\n      \"end\": 13.667\n    },\n    {\n      \"word\": \"PUSH\",\n      \"start\": 13.667,\n      \"end\": 14.093\n    },\n    {\n      \"word\": \"the\",\n      \"start\": 14.093,\n      \"end\": 14.413\n    },\n    {\n      \"word\": \"floor\",\n      \"start\": 14.413,\n      \"end\": 14.946\n    },\n    {\n      \"word\": \"away\",\n      \"start\": 14.946,\n      \"end\": 15.372\n    },\n    {\n      \"word\": \"hard\",\n      \"start\": 15.372,\n      \"end\": 15.905\n    },\n    {\n      \"word\": \"SQUEEZE\",\n      \"start\": 15.905,\n      \"end\": 16.606\n    },\n    {\n      \"word\": \"the\",\n      \"start\": 16.606,\n      \"end\": 16.907\n    },\n    {\n      \"word\": \"chest\",\n      \"start\": 16.907,\n      \"end\": 17.408\n    },\n    {\n      \"word\": \"at\",\n      \"start\": 17.408,\n      \"end\": 17.608\n    },\n    {\n      \"word\": \"the\",\n      \"start\": 17.608,\n      \"end\": 17.909\n    },\n    {\n      \"word\": \"top\",\n      \"start\": 17.909,\n      \"end\": 18.31\n    },\n    {\n      \"word\": \"FEEL\",\n      \"start\": 18.31,\n      \"end\": 18.692\n    },\n    {\n      \"word\": \"the\",\n      \"start\": 18.692,\n      \"end\": 18.98\n    },\n    {\n      \"word\": \"pectorals\",\n      \"start\": 18.98,\n      \"end\": 19.841\n    },\n    {\n      \"word\": \"fire\",\n      \"start\": 19.841,\n      \"end\": 20.224\n    },\n    {\n      \"word\": \"deep\",\n      \"start\": 20.224,\n      \"end\": 20.702\n    },\n    {\n      \"word\": \"LOCK\",\n      \"start\": 20.702,\n      \"end\": 21.096\n    },\n    {\n      \"word\": \"the\",\n      \"start\": 21.096,\n      \"end\": 21.392\n    },\n    {\n      \"word\": \"core\",\n      \"start\": 21.392,\n      \"end\": 21.786\n    },\n    {\n      \"word\": \"throughout\",\n      \"start\": 21.786,\n      \"end\": 22.869\n    },\n    {\n      \"word\": \"Hips\",\n      \"start\": 22.869,\n      \"end\": 23.28\n    },\n    {\n      \"word\": \"level\",\n      \"start\": 23.28,\n      \"end\": 23.793\n    },\n    {\n      \"word\": \"—\",\n      \"start\": 23.793,\n      \"end\": 23.895\n    },\n    {\n      \"word\": \"no\",\n      \"start\": 23.895,\n      \"end\": 24.101\n    },\n    {\n      \"word\": \"sagging\",\n      \"start\": 24.101,\n      \"end\": 24.922\n    },\n    {\n      \"word\": \"no\",\n      \"start\": 24.922,\n      \"end\": 25.127\n    },\n    {\n      \"word\": \"piking\",\n      \"start\": 25.127,\n      \"end\": 25.845\n    },\n    {\n      \"word\": \"That\",\n      \"start\": 25.845,\n      \"end\": 26.185\n    },\n    {\n      \"word\": \"detail\",\n      \"start\": 26.185,\n      \"end\": 26.695\n    },\n    {\n      \"word\": \"separates\",\n      \"start\": 26.695,\n      \"end\": 27.459\n    },\n    {\n      \"word\": \"beginners\",\n      \"start\": 27.459,\n      \"end\": 28.224\n    },\n    {\n      \"word\": \"from\",\n      \"start\": 28.224,\n      \"end\": 28.563\n    },\n    {\n      \"word\": \"pros\",\n      \"start\": 28.563,\n      \"end\": 28.988\n    },\n    {\n      \"word\": \"DRIVE\",\n      \"start\": 28.988,\n      \"end\": 29.44\n    },\n    {\n      \"word\": \"every\",\n      \"start\": 29.44,\n      \"end\": 29.892\n    },\n    {\n      \"word\": \"rep\",\n      \"start\": 29.892,\n      \"end\": 30.163\n    },\n    {\n      \"word\": \"with\",\n      \"start\": 30.163,\n      \"end\": 30.525\n    },\n    {\n      \"word\": \"intention\",\n      \"start\": 30.525,\n      \"end\": 31.429\n    },\n    {\n      \"word\": \"Follow\",\n      \"start\": 31.429,\n      \"end\": 32.014\n    },\n    {\n      \"word\": \"for\",\n      \"start\": 32.014,\n      \"end\": 32.306\n    },\n    {\n      \"word\": \"daily\",\n      \"start\": 32.306,\n      \"end\": 32.794\n    },\n    {\n      \"word\": \"workout\",\n      \"start\": 32.794,\n      \"end\": 33.477\n    },\n    {\n      \"word\": \"tips\",\n      \"start\": 33.477,\n      \"end\": 33.964\n    }\n  ],\n  \"ass_path\": \"/data/ffmpeg/input/FIT-TEST001_captions.ass\",\n  \"bgm_path\": \"/data/ffmpeg/input/FIT-TEST001_bgm.mp3\",\n  \"sheet_row\": null,\n  \"num_clips\": 6,\n  \"clip_dur_sec\": 5,\n  \"start_time\": 1780406669430\n} }];"
      },
      "id": "fit2-n0b",
      "name": "Test Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fit-stage2-video",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "fit2-n1",
      "name": "Stage 2 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "webhookId": "fitness-stage2-video"
    },
    {
      "parameters": {
        "jsCode": "const raw  = $input.first().json;\nconst body = (raw.body !== undefined) ? raw.body : raw;\n\nif (!body.job_id)          throw new Error('Stage 2 missing: job_id');\nif (!body.seedance_prompts || !Array.isArray(body.seedance_prompts) || body.seedance_prompts.length === 0)\n  throw new Error('Stage 2 missing: seedance_prompts array');\nif (!body.narration)       throw new Error('Stage 2 missing: narration');\n\nconst MAX = 6;\nconst prompts = body.seedance_prompts.slice(0, MAX);\nconst negs    = (body.negative_prompts || []).slice(0, MAX);\nconst scenes  = (body.scenes || []).slice(0, MAX).map((s, i) => ({ ...s, scene_number: i+1, start_sec: i*5, end_sec: (i+1)*5 }));\n\nconst wsKey = $env.WAVESPEED_API_KEY || '';\nif (!wsKey) console.warn('WARNING: WAVESPEED_API_KEY not set — Seedance calls will fail');\n\nconsole.log('Stage 2 START | job:', body.job_id, '| clips:', prompts.length, '| exercise:', body.exercise_name);\n\nreturn [{ json: {\n  ...body,\n  seedance_prompts: prompts,\n  negative_prompts: negs,\n  scenes,\n  num_clips:    prompts.length,\n  clip_dur_sec: 5,\n  ws_key:       wsKey\n}}];"
      },
      "id": "fit2-n2",
      "name": "Extract & Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst data  = $input.first().json;\nconst wsKey = data.ws_key || $env.WAVESPEED_API_KEY;\nconst prompts = data.seedance_prompts || [];\n\nif (!wsKey) throw new Error('WAVESPEED_API_KEY not set. Add in n8n Settings > Environment Variables.');\n\nfunction apiPost(prompt) {\n  return new Promise((resolve, reject) => {\n    const buf = Buffer.from(JSON.stringify({ prompt, duration: 5, aspect_ratio: '9:16', seed: -1 }));\n    const req = https.request({\n      hostname: 'api.wavespeed.ai',\n      path:     '/api/v3/bytedance/seedance-v1-lite-t2v-720p',\n      method:   'POST',\n      headers:  { 'Authorization': 'Bearer ' + wsKey, 'Content-Type': 'application/json', 'Content-Length': buf.length }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => { try { resolve(JSON.parse(Buffer.concat(chunks).toString())); } catch(e) { reject(new Error('Bad JSON from Wavespeed')); } });\n    });\n    req.on('error', reject);\n    req.write(buf);\n    req.end();\n  });\n}\n\nconst results = await Promise.all(prompts.map(p => apiPost(p)));\nconst seedance_job_ids = [];\n\nfor (let i = 0; i < results.length; i++) {\n  const r = results[i];\n  if (!r.data || !r.data.id) throw new Error('Scene ' + (i+1) + ' submit failed: ' + JSON.stringify(r).slice(0,300));\n  seedance_job_ids.push(r.data.id);\n  console.log('[' + (i+1) + '/' + results.length + '] submitted -> ' + r.data.id);\n}\n\nconsole.log('All ' + seedance_job_ids.length + ' scenes submitted to Seedance. Polling starts in 30s...');\nreturn [{ json: { ...data, seedance_job_ids, video_urls: new Array(prompts.length).fill(null), poll_attempt: 0, all_done: 0, submitted_at: Date.now() } }];"
      },
      "id": "fit2-n3",
      "name": "Submit Seedance Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        100
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "fit2-n4",
      "name": "Wait 30 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        100
      ],
      "webhookId": "fit2-poll-resume"
    },
    {
      "parameters": {
        "jsCode": "const https  = require('https');\nconst data   = $input.first().json;\nconst wsKey  = data.ws_key || $env.WAVESPEED_API_KEY;\nconst jobIds = data.seedance_job_ids || [];\nconst urls   = [...(data.video_urls || [])];\nconst attempt= (data.poll_attempt || 0) + 1;\n\nif (!wsKey) throw new Error('WAVESPEED_API_KEY not set.');\nconsole.log('━━━ Poll #' + attempt + ' (' + jobIds.length + ' clips) ━━━');\n\nfunction apiGet(taskId) {\n  return new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: 'api.wavespeed.ai',\n      path:     '/api/v3/predictions/' + taskId + '/result',\n      method:   'GET',\n      headers:  { 'Authorization': 'Bearer ' + wsKey }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => { try { resolve(JSON.parse(Buffer.concat(chunks).toString())); } catch(e) { reject(new Error('Non-JSON from Wavespeed')); } });\n    });\n    req.on('error', reject);\n    req.end();\n  });\n}\n\nfor (let i = 0; i < jobIds.length; i++) {\n  if (urls[i] !== null) { console.log('  Scene '+(i+1)+' already done'); continue; }\n  const r = await apiGet(jobIds[i]);\n  const status = (r.data && r.data.status) || 'unknown';\n  const pct    = r.data && r.data.progress != null ? ' (' + r.data.progress + '%)' : '';\n  console.log('  Scene '+(i+1)+'/'+jobIds.length+' -> '+status+pct);\n  if (status === 'completed') {\n    const url = r.data.outputs && r.data.outputs[0];\n    if (!url) throw new Error('Scene '+(i+1)+' completed but no output URL');\n    urls[i] = url;\n    console.log('    done: ' + url.split('?')[0].slice(-40));\n  } else if (status === 'failed') {\n    throw new Error('Scene '+(i+1)+' FAILED: ' + JSON.stringify(r.data));\n  }\n}\n\nconst done  = urls.filter(u => u !== null).length;\nconst total = jobIds.length;\nconst all_done = done === total ? 1 : 0;\nconsole.log('Progress: '+done+'/'+total+' clips ready'+(all_done ? ' — ALL DONE!' : ' — waiting...'));\n\nreturn [{ json: { ...data, video_urls: urls, poll_attempt: attempt, all_done } }];"
      },
      "id": "fit2-n5",
      "name": "Check Seedance Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "fit2-alldone",
              "leftValue": "={{ $json.all_done }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "fit2-n6",
      "name": "All Clips Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1480,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst fs     = require('fs');\nconst data   = $input.first().json;\nconst jobId  = data.job_id;\nconst urls   = data.video_urls || [];\nconst n8nIn  = '/data/ffmpeg/input';\nconst contIn = '/ffmpeg/input';\n\nif (!fs.existsSync(n8nIn)) fs.mkdirSync(n8nIn, { recursive: true });\n\nconst clipPaths = [];\nfor (let i = 0; i < urls.length; i++) {\n  const name     = jobId + '_scene' + (i+1) + '.mp4';\n  const n8nPath  = n8nIn  + '/' + name;\n  const contPath = contIn + '/' + name;\n  console.log('Downloading scene ' + (i+1) + ': ' + urls[i].split('?')[0].slice(-50));\n  const cmd = 'docker exec qpc_ffmpeg_runner curl -sL -o \"' + contPath + '\" \"' + urls[i] + '\" && echo DL_OK';\n  const res = execSync(cmd, { encoding: 'utf-8', timeout: 120000 });\n  if (!res.includes('DL_OK')) throw new Error('Download failed for scene '+(i+1));\n  if (!fs.existsSync(n8nPath)) throw new Error('File missing after download: '+n8nPath);\n  clipPaths.push(n8nPath);\n  console.log('  saved: ' + name);\n}\n\nconsole.log('All ' + clipPaths.length + ' clips downloaded.');\nreturn [{ json: { ...data, clip_paths: clipPaths } }];"
      },
      "id": "fit2-n7",
      "name": "Download Clips",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: {\n  job_id:               data.job_id,\n  exercise_name:        data.exercise_name,\n  title:                data.title,\n  hashtags:             data.hashtags,\n  narration:            data.narration,\n  highlight_keywords:   data.highlight_keywords,\n  muscle_labels_scene4: data.muscle_labels_scene4 || [],\n  popup:                data.popup,\n  clip_paths:           data.clip_paths,\n  num_clips:            data.num_clips,\n  clip_dur_sec:         data.clip_dur_sec,\n  audio_path:           data.audio_path   || null,\n  audio_duration:       data.audio_duration || 30,\n  word_timings:         data.word_timings  || [],\n  ass_path:             data.ass_path      || null,\n  bgm_path:             data.bgm_path      || null,\n  sheet_row:            data.sheet_row,\n  start_time:           data.start_time\n}}];"
      },
      "id": "fit2-n8",
      "name": "Build Stage 3 Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5679/webhook/fit-stage3-assembly",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "fit2-n9",
      "name": "POST to Stage 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2200,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/YOUR_FITNESS_SHEET_ID/values/Fitness%20Topics!B' + $('Build Stage 3 Payload').first().json.sheet_row + '?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ majorDimension: 'ROWS', values: [['ASSEMBLING']] }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fit2-n10",
      "name": "Mark ASSEMBLING in Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        2440,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tP4JYWZBLWv0OKKg",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Test Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Payload": {
      "main": [
        [
          {
            "node": "Extract & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 2 Webhook": {
      "main": [
        [
          {
            "node": "Extract & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Prepare": {
      "main": [
        [
          {
            "node": "Submit Seedance Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Seedance Jobs": {
      "main": [
        [
          {
            "node": "Wait 30 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 Seconds": {
      "main": [
        [
          {
            "node": "Check Seedance Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Seedance Jobs": {
      "main": [
        [
          {
            "node": "All Clips Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Clips Done?": {
      "main": [
        [
          {
            "node": "Download Clips",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Clips": {
      "main": [
        [
          {
            "node": "Build Stage 3 Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Stage 3 Payload": {
      "main": [
        [
          {
            "node": "POST to Stage 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Stage 3": {
      "main": [
        [
          {
            "node": "Mark ASSEMBLING in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}