workflows/fit_stage1_content_gen-payload.json
{"name":"Fitness Channel - Stage 1 - Content Generation","nodes":[{"parameters":{},"id":"fit1-n0","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"jsCode":"return [{ json: {\n  job_id: 'FIT-TEST001',\n  exercise_name: 'Push-Up',\n  target_muscles: 'Pectoralis Major, Triceps Brachii, Anterior Deltoid, Core',\n  exercise_type: 'Bodyweight',\n  difficulty: 'Beginner',\n  equipment: 'None',\n  reps_sets: '3 sets x 15 reps',\n  key_tip: 'Keep hips level — no sagging or piking the lower back',\n  cta_message: 'Follow for daily workout tips',\n  popup_header: 'FitChannel',\n  popup_message: 'Full program in bio!',\n  hashtags: '#pushup #chest #fitness #workout #bodyweight',\n  category: 'Strength',\n  sheet_row: null,\n  source: 'manual_test',\n  num_clips: 6,\n  clip_dur_sec: 5,\n  word_target: 75,\n  start_time: Date.now()\n}}];"},"id":"fit1-n0b","name":"Test Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0]},{"parameters":{"httpMethod":"POST","path":"fit-stage1-generate","responseMode":"onReceived","responseData":"firstEntryJson","options":{}},"id":"fit1-n1","name":"Stage 1 Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,220],"webhookId":"fitness-stage1-generate"},{"parameters":{"method":"GET","url":"https://sheets.googleapis.com/v4/spreadsheets/YOUR_FITNESS_SHEET_ID/values/Fitness%20Topics!A2:N","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{"timeout":10000}},"id":"fit1-n2","name":"Read Topic From Sheet","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[480,220],"credentials":{"googleSheetsOAuth2Api":{"id":"tP4JYWZBLWv0OKKg","name":"Google Sheets account 2"}}},{"parameters":{"jsCode":"const res = $input.first().json;\nconst rows = res.values || [];\nconst pending = [];\nfor (let i = 0; i < rows.length; i++) {\n  if ((rows[i][1]||'').toString().trim() === 'Approved') pending.push({ idx: i, row: rows[i] });\n}\nif (!pending.length) throw new Error('No Approved rows. Set column B = Approved in Fitness Topics sheet.');\nconst found = pending[Math.floor(Math.random() * pending.length)];\nconst sheetRow = found.idx + 2;\nreturn [{ json: {\n  job_id:         (found.row[0]||'').trim() || ('FIT-' + Date.now().toString().slice(-8)),\n  status:         (found.row[1]||'Approved').trim(),\n  exercise_name:  (found.row[2]||'').trim(),\n  target_muscles: (found.row[3]||'').trim(),\n  exercise_type:  (found.row[4]||'Strength').trim(),\n  difficulty:     (found.row[5]||'Beginner').trim(),\n  equipment:      (found.row[6]||'Bodyweight').trim(),\n  reps_sets:      (found.row[7]||'3 sets x 12 reps').trim(),\n  key_tip:        (found.row[8]||'').trim(),\n  cta_message:    (found.row[9]||'Follow for daily workouts').trim(),\n  popup_header:   (found.row[10]||'FitChannel').trim(),\n  popup_message:  (found.row[11]||'Get the full program!').trim(),\n  hashtags:       (found.row[12]||'#fitness #workout').trim(),\n  category:       (found.row[13]||'Strength').trim(),\n  sheet_row:      sheetRow,\n  source:         'google_sheet'\n}}];"},"id":"fit1-n3","name":"Pick Approved Topic","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,220]},{"parameters":{"method":"PUT","url":"={{ 'https://sheets.googleapis.com/v4/spreadsheets/YOUR_FITNESS_SHEET_ID/values/Fitness%20Topics!B' + $json.sheet_row + '?valueInputOption=USER_ENTERED' }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"contentType":"json","body":"={ \"majorDimension\": \"ROWS\", \"values\": [[\"IN_PROGRESS\"]] }","options":{"timeout":10000}},"id":"fit1-n4","name":"Mark IN_PROGRESS","type":"n8n-nodes-base.httpRequest","typeVersion":4,"continueOnFail":true,"position":[960,220],"credentials":{"googleSheetsOAuth2Api":{"id":"tP4JYWZBLWv0OKKg","name":"Google Sheets account 2"}}},{"parameters":{"jsCode":"const raw  = $input.first().json;\nconst body = (raw.body !== undefined) ? raw.body : raw;\n\nlet d = {};\ntry { d = $('Pick Approved Topic').first().json; } catch(e) {}\n\nconst jobId        = body.job_id        || d.job_id        || ('FIT-' + Date.now().toString().slice(-8));\nconst exerciseName = body.exercise_name || d.exercise_name || body.topic || '';\n\nif (!exerciseName) throw new Error('No exercise_name. Add topics to Fitness Topics sheet (col C) or send via webhook.');\n\nreturn [{ json: {\n  job_id:         jobId,\n  exercise_name:  exerciseName,\n  target_muscles: body.target_muscles || d.target_muscles || 'Full Body',\n  exercise_type:  body.exercise_type  || d.exercise_type  || 'Strength',\n  difficulty:     body.difficulty     || d.difficulty     || 'Beginner',\n  equipment:      body.equipment      || d.equipment      || 'Bodyweight',\n  reps_sets:      body.reps_sets      || d.reps_sets      || '3 sets x 12 reps',\n  key_tip:        body.key_tip        || d.key_tip        || 'Control every rep',\n  cta_message:    body.cta_message    || d.cta_message    || 'Follow for daily workouts',\n  popup_header:   body.popup_header   || d.popup_header   || 'FitChannel',\n  popup_message:  body.popup_message  || d.popup_message  || 'Get the full program!',\n  hashtags:       body.hashtags       || d.hashtags       || '#fitness #workout #gym',\n  category:       body.category       || d.category       || 'Strength',\n  sheet_row:      body.sheet_row      || d.sheet_row      || null,\n  num_clips:      6,\n  clip_dur_sec:   5,\n  word_target:    75,\n  start_time:     Date.now()\n}}];"},"id":"fit1-n5","name":"Set Job Config","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,110]},{"parameters":{"jsCode":"const data = $input.first().json;\nconst { exercise_name, target_muscles, difficulty, equipment, reps_sets, key_tip, cta_message, popup_header, popup_message, category } = data;\n\nconst prompt = `You are a world-class fitness content director creating premium anatomy-education videos in the exact FITONOMY.COACH visual style. Your output drives a Seedance t2v AI that generates the actual video clips — so every visual_prompt must describe exactly what the camera will see.\n\nEXERCISE: ${exercise_name}\nTARGET MUSCLES: ${target_muscles}\nEQUIPMENT: ${equipment || 'Bodyweight'}\nDIFFICULTY: ${difficulty || 'Beginner'}\nREPS/SETS: ${reps_sets || '3 sets x 12 reps'}\nKEY TIP: ${key_tip || 'Control every rep'}\nCTA: ${cta_message || 'Follow for daily workout tips'}\nPOPUP APP: ${popup_header || 'FitChannel'}\nPOPUP MSG: ${popup_message || 'Get the full program!'}\nCATEGORY: ${category || 'Strength'}\n\n=====================================================\nVERIFIED FITONOMY VISUAL STYLE — CHARACTER BIBLE\n(Verified by frame-by-frame analysis of real fitonomy.coach videos)\n=====================================================\n\nThe channel alternates between TWO completely different mannequin types.\n\n─────────────────────────────────────────────────────\nMANNEQUIN TYPE A — ANATOMY MODE\nApply to: Scenes 1, 3, 4\n─────────────────────────────────────────────────────\n\nCHARACTER:\nAthletic male figure, completely featureless smooth oval head — no face, no eyes, no nose, no mouth. Body surface is a warm grey-stone matte concrete texture, the colour of fine-grain unpolished stone or putty (NOT white, NOT cold grey — warm grey with slight earthen undertone). The surface texture is extremely detailed: every anatomical landmark is visible through the skin — individual muscle belly separations, fascial grooves between muscle groups, tendon insertions as raised ridges at origin/insertion points, surface veins crossing forearms and inner bicep, diagonal muscle fascicle striations across each major muscle group. The physique is extreme competition-bodybuilder lean — zero subcutaneous fat — so all surface anatomy is readable. Wearing fitted black athletic shorts. Small white Fitonomy F-logo on upper left chest.\n\nBACKGROUND:\nPure near-black dark void (#060608). Essentially pure black with the faintest blue-navy undertone. Zero environment — no floor, no ground plane, no walls, no props. The figure floats in complete darkness. This is essential: the void background makes the electric blue rim light and red muscle highlights maximally vivid.\n\nLIGHTING — THE CORE BRAND SIGNATURE:\nElectric cobalt blue rim light (#0044FF) blazes from directly behind the figure, wrapping completely around every edge of the silhouette — both shoulders, outer arms, sides of torso from armpit to hip, neck sides, top of head all glow with intense saturated electric blue. This rim is not subtle — it is extremely bright and hot, the single most important visual element of the brand. A soft cool-white key light from slightly above-front illuminates the figure at 30% intensity so grey stone surface detail is readable. Result: dramatic cinematic sci-fi medical atmosphere.\n\nPRIMARY MUSCLE REVEAL IN SCENE PROMPT:\nFor scenes where the target muscle activates, the grey stone skin in that specific muscle region becomes vivid scarlet red (#CC1515 to #FF1818). This appears as:\n  - Surface flush: the grey skin becomes red in the muscle belly area, revealing individual muscle fascicle lines — parallel or diagonal striations of fiber bundles running in their natural anatomical direction. The red has a warm inner glow. Clear fiber-bundle separation lines visible.\n  - Internal reveal (Scene 4): An elliptical or oval opening appears in the grey skin showing the interior — vivid scarlet red muscle fibers like thick braided cables or ropes, each bundle individually separated, running in anatomically correct direction. Adjacent bone structures visible in beige-tan (name the specific bones). The internal reveal is the hero moment: red fiber texture fills the opening in full anatomical detail.\n\nSecondary muscles: Soft pink-warm undertone through grey skin.\nRest of body: Cool grey stone with electric blue rim only.\n\n─────────────────────────────────────────────────────\nMANNEQUIN TYPE B — EXERCISE DEMO MODE\nApply to: Scenes 2, 5, 6\n─────────────────────────────────────────────────────\n\nCHARACTER:\nSmooth white glossy ceramic or porcelain athletic mannequin — surface is completely smooth with soft specular highlights, like a high-end store mannequin made of polished white plastic or glazed porcelain. No stone texture, no skin detail — only large muscle group contours as smooth sculpted volumes. Same extreme athletic male proportions. Completely smooth featureless oval head. Cobalt blue neon accent glow lines trace along the edges of major muscle groups (like luminous blue veins outlining bicep, tricep, deltoid, quadricep, hamstring). A neon green glowing circular ring (approximately 40cm diameter) radiates from the floor directly under the figure's feet.\n\nBACKGROUND:\nNeutral medium grey studio backdrop (#787676) — flat clean professional photography studio look. No gradient, no vignette, uniform grey. On the studio floor: a black rubber gym mat, with the far visible edge of the mat showing \"FITONOMY\" printed in white text along the edge.\n\nGYM EQUIPMENT — select the correct equipment for the exercise:\n- Push-ups / dips / bodyweight pressing: Two black parallel dip bars, L-shaped, black powder-coated steel\n- Deadlift / Romanian deadlift / bent row: Black iron barbell with large black weight plates, blue chrome collars at the plate edges\n- Pull-ups / chin-ups / hanging: Silver-grey metal squat rack frame with tall vertical uprights showing evenly-spaced round holes, black horizontal pull-up bar across the top\n- Barbell squat / lunge: Black iron barbell resting on squat rack J-hooks, squat rack uprights visible\n- Cable / pulley exercises: Black cable machine tower frame\n\nLIGHTING:\nSoft diffused studio lighting from above — clean, even, shadowless, professional product-photography quality. No dramatic rim light. The white mannequin is evenly lit on all sides, creating a clean bright appearance against the grey studio backdrop.\n\n=====================================================\n6-SCENE FORMULA — CONTENT AND SEEDANCE PROMPTS\n=====================================================\n\nSCENE 1 — HOOK [TYPE A — Anatomy]:\nNarration (14-18 words): Exercise name + the prime muscle targeted + the immediate powerful benefit. Bold, direct, attention-grabbing.\nSeedance prompt must show: Grey stone anatomy mannequin in upright standing hero pose facing camera, slightly low angle so figure appears powerful and large. Electric cobalt blue rim light blazing completely around silhouette. Primary muscle area just beginning to show vivid red surface flush. Near-black void background. Full body visible from head to mid-shin.\n\nSCENE 2 — SETUP [TYPE B — Exercise Demo]:\nNarration (12-15 words): Starting position instruction — body placement, grip, stance, spine position.\nSeedance prompt must show: White glossy ceramic mannequin at the precise STARTING POSITION of ${exercise_name} with anatomically correct form. Correct equipment visible. Neutral grey studio with FITONOMY black mat. Blue neon glow on muscle edges. Green ring under feet. 3/4 front angle, full body visible.\n\nSCENE 3 — EXECUTION [TYPE A — Anatomy, back/side view]:\nNarration (12-15 words): The movement mechanics + breathing cue.\nSeedance prompt must show: Grey stone anatomy mannequin at PEAK CONTRACTION of the exercise, camera at 3/4 back or pure side angle. Electric cobalt blue rim blazing around back silhouette. Primary muscle glowing vivid scarlet red across the muscle belly with visible fascicle striations running in their anatomical direction. Near-black void background. Figure shows the specific body position at maximum muscle activation.\n\nSCENE 4 — ANATOMY REVEAL [TYPE A — Anatomy, extreme close-up]:\nNarration (12-15 words): Muscle sensation + anatomical connection.\nSeedance prompt must show: EXTREME CLOSE-UP on the grey stone mannequin, camera slowly pushing into the PRIMARY TARGET MUSCLE AREA. An elliptical opening in the grey stone skin reveals the interior: vivid scarlet red muscle fiber bundles — thick braided cable-like fascicle bundles in their exact anatomical fiber direction for ${target_muscles}. Individual bundles clearly separated, slightly shiny red raw-meat texture. Visible adjacent bone structures in beige-tan: [YOU MUST NAME THE SPECIFIC BONES adjacent to this muscle]. The red anatomy fills the frame with intense detail. Electric cobalt blue rim at the body edges. Near-black void background.\n\nSCENE 5 — KEY TIP [TYPE B — Exercise Demo]:\nNarration (12-15 words): The one technique cue that transforms results.\nSeedance prompt must show: White glossy ceramic mannequin demonstrating the specific FORM DETAIL the tip refers to — close-up or mid-shot of the relevant body part showing the correct position. Grey studio background. Equipment visible. Blue neon glow on joints. The visual directly illustrates the spoken tip.\n\nSCENE 6 — CLOSE [TYPE B — Exercise Demo]:\nNarration (6-10 words MAX): Short powerful closing command. NO verbal CTA — do NOT say \"follow\", \"subscribe\", \"link in bio\", or any call-to-action phrase. The popup notification handles CTA. End on a motivating command word like \"Now go build it.\" or \"Every rep counts.\" or \"Train hard. Stay consistent.\"\nSeedance prompt must show: White glossy ceramic mannequin in the TRIUMPHANT FINAL POSITION of the completed exercise — full body wide shot. Complete equipment setup visible. FITONOMY black mat. Neutral grey studio. Blue neon muscle glow, green floor ring under feet. Strong, powerful, motivating composition.\n\n=====================================================\nANATOMY KNOWLEDGE — USE YOUR DEEP ANATOMY EXPERTISE\n=====================================================\nFor exercise \"${exercise_name}\" targeting \"${target_muscles}\":\n\nIn Scene 4 internal reveal, you must specify:\n1. PRIMARY MUSCLE FIBER DIRECTION: (e.g. \"diagonal fibers running from lower-outer to upper-inner\" for pectoralis major / \"vertical parallel bundles running from heel to knee\" for gastrocnemius / \"fan-shaped fibers radiating from spine outward\" for erector spinae)\n2. ADJACENT BONES TO NAME: (e.g. for chest = \"sternum, clavicle, anterior ribs\" / for bicep = \"humerus shaft, radius head\" / for quad = \"femur shaft, patellar tendon\" / for glutes = \"posterior ileum, sacrum, greater trochanter\" / for lats = \"thoracic vertebrae, lower ribs, iliac crest\")\n3. MUSCLE BELLY SHAPE: (e.g. large flat triangular fan = pectoralis / long fusiform spindle = bicep / thick diamond = gastrocnemius / broad vertical columns = erector spinae)\n\nUse this anatomy knowledge to make Scene 4's visual_prompt contain the most accurate and vivid internal anatomy description possible. This is what makes the content medically credible and visually stunning.\n\n=====================================================\nNARRATION WRITING RULES\n=====================================================\nTotal words across all 6 scenes combined: 50-60 words MAXIMUM. This is critical — ElevenLabs audio must fit within 28 seconds of video. Each scene gets ~8-10 words maximum.\nSentence length: 4-8 words each — punchy and direct.\nVoice: Authoritative fitness coach. Educational but energizing.\nRequired power words (use at least 4): PUSH, SQUEEZE, BREATHE, HOLD, DRIVE, FEEL, LOCK, CONTROL, FIRE, ENGAGE, BURN, ACTIVATE.\nScene 6: Short motivating close only (6-10 words). NEVER include follow/subscribe/CTA verbally.\nNever use first person (I / we / my / our).\n\n=====================================================\nSEEDANCE PROMPT WRITING RULES — CRITICAL\n=====================================================\nPrompt length: 85-105 words each. Respect this range strictly.\n\nEvery TYPE A prompt (Scenes 1, 3, 4) MUST:\n- Start: \"Grey stone anatomy mannequin...\"\n- Include: specific body pose, specific muscle activation detail, electric cobalt blue rim light description, near-black void background\n- End: \"...9:16 vertical format, premium photorealistic 3D CGI render, no text no labels no watermarks\"\n\nEvery TYPE B prompt (Scenes 2, 5, 6) MUST:\n- Start: \"White glossy ceramic mannequin...\"\n- Include: specific exercise position, correct equipment name, grey studio background, blue neon muscle glow, green floor ring\n- End: \"...9:16 vertical format, premium photorealistic 3D CGI render, no text no labels no watermarks\"\n\nNEVER WRITE in any prompt:\ndashed lines, text overlays, labels, arrows, neon wireframe icons, equipment icons, selection border boxes, particle explosions, \"cutaway window with white edges\", \"alignment guide lines\" — these are composited in post-production Stage 3, not generated by Seedance.\n\n=====================================================\nOUTPUT — RETURN ONLY RAW JSON, NO MARKDOWN, NO FENCES\n=====================================================\n{\n  \"narration\": \"full narration all 6 scenes as one continuous text\",\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"start_sec\": 0,\n      \"end_sec\": 5,\n      \"narration_segment\": \"exact words spoken during this scene\",\n      \"visual_prompt\": \"85-105 word Seedance t2v prompt using correct mannequin type with all required visual details\",\n      \"negative_prompt\": \"text, labels, dashed lines, arrows, neon wireframe icons, selection boxes, watermarks, particle explosion, realistic human face, facial features, cartoon, anime, blurry, low quality\"\n    },\n    {\n      \"scene_number\": 2,\n      \"start_sec\": 5,\n      \"end_sec\": 10,\n      \"narration_segment\": \"...\",\n      \"visual_prompt\": \"...\",\n      \"negative_prompt\": \"text, labels, dashed lines, arrows, neon wireframe icons, selection boxes, watermarks, particle explosion, realistic human face, facial features, cartoon, anime, blurry, low quality\"\n    },\n    {\n      \"scene_number\": 3,\n      \"start_sec\": 10,\n      \"end_sec\": 15,\n      \"narration_segment\": \"...\",\n      \"visual_prompt\": \"...\",\n      \"negative_prompt\": \"text, labels, dashed lines, arrows, neon wireframe icons, selection boxes, watermarks, particle explosion, realistic human face, facial features, cartoon, anime, blurry, low quality\"\n    },\n    {\n      \"scene_number\": 4,\n      \"start_sec\": 15,\n      \"end_sec\": 20,\n      \"narration_segment\": \"...\",\n      \"visual_prompt\": \"...\",\n      \"negative_prompt\": \"text, labels, dashed lines, arrows, neon wireframe icons, selection boxes, watermarks, particle explosion, realistic human face, facial features, cartoon, anime, blurry, low quality\"\n    },\n    {\n      \"scene_number\": 5,\n      \"start_sec\": 20,\n      \"end_sec\": 25,\n      \"narration_segment\": \"...\",\n      \"visual_prompt\": \"...\",\n      \"negative_prompt\": \"text, labels, dashed lines, arrows, neon wireframe icons, selection boxes, watermarks, particle explosion, realistic human face, facial features, cartoon, anime, blurry, low quality\"\n    },\n    {\n      \"scene_number\": 6,\n      \"start_sec\": 25,\n      \"end_sec\": 30,\n      \"narration_segment\": \"...\",\n      \"visual_prompt\": \"...\",\n      \"negative_prompt\": \"text, labels, dashed lines, arrows, neon wireframe icons, selection boxes, watermarks, particle explosion, realistic human face, facial features, cartoon, anime, blurry, low quality\"\n    }\n  ],\n  \"title\": \"EXERCISE NAME — ANATOMY GUIDE\",\n  \"hashtags\": \"#fitness #anatomy #muscles #workout #gym\",\n  \"highlight_keywords\": [\"KEYWORD1\", \"KEYWORD2\", \"KEYWORD3\", \"KEYWORD4\"],\n  \"muscle_labels_scene4\": [\n    { \"name\": \"PRIMARY MUSCLE IN CAPS\", \"x_pct\": 0.50, \"y_pct\": 0.45 },\n    { \"name\": \"SECONDARY MUSCLE IN CAPS\", \"x_pct\": 0.65, \"y_pct\": 0.55 }\n  ],\n  \"popup\": {\n    \"start_sec\": 5,\n    \"end_sec\": 9,\n    \"app_name\": \"${popup_header || 'FitChannel'}\",\n    \"message\": \"${popup_message || 'Get the full program!'}\"\n  }\n}`;\n\nreturn [{ json: { ...data, claude_script_request: {\n  model: 'claude-sonnet-4-6',\n  max_tokens: 10000,\n  messages: [{ role: 'user', content: prompt }]\n}}}];"},"id":"fit1-n6","name":"Build Script Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,110]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.claude_script_request) }}","options":{"timeout":120000}},"id":"fit1-n7","name":"Claude Generate Script","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1680,110]},{"parameters":{"jsCode":"const response = $input.first().json;\nconst config   = $('Set Job Config').first().json;\n\n// Claude API response format: response.content[0].text\nif (!response.content || !response.content[0] || !response.content[0].text)\n  throw new Error('Claude response empty — check ANTHROPIC_API_KEY env var. Error: ' + JSON.stringify(response).slice(0,200));\n\nlet raw = response.content[0].text.trim();\nraw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n\nlet parsed;\ntry { parsed = JSON.parse(raw); }\ncatch(e) {\n  const s = raw.indexOf('{'), end = raw.lastIndexOf('}');\n  if (s === -1 || end === -1) throw new Error('Gemini did not return valid JSON: ' + raw.slice(0, 300));\n  parsed = JSON.parse(raw.slice(s, end + 1));\n}\n\nif (!parsed.scenes || !Array.isArray(parsed.scenes))\n  throw new Error('Gemini response missing scenes array');\n\nconst TARGET = 6;\nwhile (parsed.scenes.length < TARGET) {\n  const i = parsed.scenes.length;\n  const last = parsed.scenes[parsed.scenes.length - 1];\n  parsed.scenes.push({ ...last, scene_number: i+1, start_sec: i*5, end_sec: (i+1)*5 });\n}\nparsed.scenes = parsed.scenes.slice(0, TARGET);\n\nconst seedance_prompts = parsed.scenes.map(s => s.visual_prompt || '');\nconst negative_prompts = parsed.scenes.map(s => s.negative_prompt || 'text, labels, watermarks, cartoon, anime, blurry, dark background');\nconst popup = parsed.popup || { start_sec: 5, end_sec: 9, app_name: config.popup_header, message: config.popup_message };\nconst muscleLabels = parsed.muscle_labels_scene4 || [];\n\nconsole.log('Script parsed: ' + parsed.scenes.length + ' scenes | title: ' + parsed.title + ' | muscle_labels: ' + muscleLabels.length);\n\nreturn [{ json: {\n  ...config,\n  narration:             parsed.narration,\n  scenes:                parsed.scenes,\n  seedance_prompts,\n  negative_prompts,\n  title:                 parsed.title    || config.exercise_name,\n  hashtags:              parsed.hashtags || config.hashtags,\n  highlight_keywords:    parsed.highlight_keywords || ['PUSH', 'SQUEEZE', 'BREATHE'],\n  muscle_labels_scene4:  muscleLabels,\n  popup\n}}];"},"id":"fit1-n8","name":"Parse Script Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,110]},{"parameters":{"jsCode":"const fs           = require('fs');\nconst https        = require('https');\nconst { execSync } = require('child_process');\n\nconst jobData   = $input.first().json;\nconst jobId     = jobData.job_id;\nconst narration = (jobData.narration || '').substring(0, 3000);\nconst n8nIn     = '/data/ffmpeg/input';\nif (!fs.existsSync(n8nIn)) fs.mkdirSync(n8nIn, { recursive: true });\n\nconst ELEVEN_API_KEY  = 'sk_2022a552bc24219053bf31a93d51c447ebc13439f561e104';\nconst ELEVEN_VOICE_ID = 'TVm8lq6qGcfDUgEiSSn5';\nconst ELEVEN_MODEL    = 'eleven_turbo_v2_5';\n\nconst audioPath = n8nIn + '/' + jobId + '_voice.mp3';\nconst contAudio = '/ffmpeg/input/' + jobId + '_voice.mp3';\n\n// ── Call /with-timestamps endpoint — returns audio + real character timestamps ──\nconst payload = JSON.stringify({\n  text: narration,\n  model_id: ELEVEN_MODEL,\n  voice_settings: { stability: 0.45, similarity_boost: 0.80, style: 0.15, use_speaker_boost: true }\n});\n\nconst response = await new Promise((resolve, reject) => {\n  const chunks = [];\n  const req = https.request({\n    hostname: 'api.elevenlabs.io',\n    path: '/v1/text-to-speech/' + ELEVEN_VOICE_ID + '/with-timestamps',\n    method: 'POST',\n    headers: {\n      'xi-api-key':   ELEVEN_API_KEY,\n      'Content-Type': 'application/json',\n      'Accept':       'application/json',\n      'Content-Length': Buffer.byteLength(payload)\n    }\n  }, (res) => {\n    if (res.statusCode !== 200) {\n      let err = '';\n      res.on('data', c => err += c);\n      res.on('end', () => reject(new Error('ElevenLabs ' + res.statusCode + ': ' + err.slice(0,300))));\n      return;\n    }\n    res.on('data', c => chunks.push(c));\n    res.on('end', () => resolve(JSON.parse(Buffer.concat(chunks).toString())));\n  });\n  req.on('error', reject);\n  req.write(payload);\n  req.end();\n});\n\n// ── Decode audio base64 → MP3 ─────────────────────────────────────────────────\nconst audioBuffer = Buffer.from(response.audio_base64, 'base64');\nfs.writeFileSync(audioPath, audioBuffer);\nconsole.log('ElevenLabs TTS done | ' + audioBuffer.length + ' bytes');\n\n// ── Get exact audio duration via ffprobe ──────────────────────────────────────\nconst durOut = execSync(\n  'docker exec qpc_ffmpeg_runner ffprobe -v quiet -show_entries format=duration -of csv=p=0 \"' + contAudio + '\"',\n  { encoding: 'utf-8', timeout: 15000 }\n).trim();\nconst audioDuration = parseFloat(durOut) || 28;\n\n// ── Parse character timestamps → word timestamps ─────────────────────────────\nconst alignment = response.alignment || response.normalized_alignment || {};\nconst chars      = alignment.characters || [];\nconst startTimes = alignment.character_start_times_seconds || [];\nconst endTimes   = alignment.character_end_times_seconds   || [];\n\nconst wordTimings = [];\n\nif (chars.length > 0) {\n  // Build word timings from character alignment\n  let wChars = [], wStart = null;\n  for (let i = 0; i < chars.length; i++) {\n    const c = chars[i];\n    if (c === ' ' || c === '\\n' || c === '\\t') {\n      if (wChars.length > 0) {\n        wordTimings.push({\n          word:  wChars.join('').replace(/[.,!?;:]+$/, ''),\n          start: +wStart.toFixed(3),\n          end:   +endTimes[i-1].toFixed(3)\n        });\n        wChars = []; wStart = null;\n      }\n    } else {\n      if (wChars.length === 0) wStart = startTimes[i];\n      wChars.push(c);\n    }\n  }\n  // Last word\n  if (wChars.length > 0) {\n    wordTimings.push({\n      word:  wChars.join('').replace(/[.,!?;:]+$/, ''),\n      start: +wStart.toFixed(3),\n      end:   +endTimes[endTimes.length-1].toFixed(3)\n    });\n  }\n  console.log('Real word timings: ' + wordTimings.length + ' words from ElevenLabs character alignment');\n} else {\n  // Fallback: estimate from WPM if alignment missing\n  console.warn('No alignment in response — using WPM estimate');\n  const words = narration.trim().split(/\\s+/);\n  let cursor = 0.25;\n  for (const w of words) {\n    const dur = 0.38 * (0.8 + w.length * 0.04);\n    wordTimings.push({ word: w.replace(/[.,!?;:]+$/, ''), start: +cursor.toFixed(3), end: +(cursor+dur).toFixed(3) });\n    cursor += dur * 1.05;\n  }\n  // Scale to actual duration\n  const rawEnd = wordTimings[wordTimings.length-1].end + 0.3;\n  const scale  = (audioDuration - 0.3) / rawEnd;\n  for (const wt of wordTimings) { wt.start = +(wt.start*scale).toFixed(3); wt.end = +(wt.end*scale).toFixed(3); }\n}\n\nconsole.log('Audio duration: ' + audioDuration.toFixed(2) + 's | Words: ' + wordTimings.length);\nreturn [{ json: { ...jobData, audio_path: '/data/ffmpeg/input/' + jobId + '_voice.mp3', audio_duration: +audioDuration.toFixed(3), word_timings: wordTimings } }];"},"id":"fit1-n9","name":"Generate TTS","type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,110]},{"parameters":{"jsCode":"const fs      = require('fs');\nconst data    = $input.first().json;\nconst jobId   = data.job_id;\nconst timings = data.word_timings || [];\nconst hlWords = (data.highlight_keywords || []).map(w => w.toLowerCase().replace(/[^a-z]/g,''));\nconst n8nIn   = '/data/ffmpeg/input';\n\nfunction toASS(sec) {\n  if (!sec || isNaN(sec)) sec = 0;\n  const h  = Math.floor(sec/3600);\n  const m  = Math.floor((sec%3600)/60);\n  const s  = Math.floor(sec%60);\n  const cs = Math.round((sec%1)*100);\n  return h+':'+String(m).padStart(2,'0')+':'+String(s).padStart(2,'0')+'.'+String(cs).padStart(2,'0');\n}\n\n// ── ASS Color helpers (ASS uses AABBGGRR hex format) ──────────────────────────\n// Electric cobalt blue glow  #0044FF → BGR = FF4400\nconst GLOW_COLOR   = '&H00FF4400&';   // electric blue outline (glow)\nconst WHITE_ACTIVE = '&H00FFFFFF&';   // bright white — active word\nconst WHITE_DIM    = '&H99FFFFFF&';   // dimmed white — inactive words (99 = 60% alpha)\nconst SHADOW_COL   = '&HCC111111&';   // dark translucent shadow\n// Keyword highlight: orange-yellow glow for power words\nconst KW_COLOR     = '&H0000CCFF&';   // orange glow (BGR: 00,CC,FF)\nconst KW_TEXT      = '&H00CCFFFF&';   // yellow text for keywords\n\n// ── Build caption events: 3-word chunks, active word glows ───────────────────\nconst CHUNK = 3;\nconst lines = [];\n\nfor (let i = 0; i < timings.length; i += CHUNK) {\n  const chunk = timings.slice(i, Math.min(i+CHUNK, timings.length));\n\n  for (let j = 0; j < chunk.length; j++) {\n    const wStart = chunk[j].start;\n    const wEnd   = chunk[j].end;\n\n    const parts = chunk.map((w, k) => {\n      const word    = w.word;\n      const isActive  = k === j;\n      const isKw    = hlWords.some(h => word.toLowerCase().replace(/[^a-z]/g,'').includes(h));\n\n      if (isKw && isActive) {\n        // Active keyword: yellow text + orange glow + heavy blur\n        return '{\\c'+KW_TEXT+'\\blur12\\bord6\\3c'+KW_COLOR+'\\shad3\\4c'+SHADOW_COL+'}' + word + '{\\r}';\n      } else if (isActive) {\n        // Active word: bright white + electric blue glow bloom\n        return '{\\c'+WHITE_ACTIVE+'\\blur10\\bord5\\3c'+GLOW_COLOR+'\\shad3\\4c'+SHADOW_COL+'}' + word + '{\\r}';\n      } else if (isKw) {\n        // Inactive keyword: show in keyword color, dimmed glow\n        return '{\\c'+KW_TEXT+'\\blur2\\bord2\\3c'+KW_COLOR+'\\alpha&H66&}' + word + '{\\r}';\n      } else {\n        // Inactive: dimmed, no glow\n        return '{\\c'+WHITE_DIM+'\\blur0\\bord0\\shad0}' + word;\n      }\n    }).join(' ');\n\n    // Slide-in animation: move from y+12 to final position over first 80ms\n    const slideTag = (j === 0 && i === 0) ? '{\\move(540,1430,540,1418,0,80)}' : '';\n    lines.push('Dialogue: 0,'+toASS(wStart)+','+toASS(wEnd)+',Caption,,0,0,0,,'+slideTag+parts);\n  }\n}\n\n// ── ASS file with Anton-style bold font definition ─────────────────────────────\n// WrapStyle=2 = no wrapping (each line exactly as written)\n// Alignment=2 = bottom center\n// BorderStyle=1 = outline+shadow (NOT box)\n// Outline=5 = thick outline (blurred = glow effect)\n// Shadow=3 = drop shadow depth\nconst assContent = [\n  '[Script Info]',\n  'Title: Fitness Anatomy Captions',\n  'ScriptType: v4.00+',\n  'WrapStyle: 2',\n  'PlayResX: 1080',\n  'PlayResY: 1920',\n  'ScaledBorderAndShadow: yes',\n  '',\n  '[V4+ Styles]',\n  'Format: Name, Fontname, Fontsize, PrimaryColour, SecondaryColour, OutlineColour, BackColour, Bold, Italic, Underline, StrikeOut, ScaleX, ScaleY, Spacing, Angle, BorderStyle, Outline, Shadow, Alignment, MarginL, MarginR, MarginV, Encoding',\n  // Anton-Regular, size 72, white text, electric blue outline, dark shadow, bold=-1, BorderStyle=1, Outline=5, Shadow=3, Align=2 (bottom center), MarginV=120\n  'Style: Caption,Anton-Regular,72,&H00FFFFFF,&H000000FF,&H00FF4400,&HCC111111,-1,0,0,0,100,100,0,0,1,5,3,2,30,30,120,1',\n  '',\n  '[Events]',\n  'Format: Layer, Start, End, Style, Name, MarginL, MarginR, MarginV, Effect, Text',\n  ...lines\n].join('\\n');\n\nconst assPath = n8nIn + '/' + jobId + '_captions.ass';\nfs.writeFileSync(assPath, assContent, 'utf8');\nconsole.log('ASS captions: ' + lines.length + ' events | Anton-Regular 72px | glow: electric blue | keywords: ' + hlWords.join(','));\n\nreturn [{ json: { ...data, ass_path: assPath } }];"},"id":"fit1-n10","name":"Build Captions ASS","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,110]},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst data   = $input.first().json;\nconst jobId  = data.job_id;\nconst N      = data.num_clips || 6;\nconst CLIP   = data.clip_dur_sec || 5;\nconst FADE   = 0.4;\nconst videoDur = (N * CLIP - Math.max(0, N-1) * FADE);\n\nconst bgmDir = '/ffmpeg/config/bgm';\nconst ls     = execSync('docker exec qpc_ffmpeg_runner bash -c \"ls ' + bgmDir + '/*.mp3 2>/dev/null | sort\"', { encoding: 'utf-8', timeout: 10000 }).trim();\nif (!ls) throw new Error('No BGM tracks in /ffmpeg/config/bgm/ — add .mp3 files.');\n\nconst tracks = ls.split('\\n').map(p => p.trim()).filter(Boolean);\nconst seed   = parseInt(String(jobId).replace(/\\D/g,'').slice(-6)||'1', 10);\nconst picked = tracks[seed % tracks.length];\n\nconst bgmN8n  = '/data/ffmpeg/input/' + jobId + '_bgm.mp3';\nconst bgmCont = '/ffmpeg/input/'      + jobId + '_bgm.mp3';\n\nconst trim = 'docker exec qpc_ffmpeg_runner ffmpeg -y ' +\n  '-stream_loop -1 -i \"' + picked + '\" ' +\n  '-t ' + videoDur.toFixed(3) + ' ' +\n  '-af \"afade=t=in:st=0:d=1.5,afade=t=out:st=' + (videoDur-1.5).toFixed(3) + ':d=1.5,volume=0.22\" ' +\n  '-acodec libmp3lame -ab 128k \"' + bgmCont + '\" 2>&1 && echo TRIM_OK';\n\nconst res = execSync(trim, { encoding: 'utf-8', timeout: 30000 });\nif (!res.includes('TRIM_OK')) throw new Error('BGM trim failed: ' + res.slice(-300));\n\nconsole.log('BGM: ' + picked.split('/').pop() + ' | ' + videoDur.toFixed(1) + 's');\n\nreturn [{ json: { ...data, bgm_path: bgmN8n } }];"},"id":"fit1-n11","name":"Select BGM","type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,110]},{"parameters":{"jsCode":"const data = $input.first().json;\nreturn [{ json: {\n  job_id:               data.job_id,\n  exercise_name:        data.exercise_name,\n  title:                data.title,\n  hashtags:             data.hashtags,\n  narration:            data.narration,\n  scenes:               data.scenes,\n  seedance_prompts:     data.seedance_prompts,\n  negative_prompts:     data.negative_prompts,\n  highlight_keywords:   data.highlight_keywords,\n  muscle_labels_scene4: data.muscle_labels_scene4 || [],\n  popup:                data.popup,\n  audio_path:           data.audio_path,\n  audio_duration:       data.audio_duration,\n  word_timings:         data.word_timings,\n  ass_path:             data.ass_path,\n  bgm_path:             data.bgm_path,\n  sheet_row:            data.sheet_row,\n  num_clips:            data.num_clips,\n  clip_dur_sec:         data.clip_dur_sec,\n  start_time:           data.start_time\n}}];"},"id":"fit1-n12","name":"Build Stage 2 Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,110]},{"parameters":{"method":"POST","url":"http://localhost:5679/webhook/fit-stage2-video","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"timeout":30000}},"id":"fit1-n13","name":"POST to Stage 2","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[3120,110]},{"parameters":{"method":"PUT","url":"={{ 'https://sheets.googleapis.com/v4/spreadsheets/YOUR_FITNESS_SHEET_ID/values/Fitness%20Topics!B' + $('Set Job Config').first().json.sheet_row + '?valueInputOption=USER_ENTERED' }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ majorDimension: 'ROWS', values: [['STAGE2']] }) }}","options":{"timeout":10000}},"id":"fit1-n14","name":"Mark STAGE2 in Sheet","type":"n8n-nodes-base.httpRequest","typeVersion":4,"continueOnFail":true,"position":[3360,110],"credentials":{"googleSheetsOAuth2Api":{"id":"tP4JYWZBLWv0OKKg","name":"Google Sheets account 2"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Test Payload","type":"main","index":0}]]},"Test Payload":{"main":[[{"node":"Set Job Config","type":"main","index":0}]]},"Stage 1 Webhook":{"main":[[{"node":"Read Topic From Sheet","type":"main","index":0}]]},"Read Topic From Sheet":{"main":[[{"node":"Pick Approved Topic","type":"main","index":0}]]},"Pick Approved Topic":{"main":[[{"node":"Mark IN_PROGRESS","type":"main","index":0}]]},"Mark IN_PROGRESS":{"main":[[{"node":"Set Job Config","type":"main","index":0}]]},"Set Job Config":{"main":[[{"node":"Build Script Prompt","type":"main","index":0}]]},"Build Script Prompt":{"main":[[{"node":"Claude Generate Script","type":"main","index":0}]]},"Claude Generate Script":{"main":[[{"node":"Parse Script Response","type":"main","index":0}]]},"Parse Script Response":{"main":[[{"node":"Generate TTS","type":"main","index":0}]]},"Generate TTS":{"main":[[{"node":"Build Captions ASS","type":"main","index":0}]]},"Build Captions ASS":{"main":[[{"node":"Select BGM","type":"main","index":0}]]},"Select BGM":{"main":[[{"node":"Build Stage 2 Payload","type":"main","index":0}]]},"Build Stage 2 Payload":{"main":[[{"node":"POST to Stage 2","type":"main","index":0}]]},"POST to Stage 2":{"main":[[{"node":"Mark STAGE2 in Sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}