workflows/multi_platform_social_poster.blueprint.json
{
  "name": "Multi-Platform Social Poster (LinkedIn + Instagram + TikTok)",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 2758401,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": -500,
          "y": 0
        },
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "true"
              },
              "label": "n8n-social-media-post"
            }
          }
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "Webhook",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of results"
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": {
        "designer": {
          "x": -150,
          "y": 0
        }
      },
      "routes": [
        {
          "label": "LinkedIn (Video only)",
          "filter": {
            "name": "Is Video",
            "conditions": [
              [
                {
                  "a": "{{1.post_type}}",
                  "b": "video",
                  "o": "text:equal"
                }
              ]
            ]
          },
          "flow": [
            {
              "id": 5,
              "module": "linkedin:createOrganizationVideoPost",
              "version": 2,
              "parameters": {
                "__IMTCONN__": 6332124
              },
              "mapper": {
                "url": "{{1.media_url}}",
                "title": "{{1.title}}",
                "method": "link",
                "content": "{{1.linkedin_caption}}",
                "visibility": "PUBLIC",
                "organization": "urn:li:organization:113343251",
                "feedDistribution": "MAIN_FEED",
                "isReshareDisabledByAuthor": false
              },
              "metadata": {
                "designer": {
                  "x": 300,
                  "y": -350
                },
                "restore": {
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "linkedin-openid"
                      },
                      "label": "My LinkedIn (OpenID Connect) connection (Sandesh Neupane)"
                    }
                  },
                  "expect": {
                    "method": {
                      "label": "Upload by link"
                    },
                    "visibility": {
                      "mode": "edit"
                    },
                    "organization": {
                      "mode": "edit"
                    },
                    "feedDistribution": {
                      "mode": "chose",
                      "label": "Main feed"
                    },
                    "isReshareDisabledByAuthor": {
                      "mode": "chose"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:linkedin2,linkedin-openid",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "organization",
                    "type": "select",
                    "label": "Company",
                    "required": true
                  },
                  {
                    "name": "method",
                    "type": "select",
                    "label": "Choose Upload Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "upload",
                        "link"
                      ]
                    }
                  },
                  {
                    "name": "title",
                    "type": "text",
                    "label": "Title"
                  },
                  {
                    "name": "content",
                    "type": "text",
                    "label": "Content",
                    "required": true
                  },
                  {
                    "name": "visibility",
                    "type": "select",
                    "label": "Visibility",
                    "required": true,
                    "validate": {
                      "enum": [
                        "PUBLIC",
                        "LOGGED_IN"
                      ]
                    }
                  },
                  {
                    "name": "feedDistribution",
                    "type": "select",
                    "label": "Feed Distribution",
                    "required": true,
                    "validate": {
                      "enum": [
                        "MAIN_FEED",
                        "NONE"
                      ]
                    }
                  },
                  {
                    "name": "isReshareDisabledByAuthor",
                    "type": "boolean",
                    "label": "Is Reshare Disabled",
                    "required": true
                  },
                  {
                    "name": "url",
                    "type": "text",
                    "label": "Video URL",
                    "required": true
                  }
                ]
              }
            }
          ]
        },
        {
          "label": "Instagram",
          "flow": [
            {
              "id": 6,
              "module": "builtin:BasicRouter",
              "version": 1,
              "parameters": {},
              "mapper": {},
              "metadata": {
                "designer": {
                  "x": 150,
                  "y": 0
                }
              },
              "routes": [
                {
                  "label": "Instagram Image",
                  "filter": {
                    "name": "Is Image",
                    "conditions": [
                      [
                        {
                          "a": "{{1.post_type}}",
                          "b": "image",
                          "o": "text:equal"
                        }
                      ]
                    ]
                  },
                  "flow": [
                    {
                      "id": 7,
                      "module": "http:ActionSendData",
                      "version": 3,
                      "parameters": {
                        "handleErrors": false,
                        "useNewZLibDecompress": true
                      },
                      "mapper": {
                        "url": "https://graph.facebook.com/v19.0/YOUR_IG_USER_ID/media",
                        "serializeUrl": true,
                        "method": "post",
                        "headers": [],
                        "queryParameters": {
                          "array": [
                            {
                              "key": "image_url",
                              "value": "{{1.media_url}}"
                            },
                            {
                              "key": "caption",
                              "value": "{{1.instagram_caption}}"
                            },
                            {
                              "key": "access_token",
                              "value": "YOUR_IG_ACCESS_TOKEN"
                            }
                          ]
                        },
                        "bodyType": "raw",
                        "contentType": "application/x-www-form-urlencoded",
                        "body": "",
                        "parseResponse": true,
                        "timeout": 30,
                        "followRedirect": true,
                        "gzip": true,
                        "rejectUnauthorized": true
                      },
                      "metadata": {
                        "designer": {
                          "x": 500,
                          "y": 0
                        },
                        "parameters": [
                          {
                            "name": "handleErrors",
                            "type": "boolean",
                            "label": "Evaluate all states as errors (except for 2xx and 3xx)"
                          },
                          {
                            "name": "useNewZLibDecompress",
                            "type": "boolean",
                            "label": "Use new ZLib decompression"
                          }
                        ]
                      }
                    },
                    {
                      "id": 8,
                      "module": "http:ActionSendData",
                      "version": 3,
                      "parameters": {
                        "handleErrors": false,
                        "useNewZLibDecompress": true
                      },
                      "mapper": {
                        "url": "https://graph.facebook.com/v19.0/YOUR_IG_USER_ID/media_publish",
                        "serializeUrl": true,
                        "method": "post",
                        "headers": [],
                        "queryParameters": {
                          "array": [
                            {
                              "key": "creation_id",
                              "value": "{{7.data.id}}"
                            },
                            {
                              "key": "access_token",
                              "value": "YOUR_IG_ACCESS_TOKEN"
                            }
                          ]
                        },
                        "bodyType": "raw",
                        "contentType": "application/x-www-form-urlencoded",
                        "body": "",
                        "parseResponse": true,
                        "timeout": 30,
                        "followRedirect": true,
                        "gzip": true,
                        "rejectUnauthorized": true
                      },
                      "metadata": {
                        "designer": {
                          "x": 850,
                          "y": 0
                        },
                        "parameters": [
                          {
                            "name": "handleErrors",
                            "type": "boolean",
                            "label": "Evaluate all states as errors (except for 2xx and 3xx)"
                          },
                          {
                            "name": "useNewZLibDecompress",
                            "type": "boolean",
                            "label": "Use new ZLib decompression"
                          }
                        ]
                      }
                    }
                  ]
                },
                {
                  "label": "Instagram Reel (Video)",
                  "filter": {
                    "name": "Is Video",
                    "conditions": [
                      [
                        {
                          "a": "{{1.post_type}}",
                          "b": "video",
                          "o": "text:equal"
                        }
                      ]
                    ]
                  },
                  "flow": [
                    {
                      "id": 9,
                      "module": "http:ActionSendData",
                      "version": 3,
                      "parameters": {
                        "handleErrors": false,
                        "useNewZLibDecompress": true
                      },
                      "mapper": {
                        "url": "https://graph.facebook.com/v19.0/YOUR_IG_USER_ID/media",
                        "serializeUrl": true,
                        "method": "post",
                        "headers": [],
                        "queryParameters": {
                          "array": [
                            {
                              "key": "video_url",
                              "value": "{{1.media_url}}"
                            },
                            {
                              "key": "caption",
                              "value": "{{1.instagram_caption}}"
                            },
                            {
                              "key": "media_type",
                              "value": "REELS"
                            },
                            {
                              "key": "share_to_feed",
                              "value": "true"
                            },
                            {
                              "key": "access_token",
                              "value": "YOUR_IG_ACCESS_TOKEN"
                            }
                          ]
                        },
                        "bodyType": "raw",
                        "contentType": "application/x-www-form-urlencoded",
                        "body": "",
                        "parseResponse": true,
                        "timeout": 30,
                        "followRedirect": true,
                        "gzip": true,
                        "rejectUnauthorized": true
                      },
                      "metadata": {
                        "designer": {
                          "x": 500,
                          "y": 200
                        },
                        "parameters": [
                          {
                            "name": "handleErrors",
                            "type": "boolean",
                            "label": "Evaluate all states as errors (except for 2xx and 3xx)"
                          },
                          {
                            "name": "useNewZLibDecompress",
                            "type": "boolean",
                            "label": "Use new ZLib decompression"
                          }
                        ]
                      }
                    },
                    {
                      "id": 10,
                      "module": "http:ActionSendData",
                      "version": 3,
                      "parameters": {
                        "handleErrors": false,
                        "useNewZLibDecompress": true
                      },
                      "mapper": {
                        "url": "https://graph.facebook.com/v19.0/YOUR_IG_USER_ID/media_publish",
                        "serializeUrl": true,
                        "method": "post",
                        "headers": [],
                        "queryParameters": {
                          "array": [
                            {
                              "key": "creation_id",
                              "value": "{{9.data.id}}"
                            },
                            {
                              "key": "access_token",
                              "value": "YOUR_IG_ACCESS_TOKEN"
                            }
                          ]
                        },
                        "bodyType": "raw",
                        "contentType": "application/x-www-form-urlencoded",
                        "body": "",
                        "parseResponse": true,
                        "timeout": 30,
                        "followRedirect": true,
                        "gzip": true,
                        "rejectUnauthorized": true
                      },
                      "metadata": {
                        "designer": {
                          "x": 850,
                          "y": 200
                        },
                        "parameters": [
                          {
                            "name": "handleErrors",
                            "type": "boolean",
                            "label": "Evaluate all states as errors (except for 2xx and 3xx)"
                          },
                          {
                            "name": "useNewZLibDecompress",
                            "type": "boolean",
                            "label": "Use new ZLib decompression"
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            }
          ]
        },
        {
          "label": "TikTok",
          "flow": [
            {
              "id": 11,
              "module": "builtin:BasicRouter",
              "version": 1,
              "parameters": {},
              "mapper": {},
              "metadata": {
                "designer": {
                  "x": 150,
                  "y": 350
                }
              },
              "routes": [
                {
                  "label": "TikTok Video",
                  "filter": {
                    "name": "Is Video",
                    "conditions": [
                      [
                        {
                          "a": "{{1.post_type}}",
                          "b": "video",
                          "o": "text:equal"
                        }
                      ]
                    ]
                  },
                  "flow": [
                    {
                      "id": 12,
                      "module": "http:ActionSendData",
                      "version": 3,
                      "parameters": {
                        "handleErrors": false,
                        "useNewZLibDecompress": true
                      },
                      "mapper": {
                        "url": "https://open.tiktokapis.com/v2/post/publish/video/init/",
                        "serializeUrl": false,
                        "method": "post",
                        "headers": [
                          {
                            "name": "Authorization",
                            "value": "Bearer YOUR_TIKTOK_ACCESS_TOKEN"
                          },
                          {
                            "name": "Content-Type",
                            "value": "application/json; charset=UTF-8"
                          }
                        ],
                        "queryParameters": {
                          "array": []
                        },
                        "bodyType": "raw",
                        "contentType": "application/json",
                        "body": "{\"post_info\":{\"title\":\"{{1.tiktok_caption}}\",\"privacy_level\":\"PUBLIC_TO_EVERYONE\",\"disable_duet\":false,\"disable_comment\":false,\"disable_stitch\":false,\"video_cover_timestamp_ms\":1000},\"source_info\":{\"source\":\"PULL_FROM_URL\",\"video_url\":\"{{1.media_url}}\"}}",
                        "parseResponse": true,
                        "timeout": 30,
                        "followRedirect": true,
                        "gzip": true,
                        "rejectUnauthorized": true
                      },
                      "metadata": {
                        "designer": {
                          "x": 500,
                          "y": 350
                        },
                        "parameters": [
                          {
                            "name": "handleErrors",
                            "type": "boolean",
                            "label": "Evaluate all states as errors (except for 2xx and 3xx)"
                          },
                          {
                            "name": "useNewZLibDecompress",
                            "type": "boolean",
                            "label": "Use new ZLib decompression"
                          }
                        ]
                      }
                    }
                  ]
                },
                {
                  "label": "TikTok Photo",
                  "filter": {
                    "name": "Is Image",
                    "conditions": [
                      [
                        {
                          "a": "{{1.post_type}}",
                          "b": "image",
                          "o": "text:equal"
                        }
                      ]
                    ]
                  },
                  "flow": [
                    {
                      "id": 13,
                      "module": "http:ActionSendData",
                      "version": 3,
                      "parameters": {
                        "handleErrors": false,
                        "useNewZLibDecompress": true
                      },
                      "mapper": {
                        "url": "https://open.tiktokapis.com/v2/post/publish/content/init/",
                        "serializeUrl": false,
                        "method": "post",
                        "headers": [
                          {
                            "name": "Authorization",
                            "value": "Bearer YOUR_TIKTOK_ACCESS_TOKEN"
                          },
                          {
                            "name": "Content-Type",
                            "value": "application/json; charset=UTF-8"
                          }
                        ],
                        "queryParameters": {
                          "array": []
                        },
                        "bodyType": "raw",
                        "contentType": "application/json",
                        "body": "{\"post_info\":{\"title\":\"{{1.tiktok_caption}}\",\"description\":\"{{1.tiktok_caption}}\",\"privacy_level\":\"PUBLIC_TO_EVERYONE\",\"disable_comment\":false},\"source_info\":{\"source\":\"PULL_FROM_URL\",\"photo_cover_index\":0,\"photo_images\":[\"{{1.media_url}}\"]},\"post_mode\":\"DIRECT_POST\",\"media_type\":\"PHOTO\"}",
                        "parseResponse": true,
                        "timeout": 30,
                        "followRedirect": true,
                        "gzip": true,
                        "rejectUnauthorized": true
                      },
                      "metadata": {
                        "designer": {
                          "x": 500,
                          "y": 500
                        },
                        "parameters": [
                          {
                            "name": "handleErrors",
                            "type": "boolean",
                            "label": "Evaluate all states as errors (except for 2xx and 3xx)"
                          },
                          {
                            "name": "useNewZLibDecompress",
                            "type": "boolean",
                            "label": "Use new ZLib decompression"
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com",
    "notes": []
  }
}