workflows/psych-stage3-social-publish.json
{
  "name": "Aperture Channel - Stage 3 - Social Publish (Standalone)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0,4,8,12,16,20 * * *"
            }
          ]
        }
      },
      "id": "psych4-n0",
      "name": "Every 8 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "psych4-n0b",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Aperture%20Video%20Queue!A2:N",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "timeout": 10000
        }
      },
      "id": "psych4-n1",
      "name": "Read Video Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        260,
        80
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lTPBYO6mXOO43KmE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json;\nconst rows = res.values || [];\nlet found = null, idx = -1;\nfor (let i = 0; i < rows.length; i++) {\n  if ((rows[i][2] || '').toString().trim() === 'Ready to Post') { found = rows[i]; idx = i; break; }\n}\nif (!found) throw new Error('No rows with Status = Ready to Post in Aperture Video Queue.');\nconst rowNumber = idx + 2;\nreturn [{ json: {\n  job_id:          (found[0] || '').trim(),\n  topic:           (found[1] || '').trim(),\n  drive_video_url: (found[3] || '').trim(),\n  title:           (found[4] || '').trim(),\n  hashtags:        (found[5] || '').trim(),\n  caption:         (found[12] || '').trim(),\n  thumbnail_url:   (found[13] || '').trim(),\n  queue_row:       rowNumber\n}}];"
      },
      "id": "psych4-n2",
      "name": "Pick Next Ready Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        80
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Aperture%20Video%20Queue!C' + $json.queue_row + '?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ majorDimension: 'ROWS', values: [['Posting']] }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "psych4-n3",
      "name": "Mark Posting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        740,
        80
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lTPBYO6mXOO43KmE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst data = $('Pick Next Ready Row').first().json;\nconst jobId = data.job_id;\nconst url   = data.drive_video_url;\nif (!url) throw new Error('No drive_video_url for ' + jobId);\n\nconst contPath = '/ffmpeg/input/' + jobId + '_publish.mp4';\nconst cmd = 'docker exec phys_ffmpeg_runner curl -sL -o \"' + contPath + '\" \"' + url + '\" && echo DL_OK';\nconst res = execSync(cmd, { encoding: 'utf-8', timeout: 180000 });\nif (!res.includes('DL_OK')) throw new Error('Failed to download final video from Drive for ' + jobId);\n\nconsole.log('Downloaded publish source for ' + jobId + ' -> ' + contPath);\nreturn [{ json: { ...data, publish_file_path: contPath } }];"
      },
      "id": "psych4-n4",
      "name": "Download Video for Publishing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst { execSync } = require('child_process');\nconst data = $('Download Video for Publishing').first().json;\n\nfunction post(hostname, path, body, headers) {\n  return new Promise((resolve, reject) => {\n    const buf = Buffer.from(body);\n    const req = https.request({ hostname, path, method: 'POST', headers: Object.assign({ 'Content-Length': buf.length }, headers) }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => resolve({ status: res.statusCode, headers: res.headers, body: Buffer.concat(chunks).toString() }));\n    });\n    req.on('error', reject);\n    req.write(buf);\n    req.end();\n  });\n}\n\ntry {\n  if (!$env.YOUTUBE_APERTURE_CLIENT_ID || !$env.YOUTUBE_APERTURE_CLIENT_SECRET || !$env.YOUTUBE_APERTURE_REFRESH_TOKEN)\n    throw new Error('YOUTUBE_APERTURE_* env vars not set');\n\n  const tokenBody = 'client_id=' + encodeURIComponent($env.YOUTUBE_APERTURE_CLIENT_ID) +\n    '&client_secret=' + encodeURIComponent($env.YOUTUBE_APERTURE_CLIENT_SECRET) +\n    '&refresh_token=' + encodeURIComponent($env.YOUTUBE_APERTURE_REFRESH_TOKEN) +\n    '&grant_type=refresh_token';\n  const tokenRes = await post('oauth2.googleapis.com', '/token', tokenBody, { 'Content-Type': 'application/x-www-form-urlencoded' });\n  const tokenJson = JSON.parse(tokenRes.body);\n  if (!tokenJson.access_token) throw new Error('YouTube token refresh failed: ' + tokenRes.body.slice(0,200));\n  const accessToken = tokenJson.access_token;\n\n  const snippet = {\n    snippet: {\n      title: (data.title || data.topic || 'Aperture').slice(0, 95),\n      description: (data.hashtags || ''),\n      tags: (data.hashtags || '').replace(/#/g, '').split(/\\s+/).filter(Boolean),\n      categoryId: '27'\n    },\n    status: { privacyStatus: 'public', selfDeclaredMadeForKids: false }\n  };\n\n  const initCmd = 'docker exec phys_ffmpeg_runner curl -sD - -o /dev/null -X POST ' +\n    '-H \"Authorization: Bearer ' + accessToken + '\" ' +\n    '-H \"Content-Type: application/json; charset=UTF-8\" ' +\n    '-H \"X-Upload-Content-Type: video/mp4\" ' +\n    \"-d '\" + JSON.stringify(snippet).replace(/'/g, \"'\\\\''\") + \"' \" +\n    '\"https://www.googleapis.com/upload/youtube/v3/videos?uploadType=resumable&part=snippet,status\"';\n  const initRes = execSync(initCmd, { encoding: 'utf-8', timeout: 30000 });\n  const locMatch = initRes.match(/[Ll]ocation:\\s*(\\S+)/);\n  if (!locMatch) throw new Error('YouTube resumable init failed: ' + initRes.slice(0,300));\n  const uploadUrl = locMatch[1].trim();\n\n  const putCmd = 'docker exec phys_ffmpeg_runner curl -s -X PUT ' +\n    '-H \"Content-Type: video/mp4\" ' +\n    '--upload-file \"' + data.publish_file_path + '\" \"' + uploadUrl + '\"';\n  const putRes = execSync(putCmd, { encoding: 'utf-8', timeout: 600000 });\n  const parsed = JSON.parse(putRes);\n  if (!parsed.id) throw new Error('YouTube upload finish failed: ' + putRes.slice(0,300));\n\n  console.log('YouTube OK -> ' + parsed.id);\n  return [{ json: { platform: 'youtube', success: true, url: 'https://youtube.com/shorts/' + parsed.id } }];\n} catch (e) {\n  console.error('YouTube upload failed: ' + e.message);\n  return [{ json: { platform: 'youtube', success: false, error: e.message } }];\n}"
      },
      "id": "psych4-n5",
      "name": "Upload to YouTube",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "continueOnFail": true,
      "position": [
        1220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst data = $('Download Video for Publishing').first().json;\nconst apiKey = $env.AYRSHARE_API_KEY;\nconst igId   = $env.AYRSHARE_APERTURE_IG_PROFILE_ID;\nconst ttId   = $env.AYRSHARE_APERTURE_TIKTOK_PROFILE_ID;\nconst liId   = $env.AYRSHARE_APERTURE_LINKEDIN_PROFILE_ID;\n\nif (!apiKey) throw new Error('[PostForMe] AYRSHARE_API_KEY not set');\nif (!igId)   throw new Error('[PostForMe] AYRSHARE_APERTURE_IG_PROFILE_ID not set');\nif (!ttId)   throw new Error('[PostForMe] AYRSHARE_APERTURE_TIKTOK_PROFILE_ID not set');\n\nconst nl = String.fromCharCode(10);\nconst videoUrl = data.drive_video_url || data.video_url || '';\nif (!videoUrl) throw new Error('[PostForMe] No video URL in payload. drive_video_url=' + data.drive_video_url + ' video_url=' + data.video_url);\n\n// Clean em dashes and curly quotes from caption\nconst cleanCaption = (str) => str\n  .replace(/—/g, '-')\n  .replace(/–/g, '-')\n  .replace(/‘|’/g, \"'\")\n  .replace(/“|”/g, '\"');\nconst caption = (cleanCaption(data.title || data.topic || '') + nl + nl + cleanCaption(data.caption || '') + nl + nl + (data.hashtags || '')).slice(0, 2190);\nconst accounts = [ttId];\nif (liId) accounts.push(liId);\n\nconsole.log('[PostForMe] Posting job ' + data.job_id + ' to TikTok+LinkedIn (' + accounts.length + ' accounts)');\nconsole.log('[PostForMe] Video URL: ' + videoUrl);\nconsole.log('[PostForMe] Accounts: ' + accounts.join(', '));\n\nconst media = [{ url: videoUrl }];\nif (data.thumbnail_url) media[0].thumbnailUrl = data.thumbnail_url;\nconst body = JSON.stringify({ caption, social_accounts: accounts, media });\nconst buf = Buffer.from(body);\n\nconst result = await new Promise((resolve) => {\n  const req = https.request({\n    hostname: 'api.postforme.dev', path: '/v1/social-posts', method: 'POST',\n    headers: { 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json', 'Content-Length': buf.length }\n  }, (res) => {\n    const chunks = [];\n    res.on('data', c => chunks.push(c));\n    res.on('end', () => {\n      const raw = Buffer.concat(chunks).toString();\n      try {\n        const r = JSON.parse(raw);\n        const success = res.statusCode < 300;\n        const postUrls = (r.data || []).map(d => d.url || d.id || '').join(', ');\n        const errMsg = success ? '' : (r.message || r.error || JSON.stringify(r).slice(0,300));\n        console.log('[PostForMe] HTTP ' + res.statusCode + ' | success=' + success + (errMsg ? ' | error=' + errMsg : '') + (postUrls ? ' | urls=' + postUrls : ''));\n        resolve({ success, status: res.statusCode, error: errMsg, urls: postUrls, raw: JSON.stringify(r).slice(0,400) });\n      } catch(e) {\n        console.log('[PostForMe] Non-JSON response HTTP ' + res.statusCode + ': ' + raw.slice(0,200));\n        resolve({ success: false, status: res.statusCode, error: 'Non-JSON: ' + raw.slice(0,200), raw });\n      }\n    });\n  });\n  req.on('error', e => {\n    console.log('[PostForMe] Network error: ' + e.message);\n    resolve({ success: false, error: 'Network: ' + e.message });\n  });\n  req.write(buf); req.end();\n});\n\nreturn [{ json: { platform: 'postforme', success: result.success, accounts_posted: accounts.length, error: result.error || null, urls: result.urls || '', raw: result.raw } }];"
      },
      "id": "psych4-n6",
      "name": "Post via PostForMe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "continueOnFail": true,
      "position": [
        1220,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst data = $('Download Video for Publishing').first().json;\nfunction call(method, path, body) {\n  return new Promise((resolve, reject) => {\n    const buf = body ? Buffer.from(body) : null;\n    const opts = { hostname: 'graph.facebook.com', path, method, headers: {} };\n    if (buf) { opts.headers['Content-Type'] = 'application/x-www-form-urlencoded'; opts.headers['Content-Length'] = buf.length; }\n    const req = https.request(opts, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => { try { resolve(JSON.parse(Buffer.concat(chunks).toString())); } catch(e) { reject(new Error('Non-JSON: ' + Buffer.concat(chunks).toString().slice(0,200))); } });\n    });\n    req.on('error', reject); if (buf) req.write(buf); req.end();\n  });\n}\ntry {\n  const pageId = $env.FB_APERTURE_PAGE_ID;\n  const token = $env.FB_APERTURE_PAGE_ACCESS_TOKEN;\n  if (!pageId || !token) throw new Error('FB_APERTURE_PAGE_ID / FB_APERTURE_PAGE_ACCESS_TOKEN not set');\n  const startBody = 'upload_phase=start&access_token=' + encodeURIComponent(token);\n  const start = await call('POST', '/v20.0/' + pageId + '/video_reels', startBody);\n  if (!start.video_id || !start.upload_url) throw new Error('FB Reels start failed: ' + JSON.stringify(start).slice(0,300));\n  const _url = start.upload_url.split(\"://\")[1] || \"\";\n  const slashIdx = _url.indexOf(\"/\");\n  const uploadHostname = slashIdx === -1 ? _url : _url.slice(0, slashIdx);\n  const uploadPath = slashIdx === -1 ? \"/\" : _url.slice(slashIdx);\n  const upload = await new Promise((resolve, reject) => {\n    const req = https.request({ hostname: uploadHostname, path: uploadPath, method: 'POST',\n      headers: { 'Authorization': 'OAuth ' + token, 'file_url': data.drive_video_url }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => { try { resolve(JSON.parse(Buffer.concat(chunks).toString())); } catch(e) { resolve({ success: res.statusCode < 300 }); } });\n    });\n    req.on('error', reject); req.end();\n  });\n  const nl = String.fromCharCode(10);\n  const cleanCaption = (str) => str.replace(/\u2014/g, '-').replace(/\u2013/g, '-').replace(/\u2018|\u2019/g, \"'\").replace(/\u201C|\u201D/g, '\"');\n  const caption = (cleanCaption(data.title || data.topic || '') + nl + nl + cleanCaption(data.caption || '') + nl + nl + (data.hashtags || '')).slice(0, 2000);\n  let finishBody = 'upload_phase=finish&video_id=' + start.video_id + '&video_state=PUBLISHED&description=' + encodeURIComponent(caption) + '&thumb_offset=5000&access_token=' + encodeURIComponent(token);\n  const finish = await call('POST', '/v20.0/' + pageId + '/video_reels', finishBody);\n  if (!finish.success) throw new Error('FB Reels finish failed: ' + JSON.stringify(finish).slice(0,300));\n  console.log('Facebook Reels OK -> ' + start.video_id);\n  return [{ json: { platform: 'facebook', success: true, url: 'https://www.facebook.com/reel/' + start.video_id } }];\n} catch (e) {\n  console.error('Facebook Reels upload failed: ' + e.message);\n  return [{ json: { platform: 'facebook', success: false, error: e.message } }];\n}"
      },
      "id": "psych4-n7",
      "name": "Upload to Facebook Reels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "continueOnFail": true,
      "position": [
        1220,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst data = $('Download Video for Publishing').first().json;\n\nfunction graphGet(path, params, token) {\n  return new Promise((resolve, reject) => {\n    const qs = Object.entries(Object.assign({ access_token: token }, params)).map(([k,v]) => encodeURIComponent(k) + '=' + encodeURIComponent(v)).join('&');\n    const req = https.request({ hostname: 'graph.facebook.com', path: path + '?' + qs, method: 'GET' }, (res) => {\n      const chunks = []; res.on('data', c => chunks.push(c));\n      res.on('end', () => { try { resolve(JSON.parse(Buffer.concat(chunks).toString())); } catch(e) { reject(e); } });\n    }); req.on('error', reject); req.end();\n  });\n}\nfunction graphPost(path, params, token) {\n  return new Promise((resolve, reject) => {\n    const body = Buffer.from(Object.entries(Object.assign({ access_token: token }, params)).map(([k,v]) => encodeURIComponent(k) + '=' + encodeURIComponent(v)).join('&'));\n    const req = https.request({ hostname: 'graph.facebook.com', path, method: 'POST', headers: { 'Content-Type': 'application/x-www-form-urlencoded', 'Content-Length': body.length } }, (res) => {\n      const chunks = []; res.on('data', c => chunks.push(c));\n      res.on('end', () => { try { resolve(JSON.parse(Buffer.concat(chunks).toString())); } catch(e) { reject(e); } });\n    }); req.on('error', reject); req.write(body); req.end();\n  });\n}\n\ntry {\n  const pageId = $env.FB_APERTURE_PAGE_ID;\n  const token = $env.FB_APERTURE_PAGE_ACCESS_TOKEN;\n  if (!pageId || !token) throw new Error('FB_APERTURE_PAGE_ID or FB_APERTURE_PAGE_ACCESS_TOKEN not set');\n\n  // Step 1: Get Instagram Business Account ID from FB Page\n  const pageRes = await graphGet('/v20.0/' + pageId, { fields: 'instagram_business_account' }, token);\n  if (!pageRes.instagram_business_account || !pageRes.instagram_business_account.id)\n    throw new Error('No Instagram account linked to FB page. Response: ' + JSON.stringify(pageRes).slice(0,200));\n  const igUserId = pageRes.instagram_business_account.id;\n  console.log('IG User ID: ' + igUserId);\n\n  const nl = String.fromCharCode(10);\n  const cleanCaption = (str) => str.replace(/\\u2014/g, '-').replace(/\\u2013/g, '-').replace(/\\u2018|\\u2019/g, \"'\").replace(/\\u201C|\\u201D/g, '\"');\n  const caption = (cleanCaption(data.title || '') + nl + nl + cleanCaption(data.caption || '') + nl + nl + (data.hashtags || '')).slice(0, 2200);\n\n  // Step 2: Create Reels container with cover_url for custom thumbnail\n  const containerParams = { media_type: 'REELS', video_url: data.drive_video_url, caption, share_to_feed: 'true' };\n  if (data.thumbnail_url) containerParams.cover_url = data.thumbnail_url;\n  const container = await graphPost('/v20.0/' + igUserId + '/media', containerParams, token);\n  if (!container.id) throw new Error('Failed to create IG container: ' + JSON.stringify(container).slice(0,300));\n  console.log('IG container created: ' + container.id);\n\n  // Step 3: Poll until FINISHED (max 12 attempts x 15s = 3 min)\n  let ready = false;\n  for (let i = 0; i < 12; i++) {\n    await new Promise(r => setTimeout(r, 15000));\n    const status = await graphGet('/v20.0/' + container.id, { fields: 'status_code,status' }, token);\n    console.log('IG status #' + (i+1) + ': ' + status.status_code);\n    if (status.status_code === 'FINISHED') { ready = true; break; }\n    if (status.status_code === 'ERROR') throw new Error('IG container error: ' + JSON.stringify(status));\n  }\n  if (!ready) throw new Error('IG container not ready after 3 minutes');\n\n  // Step 4: Publish\n  const publish = await graphPost('/v20.0/' + igUserId + '/media_publish', { creation_id: container.id }, token);\n  if (!publish.id) throw new Error('IG publish failed: ' + JSON.stringify(publish).slice(0,300));\n  console.log('IG published: ' + publish.id);\n\n  return [{ json: { platform: 'instagram', success: true, url: 'https://www.instagram.com/reel/' + publish.id } }];\n} catch(e) {\n  console.error('Instagram Graph API failed: ' + e.message);\n  return [{ json: { platform: 'instagram', success: false, error: e.message } }];\n}"
      },
      "id": "psych4-n8",
      "name": "Post to Instagram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "continueOnFail": true,
      "position": [
        1220,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Pick Next Ready Row').first().json;\nconst platforms = ['Upload to YouTube','Post via PostForMe','Upload to Facebook Reels','Post to Instagram'];\nconst results = platforms.map(n => {\n  try {\n    const r = $(n).first().json;\n    return { node: n, platform: r.platform || n, success: r.success, error: r.error || null, url: r.url || r.urls || '' };\n  } catch(e) {\n    return { node: n, platform: n, success: false, error: 'Node did not run or threw: ' + e.message };\n  }\n});\n\nconst passed = results.filter(r => r.success).map(r => r.platform);\nconst failed = results.filter(r => !r.success).map(r => r.platform + ': ' + (r.error || 'unknown'));\n\nconsole.log('=== Stage 3 Summary for job ' + data.job_id + ' ===');\npassed.forEach(p => console.log('  PASS: ' + p));\nfailed.forEach(f => console.log('  FAIL: ' + f));\n\nreturn [{ json: {\n  job_id:      data.job_id,\n  topic:       data.topic,\n  title:       data.title,\n  queue_row:   data.queue_row,\n  all_success: passed.length > 0,\n  passed,\n  failed,\n  results\n}}];"
      },
      "id": "psych4-n10",
      "name": "Collect Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        320
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Aperture%20Video%20Queue!C' + $json.queue_row + '?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ majorDimension: 'ROWS', values: [[ $json.all_success ? 'Posted' : 'Failed' ]] }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "psych4-n11",
      "name": "Update Video Queue Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        1700,
        320
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lTPBYO6mXOO43KmE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Aperture%20Topics!A2:A",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "timeout": 10000
        }
      },
      "id": "psych4-n12",
      "name": "Lookup Topics Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        1940,
        320
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lTPBYO6mXOO43KmE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jobId = $('Collect Results').first().json.job_id;\nconst res = $input.first().json;\nconst rows = res.values || [];\nlet rowNumber = null;\nfor (let i = 0; i < rows.length; i++) {\n  if ((rows[i][0] || '').toString().trim() === jobId) { rowNumber = i + 2; break; }\n}\nif (!rowNumber) { console.warn('Could not find ' + jobId + ' in Aperture Topics to mark LIVE'); }\nreturn [{ json: { job_id: jobId, topics_row: rowNumber } }];"
      },
      "id": "psych4-n13",
      "name": "Find Topics Row Number",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        320
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.topics_row ? ('https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Aperture%20Topics!B' + $json.topics_row + '?valueInputOption=USER_ENTERED') : 'https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Aperture%20Topics!B1?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ majorDimension: 'ROWS', values: [['LIVE']] }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "psych4-n14",
      "name": "Mark Aperture Topics LIVE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        2420,
        320
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lTPBYO6mXOO43KmE",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Video Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video Queue": {
      "main": [
        [
          {
            "node": "Pick Next Ready Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Next Ready Row": {
      "main": [
        [
          {
            "node": "Mark Posting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Posting": {
      "main": [
        [
          {
            "node": "Download Video for Publishing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video for Publishing": {
      "main": [
        [
          {
            "node": "Upload to YouTube",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post via PostForMe",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload to Facebook Reels",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to YouTube": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Facebook Reels": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Results": {
      "main": [
        [
          {
            "node": "Update Video Queue Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Queue Row": {
      "main": [
        [
          {
            "node": "Lookup Topics Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Topics Row": {
      "main": [
        [
          {
            "node": "Find Topics Row Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Topics Row Number": {
      "main": [
        [
          {
            "node": "Mark Aperture Topics LIVE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 8 Hours": {
      "main": [
        [
          {
            "node": "Read Video Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post via PostForMe": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Instagram": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "psych-stage3-social-publish"
}