workflows/psych-stage1-content-gen.json
{
  "name": "Aperture Channel - Stage 1 - Content Generation",
  "nodes": [
    {
      "parameters": {},
      "id": "psych1-n0",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  job_id: 'APR-Q0003',\n  philosopher: 'Gautama Buddha',\n  era: 'historical',\n  theme: 'Buddhist Philosophy',\n  quote: \"Three things cannot be long hidden: the sun, the moon, and the truth.\",\n  hashtags: '#buddha #buddhism #philosophy #aperture #wisdom #mindfulness',\n  sheet_row: null,\n  source: 'manual_test',\n  start_time: Date.now()\n}}];\n"
      },
      "id": "psych1-n0b",
      "name": "Test Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "psych-stage1-generate",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "psych1-n1",
      "name": "Stage 1 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        220
      ],
      "webhookId": "aperture-stage1-generate"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Aperture%20Topics!A2:G",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {
          "timeout": 10000
        }
      },
      "id": "psych1-n2",
      "name": "Read Topic From Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        480,
        220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wUDvDA62yzWuxKP9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json;\nconst rows = res.values || [];\nconst pending = [];\nfor (let i = 0; i < rows.length; i++) {\n  if ((rows[i][1]||'').toString().trim() === 'Approved' && (rows[i][5]||'').toString().trim()) pending.push({ idx: i, row: rows[i] });\n}\nif (!pending.length) throw new Error('No Approved rows with a Quote filled in. Check column B = Approved and column F (Quote) is non-empty in Aperture Topics sheet.');\n\n// Filter out rows where quote is clearly not a real quote (too short or looks like metadata)\nconst validPending = pending.filter(p => (p.row[5]||'').trim().split(/\\s+/).length >= 5);\nif (!validPending.length) throw new Error('All Approved rows have quotes that are too short (< 5 words) — check column F in the Aperture Topics sheet for real quote text.');\nconst usePending = validPending;\nconst found = usePending[Math.floor(Math.random() * usePending.length)];\nconst sheetRow = found.idx + 2;\nreturn [{ json: {\n  job_id:      (found.row[0]||'').trim() || ('APR-' + Date.now().toString().slice(-8)),\n  status:      (found.row[1]||'Approved').trim(),\n  philosopher: (found.row[2]||'').trim(),\n  era:         (found.row[3]||'').trim(),\n  theme:       (found.row[4]||'').trim(),\n  quote:       (found.row[5]||'').trim(),\n  hashtags:    (found.row[6]||'#philosophy #psychology #aperture').trim(),\n  sheet_row:   sheetRow,\n  source:      'google_sheet'\n}}];\n"
      },
      "id": "psych1-n3",
      "name": "Pick Approved Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        220
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Aperture%20Topics!B' + $json.sheet_row + '?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "body": "={ \"majorDimension\": \"ROWS\", \"values\": [[\"IN_PROGRESS\"]] }",
        "options": {
          "timeout": 10000
        }
      },
      "id": "psych1-n4",
      "name": "Mark IN_PROGRESS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        960,
        220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wUDvDA62yzWuxKP9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw  = $input.first().json;\nconst body = (raw.body !== undefined) ? raw.body : raw;\n\nlet d = {};\ntry { d = $('Pick Approved Topic').first().json; } catch(e) {}\n\nconst jobId = body.job_id || d.job_id || ('APR-' + Date.now().toString().slice(-8));\nconst quote = body.quote || d.quote || '';\nif (!quote) throw new Error('No quote provided. Every job needs a real quote from the Aperture Topics sheet (column F) or the webhook body — Claude no longer selects quotes itself.');\n\nreturn [{ json: {\n  job_id:      jobId,\n  philosopher: body.philosopher || d.philosopher || '',\n  era:         body.era || d.era || '',\n  theme:       body.theme || d.theme || '',\n  quote:       quote,\n  hashtags:    body.hashtags || d.hashtags || '#philosophy #psychology #aperture',\n  sheet_row:   body.sheet_row || d.sheet_row || null,\n  start_time:  Date.now()\n}}];\n"
      },
      "id": "psych1-n5",
      "name": "Set Job Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        110
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst data = $input.first().json;\nconst { philosopher, era, theme, quote } = data;\n\nif (!quote) throw new Error('Missing quote — this node no longer generates or verifies quotes, it only writes the image prompt and caption for a quote already provided by the sheet.');\n\nconst ANTHROPIC_KEY = $env.ANTHROPIC_API_KEY;\nif (!ANTHROPIC_KEY) throw new Error('ANTHROPIC_API_KEY not set.');\n\nconst prompt = `You are the visual + copy director for Aperture, a philosophy / psychology / wisdom Instagram & YouTube Shorts channel by Underknown. Aperture posts single-image \"quote card\" videos: one real quote, painted as a cinematic illustration with the quote text overlaid, plus a written caption for the post.\n\nCHANNEL DESCRIPTION (verbatim brief): \"Your window to the Bigger Picture. This channel is about philosophy, psychology, and society, where we explore the deep questions of existence and where humanity is headed. Big ideas about consciousness, meaning, and what it means to be alive.\"\n\nThe quote below is ALREADY CHOSEN AND VERIFIED — it comes directly from a curated, human-checked sheet. Do NOT alter, shorten, paraphrase, or \"improve\" it in any way. Your job is only to (1) design the painting that will sit behind it, and (2) write a caption for the post.\n\nPHILOSOPHER / SOURCE: ${philosopher}\nERA: ${era || 'historical'}\nTHEME / CATEGORY: ${theme || 'Philosophy'}\nQUOTE (verbatim, already verified — use exactly as given, do not touch it): \"${quote}\"\n\n=====================================================\nIMAGE PROMPT RULES — CRITICAL\n=====================================================\nAperture's visual house style is a SEMI-REALISTIC CINEMATIC OIL-PAINTING illustration — never a photo, never a 3D render, never flat cartoon/anime, never comic-book style. Think museum-quality digital matte painting / classical oil portraiture: visible brushwork, rich color grading, dramatic natural lighting.\n\nSTEP 1 — GROUND THE SETTING IN THIS SPECIFIC PERSON'S ACTUAL ORIGIN, NEVER A DEFAULT.\nIdentify where and when this exact person/tradition actually comes from, and build the entire scene from that — do NOT default to Greco-Roman ruins/columns for everyone. Examples of the range you must draw from based on who it actually is: Chinese/Confucian/Taoist figures -> Chinese architecture, robes, calligraphy, bamboo, mountains, pagodas. Persian/Sufi figures (Rumi, Hafez) -> Persian gardens, tiled mosques, whirling fabric, desert caravans. Japanese sources -> torii gates, rice fields, katana, cherry blossoms, minimalist wood interiors. Indian/Hindu/Buddhist sages -> ashrams, ghats, temple carvings, saffron and white cloth, Himalayan paths. African wisdom -> savanna, tribal dress, baobab trees, village elders. Arabic/Islamic scholars -> Andalusian or Levantine courtyards, geometric tilework, desert. European Enlightenment/existentialist thinkers -> European stone architecture, libraries, rain-lit streets, period dress of their actual century. Modern/living voices or businesspeople -> a real plausible contemporary setting appropriate to their actual life and work (a study, a city street, an office, a stage, nature). Ancient Greek/Roman figures are the ONLY ones who should get togas and marble columns — reserve that look for them specifically, not as a generic \"ancient wisdom\" default. Scientists get real labs/instruments/observatories relevant to their actual field and century. Founding documents / proverbs / traditions -> depict a representative figure or symbolic scene from that culture, not a generic parchment.\n\nSTEP 2 — LET THE SCENE QUIETLY ENCODE THE QUOTE'S MEANING, LIKE A CLASSICAL ALLEGORICAL PAINTING.\nDon't just place a generic figure in a pretty backdrop — choose one concrete action, object, or composition detail that works as a visual metaphor for what THIS quote is actually saying, the way a Renaissance painting hides meaning in small symbolic details (a mirror, a candle burning down, an open door, a bird in flight, a hand almost touching something). Make the viewer feel the idea before they finish reading the words.\n\nEvery image_prompt MUST also:\n- Depict ONE real human figure. Show them from behind, in profile, at mid-distance, or partially silhouetted — NOT a tight frontal close-up of a face, and never looking directly into the camera.\n- Use dramatic, natural directional light — golden hour, dusk, moonlight, firelight, or candlelight — with strong warm/cool contrast and deep, moody shadow falloff.\n- Be composed for a SQUARE (1:1) crop with the main subject centered or on a strong vertical third.\n- End with: \"...semi-realistic cinematic oil painting, painterly digital matte painting, visible brushwork, rich color grading, highly detailed, no text no watermark no signature\"\n\nNEVER include in the prompt: on-screen text, captions, logos, watermarks, a signature, cartoon style, anime style, 3D render, CGI, photograph, photorealistic (this is a PAINTING, not a photo), a person looking directly into the camera.\n\n=====================================================\nCAPTION RULES — CRITICAL\n=====================================================\nWrite a 3-4 paragraph caption/story for the social post (Instagram/YouTube description) that accompanies the video. It should:\n- Open with something that hooks a scrolling reader in the first line (a question, a striking observation, or context for the quote).\n- Give real context: who this person/tradition was, and why this specific quote matters or what it actually means in practice.\n- Connect it to a modern, relatable struggle or moment the reader might recognize in their own life.\n- Close with a short reflective line or gentle question that invites the reader to sit with the idea — NOT a generic CTA like \"follow for more\" (that's handled separately).\n- Written in a warm, direct, second-person-friendly essayist voice — the same voice as the channel's brief. No hashtags inside the caption body itself.\n\n=====================================================\nOUTPUT — RETURN ONLY RAW JSON, NO MARKDOWN, NO FENCES\n=====================================================\n{\n  \"attribution\": \"exact text to display after the dash on the image, e.g. Marcus Aurelius\",\n  \"image_prompt\": \"80-110 word Seedream prompt following all rules above\",\n  \"caption\": \"3-4 paragraph caption as plain text, paragraphs separated by \\\\n\\\\n\",\n  \"title\": \"SHORT PUNCHY TITLE CASE\",\n  \"hashtags\": \"#philosophy #aperture ...(6-10 relevant tags)\"\n}`;\n\nconst buf = Buffer.from(JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 4000,\n  messages: [{ role: 'user', content: prompt }]\n}));\n\nconst response = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'api.anthropic.com',\n    path: '/v1/messages',\n    method: 'POST',\n    headers: {\n      'x-api-key': ANTHROPIC_KEY,\n      'anthropic-version': '2023-06-01',\n      'Content-Type': 'application/json',\n      'Content-Length': buf.length\n    }\n  }, (res) => {\n    const chunks = [];\n    res.on('data', c => chunks.push(c));\n    res.on('end', () => { try { resolve(JSON.parse(Buffer.concat(chunks).toString())); } catch(e) { reject(new Error('Bad JSON from Anthropic: ' + Buffer.concat(chunks).toString().slice(0,300))); } });\n  });\n  req.on('error', reject);\n  req.write(buf);\n  req.end();\n});\n\nif (!response.content || !response.content[0] || !response.content[0].text)\n  throw new Error('Claude response empty — check ANTHROPIC_API_KEY. Error: ' + JSON.stringify(response).slice(0,200));\n\nlet raw = response.content[0].text.trim();\nraw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n\nlet parsed;\ntry { parsed = JSON.parse(raw); }\ncatch(e) {\n  const s = raw.indexOf('{'), end = raw.lastIndexOf('}');\n  if (s === -1 || end === -1) throw new Error('Claude did not return valid JSON: ' + raw.slice(0, 300));\n  parsed = JSON.parse(raw.slice(s, end + 1));\n}\n\nif (!parsed.image_prompt || !parsed.caption)\n  throw new Error('Claude response missing required fields (image_prompt/caption): ' + JSON.stringify(parsed).slice(0,300));\n\nconst NEGATIVE_PROMPT = 'text, watermark, signature, logo, caption, subtitle, cartoon, anime, 3D render, CGI, photograph, photorealistic photo, blurry, low quality, extra limbs, distorted hands, frontal close-up face, looking directly at camera';\n\nconsole.log('Generated for ' + philosopher + ' | title: ' + parsed.title);\n\nreturn [{ json: {\n  ...data,\n  attribution:     parsed.attribution || philosopher,\n  image_prompt:    parsed.image_prompt,\n  negative_prompt: NEGATIVE_PROMPT,\n  caption:         parsed.caption,\n  title:           parsed.title    || philosopher,\n  hashtags:        parsed.hashtags || data.hashtags\n}}];\n"
      },
      "id": "psych1-n6",
      "name": "Generate Image Prompt & Caption",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        110
      ]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst data   = $input.first().json;\nconst jobId  = data.job_id;\nconst VIDEO_DUR = 15;\n\nconst bgmDir = '/ffmpeg/config/bgm_aperture';\nlet ls = execSync('docker exec qpc_ffmpeg_runner bash -c \"ls ' + bgmDir + '/*.mp3 2>/dev/null | sort\"', { encoding: 'utf-8', timeout: 10000 }).trim();\nif (!ls) {\n  console.warn('No BGM in ' + bgmDir + ' — falling back to shared /ffmpeg/config/bgm');\n  ls = execSync('docker exec qpc_ffmpeg_runner bash -c \"ls /ffmpeg/config/bgm/*.mp3 2>/dev/null | sort\"', { encoding: 'utf-8', timeout: 10000 }).trim();\n}\nif (!ls) throw new Error('No BGM tracks found in /ffmpeg/config/bgm_aperture/ or /ffmpeg/config/bgm/ — add ambient/cinematic .mp3 files.');\n\nconst tracks = ls.split('\\n').map(p => p.trim()).filter(Boolean);\nconst seed   = parseInt(String(jobId).replace(/\\D/g,'').slice(-6)||'1', 10);\nconst picked = tracks[seed % tracks.length];\n\nconst bgmN8n  = '/data/ffmpeg/input/' + jobId + '_bgm.mp3';\nconst bgmCont = '/ffmpeg/input/'      + jobId + '_bgm.mp3';\n\nconst trim = 'docker exec qpc_ffmpeg_runner ffmpeg -y ' +\n  '-stream_loop -1 -i \"' + picked + '\" ' +\n  '-t ' + VIDEO_DUR + ' ' +\n  '-af \"afade=t=in:st=0:d=1.5,afade=t=out:st=' + (VIDEO_DUR-1.5).toFixed(3) + ':d=1.5,volume=0.55\" ' +\n  '-acodec libmp3lame -ab 128k \"' + bgmCont + '\" 2>&1 && echo TRIM_OK';\n\nconst res = execSync(trim, { encoding: 'utf-8', timeout: 30000 });\nif (!res.includes('TRIM_OK')) throw new Error('BGM trim failed: ' + res.slice(-300));\n\nconsole.log('BGM: ' + picked.split('/').pop() + ' | ' + VIDEO_DUR + 's');\n\nreturn [{ json: { ...data, bgm_path: bgmN8n } }];\n"
      },
      "id": "psych1-n11",
      "name": "Select BGM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        110
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: {\n  job_id:          data.job_id,\n  philosopher:     data.philosopher,\n  attribution:     data.attribution,\n  era:             data.era,\n  quote:           data.quote,\n  caption:         data.caption,\n  title:           data.title,\n  hashtags:        data.hashtags,\n  image_prompt:    data.image_prompt,\n  negative_prompt: data.negative_prompt,\n  bgm_path:        data.bgm_path,\n  sheet_row:       data.sheet_row,\n  start_time:      data.start_time\n}}];\n"
      },
      "id": "psych1-n12",
      "name": "Build Stage 2 Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        110
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5679/webhook/psych-stage2-video",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "psych1-n13",
      "name": "POST to Stage 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2640,
        110
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Aperture%20Topics!B' + $('Set Job Config').first().json.sheet_row + '?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ majorDimension: 'ROWS', values: [['STAGE2']] }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "psych1-n14",
      "name": "Mark STAGE2 in Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        2880,
        110
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wUDvDA62yzWuxKP9",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Test Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Payload": {
      "main": [
        [
          {
            "node": "Set Job Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 1 Webhook": {
      "main": [
        [
          {
            "node": "Read Topic From Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Topic From Sheet": {
      "main": [
        [
          {
            "node": "Pick Approved Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Approved Topic": {
      "main": [
        [
          {
            "node": "Mark IN_PROGRESS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark IN_PROGRESS": {
      "main": [
        [
          {
            "node": "Set Job Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Job Config": {
      "main": [
        [
          {
            "node": "Generate Image Prompt & Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Prompt & Caption": {
      "main": [
        [
          {
            "node": "Select BGM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select BGM": {
      "main": [
        [
          {
            "node": "Build Stage 2 Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Stage 2 Payload": {
      "main": [
        [
          {
            "node": "POST to Stage 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Stage 2": {
      "main": [
        [
          {
            "node": "Mark STAGE2 in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "psych-stage1-content-gen"
}