workflows/psych-stage1-content-gen.json
{
  "name": "Aperture Channel - Stage 1 - Content Generation",
  "nodes": [
    {
      "id": "psych1-sched",
      "name": "Every 8 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        440
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6,14,22 * * *"
            }
          ]
        }
      }
    },
    {
      "parameters": {},
      "id": "psych1-n0",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  job_id: 'APR-Q0003',\n  philosopher: 'Gautama Buddha',\n  era: 'historical',\n  theme: 'Buddhist Philosophy',\n  quote: \"Three things cannot be long hidden: the sun, the moon, and the truth.\",\n  hashtags: '#buddha #buddhism #philosophy #aperture #wisdom #mindfulness',\n  sheet_row: null,\n  source: 'manual_test',\n  start_time: Date.now()\n}}];\n"
      },
      "id": "psych1-n0b",
      "name": "Test Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "psych-stage1-generate",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "psych1-n1",
      "name": "Stage 1 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        220
      ],
      "webhookId": "aperture-stage1-generate"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Aperture%20Topics!A2:G",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "timeout": 10000
        }
      },
      "id": "psych1-n2",
      "name": "Read Topic From Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        480,
        220
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lTPBYO6mXOO43KmE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json;\nconst rows = res.values || [];\nconst pending = [];\nfor (let i = 0; i < rows.length; i++) {\n  const status = (rows[i][1]||'').toString().trim();\n  const topic  = (rows[i][2]||'').toString().trim();\n  if (status === 'Approved' && topic) pending.push({ idx: i, row: rows[i] });\n}\nif (!pending.length) throw new Error('No Approved rows in Aperture Topics sheet (column B = Approved).');\nconst found = pending[Math.floor(Math.random() * pending.length)];\nconst sheetRow = found.idx + 2;\nreturn [{ json: {\n  job_id:        (found.row[0]||('APR-' + Date.now().toString().slice(-8))).toString().trim(),\n  topic:         (found.row[2]||'').trim(),\n  core_question: (found.row[3]||'').trim(),\n  content_type:  (found.row[4]||'').trim(),\n  depth_level:   (found.row[5]||'').trim(),\n  philosopher:   (found.row[6]||'').trim(),\n  hashtags:      (found.row[12]||'#philosophy #psychology #aperture').trim(),\n  sheet_row:     sheetRow,\n  source:        'google_sheet'\n}}];"
      },
      "id": "psych1-n3",
      "name": "Pick Approved Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        220
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Aperture%20Topics!B' + $json.sheet_row + '?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "body": "={ \"majorDimension\": \"ROWS\", \"values\": [[\"IN_PROGRESS\"]] }",
        "options": {
          "timeout": 10000
        }
      },
      "id": "psych1-n4",
      "name": "Mark IN_PROGRESS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        960,
        220
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lTPBYO6mXOO43KmE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw  = $input.first().json;\nconst body = (raw.body !== undefined) ? raw.body : raw;\nlet d = {};\ntry { d = $('Pick Approved Topic').first().json; } catch(e) {}\nconst jobId = body.job_id || d.job_id || ('APR-' + Date.now().toString().slice(-8));\nconst topic = body.topic || d.topic || '';\nif (!topic) throw new Error('No topic provided.');\nreturn [{ json: {\n  job_id:        jobId,\n  topic:         topic,\n  philosopher:   body.philosopher   || d.philosopher   || '',\n  core_question: body.core_question || d.core_question || '',\n  content_type:  body.content_type  || d.content_type  || '',\n  depth_level:   body.depth_level   || d.depth_level   || '',\n  hashtags:      body.hashtags      || d.hashtags      || '#philosophy #psychology #aperture',\n  sheet_row:     body.sheet_row     || d.sheet_row     || null,\n  start_time:    Date.now()\n}}];"
      },
      "id": "psych1-n5",
      "name": "Set Job Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        110
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst data = $input.first().json;\nconst { topic, core_question, content_type, depth_level, philosopher } = data;\nif (!topic) throw new Error('Missing topic');\nconst ANTHROPIC_KEY = $env.ANTHROPIC_API_KEY;\nif (!ANTHROPIC_KEY) throw new Error('ANTHROPIC_API_KEY not set.');\n\nconst nl = String.fromCharCode(10);\nconst prompt = 'You are the visual + copy director for Aperture, a philosophy / psychology / wisdom channel. Aperture posts single-image quote card videos: one real philosopher quote as a cinematic painting with the quote overlaid, plus a caption.' + nl + nl +\n  'TOPIC: ' + topic + nl +\n  'CORE QUESTION: ' + (core_question || topic) + nl +\n  'KEY REFERENCE / PHILOSOPHER: ' + (philosopher || 'a relevant philosopher') + nl +\n  'CONTENT TYPE: ' + (content_type || 'Existential') + nl +\n  'DEPTH LEVEL: ' + (depth_level || 'Intermediate') + nl + nl +\n  'STEP 1 — SELECT A REAL VERBATIM QUOTE from the Key Reference philosopher that directly addresses this topic. Must be 8-40 words, real and verifiable, deeply relevant.' + nl + nl +\n  'STEP 2 — IMAGE PROMPT (semi-realistic cinematic oil painting, never photo/3D/cartoon): Ground in the philosopher actual historical/cultural setting. ONE human figure from behind or in profile, dramatic natural lighting, square 1:1 crop. End with: semi-realistic cinematic oil painting, visible brushwork, rich color grading, highly detailed, no text no watermark.' + nl + nl +\n  'STEP 3 — CAPTION: 3-4 paragraphs. Hook first. Context about philosopher and why this quote matters. Connect to modern relatable moment. Close with a reflective question — no CTA no hashtags in body.' + nl + nl +\n  'RETURN ONLY RAW JSON no markdown no fences:' + nl +\n  '{\"attribution\":\"philosopher name\",\"quote\":\"exact verbatim real quote\",\"image_prompt\":\"80-110 word painting prompt\",\"caption\":\"3-4 paragraphs separated by \\n\\n\",\"title\":\"SHORT PUNCHY TITLE CASE\",\"hashtags\":\"#philosophy #aperture 6-10 tags\"}';\n\nconst buf = Buffer.from(JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 4000,\n  messages: [{ role: 'user', content: prompt }]\n}));\n\nconst response = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'api.anthropic.com', path: '/v1/messages', method: 'POST',\n    headers: { 'x-api-key': ANTHROPIC_KEY, 'anthropic-version': '2023-06-01', 'Content-Type': 'application/json', 'Content-Length': buf.length }\n  }, (res) => {\n    const chunks = [];\n    res.on('data', c => chunks.push(c));\n    res.on('end', () => { try { resolve(JSON.parse(Buffer.concat(chunks).toString())); } catch(e) { reject(new Error('Bad JSON: ' + Buffer.concat(chunks).toString().slice(0,200))); } });\n  });\n  req.on('error', reject); req.write(buf); req.end();\n});\n\nif (!response.content?.[0]?.text) throw new Error('Claude empty: ' + JSON.stringify(response).slice(0,200));\nlet raw = response.content[0].text.trim().replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```\\s*$/i,'').trim();\nlet parsed;\ntry { parsed = JSON.parse(raw); } catch(e) {\n  const s = raw.indexOf('{'), end = raw.lastIndexOf('}');\n  parsed = JSON.parse(raw.slice(s, end + 1));\n}\nif (!parsed.quote || !parsed.image_prompt) throw new Error('Missing fields: ' + JSON.stringify(parsed).slice(0,200));\n\nconst NEGATIVE = 'text, watermark, signature, cartoon, anime, 3D render, CGI, photograph, photorealistic, frontal face, looking at camera';\nconsole.log('Generated for', topic, '| quote:', parsed.quote.slice(0,60));\n\nreturn [{ json: {\n  ...data,\n  attribution:     parsed.attribution || philosopher,\n  quote:           parsed.quote,\n  image_prompt:    parsed.image_prompt,\n  negative_prompt: NEGATIVE,\n  caption:         parsed.caption,\n  title:           parsed.title || topic,\n  hashtags:        parsed.hashtags || data.hashtags\n}}];"
      },
      "id": "psych1-n6",
      "name": "Generate Image Prompt & Caption",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        110
      ]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst data   = $input.first().json;\nconst jobId  = data.job_id;\nconst VIDEO_DUR = 15;\n\nconst bgmDir = '/ffmpeg/config/bgm_aperture';\nlet ls = execSync('docker exec phys_ffmpeg_runner bash -c \"ls ' + bgmDir + '/*.mp3 2>/dev/null | sort\"', { encoding: 'utf-8', timeout: 10000 }).trim();\nif (!ls) {\n  console.warn('No BGM in ' + bgmDir + ' — falling back to shared /ffmpeg/config/bgm');\n  ls = execSync('docker exec phys_ffmpeg_runner bash -c \"ls /ffmpeg/config/bgm/*.mp3 2>/dev/null | sort\"', { encoding: 'utf-8', timeout: 10000 }).trim();\n}\nif (!ls) throw new Error('No BGM tracks found in /ffmpeg/config/bgm_aperture/ or /ffmpeg/config/bgm/ — add ambient/cinematic .mp3 files.');\n\nconst tracks = ls.split('\\n').map(p => p.trim()).filter(Boolean);\nconst seed   = parseInt(String(jobId).replace(/\\D/g,'').slice(-6)||'1', 10);\nconst picked = tracks[seed % tracks.length];\n\nconst bgmN8n  = '/data/ffmpeg/input/' + jobId + '_bgm.mp3';\nconst bgmCont = '/ffmpeg/input/'      + jobId + '_bgm.mp3';\n\nconst trim = 'docker exec phys_ffmpeg_runner ffmpeg -y ' +\n  '-stream_loop -1 -i \"' + picked + '\" ' +\n  '-t ' + VIDEO_DUR + ' ' +\n  '-af \"afade=t=in:st=0:d=1.5,afade=t=out:st=' + (VIDEO_DUR-1.5).toFixed(3) + ':d=1.5,volume=0.55\" ' +\n  '-acodec libmp3lame -ab 128k \"' + bgmCont + '\" 2>&1 && echo TRIM_OK';\n\nconst res = execSync(trim, { encoding: 'utf-8', timeout: 30000 });\nif (!res.includes('TRIM_OK')) throw new Error('BGM trim failed: ' + res.slice(-300));\n\nconsole.log('BGM: ' + picked.split('/').pop() + ' | ' + VIDEO_DUR + 's');\n\nreturn [{ json: { ...data, bgm_path: bgmN8n } }];\n"
      },
      "id": "psych1-n11",
      "name": "Select BGM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        110
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: {\n  job_id:          data.job_id,\n  philosopher:     data.philosopher,\n  attribution:     data.attribution,\n  era:             data.era,\n  quote:           data.quote,\n  caption:         data.caption,\n  title:           data.title,\n  hashtags:        data.hashtags,\n  image_prompt:    data.image_prompt,\n  negative_prompt: data.negative_prompt,\n  bgm_path:        data.bgm_path,\n  sheet_row:       data.sheet_row,\n  start_time:      data.start_time\n}}];\n"
      },
      "id": "psych1-n12",
      "name": "Build Stage 2 Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        110
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5679/webhook/psych-stage2-video",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "psych1-n13",
      "name": "POST to Stage 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2640,
        110
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Aperture%20Topics!B' + $('Set Job Config').first().json.sheet_row + '?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ majorDimension: 'ROWS', values: [['STAGE2']] }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "psych1-n14",
      "name": "Mark STAGE2 in Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        2880,
        110
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lTPBYO6mXOO43KmE",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Test Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Payload": {
      "main": [
        [
          {
            "node": "Set Job Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 1 Webhook": {
      "main": [
        [
          {
            "node": "Read Topic From Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Topic From Sheet": {
      "main": [
        [
          {
            "node": "Pick Approved Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Approved Topic": {
      "main": [
        [
          {
            "node": "Mark IN_PROGRESS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark IN_PROGRESS": {
      "main": [
        [
          {
            "node": "Set Job Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Job Config": {
      "main": [
        [
          {
            "node": "Generate Image Prompt & Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Prompt & Caption": {
      "main": [
        [
          {
            "node": "Select BGM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select BGM": {
      "main": [
        [
          {
            "node": "Build Stage 2 Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Stage 2 Payload": {
      "main": [
        [
          {
            "node": "POST to Stage 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Stage 2": {
      "main": [
        [
          {
            "node": "Mark STAGE2 in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 8 Hours": {
      "main": [
        [
          {
            "node": "Read Topic From Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "psych-stage1-content-gen"
}