workflows/qpc_1_image_generator-payload.json
{"name":"QPC 1 - Physics Image Generator","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 */2 * * *"}]}},"id":"nS0","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-200,-100]},{"parameters":{"jsCode":"return [{\n  \"rowIndex\": 3,\n  \"sheetRowId\": \"QPC-002\",\n  \"headline\": \"In the quantum realm, electrons can 'see' a magnetic field even where the field itself is zero. This phenomenon, known as the Aharonov-Bohm effect, proves that potentials, not just forces, shape physical reality.\",\n  \"topic\": \"Aharonov-Bohm\",\n  \"highlights\": [\"quantum\", \"Aharonov-Bohm\", \"potentials\", \"reality\"],\n  \"bg_image_url\": \"https://d1q70pf5vjeyhc.cloudfront.net/predictions/16d9857c2859415f997d85df0c81502c/1.jpeg\",\n  \"facebook_caption\": \"In the quantum realm, reality behaves in ways that challenge our standard intuition. The Aharonov Bohm effect demonstrates that electrons can detect a magnetic field even if they never physically enter the region where that field exists. This discovery shifted our understanding of physics by proving that electromagnetic potentials are more than just mathematical tools. They are physical realities that can influence particles from a distance. By observing these subtle shifts in electron paths, scientists have confirmed the non local nature of the quantum world.\",\n  \"linkedin_caption\": \"The Aharonov Bohm effect represents a fundamental milestone in quantum mechanics and electromagnetic theory. It illustrates that charged particles are sensitive to the magnetic vector potential even in regions where the magnetic field strength is zero. For professionals in research and technology, this underscores the profound importance of quantum phase shifts in designing precise instrumentation. This phenomenon confirms that the physical state of a system can be altered by potentials that exert no direct classical force. Understanding these mechanisms is essential for the future of quantum computing and advanced electron interferometry.\"\n}];"},"id":"test-payload","name":"Test Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[-110,310]},{"parameters":{"url":"={{ $json.bg_image_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"test-bg","name":"Download Test BG","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[220,200]},{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-200,100]},{"parameters":{},"id":"manual-test-trigger","name":"Manual Test Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-200,300]},{"parameters":{},"id":"manual-ws-trigger","name":"Manual WS Poll Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1650,300]},{"parameters":{"jsCode":"// Test payload — skips Generate + Poll, goes straight to Extract Image URL.\n// imageUrl = final image from Wavespeed. All other fields feed downstream nodes.\nreturn [{\n  imageUrl: \"https://d2p7pge43lyniu.cloudfront.net/output/98e726ea-9107-4932-acbf-82fee64543ab.jpeg\",\n  headline: \"In the quantum realm, electrons can detect a magnetic field even where the field itself is zero — proving that potentials, not forces, shape physical reality.\",\n  topic: \"Aharonov-Bohm\",\n  highlights: [\"Aharonov-Bohm\", \"quantum\", \"electromagnetic potentials\", \"electron\", \"interference\"],\n  image_search_query: \"Aharonov-Bohm effect electron interference quantum physics\",\n  rowIndex: 2,\n  sheetRowId: \"QPC-001\"\n}];"},"id":"test-ws-payload","name":"Test WS Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1870,300]},{"parameters":{"method":"GET","url":"https://sheets.googleapis.com/v4/spreadsheets/1ns6J4yI4avUFvYZS1Tu97DQpy2z7t22PbA2tvUO824g/values/Image Post Queue!A2:M1000","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{}},"id":"nS1","name":"Read Sheet Rows","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[220,0],"credentials":{"googleDriveOAuth2Api":{"id":"OPs3jzJpnpfateNo","name":"Google Drive account"}}},{"parameters":{"jsCode":"const rows = $input.item.json?.values || [];\n// Columns: 0=ID, 1=Topic, 2=CustomHeadline, 3=Status\nconst pending = rows\n  .map((r, i) => ({ rowIndex: i + 2, id: r[0]||'', topic: r[1]||'', customHeadline: r[2]||'', status: (r[3]||'').toUpperCase().trim() }))\n  .filter(r => r.status === 'PENDING' && r.topic);\nif (pending.length === 0) {\n  throw new Error('NO_PENDING_TOPICS: No PENDING topics found in Image Post Queue.');\n}\nconst first = pending[0];\nreturn [{ json: { rowIndex: first.rowIndex, sheetRowId: first.id, topic: first.topic, customHeadline: first.customHeadline } }];"},"id":"nS2","name":"Find First Pending Topic","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0]},{"parameters":{"method":"PUT","url":"={{ `https://sheets.googleapis.com/v4/spreadsheets/1ns6J4yI4avUFvYZS1Tu97DQpy2z7t22PbA2tvUO824g/values/Image Post Queue!D${$json.rowIndex}?valueInputOption=RAW` }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={ \"values\": [[\"PROCESSING\"]] }","options":{}},"id":"nS3","name":"Mark PROCESSING","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[660,0],"credentials":{"googleDriveOAuth2Api":{"id":"OPs3jzJpnpfateNo","name":"Google Drive account"}}},{"parameters":{"jsCode":"const factData = $('Find First Pending Topic').item.json;\nconst topic = factData.customHeadline || factData.topic;\nconst prompt = `Generate one mind-blowing lesser-known quantum physics or particle physics fact about this topic: \"${topic}\"\n\nReturn ONLY valid JSON (no markdown, no code fences):\n{\n  \"headline\": \"A mind-blowing fact in exactly 1 punchy sentence. STRICT word count: minimum 17 words, maximum 20 words — count carefully, never go below 17 or above 20.\",\n  \"topic\": \"one-word physics concept\",\n  \"highlights\": [\"Pick 3-5 single words that appear VERBATIM in the headline above and are the most important physics concepts. Only exact words from the headline — no phrases, no words not in the headline.\"],\n  \"image_search_query\": \"specific visual search query for a real photo\"\n}`;\nreturn [{ json: { claude_payload: {\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 1024,\n  messages: [{ role: 'user', content: prompt }]\n} } }];"},"id":"prep-fact","name":"Prep Fact Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[770,-100]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendBody":true,"jsonBody":"={{ JSON.stringify($json.claude_payload) }}","options":{},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"}]},"specifyBody":"json"},"id":"n8","name":"Generate Physics Fact","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[990,-100],"retryOnFail":true,"maxTries":5,"waitBetweenTries":10000},{"parameters":{"jsCode":"function parseClaudeJSON(raw) {\n  const text = raw.trim().replace(/^```jsons*/i, \"\").replace(/^```s*/i, \"\").replace(/```s*$/i, \"\").trim();\n  return JSON.parse(text);\n}\nconst res = parseClaudeJSON($input.item.json.content[0].text);\nconst sheet = $('Find First Pending Topic').item.json;\n// Spread res first so Claude fields are set, then sheet data wins — prevents Claude from overwriting rowIndex/sheetRowId\nreturn [{ json: { ...res, rowIndex: sheet.rowIndex, sheetRowId: sheet.sheetRowId, topic: res.topic || sheet.topic, customHeadline: sheet.customHeadline } }];"},"id":"n9-parse","name":"Parse Fact","type":"n8n-nodes-base.code","typeVersion":2,"position":[1210,-100]},{"parameters":{"jsCode":"const fact = $input.item.json;\nconst prompt = `You are a scientific photography prompt engineer. Your job is to create image prompts that look like REAL photographs from actual physics research — not sci-fi, not fantasy, not CGI art.\n\nTopic: \"${fact.topic}\"\nHeadline: \"${fact.headline}\"\n\nGenerate a single image prompt for Seedream AI (4:5 portrait, Instagram-ready) that looks like a genuine physics photograph.\n\nSTYLE RULES — follow strictly:\n- Must look like a real photograph: documentary, National Geographic science edition, Nature journal cover, or Nobel Prize announcement photo style.\n- Real laboratory environments: CERN accelerator tunnels, MIT/Caltech quantum optics labs, particle detector halls, clean rooms, laser interferometer setups, cryogenic superconductor chambers, electron microscope suites.\n- Real equipment: vacuum chambers, laser beam splitters, optical tables with mounts, superconducting magnets (blue/silver cylinders), particle detector arrays, Josephson junction chips, ion trap hardware, photon detectors.\n- Real phenomena shown accurately: laser interference fringes on a screen, actual double-slit diffraction patterns, real electron microscope imagery of atoms, actual MRI scanner cross-sections, real particle collision tracks in bubble chambers or ATLAS detector.\n- Lighting: natural lab fluorescent overhead, soft diffused clean-room white light, or single dramatic spotlight on equipment. NO neon, NO bioluminescence, NO god rays.\n- Color palette: sterile whites, metallic silvers, cool blues of cryogenics, green laser lines, amber lab lighting — all realistic.\n- Composition: close-up macro of scientific instrument with shallow depth of field, OR wide shot of lab interior with scientist silhouette for scale, OR extreme macro of a microchip/crystal lattice.\n- STRICTLY FORBIDDEN: glowing atoms floating in space, warping grids, cosmic backgrounds, neon colors, fantasy particles, sci-fi aesthetics, CGI renders, digital art style.\n- Bottom 30% of frame should be darker (lab floor or equipment base) for text overlay.\n- Quality tags: photorealistic, documentary photography, Canon EOS R5, 85mm lens, f/2.8, ISO 800, sharp focus, real physics laboratory.\n\nReturn ONLY valid JSON (no markdown, no code fences):\n{\n  \"visual_prompt\": \"[full detailed prompt, 80-120 words]\"\n}`;\nreturn [{ json: { claude_payload: {\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 600,\n  messages: [{ role: 'user', content: prompt }]\n} } }];"},"id":"prep-visual","name":"Prep Visual Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,0]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.claude_payload) }}","options":{},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"}]}},"id":"n10-gemini","name":"Build Visual Prompt","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1540,0],"retryOnFail":true,"maxTries":5,"waitBetweenTries":10000},{"parameters":{"jsCode":"function parseClaudeJSON(raw) {\n  const text = raw.trim().replace(/^```jsons*/i, \"\").replace(/^```s*/i, \"\").replace(/```s*$/i, \"\").trim();\n  return JSON.parse(text);\n}\nconst res = parseClaudeJSON($input.item.json.content[0].text);\nreturn [{ json: {\n  prompt: res.visual_prompt,\n  aspect_ratio: '4:5',\n  negative_prompt: 'text, logo, watermark, blurry, low quality, distorted, cartoon'\n} }];"},"id":"prep-ws","name":"Prep Wavespeed Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1650,100]},{"parameters":{"method":"POST","url":"https://api.wavespeed.ai/api/v3/bytedance/seedream-v4.5","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.WAVESPEED_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"n11-ws","name":"Generate Background Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1870,100]},{"parameters":{"jsCode":"const init = $input.item.json;\nconst pollUrl = init?.data?.urls?.get;\nif (!pollUrl) throw new Error('No poll URL in Wavespeed response: ' + JSON.stringify(init));\n\nconst apiKey = $env.WAVESPEED_API_KEY;\nconst sleep = ms => new Promise(r => setTimeout(r, ms));\n\nlet attempts = 0;\nlet lastResp = null;\nwhile (attempts < 40) {\n  await sleep(5000);\n  attempts++;\n  try {\n    lastResp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: pollUrl,\n      headers: { Authorization: 'Bearer ' + apiKey }\n    });\n  } catch(e) {\n    throw new Error('Poll HTTP error on attempt ' + attempts + ': ' + e.message);\n  }\n  const d = lastResp?.data;\n  const status = d?.status;\n  const outputs = d?.outputs || [];\n  // succeeded or completed with image\n  if ((status === 'succeeded' || status === 'completed') && outputs.length > 0) {\n    return [{ json: { imageUrl: outputs[0] } }];\n  }\n  // job expired or not found\n  if (lastResp?.code !== 200 || status === 'failed') {\n    throw new Error('Wavespeed job error (attempt ' + attempts + '): status=' + status + ' | response=' + JSON.stringify(lastResp).slice(0, 400));\n  }\n}\nthrow new Error('Wavespeed timed out after 40 polls. Last response: ' + JSON.stringify(lastResp).slice(0, 400));"},"id":"n11-poll","name":"Poll Wavespeed Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[2090,100]},{"parameters":{"jsCode":"const input = $input.item.json;\nconst imageUrl = input.imageUrl;\nif (!imageUrl) throw new Error('No image URL: ' + JSON.stringify(input));\n// If coming from Poll node, grab fact data from Parse Fact; if from Test payload, it's already in input\nlet factData = {};\ntry { factData = $('Parse Fact').item.json; } catch(e) {}\n// input fields take priority when Poll path sets them; test payload has them directly\nconst merged = { ...factData, ...input };\ndelete merged.imageUrl;\nreturn [{ json: { ...merged, bg_image_url: imageUrl } }];"},"id":"n12-url","name":"Extract Image URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[2310,100]},{"parameters":{"url":"={{ $json.bg_image_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"n12","name":"Download Background","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2310,100]},{"parameters":{"method":"POST","url":"https://api.tavily.com/search","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ api_key: $env.TAVILY_API_KEY, query: $json.image_search_query, search_depth: 'basic', include_images: true }) }}","options":{}},"id":"n9","name":"Tavily Reference Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2420,0]},{"parameters":{"jsCode":"const res = $input.item.json;\nconst images = res?.images || [];\nconst url = images.find(u => /\\.(jpg|jpeg|png)/i.test(u)) || images[0] || '';\nreturn [{ json: { ...($('Extract Image URL').item.json), ref_image_url: url } }];"},"id":"n10","name":"Extract Reference URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,0]},{"parameters":{"url":"={{ $json.ref_image_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"n11","name":"Download Reference Photo","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2860,0],"continueOnFail":true},{"parameters":{"jsCode":"const fact = $('Extract Image URL').item.json;\nconst prompt = `You are a science content writer for a quantum physics social media channel. Write four platform-specific captions about this fact: \"${fact.headline}\"\n\nPARAGRAPH STRUCTURE (same for all platforms, tone varies):\n- Paragraph 1: Hook — 1-2 striking sentences that stop the scroll.\n- Paragraph 2: Explain the core phenomenon clearly and simply. 3-4 sentences.\n- Paragraph 3: Go deeper — mechanism, discovery, or surprising implication. 3-4 sentences.\n- Paragraph 4: Real-world significance or broader scientific meaning. 3-4 sentences.\n- Paragraph 5: Close with a powerful statement or engaging question. 1-2 sentences.\n- Paragraph 6: HASHTAGS — write exactly 12 hashtags each starting with the # symbol, separated by spaces. Example format: #QuantumPhysics #Science #Physics #Particles\n\nTONE PER PLATFORM:\n- FACEBOOK: conversational, wonder-driven, story-like.\n- LINKEDIN: professional, authoritative, research-focused.\n- INSTAGRAM: visual, punchy, exciting. Paragraph 5 must end with a question.\n- TIKTOK: casual, energetic, short punchy sentences throughout.\n\nRULES: No emojis. No markdown. No bold. No asterisks. Hashtags MUST use the # symbol — this is mandatory, never skip them.\n\nReturn ONLY valid JSON (no markdown, no code fences):\n{\n  \"facebook_caption\": \"...\",\n  \"linkedin_caption\": \"...\",\n  \"instagram_caption\": \"...\",\n  \"tiktok_caption\": \"...\"\n}`;\nreturn [{ json: { claude_payload: {\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 8192,\n  messages: [{ role: 'user', content: prompt }]\n} } }];"},"id":"prep-captions","name":"Prep Captions Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[2970,-100]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.claude_payload) }}","options":{},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"}]}},"id":"n12-captions","name":"Generate Captions","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3190,-100],"retryOnFail":true,"maxTries":5,"waitBetweenTries":10000},{"parameters":{"jsCode":"function parseClaudeJSON(raw) {\n  const text = raw.trim().replace(/^```jsons*/i, \"\").replace(/^```s*/i, \"\").replace(/```s*$/i, \"\").trim();\n  return JSON.parse(text);\n}\nconst res = parseClaudeJSON($input.item.json.content[0].text);\nreturn [{ json: { ...($('Extract Image URL').item.json), ...res } }];"},"id":"n13","name":"Parse Captions","type":"n8n-nodes-base.code","typeVersion":2,"position":[3300,0]},{"parameters":{"jsCode":"const fs = require('fs');\nconst https = require('https');\nconst http = require('http');\n\nconst downloadToFile = (url, dest) => new Promise((resolve, reject) => {\n  const lib = url.startsWith('https') ? https : http;\n  const file = fs.createWriteStream(dest);\n  lib.get(url, res => {\n    if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n      file.close();\n      return downloadToFile(res.headers.location, dest).then(resolve).catch(reject);\n    }\n    res.pipe(file);\n    file.on('finish', () => file.close(resolve));\n    file.on('error', reject);\n  }).on('error', reject);\n});\n\nconst jobId = Date.now();\nconst bgN8n  = `/data/manim/scripts/qpc_bg_${jobId}.jpg`;\nconst refN8n = `/data/manim/scripts/qpc_ref_${jobId}.jpg`;\nconst outN8n = `/data/manim/renders/qpc_out_${jobId}.png`;\nconst bgMnm  = bgN8n.replace('/data/manim/scripts/','/manim/scripts/');\nconst refMnm = refN8n.replace('/data/manim/scripts/','/manim/scripts/');\nconst outMnm = outN8n.replace('/data/manim/renders/','/manim/renders/');\n\nconst factData = $input.item.json;\n\nawait downloadToFile(factData.bg_image_url, bgN8n);\n\nlet hasRef = false;\ntry {\n  const refUrl = $('Extract Reference URL').item.json.ref_image_url;\n  if (refUrl) {\n    await downloadToFile(refUrl, refN8n);\n    if (fs.statSync(refN8n).size > 1000) hasRef = true;\n  }\n} catch(e) {}\n\nconst config = JSON.stringify({\n  bg_path:     bgMnm,\n  ref_path:    hasRef ? refMnm : '',\n  output_path: outMnm,\n  headline:    factData.headline,\n  highlights:  factData.highlights || []\n});\nreturn [{ json: {\n  config, jobId, outN8n,\n  rowIndex:          factData.rowIndex,\n  sheetRowId:        factData.sheetRowId,\n  headline:          factData.headline,\n  facebook_caption:  factData.facebook_caption,\n  linkedin_caption:  factData.linkedin_caption,\n  instagram_caption: factData.instagram_caption,\n  tiktok_caption:    factData.tiktok_caption\n} }];"},"id":"n14","name":"Write Images to Volume","type":"n8n-nodes-base.code","typeVersion":2,"position":[3520,0]},{"parameters":{"jsCode":"const { execSync, spawnSync } = require('child_process');\nconst config = $input.item.json.config;\nconst ts = Date.now();\nconst tmpCfg = '/tmp/qpc_cfg_' + ts + '.json';\n\n// Write config via stdin — avoids all shell quoting issues (single quotes, etc.)\nconst write = spawnSync('docker', ['exec', '-i', 'qpc_manim_runner', 'bash', '-c', 'cat > ' + tmpCfg],\n  { input: config, encoding: 'utf-8', timeout: 10000 });\nif (write.status !== 0) throw new Error('Failed to write config: ' + (write.stderr || ''));\n\ntry {\n  const stdout = execSync('docker exec qpc_manim_runner python3 /manim/scripts/composite_physics_post.py ' + tmpCfg,\n    { encoding: 'utf-8', timeout: 300000 });\n  execSync('docker exec qpc_manim_runner rm -f ' + tmpCfg, { timeout: 5000 });\n  return [{ json: { ...$input.item.json, compositor_stdout: stdout.toString() } }];\n} catch (e) {\n  throw new Error('Compositor failed: ' + (e.stdout || e.message));\n}"},"id":"n15","name":"Run Compositor","type":"n8n-nodes-base.code","typeVersion":2,"position":[3740,0]},{"parameters":{"jsCode":"const fs = require('fs');\nconst outPath = $('Write Images to Volume').item.json.outN8n;\nif (!fs.existsSync(outPath)) throw new Error('Output not found: ' + outPath);\nconst buf = fs.readFileSync(outPath);\nconst binary = await this.helpers.prepareBinaryData(buf, 'physics_post.png', 'image/png');\nconst d = $('Write Images to Volume').item.json;\nconst now = new Date().toISOString().slice(0,10);\nreturn [{ json: {\n  fileName:          `schrodingers_cat_${now}_${d.jobId}.png`,\n  rowIndex:          d.rowIndex,\n  sheetRowId:        d.sheetRowId,\n  headline:          d.headline,\n  facebook_caption:  d.facebook_caption,\n  linkedin_caption:  d.linkedin_caption,\n  instagram_caption: d.instagram_caption,\n  tiktok_caption:    d.tiktok_caption\n}, binary: { data: binary } }];"},"id":"n16","name":"Read Output Image","type":"n8n-nodes-base.code","typeVersion":2,"position":[3960,0]},{"parameters":{"operation":"upload","name":"={{ $json.fileName }}","folderId":{"__rl":true,"value":"={{ $env.GOOGLE_DRIVE_FOLDER_ID }}","mode":"id"},"inputDataFieldName":"data","options":{}},"id":"n17","name":"Upload to Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4180,0],"credentials":{"googleDriveOAuth2Api":{"id":"OPs3jzJpnpfateNo","name":"Google Drive account"}}},{"parameters":{"jsCode":"const drive = $input.item.json;\nconst prev  = $('Read Output Image').item.json;\nreturn [{ json: {\n  ...prev,\n  drive_file_id: drive.id,\n  drive_url:     `https://drive.usercontent.google.com/download?id=${drive.id}&export=download&confirm=t`\n} }];"},"id":"merge-drive-data","name":"Merge Drive & Captions","type":"n8n-nodes-base.code","typeVersion":2,"position":[4400,0]},{"parameters":{"method":"POST","url":"={{ $env.SERVER_BASE_URL }}/webhook/qpc-social-post","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"n18","name":"Trigger Social Poster","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4620,0]},{"parameters":{"jsCode":"const res = $input.item.json;\nconst fb_post_id  = res?.fb_post_id  || '';\nconst li_post_id  = res?.li_post_id  || '';\nconst driveFileId = res?.drive_file_id || '';\nconst driveUrl    = res?.drive_url    || '';\nconst headline    = $('Read Output Image').item.json.headline;\nconst rowIndex    = $('Read Output Image').item.json.rowIndex;\nconst now = new Date().toISOString();\nreturn [{ json: { rowIndex, fb_post_id, li_post_id, driveFileId, driveUrl, headline, publishedAt: now } }];"},"id":"nS4","name":"Collect Post IDs","type":"n8n-nodes-base.code","typeVersion":2,"position":[4840,0]},{"parameters":{"method":"PUT","url":"={{ `https://sheets.googleapis.com/v4/spreadsheets/1ns6J4yI4avUFvYZS1Tu97DQpy2z7t22PbA2tvUO824g/values/Image Post Queue!D${$json.rowIndex}:L${$json.rowIndex}?valueInputOption=RAW` }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ values: [[\n  'PUBLISHED',\n  '',\n  $json.headline,\n  $json.driveFileId,\n  $json.driveUrl,\n  $json.fb_post_id,\n  $json.li_post_id,\n  '',\n  $json.publishedAt\n]] }) }}","options":{}},"id":"nS5","name":"Mark PUBLISHED","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[5060,0],"credentials":{"googleDriveOAuth2Api":{"id":"OPs3jzJpnpfateNo","name":"Google Drive account"}}},{"parameters":{"jsCode":"const d = $('Read Output Image').item.json;\nconst drive = $('Upload to Google Drive').item.json;\nreturn [{ json: {\n  headline:          d.headline,\n  facebook_caption:  d.facebook_caption,\n  linkedin_caption:  d.linkedin_caption,\n  instagram_caption: d.instagram_caption,\n  tiktok_caption:    d.tiktok_caption,\n  drive_file_id:     drive.id,\n  drive_url:        `https://drive.usercontent.google.com/download?id=${drive.id}&export=download&confirm=t`,\n  rowIndex:         d.rowIndex\n} }];"},"id":"stage2-payload","name":"Generate Stage 2 Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[5280,0]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Read Sheet Rows","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Read Sheet Rows","type":"main","index":0}]]},"Manual Test Trigger":{"main":[[{"node":"Test Payload","type":"main","index":0}]]},"Test Payload":{"main":[[{"node":"Download Test BG","type":"main","index":0}]]},"Download Test BG":{"main":[[{"node":"Write Images to Volume","type":"main","index":0}]]},"Read Sheet Rows":{"main":[[{"node":"Find First Pending Topic","type":"main","index":0}]]},"Find First Pending Topic":{"main":[[{"node":"Mark PROCESSING","type":"main","index":0}]]},"Mark PROCESSING":{"main":[[{"node":"Prep Fact Payload","type":"main","index":0}]]},"Prep Fact Payload":{"main":[[{"node":"Generate Physics Fact","type":"main","index":0}]]},"Generate Physics Fact":{"main":[[{"node":"Parse Fact","type":"main","index":0}]]},"Parse Fact":{"main":[[{"node":"Prep Visual Payload","type":"main","index":0}]]},"Prep Visual Payload":{"main":[[{"node":"Build Visual Prompt","type":"main","index":0}]]},"Build Visual Prompt":{"main":[[{"node":"Prep Wavespeed Payload","type":"main","index":0}]]},"Prep Wavespeed Payload":{"main":[[{"node":"Generate Background Image","type":"main","index":0}]]},"Manual WS Poll Trigger":{"main":[[{"node":"Test WS Payload","type":"main","index":0}]]},"Test WS Payload":{"main":[[{"node":"Extract Image URL","type":"main","index":0}]]},"Generate Background Image":{"main":[[{"node":"Poll Wavespeed Result","type":"main","index":0}]]},"Poll Wavespeed Result":{"main":[[{"node":"Extract Image URL","type":"main","index":0}]]},"Extract Image URL":{"main":[[{"node":"Download Background","type":"main","index":0}]]},"Download Background":{"main":[[{"node":"Tavily Reference Search","type":"main","index":0}]]},"Tavily Reference Search":{"main":[[{"node":"Extract Reference URL","type":"main","index":0}]]},"Extract Reference URL":{"main":[[{"node":"Download Reference Photo","type":"main","index":0}]]},"Download Reference Photo":{"main":[[{"node":"Prep Captions Payload","type":"main","index":0}]]},"Prep Captions Payload":{"main":[[{"node":"Generate Captions","type":"main","index":0}]]},"Generate Captions":{"main":[[{"node":"Parse Captions","type":"main","index":0}]]},"Parse Captions":{"main":[[{"node":"Write Images to Volume","type":"main","index":0}]]},"Write Images to Volume":{"main":[[{"node":"Run Compositor","type":"main","index":0}]]},"Run Compositor":{"main":[[{"node":"Read Output Image","type":"main","index":0}]]},"Read Output Image":{"main":[[{"node":"Upload to Google Drive","type":"main","index":0}]]},"Upload to Google Drive":{"main":[[{"node":"Merge Drive & Captions","type":"main","index":0}]]},"Merge Drive & Captions":{"main":[[{"node":"Trigger Social Poster","type":"main","index":0}]]},"Trigger Social Poster":{"main":[[{"node":"Collect Post IDs","type":"main","index":0}]]},"Collect Post IDs":{"main":[[{"node":"Mark PUBLISHED","type":"main","index":0}]]},"Mark PUBLISHED":{"main":[[{"node":"Generate Stage 2 Payload","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}