workflows/qpc_1_image_generator.json
{
  "name": "QPC 1 - Physics Image Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */2 * * *"
            }
          ]
        }
      },
      "id": "nS0",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  \"rowIndex\": 3,\n  \"sheetRowId\": \"QPC-002\",\n  \"headline\": \"In the quantum realm, electrons can 'see' a magnetic field even where the field itself is zero. This phenomenon, known as the Aharonov-Bohm effect, proves that potentials, not just forces, shape physical reality.\",\n  \"topic\": \"Aharonov-Bohm\",\n  \"highlights\": [\"quantum\", \"Aharonov-Bohm\", \"potentials\", \"reality\"],\n  \"bg_image_url\": \"https://d1q70pf5vjeyhc.cloudfront.net/predictions/16d9857c2859415f997d85df0c81502c/1.jpeg\",\n  \"facebook_caption\": \"In the quantum realm, reality behaves in ways that challenge our standard intuition. The Aharonov Bohm effect demonstrates that electrons can detect a magnetic field even if they never physically enter the region where that field exists. This discovery shifted our understanding of physics by proving that electromagnetic potentials are more than just mathematical tools. They are physical realities that can influence particles from a distance. By observing these subtle shifts in electron paths, scientists have confirmed the non local nature of the quantum world.\",\n  \"linkedin_caption\": \"The Aharonov Bohm effect represents a fundamental milestone in quantum mechanics and electromagnetic theory. It illustrates that charged particles are sensitive to the magnetic vector potential even in regions where the magnetic field strength is zero. For professionals in research and technology, this underscores the profound importance of quantum phase shifts in designing precise instrumentation. This phenomenon confirms that the physical state of a system can be altered by potentials that exert no direct classical force. Understanding these mechanisms is essential for the future of quantum computing and advanced electron interferometry.\"\n}];"
      },
      "id": "test-payload",
      "name": "Test Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -110,
        310
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.bg_image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "test-bg",
      "name": "Download Test BG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        200
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        100
      ]
    },
    {
      "parameters": {},
      "id": "manual-test-trigger",
      "name": "Manual Test Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        300
      ]
    },
    {
      "parameters": {},
      "id": "manual-ws-trigger",
      "name": "Manual WS Poll Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Test payload — skips Generate + Poll, goes straight to Extract Image URL.\n// imageUrl = final image from Wavespeed. All other fields feed downstream nodes.\nreturn [{\n  imageUrl: \"https://d2p7pge43lyniu.cloudfront.net/output/98e726ea-9107-4932-acbf-82fee64543ab.jpeg\",\n  headline: \"In the quantum realm, electrons can detect a magnetic field even where the field itself is zero — proving that potentials, not forces, shape physical reality.\",\n  topic: \"Aharonov-Bohm\",\n  highlights: [\"Aharonov-Bohm\", \"quantum\", \"electromagnetic potentials\", \"electron\", \"interference\"],\n  image_search_query: \"Aharonov-Bohm effect electron interference quantum physics\",\n  rowIndex: 2,\n  sheetRowId: \"QPC-001\"\n}];"
      },
      "id": "test-ws-payload",
      "name": "Test WS Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1870,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Image%20Topics!A2:E1000",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "id": "nS1",
      "name": "Read Sheet Rows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dwOT4VyMlmKAS9om",
          "name": "Google Drive account (new)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.item.json?.values || [];\nconst BATCH_SIZE = 1;\n// Columns: 0=ID, 1=Topic, 2=CustomHeadline, 3=Status\nconst pending = rows\n  .map((r, i) => ({ rowIndex: i + 2, id: r[0]||'', topic: r[1]||'', customHeadline: r[2]||'', status: (r[3]||'').toUpperCase().trim() }))\n  .filter(r => r.status === 'PENDING' && r.topic);\nif (pending.length === 0) {\n  return [{ json: { stop: true, reason: 'NO_PENDING_TOPICS' } }];\n}\nconst batch = pending.slice(0, BATCH_SIZE);\nreturn batch.map(t => ({ json: { stop: false, rowIndex: t.rowIndex, sheetRowId: t.id, topic: t.topic, customHeadline: t.customHeadline } }));"
      },
      "id": "nS2",
      "name": "Find First Pending Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ `https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Image%20Topics!D${$json.rowIndex}?valueInputOption=RAW` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"values\": [[\"PROCESSING\"]] }",
        "options": {}
      },
      "id": "nS3",
      "name": "Mark PROCESSING",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        660,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dwOT4VyMlmKAS9om",
          "name": "Google Drive account (new)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const factData = $('Find First Pending Topic').item.json;\nconst topic = factData.customHeadline || factData.topic;\nconst prompt = `Generate one mind-blowing lesser-known quantum physics or particle physics fact about this topic: \"${topic}\"\n\nReturn ONLY valid JSON (no markdown, no code fences):\n{\n  \"headline\": \"A mind-blowing fact in exactly 1 punchy sentence. STRICT word count: minimum 17 words, maximum 20 words — count carefully, never go below 17 or above 20.\",\n  \"topic\": \"one-word physics concept\",\n  \"highlights\": [\"Pick 3-5 single words that appear VERBATIM in the headline above and are the most important physics concepts. Only exact words from the headline — no phrases, no words not in the headline.\"],\n  \"image_search_query\": \"specific visual search query for a real photo\"\n}`;\nreturn { json: { claude_payload: {\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 1024,\n  messages: [{ role: 'user', content: prompt }]\n} } };",
        "mode": "runOnceForEachItem"
      },
      "id": "prep-fact",
      "name": "Prep Fact Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        770,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendBody": true,
        "jsonBody": "={{ JSON.stringify($json.claude_payload) }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "specifyBody": "json"
      },
      "id": "n8",
      "name": "Generate Physics Fact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        990,
        -100
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "jsCode": "function parseClaudeJSON(raw) {\n  const text = raw.trim().replace(/^```jsons*/i, \"\").replace(/^```s*/i, \"\").replace(/```s*$/i, \"\").trim();\n  return JSON.parse(text);\n}\nconst res = parseClaudeJSON($input.item.json.content[0].text);\nconst sheet = $('Find First Pending Topic').item.json;\n// Spread res first so Claude fields are set, then sheet data wins — prevents Claude from overwriting rowIndex/sheetRowId\nreturn { json: { ...res, rowIndex: sheet.rowIndex, sheetRowId: sheet.sheetRowId, topic: res.topic || sheet.topic, customHeadline: sheet.customHeadline } };",
        "mode": "runOnceForEachItem"
      },
      "id": "n9-parse",
      "name": "Parse Fact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1210,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "const fact = $input.item.json;\nconst prompt = `You are a scientific photography prompt engineer. Your job is to create image prompts that look like REAL photographs from actual physics research — not sci-fi, not fantasy, not CGI art.\n\nTopic: \"${fact.topic}\"\nHeadline: \"${fact.headline}\"\n\nGenerate a single image prompt for Seedream AI (4:5 portrait, Instagram-ready) that looks like a genuine physics photograph.\n\nSTYLE RULES — follow strictly:\n- Must look like a real photograph: documentary, National Geographic science edition, Nature journal cover, or Nobel Prize announcement photo style.\n- Real laboratory environments: CERN accelerator tunnels, MIT/Caltech quantum optics labs, particle detector halls, clean rooms, laser interferometer setups, cryogenic superconductor chambers, electron microscope suites.\n- Real equipment: vacuum chambers, laser beam splitters, optical tables with mounts, superconducting magnets (blue/silver cylinders), particle detector arrays, Josephson junction chips, ion trap hardware, photon detectors.\n- Real phenomena shown accurately: laser interference fringes on a screen, actual double-slit diffraction patterns, real electron microscope imagery of atoms, actual MRI scanner cross-sections, real particle collision tracks in bubble chambers or ATLAS detector.\n- Lighting: natural lab fluorescent overhead, soft diffused clean-room white light, or single dramatic spotlight on equipment. NO neon, NO bioluminescence, NO god rays.\n- Color palette: sterile whites, metallic silvers, cool blues of cryogenics, green laser lines, amber lab lighting — all realistic.\n- Composition: close-up macro of scientific instrument with shallow depth of field, OR wide shot of lab interior with scientist silhouette for scale, OR extreme macro of a microchip/crystal lattice.\n- STRICTLY FORBIDDEN: glowing atoms floating in space, warping grids, cosmic backgrounds, neon colors, fantasy particles, sci-fi aesthetics, CGI renders, digital art style.\n- STRICTLY ONE SINGLE PHOTOGRAPH: one continuous, unified scene shot from one camera angle. NEVER a split-screen, diptych, before/after comparison, multi-panel grid, two side-by-side images, or any divided/bordered composition. Describe only ONE shot.\n- STRICTLY NO TEXT: the scene itself must contain no signage, labels, screens with readable text, posters, or any lettering of any kind visible on equipment, walls, or monitors.\n- Bottom 30% of frame should be darker (lab floor or equipment base) for text overlay.\n- Quality tags: photorealistic, documentary photography, Canon EOS R5, 85mm lens, f/2.8, ISO 800, sharp focus, real physics laboratory.\n\nReturn ONLY valid JSON (no markdown, no code fences):\n{\n  \"visual_prompt\": \"[full detailed prompt, 80-120 words]\"\n}`;\nreturn { json: { claude_payload: {\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 600,\n  messages: [{ role: 'user', content: prompt }]\n} } };",
        "mode": "runOnceForEachItem"
      },
      "id": "prep-visual",
      "name": "Prep Visual Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.claude_payload) }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        }
      },
      "id": "n10-gemini",
      "name": "Build Visual Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1540,
        0
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "jsCode": "function parseClaudeJSON(raw) {\n  const text = raw.trim().replace(/^```json\\s*/i, \"\").replace(/^```\\s*/i, \"\").replace(/```\\s*$/i, \"\").trim();\n  return JSON.parse(text);\n}\nconst res = parseClaudeJSON($input.item.json.content[0].text);\nreturn { json: {\n  prompt: res.visual_prompt,\n  negative_prompt: 'split screen, diptych, collage, multiple panels, grid layout, two images, side-by-side comparison, divided frame, panel border, frame divider, vertical split, horizontal split, before and after, text, letters, words, labels, captions, watermark, signature, numbers, typography, annotations, diagram, infographic, chart, schematic, sign, poster, gibberish text, fake words, illegible writing, subtitles, embossed text, engraved text',\n  steps: 28,\n  guidance_scale: 4.0\n} };",
        "mode": "runOnceForEachItem"
      },
      "id": "prep-ws",
      "name": "Prep Wavespeed Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        100
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst url = $env.VASTAI_GPU1_URL;\nconst apiKey = $env.VASTAI_GPU1_API_KEY;\nconst helpers = this.helpers;\n\nfunction describeError(e) {\n  const body = e.response?.body ?? e.response?.data ?? e.cause?.response?.body ?? e.cause?.response?.data;\n  const detail = typeof body === 'string' ? body : (body ? JSON.stringify(body) : null);\n  return (e.message || 'unknown error') + (detail ? ' | body: ' + detail.slice(0, 500) : '');\n}\n\nasync function callGpu(payload, attempt) {\n  attempt = attempt || 1;\n  try {\n    return await helpers.httpRequest({\n      method: 'POST',\n      url,\n      headers: { 'X-Api-Key': apiKey, 'Content-Type': 'application/json' },\n      body: payload,\n      json: true,\n      timeout: 180000\n    });\n  } catch (e) {\n    if (attempt < 3) {\n      await new Promise(r => setTimeout(r, 5000));\n      return callGpu(payload, attempt + 1);\n    }\n    throw new Error('GPU1 generate failed after 3 attempts: ' + describeError(e));\n  }\n}\n\n// Fire all items at once — they land within the GPU server's batch window and get grouped into a single GPU pass.\nconst results = await Promise.all(items.map(item => callGpu(item.json)));\n\nreturn results.map((data, i) => {\n  if (!data || !data.image_base64) {\n    throw new Error('No image_base64 in GPU1 response (item ' + i + '): ' + JSON.stringify(data).slice(0, 300));\n  }\n  return { json: data, pairedItem: { item: i } };\n});"
      },
      "id": "n11-ws",
      "name": "Generate Background Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1870,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst imageBase64 = input.image_base64;\nif (!imageBase64) throw new Error('No image_base64 in GPU1 response: ' + JSON.stringify(input).slice(0, 300));\nlet factData = {};\ntry { factData = $('Parse Fact').item.json; } catch(e) {}\nconst merged = { ...factData, ...input };\ndelete merged.image_base64;\ndelete merged.path;\nreturn { json: { ...merged, bg_image_base64: imageBase64 } };",
        "mode": "runOnceForEachItem"
      },
      "id": "n12-url",
      "name": "Extract Image URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2310,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ api_key: $env.TAVILY_API_KEY, query: $json.image_search_query, search_depth: 'basic', include_images: true }) }}",
        "options": {}
      },
      "id": "n9",
      "name": "Tavily Reference Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2420,
        0
      ],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const res = $input.item.json;\nconst images = res?.images || [];\nconst url = images.find(u => /\\.(jpg|jpeg|png)/i.test(u)) || images[0] || '';\nreturn { json: { ...($('Extract Image URL').item.json), ref_image_url: url } };",
        "mode": "runOnceForEachItem"
      },
      "id": "n10",
      "name": "Extract Reference URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.ref_image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "n11",
      "name": "Download Reference Photo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2860,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const fact = $('Extract Image URL').item.json;\nconst prompt = `You are a science content writer for a quantum physics social media channel. Write four platform-specific captions about this fact: \"${fact.headline}\"\n\nSTRUCTURE (same for all platforms, tone varies):\n- Paragraph 1: Hook. 1-2 short punchy sentences that stop the scroll.\n- Paragraph 2: Explain it simply and clearly. 2-3 sentences max. Real-world angle.\n- Paragraph 3: Mind-blowing implication or broader meaning. 1-2 sentences. End with energy.\n- Paragraph 4: HASHTAGS only. Exactly 10 hashtags starting with #, separated by spaces.\n\nTONE PER PLATFORM:\n- FACEBOOK: conversational, wonder-driven, like talking to a curious friend.\n- LINKEDIN: confident, research-oriented, professional insight.\n- INSTAGRAM: visual, punchy, exciting. End paragraph 3 with a question.\n- TIKTOK: casual, energetic, very short punchy sentences.\n\nSTRICT RULES:\n- NEVER use em dashes or en dashes. Not a single dash used as punctuation anywhere. Use a period or comma instead.\n- No emojis. No markdown. No bold. No asterisks. No colons starting a paragraph.\n- Write like a real human, not a formal essay. Keep it short and natural.\n- Hashtags MUST use the # symbol, no exceptions.\n\nReturn ONLY valid JSON (no markdown, no code fences):\n{\n  \"facebook_caption\": \"...\",\n  \"linkedin_caption\": \"...\",\n  \"instagram_caption\": \"...\",\n  \"tiktok_caption\": \"...\"\n}`;\nreturn { json: { claude_payload: {\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 2048,\n  messages: [{ role: 'user', content: prompt }]\n} } };",
        "mode": "runOnceForEachItem"
      },
      "id": "prep-captions",
      "name": "Prep Captions Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2970,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.claude_payload) }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        }
      },
      "id": "n12-captions",
      "name": "Generate Captions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3190,
        -100
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "jsCode": "function parseClaudeJSON(raw) {\n  const text = raw.trim().replace(/^```jsons*/i, \"\").replace(/^```s*/i, \"\").replace(/```s*$/i, \"\").trim();\n  return JSON.parse(text);\n}\nconst res = parseClaudeJSON($input.item.json.content[0].text);\nreturn { json: { ...($('Extract Image URL').item.json), ...res } };",
        "mode": "runOnceForEachItem"
      },
      "id": "n13",
      "name": "Parse Captions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst https = require('https');\nconst http = require('http');\n\nconst downloadToFile = (url, dest) => new Promise((resolve, reject) => {\n  const lib = url.startsWith('https') ? https : http;\n  const file = fs.createWriteStream(dest);\n  lib.get(url, res => {\n    if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n      file.close();\n      return downloadToFile(res.headers.location, dest).then(resolve).catch(reject);\n    }\n    res.pipe(file);\n    file.on('finish', () => file.close(resolve));\n    file.on('error', reject);\n  }).on('error', reject);\n});\n\nconst jobId = Date.now();\nconst bgN8n  = `/data/manim/scripts/qpc_bg_${jobId}.jpg`;\nconst refN8n = `/data/manim/scripts/qpc_ref_${jobId}.jpg`;\nconst outN8n = `/data/manim/renders/qpc_out_${jobId}.png`;\nconst bgMnm  = bgN8n.replace('/data/manim/scripts/','/manim/scripts/');\nconst refMnm = refN8n.replace('/data/manim/scripts/','/manim/scripts/');\nconst outMnm = outN8n.replace('/data/manim/renders/','/manim/renders/');\n\nconst factData = $input.item.json;\n\nfs.writeFileSync(bgN8n, Buffer.from(factData.bg_image_base64, 'base64'));\n\nfunction isValidImage(filePath) {\n  try {\n    const fd = fs.openSync(filePath, 'r');\n    const buf = Buffer.alloc(12);\n    fs.readSync(fd, buf, 0, 12, 0);\n    fs.closeSync(fd);\n    if (buf[0] === 0xFF && buf[1] === 0xD8 && buf[2] === 0xFF) return true; // JPEG\n    if (buf[0] === 0x89 && buf[1] === 0x50 && buf[2] === 0x4E && buf[3] === 0x47) return true; // PNG\n    if (buf[0] === 0x47 && buf[1] === 0x49 && buf[2] === 0x46) return true; // GIF\n    if (buf[0] === 0x52 && buf[1] === 0x49 && buf[2] === 0x46 && buf[3] === 0x46) return true; // WEBP (RIFF....)\n    return false;\n  } catch (e) { return false; }\n}\n\nlet hasRef = false;\ntry {\n  const refUrl = $('Extract Reference URL').item.json.ref_image_url;\n  if (refUrl) {\n    await downloadToFile(refUrl, refN8n);\n    if (fs.statSync(refN8n).size > 1000 && isValidImage(refN8n)) {\n      hasRef = true;\n    } else {\n      console.log('Reference photo invalid (not a real image) — skipping: ' + refUrl);\n    }\n  }\n} catch (e) {}\n\nconst config = JSON.stringify({\n  bg_path:     bgMnm,\n  ref_path:    hasRef ? refMnm : '',\n  output_path: outMnm,\n  headline:    factData.headline,\n  highlights:  factData.highlights || []\n});\nreturn { json: {\n  config, jobId, outN8n,\n  rowIndex:          factData.rowIndex,\n  sheetRowId:        factData.sheetRowId,\n  headline:          factData.headline,\n  facebook_caption:  factData.facebook_caption,\n  linkedin_caption:  factData.linkedin_caption,\n  instagram_caption: factData.instagram_caption,\n  tiktok_caption:    factData.tiktok_caption\n} };",
        "mode": "runOnceForEachItem"
      },
      "id": "n14",
      "name": "Write Images to Volume",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const { execSync, spawnSync } = require('child_process');\nconst config = $input.item.json.config;\nconst ts = Date.now();\nconst tmpCfg = '/tmp/qpc_cfg_' + ts + '.json';\n\n// Write config via stdin — avoids all shell quoting issues (single quotes, etc.)\nconst write = spawnSync('docker', ['exec', '-i', 'qpc_manim_runner', 'bash', '-c', 'cat > ' + tmpCfg],\n  { input: config, encoding: 'utf-8', timeout: 10000 });\nif (write.status !== 0) throw new Error('Failed to write config: ' + (write.stderr || ''));\n\ntry {\n  const stdout = execSync('docker exec qpc_manim_runner python3 /manim/scripts/composite_physics_post.py ' + tmpCfg,\n    { encoding: 'utf-8', timeout: 300000 });\n  execSync('docker exec qpc_manim_runner rm -f ' + tmpCfg, { timeout: 5000 });\n  return { json: { ...$input.item.json, compositor_stdout: stdout.toString() } };\n} catch (e) {\n  throw new Error('Compositor failed: ' + (e.stdout || e.message));\n}",
        "mode": "runOnceForEachItem"
      },
      "id": "n15",
      "name": "Run Compositor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3740,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst outPath = $('Write Images to Volume').item.json.outN8n;\nif (!fs.existsSync(outPath)) throw new Error('Output not found: ' + outPath);\nconst buf = fs.readFileSync(outPath);\nconst binary = await this.helpers.prepareBinaryData(buf, 'physics_post.png', 'image/png');\nconst d = $('Write Images to Volume').item.json;\nconst now = new Date().toISOString().slice(0,10);\nreturn { json: {\n  fileName:          `schrodingers_cat_${now}_${d.jobId}.png`,\n  rowIndex:          d.rowIndex,\n  sheetRowId:        d.sheetRowId,\n  headline:          d.headline,\n  facebook_caption:  d.facebook_caption,\n  linkedin_caption:  d.linkedin_caption,\n  instagram_caption: d.instagram_caption,\n  tiktok_caption:    d.tiktok_caption\n}, binary: { data: binary } };",
        "mode": "runOnceForEachItem"
      },
      "id": "n16",
      "name": "Read Output Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3960,
        0
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.fileName }}",
        "folderId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_DRIVE_FOLDER_ID_IMAGES }}",
          "mode": "id"
        },
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "n17",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4180,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dwOT4VyMlmKAS9om",
          "name": "Google Drive account (new)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const drive = $input.item.json;\nconst prev  = $('Read Output Image').item.json;\nreturn { json: {\n  ...prev,\n  drive_file_id: drive.id,\n  drive_url:     `https://drive.usercontent.google.com/download?id=${drive.id}&export=download&confirm=t`\n} };",
        "mode": "runOnceForEachItem"
      },
      "id": "merge-drive-data",
      "name": "Merge Drive & Captions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Image%20Post%20Queue!A:M:append?valueInputOption=RAW&insertDataOption=INSERT_ROWS",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: [[ $json.sheetRowId || '', $('Parse Fact').first().json.topic || '', '', 'READY', JSON.stringify({ facebook: $json.facebook_caption, linkedin: $json.linkedin_caption, instagram: $json.instagram_caption, tiktok: $json.tiktok_caption }), $json.headline, $json.drive_file_id, $json.drive_url, '', '', '', '', new Date().toISOString() ]] }) }}",
        "options": {}
      },
      "id": "nS5",
      "name": "Mark READY",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5060,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dwOT4VyMlmKAS9om",
          "name": "Google Drive account (new)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "q1-c1",
              "leftValue": "={{ $json.stop }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "q1-if",
      "name": "IF Should Continue",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconsole.log('QPC1 drain finished. Reason: ' + data.reason);\nreturn [{ json: { summary: 'qpc1_idle', ...data } }];"
      },
      "id": "q1-summary",
      "name": "QPC1 Drain Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qpc1-image-next",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "q1-webhook",
      "name": "QPC1 Self-Chain Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -200,
        -300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5679/webhook/qpc1-image-next",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "q1-trigger-next",
      "name": "Trigger Next Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5060,
        150
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Sheet Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Sheet Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Test Trigger": {
      "main": [
        [
          {
            "node": "Test Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Payload": {
      "main": [
        [
          {
            "node": "Download Test BG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Test BG": {
      "main": [
        [
          {
            "node": "Write Images to Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sheet Rows": {
      "main": [
        [
          {
            "node": "Find First Pending Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find First Pending Topic": {
      "main": [
        [
          {
            "node": "IF Should Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark PROCESSING": {
      "main": [
        [
          {
            "node": "Prep Fact Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Fact Payload": {
      "main": [
        [
          {
            "node": "Generate Physics Fact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Physics Fact": {
      "main": [
        [
          {
            "node": "Parse Fact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Fact": {
      "main": [
        [
          {
            "node": "Prep Visual Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Visual Payload": {
      "main": [
        [
          {
            "node": "Build Visual Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Visual Prompt": {
      "main": [
        [
          {
            "node": "Prep Wavespeed Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Wavespeed Payload": {
      "main": [
        [
          {
            "node": "Generate Background Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual WS Poll Trigger": {
      "main": [
        [
          {
            "node": "Test WS Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test WS Payload": {
      "main": [
        [
          {
            "node": "Extract Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Background Image": {
      "main": [
        [
          {
            "node": "Extract Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image URL": {
      "main": [
        [
          {
            "node": "Tavily Reference Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Reference Search": {
      "main": [
        [
          {
            "node": "Extract Reference URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reference URL": {
      "main": [
        [
          {
            "node": "Download Reference Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Reference Photo": {
      "main": [
        [
          {
            "node": "Prep Captions Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Captions Payload": {
      "main": [
        [
          {
            "node": "Generate Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Captions": {
      "main": [
        [
          {
            "node": "Parse Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Captions": {
      "main": [
        [
          {
            "node": "Write Images to Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Images to Volume": {
      "main": [
        [
          {
            "node": "Run Compositor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Compositor": {
      "main": [
        [
          {
            "node": "Read Output Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Output Image": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Merge Drive & Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Drive & Captions": {
      "main": [
        [
          {
            "node": "Mark READY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark READY": {
      "main": [
        [
          {
            "node": "Trigger Next Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Should Continue": {
      "main": [
        [
          {
            "node": "Mark PROCESSING",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "QPC1 Drain Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QPC1 Self-Chain Webhook": {
      "main": [
        [
          {
            "node": "Read Sheet Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "qpc-image-generator"
}