workflows/seedancehighnice-stage2.json
{
  "name": "Seedance High Nice - Stage 2 - Video + Audio + Captions",
  "nodes": [
    {
      "parameters": {},
      "id": "shn2-n0",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  \"job_id\": \"SHN-64718870\",\n  \"row_num\": \"87\",\n  \"status\": \"Approved\",\n  \"category\": \"Human Body\",\n  \"topic\": \"Bones Are Alive\",\n  \"myth\": \"Bones are dead rigid structures\",\n  \"twist\": \"Your bones are living organs with blood supply, nerve endings, and immune function — constantly rebuilding\",\n  \"emotional_hook\": \"Reframe / Awe\",\n  \"hook_word\": \"YOUR BONES ARE\",\n  \"subject\": \"Person standing strong, powerful stance\",\n  \"environment\": \"Dramatic landscape or neutral strong setting\",\n  \"camera_move\": \"Low angle hero shot, full figure\",\n  \"lighting_style\": \"Dramatic strong lighting, hero quality\",\n  \"energy_vein_location\": \"Entire skeleton — living and pulsing\",\n  \"seedance_ref_prompt\": \"Cinematic 4K, 9:16, 10s. A person stands in powerful stance against dramatic backdrop. Golden-orange energy veins pulse through their entire visible skeleton — not dead bone but living pulsing tissue. Dramatic hero lighting. Low angle. ARRI ALEXA grade.\",\n  \"script_opening_line\": \"Your skeleton isn't dead. It has blood vessels, nerve endings, and it's rebuilding itself right now.\",\n  \"cta_ref\": \"Follow for anatomy facts that change how you see your own body.\",\n  \"hashtags_ref\": \"#bones #skeleton #anatomy #humanbody #mindblown\",\n  \"est_virality\": \"⭐⭐⭐⭐\",\n  \"priority\": \"Medium\",\n  \"sheet_row\": 88,\n  \"source\": \"google_sheet\",\n  \"num_clips\": 6,\n  \"clip_dur_sec\": 5,\n  \"word_target\": 80,\n  \"start_time\": 1778764719548,\n  \"narration\": \"Bones are often perceived as inert, rigid structures. They seem like static scaffolding, a permanent framework. This view suggests they are simply dead material, unchanging once formed. No life, no dynamic processes. In reality, bones are living organs. They possess intricate blood supplies and active nerve endings. Bone tissue constantly rebuilds itself. Old cells dissolve as new, stronger material forms continuously. This continuous regeneration makes the entire skeleton a vibrant, dynamic system. It is a marvel of constant renewal. Follow for anatomy facts that change how one sees the body.\",\n  \"opening_line\": \"Bones are often perceived as inert, rigid structures.\",\n  \"cta\": \"Follow for anatomy facts that change how one sees the body.\",\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"start_sec\": 0,\n      \"end_sec\": 5,\n      \"formula_part\": \"MYTH\",\n      \"narration_segment\": \"Bones are often perceived as inert, rigid structures. They seem like static scaffolding, a permanent framework.\",\n      \"seedance_prompt\": \"Cinematic photorealistic 4K video, 1:1 square format, 5 seconds. A person stands in a powerful, unmoving stance against a desolate, rocky landscape, their form appearing immutable and stone-like. The energy veins are present but seem trapped, glowing subtly within a seemingly impenetrable, rigid surface, hinting at life constrained. Bright molten golden-orange fire veins crack and branch visibly across Entire skeleton — living and pulsing — like glowing lava fractures or burning lightning scars — intensely luminous, the brightest element in the frame, casting warm orange light onto the surrounding surface, crackling with living energy. deep teal. Low-angle hero shot looking up from below. Volumetric god rays. Atmospheric haze. Shallow depth of field. Film grain texture. ARRI ALEXA cinematic color grade. Epic nature documentary tone. No motion blur. No text. No watermarks.\",\n      \"negative_prompt\": \"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\"\n    },\n    {\n      \"scene_number\": 2,\n      \"start_sec\": 5,\n      \"end_sec\": 10,\n      \"formula_part\": \"MYTH\",\n      \"narration_segment\": \"This view suggests they are simply dead material, unchanging once formed. No life, no dynamic processes.\",\n      \"seedance_prompt\": \"Cinematic photorealistic 4K video, 1:1 square format, 5 seconds. The person maintains their rigid, unyielding posture, their silhouette stark against a vast, empty horizon. The environment around them is desolate, reflecting the idea of dead, unchanging material. The energy veins within their form remain constant, not actively pulsing or changing in intensity, reinforcing the static myth. Bright molten golden-orange fire veins crack and branch visibly across Entire skeleton — living and pulsing — like glowing lava fractures or burning lightning scars — intensely luminous, the brightest element in the frame, casting warm orange light onto the surrounding surface, crackling with living energy. midnight blue. Side-profile slow tracking shot following movement. Volumetric god rays. Atmospheric haze. Shallow depth of field. Film grain texture. ARRI ALEXA cinematic color grade. Epic nature documentary tone. No motion blur. No text. No watermarks.\",\n      \"negative_prompt\": \"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\"\n    },\n    {\n      \"scene_number\": 3,\n      \"start_sec\": 10,\n      \"end_sec\": 15,\n      \"formula_part\": \"TWIST\",\n      \"narration_segment\": \"In reality, bones are living organs. They possess intricate blood supplies and active nerve endings.\",\n      \"seedance_prompt\": \"Cinematic photorealistic 4K video, 1:1 square format, 5 seconds. A dramatic visual shift occurs as the previously rigid, stone-like surface of the person's upper body begins to crack and glow from within. A complex, intricate network of fine, branching golden-orange filaments, representing blood vessels and nerve endings, emerges and spreads rapidly across the skin and visible bone structure, becoming intensely visible and pulsing with light. Bright molten golden-orange fire veins crack and branch visibly across Entire skeleton — living and pulsing — like glowing lava fractures or burning lightning scars — intensely luminous, the brightest element in the frame, casting warm orange light onto the surrounding surface, crackling with living energy. stormy grey. Slow dolly push-in toward the chest and rib cage area, focusing on the emergence. Volumetric god rays. Atmospheric haze. Shallow depth of field. Film grain texture. ARRI ALEXA cinematic color grade. Epic nature documentary tone. No motion blur. No text. No watermarks.\",\n      \"negative_prompt\": \"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\"\n    },\n    {\n      \"scene_number\": 4,\n      \"start_sec\": 15,\n      \"end_sec\": 20,\n      \"formula_part\": \"TWIST\",\n      \"narration_segment\": \"Bone tissue constantly rebuilds itself. Old cells dissolve as new, stronger material forms continuously.\",\n      \"seedance_prompt\": \"Cinematic photorealistic 4K video, 1:1 square format, 5 seconds. An extreme close-up on a segment of bone, perhaps a glowing joint or rib section, now clearly showing its internal structure. Old, duller bone material visibly dissolves and fragments away in slow motion, as brighter, more intensely glowing new bone tissue forms beneath it, expanding and strengthening continuously. This represents renewal and regeneration. Bright molten golden-orange fire veins crack and branch visibly across Entire skeleton — living and pulsing — like glowing lava fractures or burning lightning scars — intensely luminous, the brightest element in the frame, casting warm orange light onto the surrounding surface, crackling with living energy. misty emerald. Extreme close-up of a specific bone feature filling the entire frame. Volumetric god rays. Atmospheric haze. Shallow depth of field. Film grain texture. ARRI ALEXA cinematic color grade. Epic nature documentary tone. No motion blur. No text. No watermarks.\",\n      \"negative_prompt\": \"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\"\n    },\n    {\n      \"scene_number\": 5,\n      \"start_sec\": 20,\n      \"end_sec\": 25,\n      \"formula_part\": \"EMOTION\",\n      \"narration_segment\": \"This continuous regeneration makes the entire skeleton a vibrant, dynamic system. It is a marvel of constant renewal.\",\n      \"seedance_prompt\": \"Cinematic photorealistic 4K video, 1:1 square format, 5 seconds. The camera pulls back dramatically to reveal the full figure of the person standing against a vast, awe-inspiring, cosmic backdrop. Their entire skeleton is now vibrantly luminous, enveloped in intensely pulsing golden-orange energy veins. The previous rigid form is gone, replaced by a living, breathing, glowing entity, a marvel of dynamic, constant renewal. Bright molten golden-orange fire veins crack and branch visibly across Entire skeleton — living and pulsing — like glowing lava fractures or burning lightning scars — intensely luminous, the brightest element in the frame, casting warm orange light onto the surrounding surface, crackling with living energy. abyssal black. Wide establishing shot pulling back to reveal full environment. Volumetric god rays. Atmospheric haze. Shallow depth of field. Film grain texture. ARRI ALEXA cinematic color grade. Epic nature documentary tone. No motion blur. No text. No watermarks.\",\n      \"negative_prompt\": \"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\"\n    },\n    {\n      \"scene_number\": 6,\n      \"start_sec\": 25,\n      \"end_sec\": 30,\n      \"formula_part\": \"CTA\",\n      \"narration_segment\": \"Follow for anatomy facts that change how one sees the body.\",\n      \"seedance_prompt\": \"Cinematic photorealistic 4K video, 1:1 square format, 5 seconds. The camera is positioned directly overhead, looking straight down at the person who stands with arms outstretched, revealing the intricate, interconnected glowing network of their entire skeleton from a god's-eye view. The golden-orange energy veins trace a beautiful, complex pattern across their form and the ground beneath them, creating an iconic, memorable image of interconnected life and system. Bright molten golden-orange fire veins crack and branch visibly across Entire skeleton — living and pulsing — like glowing lava fractures or burning lightning scars — intensely luminous, the brightest element in the frame, casting warm orange light onto the surrounding surface, crackling with living energy. cold violet. Overhead god's-eye view looking straight down. Volumetric god rays. Atmospheric haze. Shallow depth of field. Film grain texture. ARRI ALEXA cinematic color grade. Epic nature documentary tone. No motion blur. No text. No watermarks.\",\n      \"negative_prompt\": \"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\"\n    }\n  ],\n  \"seedance_prompts\": [\n    \"Cinematic photorealistic 4K video, 1:1 square format, 5 seconds. A person stands in a powerful, unmoving stance against a desolate, rocky landscape, their form appearing immutable and stone-like. The energy veins are present but seem trapped, glowing subtly within a seemingly impenetrable, rigid surface, hinting at life constrained. Bright molten golden-orange fire veins crack and branch visibly across Entire skeleton — living and pulsing — like glowing lava fractures or burning lightning scars — intensely luminous, the brightest element in the frame, casting warm orange light onto the surrounding surface, crackling with living energy. deep teal. Low-angle hero shot looking up from below. Volumetric god rays. Atmospheric haze. Shallow depth of field. Film grain texture. ARRI ALEXA cinematic color grade. Epic nature documentary tone. No motion blur. No text. No watermarks.\",\n    \"Cinematic photorealistic 4K video, 1:1 square format, 5 seconds. The person maintains their rigid, unyielding posture, their silhouette stark against a vast, empty horizon. The environment around them is desolate, reflecting the idea of dead, unchanging material. The energy veins within their form remain constant, not actively pulsing or changing in intensity, reinforcing the static myth. Bright molten golden-orange fire veins crack and branch visibly across Entire skeleton — living and pulsing — like glowing lava fractures or burning lightning scars — intensely luminous, the brightest element in the frame, casting warm orange light onto the surrounding surface, crackling with living energy. midnight blue. Side-profile slow tracking shot following movement. Volumetric god rays. Atmospheric haze. Shallow depth of field. Film grain texture. ARRI ALEXA cinematic color grade. Epic nature documentary tone. No motion blur. No text. No watermarks.\",\n    \"Cinematic photorealistic 4K video, 1:1 square format, 5 seconds. A dramatic visual shift occurs as the previously rigid, stone-like surface of the person's upper body begins to crack and glow from within. A complex, intricate network of fine, branching golden-orange filaments, representing blood vessels and nerve endings, emerges and spreads rapidly across the skin and visible bone structure, becoming intensely visible and pulsing with light. Bright molten golden-orange fire veins crack and branch visibly across Entire skeleton — living and pulsing — like glowing lava fractures or burning lightning scars — intensely luminous, the brightest element in the frame, casting warm orange light onto the surrounding surface, crackling with living energy. stormy grey. Slow dolly push-in toward the chest and rib cage area, focusing on the emergence. Volumetric god rays. Atmospheric haze. Shallow depth of field. Film grain texture. ARRI ALEXA cinematic color grade. Epic nature documentary tone. No motion blur. No text. No watermarks.\",\n    \"Cinematic photorealistic 4K video, 1:1 square format, 5 seconds. An extreme close-up on a segment of bone, perhaps a glowing joint or rib section, now clearly showing its internal structure. Old, duller bone material visibly dissolves and fragments away in slow motion, as brighter, more intensely glowing new bone tissue forms beneath it, expanding and strengthening continuously. This represents renewal and regeneration. Bright molten golden-orange fire veins crack and branch visibly across Entire skeleton — living and pulsing — like glowing lava fractures or burning lightning scars — intensely luminous, the brightest element in the frame, casting warm orange light onto the surrounding surface, crackling with living energy. misty emerald. Extreme close-up of a specific bone feature filling the entire frame. Volumetric god rays. Atmospheric haze. Shallow depth of field. Film grain texture. ARRI ALEXA cinematic color grade. Epic nature documentary tone. No motion blur. No text. No watermarks.\",\n    \"Cinematic photorealistic 4K video, 1:1 square format, 5 seconds. The camera pulls back dramatically to reveal the full figure of the person standing against a vast, awe-inspiring, cosmic backdrop. Their entire skeleton is now vibrantly luminous, enveloped in intensely pulsing golden-orange energy veins. The previous rigid form is gone, replaced by a living, breathing, glowing entity, a marvel of dynamic, constant renewal. Bright molten golden-orange fire veins crack and branch visibly across Entire skeleton — living and pulsing — like glowing lava fractures or burning lightning scars — intensely luminous, the brightest element in the frame, casting warm orange light onto the surrounding surface, crackling with living energy. abyssal black. Wide establishing shot pulling back to reveal full environment. Volumetric god rays. Atmospheric haze. Shallow depth of field. Film grain texture. ARRI ALEXA cinematic color grade. Epic nature documentary tone. No motion blur. No text. No watermarks.\",\n    \"Cinematic photorealistic 4K video, 1:1 square format, 5 seconds. The camera is positioned directly overhead, looking straight down at the person who stands with arms outstretched, revealing the intricate, interconnected glowing network of their entire skeleton from a god's-eye view. The golden-orange energy veins trace a beautiful, complex pattern across their form and the ground beneath them, creating an iconic, memorable image of interconnected life and system. Bright molten golden-orange fire veins crack and branch visibly across Entire skeleton — living and pulsing — like glowing lava fractures or burning lightning scars — intensely luminous, the brightest element in the frame, casting warm orange light onto the surrounding surface, crackling with living energy. cold violet. Overhead god's-eye view looking straight down. Volumetric god rays. Atmospheric haze. Shallow depth of field. Film grain texture. ARRI ALEXA cinematic color grade. Epic nature documentary tone. No motion blur. No text. No watermarks.\"\n  ],\n  \"negative_prompts\": [\n    \"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\",\n    \"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\",\n    \"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\",\n    \"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\",\n    \"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\",\n    \"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\"\n  ],\n  \"title\": \"Bones: Dead Stone or Living Fire?\",\n  \"hashtags\": \"#bones #skeleton #anatomy #humanbody #mindblown #livingbones #bodyscience #reframe\",\n  \"highlight_keywords\": [\n    \"Bones\",\n    \"Living Organs\",\n    \"Rebuilding\",\n    \"Skeleton\",\n    \"Awe\"\n  ]\n} }];"
      },
      "id": "shn2-n0b",
      "name": "Test Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seedancehighnice-stage2",
        "options": {}
      },
      "id": "shn2-n1",
      "name": "Stage 2 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "webhookId": "seedancehighnice-stage2-gen"
    },
    {
      "parameters": {
        "jsCode": "const raw  = $input.first().json;\nconst body = (raw.body !== undefined) ? raw.body : raw;\n\nif (!body.job_id)  throw new Error('Missing job_id from Stage 1');\nif (!body.scenes || !Array.isArray(body.scenes) || body.scenes.length === 0)\n  throw new Error('Missing scenes[] from Stage 1');\nif (!body.narration) throw new Error('Missing narration from Stage 1');\n\nconst MAX_CLIPS = 6;\nconst scenes = body.scenes.slice(0, MAX_CLIPS).map((s, i) => ({\n  ...s,\n  scene_number: i + 1,\n  start_sec: i * 5,\n  end_sec:   (i + 1) * 5,\n  seedance_prompt: (s.seedance_prompt || '')\n    .replace(/\\b10 seconds\\b/gi, '5 seconds')\n    .replace(/\\b10s\\b/gi, '5s')\n}));\n\nconst wsKey = $env.WAVESPEED_API_KEY || '';\nif (!wsKey) console.warn('WARNING: WAVESPEED_API_KEY not set — Seedance calls will fail');\n\nconsole.log('Stage 2 start | job:', body.job_id, '| scenes:', scenes.length, '| topic:', body.topic);\n\nreturn [{ json: {\n  ...body,\n  scenes,\n  num_clips:    scenes.length,\n  clip_dur_sec: 5,\n  ws_key:       wsKey\n}}];"
      },
      "id": "shn2-n2",
      "name": "Extract & Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs            = require('fs');\nconst { execSync }  = require('child_process');\n\nconst jobData = $('Extract & Prepare').first().json;\nconst jobId   = jobData.job_id;\nconst narration = (jobData.narration || '').substring(0, 3000);\nconst n8nIn   = '/data/ffmpeg/input';\n\nif (!fs.existsSync(n8nIn)) fs.mkdirSync(n8nIn, { recursive: true });\n\n// Write narration to file — avoids all escaping problems\nconst narrationFile = n8nIn + '/' + jobId + '_narration.txt';\nfs.writeFileSync(narrationFile, narration, 'utf8');\n\n// Write Python script to shared volume\nconst scriptPath  = n8nIn + '/' + jobId + '_tts.py';\nconst containerBase = '/ffmpeg/input/' + jobId;\n\nconst pythonScript = `import asyncio, edge_tts, json\n\nasync def main():\n    with open('${containerBase}_narration.txt', 'r', encoding='utf-8') as f:\n        narration = f.read()\n    job_id = '${jobId}'\n\n    comm = edge_tts.Communicate(narration, voice='en-US-EmmaNeural', rate='-5%', pitch='+2Hz')\n    audio_bytes = b''\n    sentences = []\n\n    async for chunk in comm.stream():\n        if chunk['type'] == 'audio':\n            audio_bytes += chunk['data']\n        elif chunk['type'] == 'SentenceBoundary':\n            sentences.append({\n                'text': chunk['text'],\n                'start': chunk['offset'] / 10000000,\n                'end': (chunk['offset'] + chunk['duration']) / 10000000\n            })\n\n    audio_path = '/ffmpeg/input/' + job_id + '_voice.mp3'\n    with open(audio_path, 'wb') as f:\n        f.write(audio_bytes)\n\n    word_timings = []\n    if sentences:\n        for sent in sentences:\n            sent_words = sent['text'].strip().split()\n            if not sent_words:\n                continue\n            duration = sent['end'] - sent['start']\n            total_chars = sum(len(w) for w in sent_words)\n            cursor = sent['start']\n            for w in sent_words:\n                word_dur = (len(w) / max(total_chars, 1)) * duration\n                word_timings.append({\n                    'word': w.rstrip('.,!?;:'),\n                    'start': round(cursor, 3),\n                    'end': round(cursor + word_dur, 3)\n                })\n                cursor += word_dur\n    else:\n        cursor = 0.1\n        for w in narration.strip().split():\n            dur = 0.38 * (0.8 + len(w) * 0.04)\n            word_timings.append({'word': w, 'start': round(cursor, 3), 'end': round(cursor + dur, 3)})\n            cursor += dur\n\n    audio_duration = sentences[-1]['end'] + 0.5 if sentences else (word_timings[-1]['end'] + 0.5 if word_timings else 30)\n\n    result = {'audio_path': audio_path, 'audio_duration': round(audio_duration, 3), 'word_timings': word_timings}\n    with open('/ffmpeg/input/' + job_id + '_timings.json', 'w') as f:\n        json.dump(result, f)\n    print('Words:', len(word_timings), '| Duration:', round(audio_duration, 2), 's | Voice: en-US-AnaNeural')\n\nasyncio.run(main())\n`;\n\nfs.writeFileSync(scriptPath, pythonScript);\nconsole.log('Running edge-tts for job:', jobId);\n\nconst containerScript = '/ffmpeg/input/' + jobId + '_tts.py';\nconst out = execSync('docker exec qpc_ffmpeg_runner python3 \"' + containerScript + '\"', { timeout: 90000 }).toString();\nconsole.log('edge-tts:', out.trim());\n\nconst timingsPath = n8nIn + '/' + jobId + '_timings.json';\nconst result = JSON.parse(fs.readFileSync(timingsPath, 'utf8'));\n\nreturn [{ json: result }];"
      },
      "id": "shn2-n3",
      "name": "edge-tts Generate Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const jobData   = $('Extract & Prepare').first().json;\nconst ttsResult = $input.first().json;\n\nif (!ttsResult.audio_path) throw new Error('edge-tts did not produce audio_path');\nif (!ttsResult.word_timings || ttsResult.word_timings.length === 0) throw new Error('edge-tts produced no word timings');\n\nconsole.log('Voice ready | words:', ttsResult.word_timings.length, '| duration:', ttsResult.audio_duration + 's');\n\nreturn [{ json: {\n  ...jobData,\n  audio_path:     ttsResult.audio_path,\n  audio_duration: ttsResult.audio_duration,\n  word_timings:   ttsResult.word_timings\n}}];"
      },
      "id": "shn2-n4",
      "name": "Save Audio & Parse Timings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst data   = $input.first().json;\nconst scenes = data.scenes || [];\nconst wsKey  = data.ws_key || $env.WAVESPEED_API_KEY;\n\nif (!wsKey) throw new Error('WAVESPEED_API_KEY not set. Add it in n8n → Settings → Environment Variables.');\n\nfunction apiPost(body) {\n  return new Promise((resolve, reject) => {\n    const buf = Buffer.from(JSON.stringify(body));\n    const req = https.request({\n      hostname: 'api.wavespeed.ai',\n      path: '/api/v3/bytedance/seedance-v1-lite-t2v-720p',\n      method: 'POST',\n      headers: { 'Authorization': 'Bearer ' + wsKey, 'Content-Type': 'application/json', 'Content-Length': buf.length }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => { try { resolve(JSON.parse(Buffer.concat(chunks).toString())); } catch(e) { reject(new Error('Bad JSON from Wavespeed')); } });\n    });\n    req.on('error', reject);\n    req.write(buf);\n    req.end();\n  });\n}\n\nconst promises = scenes.map((scene) => {\n  const prompt = (scene.seedance_prompt || '')\n    .replace(/\\b10 seconds\\b/gi, '5 seconds')\n    .replace(/\\b10s\\b/gi, '5s');\n  return apiPost({ prompt, duration: 5, aspect_ratio: '1:1', seed: -1 });\n});\n\nconst results = await Promise.all(promises);\nconst seedance_job_ids = [];\n\nfor (let i = 0; i < results.length; i++) {\n  const r = results[i];\n  if (!r.data || !r.data.id) throw new Error('Scene ' + (i+1) + ' submit failed: ' + JSON.stringify(r).slice(0, 200));\n  seedance_job_ids.push(r.data.id);\n  console.log('[' + (i+1) + '/' + scenes.length + '] submitted → ' + r.data.id);\n}\n\nconsole.log('All ' + seedance_job_ids.length + ' scenes submitted. Waiting for generation...');\nreturn [{ json: { ...data, seedance_job_ids, video_urls: new Array(scenes.length).fill(null), poll_attempt: 0, all_done: 0, submitted_at: Date.now() } }];"
      },
      "id": "shn2-n5",
      "name": "Submit Seedance Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        300
      ]
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "shn2-n6a",
      "name": "Wait 20 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1220,
        300
      ],
      "webhookId": "shn2-poll-resume"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst data    = $input.first().json;\nconst wsKey   = data.ws_key || $env.WAVESPEED_API_KEY;\nconst jobIds  = data.seedance_job_ids || [];\nconst video_urls = [...(data.video_urls || [])];\nconst attempt = (data.poll_attempt || 0) + 1;\n\nif (!wsKey) throw new Error('WAVESPEED_API_KEY not set.');\n\nconsole.log('━━━ Poll attempt #' + attempt + ' (' + jobIds.length + ' clips) ━━━');\n\nfunction apiGet(taskId) {\n  return new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: 'api.wavespeed.ai',\n      path: '/api/v3/predictions/' + taskId + '/result',\n      method: 'GET',\n      headers: { 'Authorization': 'Bearer ' + wsKey }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => { try { resolve(JSON.parse(Buffer.concat(chunks).toString())); } catch(e) { reject(new Error('Non-JSON from Wavespeed')); } });\n    });\n    req.on('error', reject);\n    req.end();\n  });\n}\n\nfor (let i = 0; i < jobIds.length; i++) {\n  if (video_urls[i] !== null) { console.log('Scene ' + (i+1) + ' already done, skipping'); continue; }\n  const r = await apiGet(jobIds[i]);\n  const status = (r.data && r.data.status) || 'unknown';\n  const pct    = r.data && r.data.progress != null ? ' (' + r.data.progress + '%)' : '';\n  console.log('Scene ' + (i+1) + '/' + jobIds.length + ' → ' + status + pct);\n  if (status === 'completed') {\n    const url = r.data.outputs && r.data.outputs[0];\n    if (!url) throw new Error('Scene ' + (i+1) + ' completed but output URL missing');\n    video_urls[i] = url;\n    console.log('  ✓ ' + url.split('?')[0]);\n  } else if (status === 'failed') {\n    throw new Error('Scene ' + (i+1) + ' FAILED: ' + JSON.stringify(r.data));\n  }\n}\n\nconst done  = video_urls.filter(u => u !== null).length;\nconst total = jobIds.length;\nconst all_done = done === total ? 1 : 0;\nconsole.log('Progress: ' + done + '/' + total + ' clips ready' + (all_done ? ' — ALL DONE!' : ' — next poll in 20s...'));\n\nreturn [{ json: { ...data, video_urls, poll_attempt: attempt, all_done } }];"
      },
      "id": "shn2-n6b",
      "name": "Check Seedance Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "shn2-alldone-cond",
              "leftValue": "={{ $json.all_done }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "shn2-n6c",
      "name": "All Clips Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst fs      = require('fs');\nconst data    = $input.first().json;\nconst jobId   = data.job_id;\nconst urls    = data.video_urls || [];\nconst n8nIn   = '/data/ffmpeg/input';\nconst contIn  = '/ffmpeg/input';\n\nif (!fs.existsSync(n8nIn)) fs.mkdirSync(n8nIn, { recursive: true });\n\nconst clipPaths = [];\n\nfor (let i = 0; i < urls.length; i++) {\n  const url       = urls[i];\n  const fileName  = jobId + '_scene' + (i + 1) + '.mp4';\n  const n8nPath   = n8nIn  + '/' + fileName;\n  const contPath  = contIn + '/' + fileName;\n  \n  // Download via docker container's curl\n  const dlCmd = 'docker exec qpc_ffmpeg_runner curl -sL -o \"' + contPath + '\" \"' + url + '\" && echo DL_OK';\n  const result = execSync(dlCmd, { encoding: 'utf-8', timeout: 120000 });\n  \n  if (!result.includes('DL_OK'))\n    throw new Error('Download failed for scene ' + (i+1) + ': ' + url);\n  \n  if (!fs.existsSync(n8nPath))\n    throw new Error('File not on disk after download: ' + n8nPath);\n  \n  clipPaths.push(n8nPath);\n  console.log('Clip ' + (i+1) + ' saved: ' + fileName);\n}\n\nreturn [{ json: { ...data, clip_paths: clipPaths } }];"
      },
      "id": "shn2-n7",
      "name": "Download Seedance Clips",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs           = require('fs');\nconst data         = $input.first().json;\nconst jobId        = data.job_id;\nconst wordTimings  = data.word_timings || [];\nconst hlKeywords   = (data.highlight_keywords || []).map(w => w.toLowerCase().replace(/[^a-z0-9]/g, ''));\nconst n8nIn        = '/data/ffmpeg/input';\n\nfunction toASS(sec) {\n  if (sec === null || sec === undefined || isNaN(sec)) sec = 0;\n  const h  = Math.floor(sec / 3600);\n  const m  = Math.floor((sec % 3600) / 60);\n  const s  = Math.floor(sec % 60);\n  const cs = Math.round((sec % 1) * 100);\n  return h + ':' + String(m).padStart(2,'0') + ':' + String(s).padStart(2,'0') + '.' + String(cs).padStart(2,'0');\n}\n\n// ASS colour format: BGR  — yellow = B:00 G:FF R:FF = &H00FFFF&\n// No \\t() mixed with \\c — keeps libass happy\nconst Y = '{\\\\c&H00FFFF&}';  // yellow\nconst W = '{\\\\c&HFFFFFF&}';  // white\n\n// Square content area: y=420..1499 inside 1080x1920\n// With alignment=2 (bottom-centre), dialogue MarginV controls position:\n//   text_bottom_y = PlayResY - MarginV  →  1920 - 450 = 1470  (29px above content edge)\n// For j=0 only: add \\move tag so the group slides up on first word (pop-in once per group)\n// j>0 words: NO position tag — MarginV alone holds them steady at y=1470\n\nconst CHUNK = 3;\nconst dialogueLines = [];\n\nfor (let i = 0; i < wordTimings.length; i += CHUNK) {\n  const chunk      = wordTimings.slice(i, Math.min(i + CHUNK, wordTimings.length));\n  const chunkWords = chunk.map(w => w.word);\n\n  for (let j = 0; j < chunk.length; j++) {\n    const wStart = chunk[j].start;\n    const wEnd   = chunk[j].end;\n\n    // Active word yellow, others white\n    const parts = chunkWords.map((w, k) => (k === j ? Y : W) + w).join(' ') + W;\n\n    // j=0: slide group up from y=1495 → y=1470 (MarginV 425→450 equivalent via move)\n    // j>0: no position tag — MarginV=450 keeps text at y=1470 without re-animating\n    const moveTag = (j === 0) ? '{\\\\move(540,1495,540,1470,0,200)}' : '';\n\n    // MarginV=450 in dialogue line overrides style MarginV → text bottom at 1920-450=1470\n    dialogueLines.push(\n      'Dialogue: 0,' + toASS(wStart) + ',' + toASS(wEnd) + ',Caption,,0,0,450,,' + moveTag + parts\n    );\n  }\n}\n\nconst assContent = [\n  '[Script Info]',\n  'Title: SHN Captions',\n  'ScriptType: v4.00+',\n  'WrapStyle: 2',\n  'PlayResX: 1080',\n  'PlayResY: 1920',\n  '',\n  '[V4+ Styles]',\n  'Format: Name, Fontname, Fontsize, PrimaryColour, SecondaryColour, OutlineColour, BackColour, Bold, Italic, Underline, StrikeOut, ScaleX, ScaleY, Spacing, Angle, BorderStyle, Outline, Shadow, Alignment, MarginL, MarginR, MarginV, Encoding',\n  'Style: Caption,Arial,52,&H00FFFFFF,&H000000FF,&H00000000,&H80000000,-1,0,0,0,100,100,0,0,1,3,0,2,30,30,60,1',\n  '',\n  '[Events]',\n  'Format: Layer, Start, End, Style, Name, MarginL, MarginR, MarginV, Effect, Text',\n  ...dialogueLines\n].join('\\n');\n\nconst assPath = n8nIn + '/' + jobId + '_captions.ass';\nfs.writeFileSync(assPath, assContent, 'utf8');\nconsole.log('Captions: ' + dialogueLines.length + ' lines | y=1470 (content area) | yellow active word');\nreturn [{ json: { ...data, ass_path: assPath } }];"
      },
      "id": "shn2-n8",
      "name": "Build Karaoke ASS Captions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: {\n  job_id:               data.job_id,\n  topic:                data.topic,\n  category:             data.category,\n  title:                data.title,\n  hashtags:             data.hashtags,\n  narration:            data.narration,\n  opening_line:         data.opening_line,\n  cta:                  data.cta,\n  clip_paths:           data.clip_paths,\n  num_clips:            data.num_clips,\n  clip_dur_sec:         data.clip_dur_sec,\n  audio_path:           data.audio_path,\n  audio_duration:       data.audio_duration,\n  word_timings:         data.word_timings,\n  scenes:               data.scenes || [],\n  ass_path:             data.ass_path,\n  highlight_keywords:   data.highlight_keywords,\n  sheet_row:            data.sheet_row,\n  start_time:           data.start_time,\n  subject:              data.subject || '',\n  energy_vein_location: data.energy_vein_location || ''\n}}];"
      },
      "id": "shn2-n9",
      "name": "Build Stage 3 Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5679/webhook/seedancehighnice-stage3",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "shn2-n10",
      "name": "POST to Stage 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2180,
        300
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/1Y3BGFJ12-cZSouM92XifTm4tTPq020DtJhHQWiwFhiM/values/Content%20Topics!B' + $('Build Stage 3 Payload').first().json.sheet_row + '?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ majorDimension: 'ROWS', values: [['ASSEMBLING']] }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "shn2-n11",
      "name": "Mark ASSEMBLING in Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        2420,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fLI61c72irobLACJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "shn2-n0e",
      "name": "Next Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"job_id\": \"SHN-64718870\",\n    \"row_num\": \"87\",\n    \"status\": \"Approved\",\n    \"category\": \"Human Body\",\n    \"topic\": \"Bones Are Alive\",\n    \"myth\": \"Bones are dead rigid structures\",\n    \"twist\": \"Your bones are living organs with blood supply, nerve endings, and immune function — constantly rebuilding\",\n    \"emotional_hook\": \"Reframe / Awe\",\n    \"hook_word\": \"YOUR BONES ARE\",\n    \"subject\": \"Person standing strong, powerful stance\",\n    \"environment\": \"Dramatic landscape or neutral strong setting\",\n    \"camera_move\": \"Low angle hero shot, full figure\",\n    \"lighting_style\": \"Dramatic strong lighting, hero quality\",\n    \"energy_vein_location\": \"Entire skeleton — living and pulsing\",\n    \"seedance_ref_prompt\": \"Cinematic 4K, 9:16, 10s. A person stands in powerful stance against dramatic backdrop. Golden-orange energy veins pulse through their entire visible skeleton — not dead bone but living pulsing tissue. Dramatic hero lighting. Low angle. ARRI ALEXA grade.\",\n    \"script_opening_line\": \"Your skeleton isn't dead. It has blood vessels, nerve endings, and it's rebuilding itself right now.\",\n    \"cta_ref\": \"Follow for anatomy facts that change how you see your own body.\",\n    \"hashtags_ref\": \"#bones #skeleton #anatomy #humanbody #mindblown\",\n    \"est_virality\": \"⭐⭐⭐⭐\",\n    \"priority\": \"Medium\",\n    \"sheet_row\": 88,\n    \"source\": \"google_sheet\",\n    \"num_clips\": 6,\n    \"clip_dur_sec\": 5,\n    \"word_target\": 80,\n    \"start_time\": 1778764719548,\n    \"narration\": \"Bones are often perceived as inert, rigid structures. They seem like static scaffolding, a permanent framework. This view suggests they are simply dead material, unchanging once formed. No life, no dynamic processes. In reality, bones are living organs. They possess intricate blood supplies and active nerve endings. Bone tissue constantly rebuilds itself. Old cells dissolve as new, stronger material forms continuously. This continuous regeneration makes the entire skeleton a vibrant, dynamic system. It is a marvel of constant renewal. Follow for anatomy facts that change how one sees the body.\",\n    \"opening_line\": \"Bones are often perceived as inert, rigid structures.\",\n    \"cta\": \"Follow for anatomy facts that change how one sees the body.\",\n    \"scenes\": [\n      {\n        \"scene_number\": 1,\n        \"start_sec\": 0,\n        \"end_sec\": 5,\n        \"formula_part\": \"MYTH\",\n        \"narration_segment\": \"Bones are often perceived as inert, rigid structures. They seem like static scaffolding, a permanent framework.\",\n        \"seedance_prompt\": \"Cinematic photorealistic 4K video, 1:1 square format, 5 seconds. A person stands in a powerful, unmoving stance against a desolate, rocky landscape, their form appearing immutable and stone-like. The energy veins are present but seem trapped, glowing subtly within a seemingly impenetrable, rigid surface, hinting at life constrained. Bright molten golden-orange fire veins crack and branch visibly across Entire skeleton — living and pulsing — like glowing lava fractures or burning lightning scars — intensely luminous, the brightest element in the frame, casting warm orange light onto the surrounding surface, crackling with living energy. deep teal. Low-angle hero shot looking up from below. Volumetric god rays. Atmospheric haze. Shallow depth of field. Film grain texture. ARRI ALEXA cinematic color grade. Epic nature documentary tone. No motion blur. No text. No watermarks.\",\n        \"negative_prompt\": \"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\"\n      },\n      {\n        \"scene_number\": 2,\n        \"start_sec\": 5,\n        \"end_sec\": 10,\n        \"formula_part\": \"MYTH\",\n        \"narration_segment\": \"This view suggests they are simply dead material, unchanging once formed. No life, no dynamic processes.\",\n        \"seedance_prompt\": \"Cinematic photorealistic 4K video, 1:1 square format, 5 seconds. The person maintains their rigid, unyielding posture, their silhouette stark against a vast, empty horizon. The environment around them is desolate, reflecting the idea of dead, unchanging material. The energy veins within their form remain constant, not actively pulsing or changing in intensity, reinforcing the static myth. Bright molten golden-orange fire veins crack and branch visibly across Entire skeleton — living and pulsing — like glowing lava fractures or burning lightning scars — intensely luminous, the brightest element in the frame, casting warm orange light onto the surrounding surface, crackling with living energy. midnight blue. Side-profile slow tracking shot following movement. Volumetric god rays. Atmospheric haze. Shallow depth of field. Film grain texture. ARRI ALEXA cinematic color grade. Epic nature documentary tone. No motion blur. No text. No watermarks.\",\n        \"negative_prompt\": \"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\"\n      },\n      {\n        \"scene_number\": 3,\n        \"start_sec\": 10,\n        \"end_sec\": 15,\n        \"formula_part\": \"TWIST\",\n        \"narration_segment\": \"In reality, bones are living organs. They possess intricate blood supplies and active nerve endings.\",\n        \"seedance_prompt\": \"Cinematic photorealistic 4K video, 1:1 square format, 5 seconds. A dramatic visual shift occurs as the previously rigid, stone-like surface of the person's upper body begins to crack and glow from within. A complex, intricate network of fine, branching golden-orange filaments, representing blood vessels and nerve endings, emerges and spreads rapidly across the skin and visible bone structure, becoming intensely visible and pulsing with light. Bright molten golden-orange fire veins crack and branch visibly across Entire skeleton — living and pulsing — like glowing lava fractures or burning lightning scars — intensely luminous, the brightest element in the frame, casting warm orange light onto the surrounding surface, crackling with living energy. stormy grey. Slow dolly push-in toward the chest and rib cage area, focusing on the emergence. Volumetric god rays. Atmospheric haze. Shallow depth of field. Film grain texture. ARRI ALEXA cinematic color grade. Epic nature documentary tone. No motion blur. No text. No watermarks.\",\n        \"negative_prompt\": \"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\"\n      },\n      {\n        \"scene_number\": 4,\n        \"start_sec\": 15,\n        \"end_sec\": 20,\n        \"formula_part\": \"TWIST\",\n        \"narration_segment\": \"Bone tissue constantly rebuilds itself. Old cells dissolve as new, stronger material forms continuously.\",\n        \"seedance_prompt\": \"Cinematic photorealistic 4K video, 1:1 square format, 5 seconds. An extreme close-up on a segment of bone, perhaps a glowing joint or rib section, now clearly showing its internal structure. Old, duller bone material visibly dissolves and fragments away in slow motion, as brighter, more intensely glowing new bone tissue forms beneath it, expanding and strengthening continuously. This represents renewal and regeneration. Bright molten golden-orange fire veins crack and branch visibly across Entire skeleton — living and pulsing — like glowing lava fractures or burning lightning scars — intensely luminous, the brightest element in the frame, casting warm orange light onto the surrounding surface, crackling with living energy. misty emerald. Extreme close-up of a specific bone feature filling the entire frame. Volumetric god rays. Atmospheric haze. Shallow depth of field. Film grain texture. ARRI ALEXA cinematic color grade. Epic nature documentary tone. No motion blur. No text. No watermarks.\",\n        \"negative_prompt\": \"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\"\n      },\n      {\n        \"scene_number\": 5,\n        \"start_sec\": 20,\n        \"end_sec\": 25,\n        \"formula_part\": \"EMOTION\",\n        \"narration_segment\": \"This continuous regeneration makes the entire skeleton a vibrant, dynamic system. It is a marvel of constant renewal.\",\n        \"seedance_prompt\": \"Cinematic photorealistic 4K video, 1:1 square format, 5 seconds. The camera pulls back dramatically to reveal the full figure of the person standing against a vast, awe-inspiring, cosmic backdrop. Their entire skeleton is now vibrantly luminous, enveloped in intensely pulsing golden-orange energy veins. The previous rigid form is gone, replaced by a living, breathing, glowing entity, a marvel of dynamic, constant renewal. Bright molten golden-orange fire veins crack and branch visibly across Entire skeleton — living and pulsing — like glowing lava fractures or burning lightning scars — intensely luminous, the brightest element in the frame, casting warm orange light onto the surrounding surface, crackling with living energy. abyssal black. Wide establishing shot pulling back to reveal full environment. Volumetric god rays. Atmospheric haze. Shallow depth of field. Film grain texture. ARRI ALEXA cinematic color grade. Epic nature documentary tone. No motion blur. No text. No watermarks.\",\n        \"negative_prompt\": \"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\"\n      },\n      {\n        \"scene_number\": 6,\n        \"start_sec\": 25,\n        \"end_sec\": 30,\n        \"formula_part\": \"CTA\",\n        \"narration_segment\": \"Follow for anatomy facts that change how one sees the body.\",\n        \"seedance_prompt\": \"Cinematic photorealistic 4K video, 1:1 square format, 5 seconds. The camera is positioned directly overhead, looking straight down at the person who stands with arms outstretched, revealing the intricate, interconnected glowing network of their entire skeleton from a god's-eye view. The golden-orange energy veins trace a beautiful, complex pattern across their form and the ground beneath them, creating an iconic, memorable image of interconnected life and system. Bright molten golden-orange fire veins crack and branch visibly across Entire skeleton — living and pulsing — like glowing lava fractures or burning lightning scars — intensely luminous, the brightest element in the frame, casting warm orange light onto the surrounding surface, crackling with living energy. cold violet. Overhead god's-eye view looking straight down. Volumetric god rays. Atmospheric haze. Shallow depth of field. Film grain texture. ARRI ALEXA cinematic color grade. Epic nature documentary tone. No motion blur. No text. No watermarks.\",\n        \"negative_prompt\": \"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\"\n      }\n    ],\n    \"title\": \"Bones: Dead Stone or Living Fire?\",\n    \"hashtags\": \"#bones #skeleton #anatomy #humanbody #mindblown #livingbones #bodyscience #reframe\",\n    \"highlight_keywords\": [\n      \"Bones\",\n      \"Living Organs\",\n      \"Rebuilding\",\n      \"Skeleton\",\n      \"Awe\"\n    ],\n    \"ws_key\": \"a9e0a891e510e19069e6d13bc5b83d52ad1d1411fae9b301330b68747a7910df\",\n    \"audio_path\": \"/ffmpeg/input/SHN-64718870_voice.mp3\",\n    \"audio_duration\": 42.316,\n    \"word_timings\": [\n      {\n        \"word\": \"Bones\",\n        \"start\": 0.05,\n        \"end\": 0.482\n      },\n      {\n        \"word\": \"are\",\n        \"start\": 0.482,\n        \"end\": 0.742\n      },\n      {\n        \"word\": \"often\",\n        \"start\": 0.742,\n        \"end\": 1.174\n      },\n      {\n        \"word\": \"perceived\",\n        \"start\": 1.174,\n        \"end\": 1.952\n      },\n      {\n        \"word\": \"as\",\n        \"start\": 1.952,\n        \"end\": 2.125\n      },\n      {\n        \"word\": \"inert\",\n        \"start\": 2.125,\n        \"end\": 2.643\n      },\n      {\n        \"word\": \"rigid\",\n        \"start\": 2.643,\n        \"end\": 3.075\n      },\n      {\n        \"word\": \"structures\",\n        \"start\": 3.075,\n        \"end\": 4.026\n      },\n      {\n        \"word\": \"They\",\n        \"start\": 4.026,\n        \"end\": 4.315\n      },\n      {\n        \"word\": \"seem\",\n        \"start\": 4.315,\n        \"end\": 4.603\n      },\n      {\n        \"word\": \"like\",\n        \"start\": 4.603,\n        \"end\": 4.892\n      },\n      {\n        \"word\": \"static\",\n        \"start\": 4.892,\n        \"end\": 5.324\n      },\n      {\n        \"word\": \"scaffolding\",\n        \"start\": 5.324,\n        \"end\": 6.189\n      },\n      {\n        \"word\": \"a\",\n        \"start\": 6.189,\n        \"end\": 6.262\n      },\n      {\n        \"word\": \"permanent\",\n        \"start\": 6.262,\n        \"end\": 6.911\n      },\n      {\n        \"word\": \"framework\",\n        \"start\": 6.911,\n        \"end\": 7.632\n      },\n      {\n        \"word\": \"This\",\n        \"start\": 7.632,\n        \"end\": 7.937\n      },\n      {\n        \"word\": \"view\",\n        \"start\": 7.937,\n        \"end\": 8.241\n      },\n      {\n        \"word\": \"suggests\",\n        \"start\": 8.241,\n        \"end\": 8.851\n      },\n      {\n        \"word\": \"they\",\n        \"start\": 8.851,\n        \"end\": 9.156\n      },\n      {\n        \"word\": \"are\",\n        \"start\": 9.156,\n        \"end\": 9.385\n      },\n      {\n        \"word\": \"simply\",\n        \"start\": 9.385,\n        \"end\": 9.842\n      },\n      {\n        \"word\": \"dead\",\n        \"start\": 9.842,\n        \"end\": 10.147\n      },\n      {\n        \"word\": \"material\",\n        \"start\": 10.147,\n        \"end\": 10.833\n      },\n      {\n        \"word\": \"unchanging\",\n        \"start\": 10.833,\n        \"end\": 11.596\n      },\n      {\n        \"word\": \"once\",\n        \"start\": 11.596,\n        \"end\": 11.901\n      },\n      {\n        \"word\": \"formed\",\n        \"start\": 11.901,\n        \"end\": 12.434\n      },\n      {\n        \"word\": \"No\",\n        \"start\": 12.434,\n        \"end\": 12.636\n      },\n      {\n        \"word\": \"life\",\n        \"start\": 12.636,\n        \"end\": 13.139\n      },\n      {\n        \"word\": \"no\",\n        \"start\": 13.139,\n        \"end\": 13.341\n      },\n      {\n        \"word\": \"dynamic\",\n        \"start\": 13.341,\n        \"end\": 14.046\n      },\n      {\n        \"word\": \"processes\",\n        \"start\": 14.046,\n        \"end\": 15.053\n      },\n      {\n        \"word\": \"In\",\n        \"start\": 15.053,\n        \"end\": 15.223\n      },\n      {\n        \"word\": \"reality\",\n        \"start\": 15.223,\n        \"end\": 15.906\n      },\n      {\n        \"word\": \"bones\",\n        \"start\": 15.906,\n        \"end\": 16.332\n      },\n      {\n        \"word\": \"are\",\n        \"start\": 16.332,\n        \"end\": 16.588\n      },\n      {\n        \"word\": \"living\",\n        \"start\": 16.588,\n        \"end\": 17.1\n      },\n      {\n        \"word\": \"organs\",\n        \"start\": 17.1,\n        \"end\": 17.697\n      },\n      {\n        \"word\": \"They\",\n        \"start\": 17.697,\n        \"end\": 17.978\n      },\n      {\n        \"word\": \"possess\",\n        \"start\": 17.978,\n        \"end\": 18.468\n      },\n      {\n        \"word\": \"intricate\",\n        \"start\": 18.468,\n        \"end\": 19.099\n      },\n      {\n        \"word\": \"blood\",\n        \"start\": 19.099,\n        \"end\": 19.45\n      },\n      {\n        \"word\": \"supplies\",\n        \"start\": 19.45,\n        \"end\": 20.011\n      },\n      {\n        \"word\": \"and\",\n        \"start\": 20.011,\n        \"end\": 20.221\n      },\n      {\n        \"word\": \"active\",\n        \"start\": 20.221,\n        \"end\": 20.641\n      },\n      {\n        \"word\": \"nerve\",\n        \"start\": 20.641,\n        \"end\": 20.992\n      },\n      {\n        \"word\": \"endings\",\n        \"start\": 20.992,\n        \"end\": 21.553\n      },\n      {\n        \"word\": \"Bone\",\n        \"start\": 21.553,\n        \"end\": 21.891\n      },\n      {\n        \"word\": \"tissue\",\n        \"start\": 21.891,\n        \"end\": 22.398\n      },\n      {\n        \"word\": \"constantly\",\n        \"start\": 22.398,\n        \"end\": 23.244\n      },\n      {\n        \"word\": \"rebuilds\",\n        \"start\": 23.244,\n        \"end\": 23.921\n      },\n      {\n        \"word\": \"itself\",\n        \"start\": 23.921,\n        \"end\": 24.513\n      },\n      {\n        \"word\": \"Old\",\n        \"start\": 24.513,\n        \"end\": 24.774\n      },\n      {\n        \"word\": \"cells\",\n        \"start\": 24.774,\n        \"end\": 25.209\n      },\n      {\n        \"word\": \"dissolve\",\n        \"start\": 25.209,\n        \"end\": 25.904\n      },\n      {\n        \"word\": \"as\",\n        \"start\": 25.904,\n        \"end\": 26.078\n      },\n      {\n        \"word\": \"new\",\n        \"start\": 26.078,\n        \"end\": 26.426\n      },\n      {\n        \"word\": \"stronger\",\n        \"start\": 26.426,\n        \"end\": 27.121\n      },\n      {\n        \"word\": \"material\",\n        \"start\": 27.121,\n        \"end\": 27.817\n      },\n      {\n        \"word\": \"forms\",\n        \"start\": 27.817,\n        \"end\": 28.251\n      },\n      {\n        \"word\": \"continuously\",\n        \"start\": 28.251,\n        \"end\": 29.382\n      },\n      {\n        \"word\": \"This\",\n        \"start\": 29.382,\n        \"end\": 29.727\n      },\n      {\n        \"word\": \"continuous\",\n        \"start\": 29.727,\n        \"end\": 30.591\n      },\n      {\n        \"word\": \"regeneration\",\n        \"start\": 30.591,\n        \"end\": 31.627\n      },\n      {\n        \"word\": \"makes\",\n        \"start\": 31.627,\n        \"end\": 32.059\n      },\n      {\n        \"word\": \"the\",\n        \"start\": 32.059,\n        \"end\": 32.318\n      },\n      {\n        \"word\": \"entire\",\n        \"start\": 32.318,\n        \"end\": 32.836\n      },\n      {\n        \"word\": \"skeleton\",\n        \"start\": 32.836,\n        \"end\": 33.527\n      },\n      {\n        \"word\": \"a\",\n        \"start\": 33.527,\n        \"end\": 33.613\n      },\n      {\n        \"word\": \"vibrant\",\n        \"start\": 33.613,\n        \"end\": 34.304\n      },\n      {\n        \"word\": \"dynamic\",\n        \"start\": 34.304,\n        \"end\": 34.909\n      },\n      {\n        \"word\": \"system\",\n        \"start\": 34.909,\n        \"end\": 35.513\n      },\n      {\n        \"word\": \"It\",\n        \"start\": 35.513,\n        \"end\": 35.686\n      },\n      {\n        \"word\": \"is\",\n        \"start\": 35.686,\n        \"end\": 35.86\n      },\n      {\n        \"word\": \"a\",\n        \"start\": 35.86,\n        \"end\": 35.946\n      },\n      {\n        \"word\": \"marvel\",\n        \"start\": 35.946,\n        \"end\": 36.466\n      },\n      {\n        \"word\": \"of\",\n        \"start\": 36.466,\n        \"end\": 36.64\n      },\n      {\n        \"word\": \"constant\",\n        \"start\": 36.64,\n        \"end\": 37.333\n      },\n      {\n        \"word\": \"renewal\",\n        \"start\": 37.333,\n        \"end\": 38.026\n      },\n      {\n        \"word\": \"Follow\",\n        \"start\": 38.026,\n        \"end\": 38.49\n      },\n      {\n        \"word\": \"for\",\n        \"start\": 38.49,\n        \"end\": 38.722\n      },\n      {\n        \"word\": \"anatomy\",\n        \"start\": 38.722,\n        \"end\": 39.264\n      },\n      {\n        \"word\": \"facts\",\n        \"start\": 39.264,\n        \"end\": 39.65\n      },\n      {\n        \"word\": \"that\",\n        \"start\": 39.65,\n        \"end\": 39.96\n      },\n      {\n        \"word\": \"change\",\n        \"start\": 39.96,\n        \"end\": 40.424\n      },\n      {\n        \"word\": \"how\",\n        \"start\": 40.424,\n        \"end\": 40.656\n      },\n      {\n        \"word\": \"one\",\n        \"start\": 40.656,\n        \"end\": 40.888\n      },\n      {\n        \"word\": \"sees\",\n        \"start\": 40.888,\n        \"end\": 41.197\n      },\n      {\n        \"word\": \"the\",\n        \"start\": 41.197,\n        \"end\": 41.429\n      },\n      {\n        \"word\": \"body\",\n        \"start\": 41.429,\n        \"end\": 41.816\n      }\n    ],\n    \"seedance_job_ids\": [\n      \"b214b0b5e707471bba866a71de8825d2\",\n      \"4922d1fdc19e4cf99a066e5425cdd76a\",\n      \"885cbb6c0fbe44bf81ea5af448ae536b\",\n      \"ea358d43466f42349d41a39f6eb711e8\",\n      \"52b270ba36f74f29bf9aa8458fcc2b79\",\n      \"7ee11aae49ed4ef6ba9db47d20948d88\"\n    ],\n    \"video_urls\": [\n      \"https://d1q70p.cachecloud.net/predictions/a904840c69044e5eab44b76b827d9d6a/1.mp4\",\n      \"https://d1q70p.cachecloud.net/predictions/989d8111f23b4caebf3783ae54739c02/1.mp4\",\n      \"https://d1q70p.cachecloud.net/predictions/5107e651a0474d8f865b7d8b67893845/1.mp4\",\n      \"https://d1q70p.cachecloud.net/predictions/6016aae02c0b4b2ea9cd49e4b3d79cc7/1.mp4\",\n      \"https://d1q70p.cachecloud.net/predictions/4a0194929f8a44f3b4646eb6fbcb85bc/1.mp4\",\n      \"https://d1q70p.cachecloud.net/predictions/c6986f487edb4508adaf95d932c045d5/1.mp4\"\n    ],\n    \"poll_attempt\": 8,\n    \"all_done\": 1,\n    \"submitted_at\": 1778765457124,\n    \"clip_paths\": [\n      \"/data/ffmpeg/input/SHN-64718870_scene1.mp4\",\n      \"/data/ffmpeg/input/SHN-64718870_scene2.mp4\",\n      \"/data/ffmpeg/input/SHN-64718870_scene3.mp4\",\n      \"/data/ffmpeg/input/SHN-64718870_scene4.mp4\",\n      \"/data/ffmpeg/input/SHN-64718870_scene5.mp4\",\n      \"/data/ffmpeg/input/SHN-64718870_scene6.mp4\"\n    ]\n  }\n].map(item => ({ json: item }));"
      },
      "id": "shn2-n0f",
      "name": "Clips Ready Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        620
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Test Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Payload": {
      "main": [
        [
          {
            "node": "Extract & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 2 Webhook": {
      "main": [
        [
          {
            "node": "Extract & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Prepare": {
      "main": [
        [
          {
            "node": "edge-tts Generate Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Audio & Parse Timings": {
      "main": [
        [
          {
            "node": "Submit Seedance Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Seedance Jobs": {
      "main": [
        [
          {
            "node": "Wait 20 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20 Seconds": {
      "main": [
        [
          {
            "node": "Check Seedance Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Seedance Jobs": {
      "main": [
        [
          {
            "node": "All Clips Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Clips Done?": {
      "main": [
        [
          {
            "node": "Download Seedance Clips",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 20 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Seedance Clips": {
      "main": [
        [
          {
            "node": "Build Karaoke ASS Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Karaoke ASS Captions": {
      "main": [
        [
          {
            "node": "Build Stage 3 Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Stage 3 Payload": {
      "main": [
        [
          {
            "node": "POST to Stage 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Stage 3": {
      "main": [
        [
          {
            "node": "Mark ASSEMBLING in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "edge-tts Generate Voice": {
      "main": [
        [
          {
            "node": "Save Audio & Parse Timings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next Manual Trigger": {
      "main": [
        [
          {
            "node": "Clips Ready Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clips Ready Payload": {
      "main": [
        [
          {
            "node": "Build Karaoke ASS Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "id": "seedancehighnice-stage2",
  "tags": [
    {
      "name": "seedance-highnice"
    },
    {
      "name": "stage2"
    }
  ]
}