workflows/seedancehighnice-stage3-payload.json
{"name":"Seedance High Nice - Stage 3 - Assembly & Export","nodes":[{"parameters":{},"id":"shn3-n0","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"jsCode":"return [{ json: {\n  \"job_id\": \"SHN-50805120\",\n  \"topic\": \"Whale Song Distance\",\n  \"category\": \"Animals & Nature\",\n  \"title\": \"THE LONELIEST Sound: Whale Song Across Oceans\",\n  \"hashtags\": \"#bluewhale #ocean #whalefacts #naturefacts #mindblown\",\n  \"narration\": \"This sound was heard across an entire ocean.\",\n  \"opening_line\": \"This sound was heard across an entire ocean.\",\n  \"cta\": \"Follow for ocean scale facts that make you feel something.\",\n  \"clip_paths\": [\n    \"/data/ffmpeg/input/SHN-50805120_scene1.mp4\",\n    \"/data/ffmpeg/input/SHN-50805120_scene2.mp4\",\n    \"/data/ffmpeg/input/SHN-50805120_scene3.mp4\",\n    \"/data/ffmpeg/input/SHN-50805120_scene4.mp4\",\n    \"/data/ffmpeg/input/SHN-50805120_scene5.mp4\",\n    \"/data/ffmpeg/input/SHN-50805120_scene6.mp4\"\n  ],\n  \"num_clips\": 6,\n  \"clip_dur_sec\": 5,\n  \"audio_path\": \"/ffmpeg/input/SHN-50805120_voice.mp3\",\n  \"audio_duration\": 34.263,\n  \"ass_path\": \"/data/ffmpeg/input/SHN-50805120_captions.ass\",\n  \"highlight_keywords\": [\"THE LONELIEST\", \"Blue whale\", \"Ocean communication\", \"20,000km\", \"Deep ocean\"],\n  \"sheet_row\": 21,\n  \"start_time\": 1778750805721,\n  \"subject\": \"Blue whale descending into deep ocean\",\n  \"energy_vein_location\": \"Throat and entire vocal body\"\n} }];"},"id":"shn3-n0b","name":"Test Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,200]},{"parameters":{"httpMethod":"POST","path":"seedancehighnice-stage3","options":{}},"id":"shn3-n1","name":"Stage 3 Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,200],"webhookId":"seedancehighnice-stage3-assemble"},{"parameters":{"jsCode":"const raw  = $input.first().json;\nconst body = (raw.body !== undefined) ? raw.body : raw;\n\nif (!body.job_id)     throw new Error('Missing job_id');\nif (!body.clip_paths) throw new Error('Missing clip_paths from Stage 2');\nif (!body.audio_path) throw new Error('Missing audio_path from Stage 2');\nif (!body.ass_path)   throw new Error('Missing ass_path from Stage 2');\n\nconsole.log('Stage 3 start | job:', body.job_id, '| clips:', (body.clip_paths || []).length);\nreturn [{ json: body }];"},"id":"shn3-n2","name":"Validate Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,150]},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════════\n// STAGE 3 — FULL ASSEMBLY PIPELINE\n// Applies to each clip:\n//   1. Normalize → 1080×1920 9:16\n//   2. Ken Burns zoom effect (slow push-in from 110% → 100%)\n//   3. xfade transitions alternating: fade ↔ slideleft (the \"side change\")\n//   4. Mix ElevenLabs voice (full volume) + BGM (12% volume)\n//   5. Burn karaoke ASS captions (word-by-word yellow highlight)\n//   6. Watermark logo top-right (if logo.png present)\n//   7. Export H.264 1080×1920 24fps high quality\n// ═══════════════════════════════════════════════════════════════\nconst { execSync } = require('child_process');\nconst fs           = require('fs');\n\nconst data     = $input.first().json;\nconst jobId    = data.job_id;\nconst clips    = data.clip_paths || [];        // /data/ffmpeg/input paths (n8n host)\nconst audioP   = data.audio_path;              // /data/ffmpeg/input/{jobId}_voice.mp3\nconst assP     = data.ass_path;                // /data/ffmpeg/input/{jobId}_captions.ass\nconst hlWords  = (data.highlight_keywords || []);\nconst audioDur = data.audio_duration || 30;\nconst N        = clips.length;\n\nif (N === 0) throw new Error('No clip_paths received');\n\nconst n8nIn   = '/data/ffmpeg/input';\nconst n8nOut  = '/data/ffmpeg/output';\nconst contIn  = '/ffmpeg/input';\nconst contOut = '/ffmpeg/output';\n\nif (!fs.existsSync(n8nOut)) fs.mkdirSync(n8nOut, { recursive: true });\n\n// ── Helper: run docker exec command ──────────────────────────────\nfunction run(cmd, timeoutMs, ignoreErr) {\n  try {\n    return execSync(cmd, { encoding: 'utf-8', timeout: timeoutMs || 120000 });\n  } catch(e) {\n    const out = ((e.stdout || '') + (e.stderr || '')).toString();\n    if (ignoreErr) { console.warn('WARN: ' + out.slice(-200)); return ''; }\n    throw new Error(out.slice(-600));\n  }\n}\n\n// ── Helper: n8n host path → container path ───────────────────────\nfunction toContPath(p) {\n  return p.replace('/data/ffmpeg', '/ffmpeg');\n}\n\n// ── STEP 1: Normalize each clip → 1080×1920, 24fps, no audio ─────\nconsole.log('Step 1: Normalising ' + N + ' clips...');\nconst normPaths = [];\nfor (let i = 0; i < N; i++) {\n  const src  = toContPath(clips[i]);\n  const dst  = contIn + '/' + jobId + '_norm' + i + '.mp4';\n  const dstH = n8nIn  + '/' + jobId + '_norm' + i + '.mp4';\n  run(\n    'docker exec qpc_ffmpeg_runner ffmpeg -y' +\n    ' -i \"' + src + '\"' +\n    ' -vf \"scale=1080:1920:force_original_aspect_ratio=increase,' +\n    'crop=1080:1920,setsar=1,fps=24\"' +\n    ' -c:v libx264 -crf 18 -preset fast -pix_fmt yuv420p -an' +\n    ' \"' + dst + '\" && echo NORM_OK',\n    120000\n  );\n  normPaths.push({ n8n: dstH, cont: dst });\n  console.log('  Clip ' + (i+1) + ' normalised');\n}\n\n// ── STEP 2: Apply Ken Burns zoom to each normalised clip ──────────\n// Each clip slowly zooms from 110% → 100% (push-in feel).\n// We scale to 1188×2112 (1080*1.1 × 1920*1.1) then crop back to 1080×1920\n// with time-based offset so the crop window shrinks = zoom-in effect.\n// Formula: cropX = (1188-1080)/2 * (1 - t/5)  = 54*(1-t/5)\n//          cropY = (2112-1920)/2 * (1 - t/5)  = 96*(1-t/5)\n// t=0 → crop from (54,96) = zoomed in 110%\n// t=5 → crop from (0,0)   = back to 100%  (zoom OUT = reveal)\n// Alternate: zoom-in (t=0→crop(0,0), t=5→crop(54,96))\nconsole.log('Step 2: Applying Ken Burns zoom...');\nconst zoomPaths = [];\nfor (let i = 0; i < N; i++) {\n  const src = normPaths[i].cont;\n  const dst = contIn + '/' + jobId + '_zoom' + i + '.mp4';\n  const dstH= n8nIn  + '/' + jobId + '_zoom' + i + '.mp4';\n  \n  // Alternate zoom direction per clip for visual variety\n  // Even clips: zoom-in (start wide, push in)\n  // Odd clips:  zoom-out (start tight, pull back)\n  const zoomIn = (i % 2 === 0);\n  const cropXExpr = zoomIn\n    ? '(1188-1080)/2*t/5'       // 0→54 (zoom in)\n    : '(1188-1080)/2*(1-t/5)';  // 54→0 (zoom out)\n  const cropYExpr = zoomIn\n    ? '(2112-1920)/2*t/5'\n    : '(2112-1920)/2*(1-t/5)';\n  \n  run(\n    'docker exec qpc_ffmpeg_runner ffmpeg -y' +\n    ' -i \"' + src + '\"' +\n    ' -vf \"scale=1188:2112:flags=lanczos,' +\n    \"crop=1080:1920:'\" + cropXExpr + \"':'\" + cropYExpr + \"',\" +\n    'setsar=1,fade=t=in:st=0:d=0.25,fade=t=out:st=4.75:d=0.25\"' +\n    ' -c:v libx264 -crf 17 -preset fast -pix_fmt yuv420p -an' +\n    ' \"' + dst + '\" && echo ZOOM_OK',\n    180000\n  );\n  zoomPaths.push({ n8n: dstH, cont: dst });\n  console.log('  Clip ' + (i+1) + ' zoom ' + (zoomIn ? 'IN' : 'OUT') + ' done');\n}\n\n// ── STEP 3: xfade transitions between clips ───────────────────────\n// Alternates: fade (even boundaries) ↔ slideleft (odd boundaries)\n// This creates the \"side changing effect\" the user wants.\n// Transition duration: 0.4s\n// Each clip is 5s, so offsets: 4.6, 9.2, 13.8, 18.4, 23.0\nconsole.log('Step 3: Concatenating ' + N + ' clips → ' + (N * 5) + 's exact...');\n\n// concat keeps each clip at full 5s → N×5s = 30s exactly\n// Dip-to-dark transitions baked into clips via fade-in/out in Step 2\nconst CLIP_DUR = 5.0;\n\nlet xfadePath;\n\nif (N === 1) {\n  xfadePath = { n8n: zoomPaths[0].n8n, cont: zoomPaths[0].cont };\n} else {\n  const inputs       = zoomPaths.map(p => '-i \"' + p.cont + '\"').join(' ');\n  const concatFilter = 'concat=n=' + N + ':v=1:a=0[vout]';\n  const concatCont   = contIn + '/' + jobId + '_concat.mp4';\n  const concatN8n    = n8nIn  + '/' + jobId + '_concat.mp4';\n\n  run(\n    'docker exec qpc_ffmpeg_runner ffmpeg -y ' + inputs +\n    ' -filter_complex \"' + concatFilter + '\"' +\n    ' -map \"[vout]\"' +\n    ' -c:v libx264 -crf 17 -preset fast -pix_fmt yuv420p -an' +\n    ' \"' + concatCont + '\" && echo CONCAT_OK',\n    300000\n  );\n  xfadePath = { n8n: concatN8n, cont: concatCont };\n  console.log('Concat done: ' + N + ' clips × 5s = ' + (N * CLIP_DUR) + 's');\n}\n\n// ── STEP 4: Verify audio + BGM ────────────────────────────────────\nconsole.log('Step 4: Checking audio files...');\nconst voiceCont = toContPath(audioP);\nconst hasVoice  = run('docker exec qpc_ffmpeg_runner test -f \"' + voiceCont + '\" && echo OK', 10000, true).includes('OK');\n\n// BGM: look in /ffmpeg/config/bgm/ — pick a warm nature/ambient track\nconst bgmCandidates = ['NatureAmbient', 'Odyssey', 'Arcane', 'Apprehension', 'Anamalie'];\nlet bgmFile = null;\nfor (const track of bgmCandidates) {\n  const p = '/ffmpeg/config/bgm/' + track + '.mp3';\n  if (run('docker exec qpc_ffmpeg_runner test -f \"' + p + '\" && echo OK', 5000, true).includes('OK')) {\n    bgmFile = p;\n    console.log('BGM selected: ' + track);\n    break;\n  }\n}\n\n// Trim BGM to video duration + fade\nlet bgmTrimmed = null;\nif (bgmFile) {\n  const totalDur  = audioDur; // match BGM to full voice duration\n  const bgmDst    = contIn + '/' + jobId + '_bgm.mp3';\n  const fadeSt    = Math.max(0, totalDur - 1.5).toFixed(2);\n  run(\n    'docker exec qpc_ffmpeg_runner ffmpeg -y -i \"' + bgmFile + '\"' +\n    ' -t ' + totalDur.toFixed(2) +\n    ' -af \"afade=t=in:st=0:d=1.0,afade=t=out:st=' + fadeSt + ':d=1.5,volume=0.12\"' +\n    ' -acodec libmp3lame -ab 128k \"' + bgmDst + '\" && echo BGM_OK',\n    60000, true\n  );\n  bgmTrimmed = bgmDst;\n  console.log('BGM trimmed and ready');\n}\n\n// ── STEP 5: ASS captions path ─────────────────────────────────────\nconst assCont = toContPath(assP);\nconst hasASS  = run('docker exec qpc_ffmpeg_runner test -f \"' + assCont + '\" && echo OK', 5000, true).includes('OK');\nconsole.log('ASS captions: ' + (hasASS ? 'found' : 'MISSING – captions skipped'));\n\n// ── STEP 6: Logo watermark ────────────────────────────────────────\nconst logoPath  = '/ffmpeg/config/icon/logo.png';\nconst hasLogo   = run('docker exec qpc_ffmpeg_runner test -f \"' + logoPath + '\" && echo OK', 5000, true).includes('OK');\n\n// ── STEP 7: Build final FFmpeg command ───────────────────────────\n// Input list\nconst inp = ['-i \"' + xfadePath.cont + '\"'];\nif (hasVoice)   inp.push('-i \"' + voiceCont + '\"');\nif (bgmTrimmed) inp.push('-i \"' + bgmTrimmed + '\"');\nif (hasLogo)    inp.push('-i \"' + logoPath + '\"');\n\nconst voiceIdx = hasVoice   ? 1 : -1;\nconst bgmIdx   = bgmTrimmed ? (hasVoice ? 2 : 1) : -1;\nconst logoIdx  = hasLogo    ? inp.length - 1 : -1;\n\n// Video filter chain\nlet vFilters = [];\nlet vLabel   = '0:v';\nlet lbl      = 0;\n\n// Logo overlay: top-right, 80px wide, 20px margin\nif (hasLogo) {\n  vFilters.push(\n    '[' + logoIdx + ':v]scale=80:-1[logo_s];' +\n    '[' + vLabel  + '][logo_s]overlay=x=W-w-20:y=20:format=auto[vl' + lbl + ']'\n  );\n  vLabel = 'vl' + lbl; lbl++;\n}\n\n// Burn ASS captions\nif (hasASS) {\n  vFilters.push('[' + vLabel + \"]subtitles=filename='\" + assCont + \"'[vv\" + lbl + ']');\n  vLabel = 'vv' + lbl; lbl++;\n}\n\n// Final video label\nconst outVLabel = lbl > 0 ? '[' + vLabel + ']' : '[0:v]';\n\n// Audio mix: voice at 100% + BGM at 12%\nlet audioMap = '-an';\nlet aFilterStr = '';\n\n// Fade to black at end (covers both padded and non-padded cases)\nconst _fadeStart = Math.max(0, audioDur - 1.5).toFixed(2);\nvFilters.push('[' + vLabel + ']fade=t=out:st=' + _fadeStart + ':d=1.5:color=black[vfadeout' + lbl + ']');\nvLabel = 'vfadeout' + lbl; lbl++;\n\n// Audio fade-out on voice\nconst _audioFadeStart = Math.max(0, audioDur - 1.2).toFixed(2);\nif (hasVoice && bgmTrimmed) {\n  aFilterStr = ';[' + voiceIdx + ':a]volume=0.75,afade=t=out:st=' + _audioFadeStart + ':d=1.2[nar];[' + bgmIdx + ':a]volume=1.0[bgm];[nar][bgm]amix=inputs=2:duration=first:dropout_transition=2[aout]';\n  audioMap   = '-map \"[aout]\"';\n} else if (hasVoice) {\n  aFilterStr = ';[' + voiceIdx + ':a]volume=0.75,afade=t=out:st=' + _audioFadeStart + ':d=1.2[aout]';\n  audioMap   = '-map \"[aout]\"';\n} else if (bgmTrimmed) {\n  aFilterStr = ';[' + bgmIdx + ':a]volume=1.0,afade=t=out:st=' + _audioFadeStart + ':d=1.2[aout]';\n  audioMap   = '-map \"[aout]\"';\n}\n\nconst fullFilter = vFilters.join(';') + aFilterStr;\nconst finalCont  = contOut + '/' + jobId + '_final.mp4';\nconst finalN8n   = n8nOut  + '/' + jobId + '_final.mp4';\nconst totalSec   = Math.ceil(audioDur) + 2;\n\nconst filterArg = fullFilter\n  ? ' -filter_complex \"' + fullFilter + '\" -map \"[' + vLabel + ']\" ' + audioMap\n  : ' -map \"0:v\" ' + audioMap;\n\nconst finalCmd =\n  'docker exec qpc_ffmpeg_runner ffmpeg -y ' + inp.join(' ') +\n  filterArg +\n  ' -c:v libx264 -crf 17 -preset fast -pix_fmt yuv420p -movflags +faststart' +\n  (audioMap !== '-an' ? ' -c:a aac -b:a 192k' : '') +\n  ' -t ' + totalSec +\n  ' \"' + finalCont + '\" && echo FINAL_OK';\n\nconsole.log('Step 7: Final render...');\nconst renderOut = run(finalCmd, 900000);\nif (!renderOut.includes('FINAL_OK')) throw new Error('Final render failed: ' + renderOut.slice(-500));\nif (!fs.existsSync(finalN8n)) throw new Error('Final file not found: ' + finalN8n);\n\nconst stats     = fs.statSync(finalN8n);\nconst fileMB    = (stats.size / 1048576).toFixed(1);\nconst renderSec = Math.round((Date.now() - (data.start_time || Date.now())) / 1000);\nconsole.log('Final video: ' + fileMB + ' MB | render time: ' + renderSec + 's');\n\nreturn [{ json: {\n  ...data,\n  final_video_path: finalN8n,\n  output_filename:  jobId + '_final.mp4',\n  file_size_mb:     parseFloat(fileMB),\n  render_time_sec:  renderSec,\n  clips_used:       N,\n  has_voice:        hasVoice,\n  has_bgm:          !!bgmTrimmed,\n  has_captions:     hasASS\n}}];"},"id":"shn3-n3","name":"Assemble Final Video","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,150]},{"parameters":{"jsCode":"const fs   = require('fs');\nconst data = $input.first().json;\nconst path = data.final_video_path;\n\nif (!fs.existsSync(path)) throw new Error('Final video not found: ' + path);\n\nconst b64 = fs.readFileSync(path).toString('base64');\nreturn [{\n  json: data,\n  binary: {\n    data: {\n      data:          b64,\n      mimeType:      'video/mp4',\n      fileName:      data.output_filename,\n      fileExtension: 'mp4'\n    }\n  }\n}];"},"id":"shn3-n4","name":"Read Final Video","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,150]},{"parameters":{"name":"={{ $('Assemble Final Video').first().json.output_filename }}","driveId":{"__rl":true,"value":"MyDrive","mode":"list","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"={{ $env.SEEDANCE_DRIVE_FOLDER_ID || $env.GOOGLE_DRIVE_FOLDER_ID }}","mode":"id"},"options":{"simplifyOutput":false}},"id":"shn3-n5","name":"Upload to Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[960,150],"credentials":{"googleDriveOAuth2Api":{"id":"OPs3jzJpnpfateNo","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"={{ 'https://www.googleapis.com/drive/v3/files/' + $json.id + '/permissions' }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"type","value":"anyone"},{"name":"role","value":"reader"}]},"options":{"timeout":10000}},"id":"shn3-n6","name":"Make Video Public","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1200,150],"credentials":{"googleDriveOAuth2Api":{"id":"OPs3jzJpnpfateNo","name":"Google Drive account"}}},{"parameters":{"jsCode":"const driveNode    = $('Upload to Google Drive').first().json;\nconst assembleData = $('Assemble Final Video').first().json;\nconst fileId       = driveNode.id;\nconst videoUrl     = 'https://drive.google.com/file/d/' + fileId + '/view';\nconst downloadUrl  = 'https://drive.usercontent.google.com/download?id=' + fileId + '&export=download';\n\nconsole.log('Stage 3 complete: ' + assembleData.job_id + ' → ' + videoUrl);\n\nreturn [{ json: {\n  job_id:          assembleData.job_id,\n  topic:           assembleData.topic,\n  title:           assembleData.title,\n  hashtags:        assembleData.hashtags,\n  narration:       assembleData.narration,\n  cta:             assembleData.cta,\n  video_url:       videoUrl,\n  download_url:    downloadUrl,\n  drive_file_id:   fileId,\n  file_size_mb:    assembleData.file_size_mb,\n  render_time_sec: assembleData.render_time_sec,\n  clips_used:      assembleData.clips_used,\n  has_voice:       assembleData.has_voice,\n  has_bgm:         assembleData.has_bgm,\n  has_captions:    assembleData.has_captions,\n  sheet_row:       assembleData.sheet_row\n}}];"},"id":"shn3-n7","name":"Stage 3 Done","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,150]},{"parameters":{"method":"PUT","url":"={{ 'https://sheets.googleapis.com/v4/spreadsheets/1Y3BGFJ12-cZSouM92XifTm4tTPq020DtJhHQWiwFhiM/values/Content%20Topics!B' + $json.sheet_row + '?valueInputOption=USER_ENTERED' }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ majorDimension: 'ROWS', values: [['DONE']] }) }}","options":{"timeout":10000}},"id":"shn3-n8","name":"Mark DONE in Sheet","type":"n8n-nodes-base.httpRequest","typeVersion":4,"continueOnFail":true,"position":[1680,150],"credentials":{"googleDriveOAuth2Api":{"id":"OPs3jzJpnpfateNo","name":"Google Drive account"}}},{"parameters":{"jsCode":"// Clean up temp files after successful completion\nconst fs      = require('fs');\nconst data    = $('Stage 3 Done').first().json;\nconst assembl = $('Assemble Final Video').first().json;\nconst jobId   = assembl.job_id;\nconst n8nIn   = '/data/ffmpeg/input';\n\nconst patterns = [\n  '_norm', '_zoom', '_xfade', '_bgm', '_captions'\n];\n\nlet removed = 0;\nconst files  = fs.readdirSync(n8nIn);\nfor (const f of files) {\n  if (!f.startsWith(jobId)) continue;\n  const shouldDelete = patterns.some(p => f.includes(p));\n  if (shouldDelete) {\n    try { fs.unlinkSync(n8nIn + '/' + f); removed++; } catch(e) {}\n  }\n}\nconsole.log('Cleaned up ' + removed + ' temp files for job ' + jobId);\n\nreturn [{ json: {\n  ...data,\n  cleanup_done: true,\n  temp_files_removed: removed\n}}];"},"id":"shn3-n9","name":"Cleanup Temp Files","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,150],"continueOnFail":true}],"connections":{"Manual Trigger":{"main":[[{"node":"Test Payload","type":"main","index":0}]]},"Test Payload":{"main":[[{"node":"Validate Payload","type":"main","index":0}]]},"Stage 3 Webhook":{"main":[[{"node":"Validate Payload","type":"main","index":0}]]},"Validate Payload":{"main":[[{"node":"Assemble Final Video","type":"main","index":0}]]},"Assemble Final Video":{"main":[[{"node":"Read Final Video","type":"main","index":0}]]},"Read Final Video":{"main":[[{"node":"Upload to Google Drive","type":"main","index":0}]]},"Upload to Google Drive":{"main":[[{"node":"Make Video Public","type":"main","index":0}]]},"Make Video Public":{"main":[[{"node":"Stage 3 Done","type":"main","index":0}]]},"Stage 3 Done":{"main":[[{"node":"Mark DONE in Sheet","type":"main","index":0}]]},"Mark DONE in Sheet":{"main":[[{"node":"Cleanup Temp Files","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}