workflows/seedancehighnice-stage1.json
{
  "name": "Seedance High Nice - Stage 1 - Content Generation",
  "nodes": [
    {
      "parameters": {},
      "id": "shn1-node1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seedancehighnice-stage1",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "shn1-node2",
      "name": "Stage 1 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "webhookId": "seedancehighnice-stage1-generate"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1Y3BGFJ12-cZSouM92XifTm4tTPq020DtJhHQWiwFhiM/values/Content%20Topics!A2:S",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {
          "timeout": 10000
        }
      },
      "id": "shn1-node3",
      "name": "Read Topic From Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        220,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fLI61c72irobLACJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Sheet columns (0-based after Status col was inserted at B):\n// [0]=#  [1]=Status  [2]=Category  [3]=Topic Title\n// [4]=Myth  [5]=Twist  [6]=Emotional Hook  [7]=Hook Word\n// [8]=Subject  [9]=Environment  [10]=Camera Move  [11]=Lighting Style\n// [12]=Energy Vein Location  [13]=Seedance Full Prompt\n// [14]=Script Opening Line  [15]=CTA  [16]=Hashtags\n// [17]=Est. Virality  [18]=Priority\n\nconst res = $input.first().json;\nconst rows = res.values || [];\n\nconst approved = [];\nfor (let i = 0; i < rows.length; i++) {\n  const status = (rows[i][1] || '').toString().trim();\n  if (status === 'Approved') {\n    approved.push({ idx: i, row: rows[i] });\n  }\n}\n\nif (approved.length === 0) {\n  throw new Error('No Approved topics found. In the Google Sheet, set Status (col B) = Approved for at least one row.');\n}\n\n// Pick randomly from approved list\nconst found = approved[Math.floor(Math.random() * approved.length)];\nconst sheetRow = found.idx + 2; // data starts at row 2 (row 1 = header)\nconst r = found.row;\n\nreturn [{\n  json: {\n    job_id:               ('SHN-' + Date.now().toString().slice(-8)),\n    row_num:              (r[0] || '').toString().trim(),\n    status:               (r[1] || '').trim(),\n    category:             (r[2] || '').trim(),\n    topic:                (r[3] || '').trim(),\n    myth:                 (r[4] || '').trim(),\n    twist:                (r[5] || '').trim(),\n    emotional_hook:       (r[6] || '').trim(),\n    hook_word:            (r[7] || '').trim(),\n    subject:              (r[8] || '').trim(),\n    environment:          (r[9] || '').trim(),\n    camera_move:          (r[10] || '').trim(),\n    lighting_style:       (r[11] || '').trim(),\n    energy_vein_location: (r[12] || '').trim(),\n    seedance_ref_prompt:  (r[13] || '').trim(),\n    script_opening_line:  (r[14] || '').trim(),\n    cta_ref:              (r[15] || '').trim(),\n    hashtags_ref:         (r[16] || '').trim(),\n    est_virality:         (r[17] || '').trim(),\n    priority:             (r[18] || '').trim(),\n    sheet_row:            sheetRow,\n    source:               'google_sheet'\n  }\n}];"
      },
      "id": "shn1-node4",
      "name": "Pick Approved Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/1Y3BGFJ12-cZSouM92XifTm4tTPq020DtJhHQWiwFhiM/values/Content%20Topics!B' + $json.sheet_row + '?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "body": "={ \"majorDimension\": \"ROWS\", \"values\": [[\"IN_PROGRESS\"]] }",
        "options": {
          "timeout": 10000
        }
      },
      "id": "shn1-node5",
      "name": "Mark IN_PROGRESS in Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        660,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fLI61c72irobLACJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw  = $input.first().json;\nconst body = (raw.body !== undefined) ? raw.body : raw;\n\nlet sheetData = {};\ntry { sheetData = $('Pick Approved Topic').first().json; } catch(e) {}\n\nconst jobId    = body.job_id  || sheetData.job_id  || ('SHN-' + Date.now().toString().slice(-8));\nconst topic    = body.topic   || sheetData.topic;\nconst sheetRow = body.sheet_row || sheetData.sheet_row || null;\n\nif (!topic) throw new Error('No topic found. Set Status = Approved in the Google Sheet.');\n\n// 6 clips × 5s = 30s total footage → ~25-30s assembled video (rootxdeep style)\nconst numClips   = 6;\nconst clipDurSec = 5;\nconst wordTarget = 80; // 70-90 words for 25-30 sec narration\n\nreturn [{ json: {\n  ...sheetData,\n  job_id: jobId,\n  topic,\n  sheet_row: sheetRow,\n  num_clips: numClips,\n  clip_dur_sec: clipDurSec,\n  word_target: wordTarget,\n  start_time: Date.now()\n}}];"
      },
      "id": "shn1-node6",
      "name": "Set Job Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst {\n  topic, category, myth, twist, emotional_hook, hook_word,\n  subject, environment, camera_move, lighting_style,\n  energy_vein_location, seedance_ref_prompt,\n  script_opening_line, cta_ref, hashtags_ref,\n  num_clips, word_target\n} = data;\n\nconst sceneList = Array.from({ length: num_clips }, (_, i) => {\n  const part = i < 2 ? 'MYTH' : i < 4 ? 'TWIST' : i === 4 ? 'EMOTION' : 'CTA';\n  return 'Scene ' + (i+1) + ' (' + (i*5) + 's-' + ((i+1)*5) + 's) → ' + part;\n}).join('\\n  ');\n\nconst prompt = `You are a world-class short-form video director AND scriptwriter for the rootxdeep style channel. Your job is to write a Myth→Twist→Emotion script AND generate Seedance video prompts that form a CINEMATIC VISUAL STORY. A viewer watching mute should understand the entire narrative arc from visuals alone.\n\n--- TOPIC REFERENCE (do not copy verbatim — use as creative fuel) ---\nTopic: ${topic}\nCategory: ${category}\nThe Myth (what people think): ${myth}\nThe Twist (real truth): ${twist}\nEmotional Hook: ${emotional_hook}\nHook Word: ${hook_word}\nSubject: ${subject}\nEnvironment: ${environment}\nCamera Move Reference: ${camera_move}\nLighting Style: ${lighting_style}\nEnergy Vein Location: ${energy_vein_location}\nSeedance Reference Prompt: ${seedance_ref_prompt}\nScript Opening Line Reference: ${script_opening_line}\nCTA Reference: ${cta_ref}\nHashtags Reference: ${hashtags_ref}\n\n--- THE FORMULA (non-negotiable) ---\nMYTH → TWIST → EMOTION\n- Scenes 1-2: State the MYTH confidently. What everyone believes. Bold and wrong.\n- Scenes 3-4: Drop the TWIST. The complete opposite real truth. Specific, factual, surprising.\n- Scene 5: Hit the EMOTION. Awe, shock, dark curiosity, or hope.\n- Scene 6: CTA — save this / follow for more / comment what surprised you.\n\n--- NARRATION RULES ---\n1. Total: ${word_target} words (80-120 range). SHORT punchy sentences.\n2. Tone: calm, direct, slightly amazed — like a smart friend at dinner, NOT a documentary.\n3. NEVER use \"I\", \"we\", \"you\", \"our\", \"your\" — pure factual third-person voice.\n4. Every sentence either states the myth OR reveals the twist OR lands the emotion. Zero filler.\n5. The opening sentence must state the myth in a way that hooks INSTANTLY.\n\n--- CINEMATIC VISUAL STORY RULES (MOST CRITICAL) ---\n\nThe 6 Seedance prompts must form a VISUAL JOURNEY — not 6 separate clips, but one continuous cinematic story told through visuals:\n- Scenes 1-2 (MYTH): Visual world feels INCOMPLETE, beautiful but missing something, the viewer senses something is off\n- Scenes 3-4 (TWIST): A dramatic VISUAL SHIFT — something new enters the frame, is revealed, or transforms. The world changes.\n- Scene 5 (EMOTION): The visual PAYOFF — either extreme scale reveal (pull back to show true magnitude) OR extreme intimacy (push in to show hidden detail)\n- Scene 6 (CTA): ICONIC final frame — the one image a viewer remembers and wants to share\n\nNARRATION → VISUAL SYNC (HIGHEST PRIORITY):\nFor EACH scene, follow this exact process:\n  STEP 1: Read the narration_segment word by word\n  STEP 2: Find the KEY VISUAL CONCEPT — the single thing the viewer's eye should SEE that matches what the voice is saying\n  STEP 3: Define THE ACTION — what HAPPENS visually during these 5 seconds (transformation, reveal, movement, scale shift, emergence). NOT just what the scene looks like — what CHANGES or is DISCOVERED.\n  STEP 4: If the concept is abstract (sound, time, force, renewal), find a PHYSICAL METAPHOR that makes it visible\n  STEP 5: Write the prompt around THAT specific moment and action\n\nEvery prompt must contain:\n(a) THE SETUP — where we are and what the main subject is doing at the START of the clip\n(b) THE ACTION — what visually HAPPENS or CHANGES during the 5 seconds\n(c) THE VISUAL METAPHOR — if the narration describes something abstract, what physical thing represents it on screen\n(d) THE EMOTION — what feeling the visual creates (awe, unease, revelation, intimacy)\n\nVISUAL CONTRAST ACROSS SCENES (mandatory storytelling):\n- The visual WORLD in scenes 1-2 must look different from scenes 3-4 (different environment, scale, or visual layer)\n- Something that was HIDDEN in scenes 1-2 must become VISIBLE in scenes 3-4 (this is the visual twist)\n- Scene 5 must feel like the LARGEST or MOST INTIMATE visual of the entire sequence\n\nCAMERA MOVES — use each AT MOST ONCE, assigned to maximise emotional impact:\n- \"Extreme close-up of [specific feature] filling the entire frame\" → revelation / hidden truth\n- \"Low-angle hero shot looking up from below\" → myth confidence / power / false certainty\n- \"Wide establishing shot pulling back to reveal full environment\" → scale reveal / awe\n- \"Overhead god's-eye view looking straight down\" → pattern / system / interconnection\n- \"Side-profile slow tracking shot following movement\" → journey / process / time passing\n- \"Slow dolly push-in toward [specific feature]\" → discovery / approach / emotional intimacy\n\nVISUAL METAPHORS for abstract concepts (pick the one that matches the topic):\n- Renewal / regeneration → old material dissolving as new glowing structure forms beneath it\n- Connection / network → threads of light connecting distant points, branching like neurons\n- Scale / distance → subject as tiny silhouette in a vast space; bioluminescent rings expanding outward\n- Sound / vibration → visible ripple rings radiating outward through a medium (water, air, space)\n- Force / speed → shockwave rings, frozen kinetic moment, frozen splash mid-air\n- Time → geological strata layers, ancient texture morphing to modern, star trails overhead\n- Breakdown / rebuild → structure fragmenting in slow motion then reassembling as something stronger\n- Hidden truth → surface appears one way, then cracks to reveal glowing different reality beneath\n\nENERGY VEIN — THE CHANNEL SIGNATURE (required in EVERY scene, must be PROMINENT and BRIGHT):\nBright molten golden-orange fire veins crack and branch visibly across ${energy_vein_location} — like glowing lava fractures or burning lightning scars etched across the surface — intensely luminous, radiating warm light outward onto the surrounding environment, crackling and flickering with raw living energy. The veins must be the BRIGHTEST element in the frame. They are NOT subtle — they are highly visible, tracing the subject's joints, muscles, bones, or body outline with intense fire-like glow, as if the body is lit from within by molten lava. The veins cast visible warm orange light onto the skin, fur, or surface around them.\n\nATMOSPHERE — rotate through, EACH scene gets a DIFFERENT colour:\ndeep teal / midnight blue / stormy grey / misty emerald / abyssal black / cold violet\n\nFULL PROMPT FORMAT per scene (follow this structure exactly):\n\"Cinematic photorealistic 4K video, 9:16 vertical, 5 seconds. [SETUP: what the scene looks like at the start]. [ACTION: what visually happens or changes during the 5 seconds — this must directly illustrate the narration_segment words]. [VISUAL METAPHOR if the concept is abstract]. Bright molten golden-orange fire veins crack and branch visibly across ${energy_vein_location} — like glowing lava fractures or burning lightning scars — intensely luminous, the brightest element in the frame, casting warm orange light onto the surrounding surface, crackling with living energy. [ATMOSPHERE colour for this scene — different from all others]. [CAMERA MOVE — different from all other scenes]. Volumetric god rays. Atmospheric haze. Shallow depth of field. Film grain texture. ARRI ALEXA cinematic color grade. Epic nature documentary tone. No motion blur. No text. No watermarks.\"\n\nNEGATIVE PROMPT (same for all scenes):\n\"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\"\n\nSCENE STRUCTURE (EXACTLY ${num_clips} scenes, 5 seconds each):\n  ${sceneList}\n\n--- REQUIRED OUTPUT FORMAT ---\nReturn ONLY raw JSON — no markdown, no explanation, no code block:\n{\n  \"narration\": \"full script as one continuous spoken text\",\n  \"opening_line\": \"the exact opening hook sentence\",\n  \"cta\": \"the call to action final line\",\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"start_sec\": 0,\n      \"end_sec\": 5,\n      \"formula_part\": \"MYTH\",\n      \"narration_segment\": \"exact words spoken during this scene\",\n      \"seedance_prompt\": \"complete Seedance prompt following the exact structure above — setup + action + metaphor + energy vein + atmosphere + camera move\",\n      \"negative_prompt\": \"cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur\"\n    }\n  ],\n  \"title\": \"punchy scroll-stopping title under 60 chars\",\n  \"hashtags\": \"#tag1 #tag2 #tag3 #tag4 #tag5 #tag6 #tag7 #tag8\",\n  \"highlight_keywords\": [\"KeyWord1\", \"KeyWord2\", \"KeyWord3\"]\n}`;\n\nreturn [{ json: {\n  ...data,\n  gemini_script_request: {\n    contents: [{ parts: [{ text: prompt }] }],\n    generationConfig: {\n      maxOutputTokens: 8192,\n      temperature: 0.75,\n      responseMimeType: 'application/json'\n    }\n  }\n}}];"
      },
      "id": "shn1-node7",
      "name": "Build Seedance Script Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + $env.GOOGLE_AI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.gemini_script_request) }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "shn1-node8",
      "name": "Gemini Generate Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const response  = $input.first().json;\nconst jobConfig = $('Set Job Config').first().json;\nconst expectedClips = jobConfig.num_clips || 8;\n\nif (!response.candidates || !response.candidates[0] || !response.candidates[0].content) {\n  throw new Error('Gemini response empty or blocked: ' + JSON.stringify(response).slice(0, 300));\n}\n\nlet rawText = response.candidates[0].content.parts[0].text.trim();\nrawText = rawText.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawText);\n} catch(e) {\n  const s = rawText.indexOf('{');\n  const end = rawText.lastIndexOf('}');\n  if (s !== -1 && end !== -1) {\n    parsed = JSON.parse(rawText.slice(s, end + 1));\n  } else {\n    throw new Error('Failed to parse Gemini JSON: ' + rawText.slice(0, 200));\n  }\n}\n\nif (!parsed.scenes || !Array.isArray(parsed.scenes)) {\n  throw new Error('Gemini returned no scenes array');\n}\n\n// Enforce exactly expectedClips scenes\nif (parsed.scenes.length < expectedClips) {\n  while (parsed.scenes.length < expectedClips) {\n    const i = parsed.scenes.length;\n    const last = parsed.scenes[parsed.scenes.length - 1];\n    parsed.scenes.push({\n      ...last,\n      scene_number: i + 1,\n      start_sec: i * 5,\n      end_sec: (i + 1) * 5,\n      formula_part: 'EMOTION'\n    });\n  }\n} else if (parsed.scenes.length > expectedClips) {\n  parsed.scenes = parsed.scenes.slice(0, expectedClips);\n}\n\nconsole.log('Scenes: ' + parsed.scenes.length + ' | Topic: ' + jobConfig.topic);\n\nconst seedance_prompts  = parsed.scenes.map(s => s.seedance_prompt);\nconst negative_prompts  = parsed.scenes.map(s => s.negative_prompt || 'cartoon, anime, CGI animation, text, letters, numbers, labels, watermarks, blur, low quality, flat lighting, motion blur');\n\nreturn [{ json: {\n  ...jobConfig,\n  narration:          parsed.narration,\n  opening_line:       parsed.opening_line || parsed.scenes[0]?.narration_segment || '',\n  cta:                parsed.cta || jobConfig.cta_ref || '',\n  scenes:             parsed.scenes,\n  seedance_prompts,\n  negative_prompts,\n  title:              parsed.title    || jobConfig.topic,\n  hashtags:           parsed.hashtags || jobConfig.hashtags_ref || '#nature #didyouknow #mindblown',\n  highlight_keywords: parsed.highlight_keywords || []\n}}];"
      },
      "id": "shn1-node9",
      "name": "Parse Script Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: {\n  job_id:             data.job_id,\n  topic:              data.topic,\n  category:           data.category,\n  title:              data.title,\n  hashtags:           data.hashtags,\n  narration:          data.narration,\n  opening_line:       data.opening_line,\n  cta:                data.cta,\n  scenes:             data.scenes,\n  seedance_prompts:   data.seedance_prompts,\n  negative_prompts:   data.negative_prompts,\n  highlight_keywords: data.highlight_keywords,\n  num_clips:          data.num_clips,\n  clip_dur_sec:       data.clip_dur_sec,\n  sheet_row:          data.sheet_row,\n  start_time:         data.start_time,\n  // reference fields from sheet\n  subject:              data.subject,\n  environment:          data.environment,\n  energy_vein_location: data.energy_vein_location,\n  est_virality:         data.est_virality,\n  priority:             data.priority\n}}];"
      },
      "id": "shn1-node10",
      "name": "Build Stage 2 Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5679/webhook/seedancehighnice-stage2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "shn1-node11",
      "name": "POST to Stage 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1980,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/1Y3BGFJ12-cZSouM92XifTm4tTPq020DtJhHQWiwFhiM/values/Content%20Topics!B' + $('Set Job Config').first().json.sheet_row + '?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ majorDimension: 'ROWS', values: [['GENERATING']] }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "shn1-node12",
      "name": "Mark GENERATING in Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        2200,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fLI61c72irobLACJ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Topic From Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 1 Webhook": {
      "main": [
        [
          {
            "node": "Set Job Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Topic From Sheet": {
      "main": [
        [
          {
            "node": "Pick Approved Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Approved Topic": {
      "main": [
        [
          {
            "node": "Mark IN_PROGRESS in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark IN_PROGRESS in Sheet": {
      "main": [
        [
          {
            "node": "Set Job Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Job Config": {
      "main": [
        [
          {
            "node": "Build Seedance Script Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Seedance Script Prompt": {
      "main": [
        [
          {
            "node": "Gemini Generate Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Generate Script": {
      "main": [
        [
          {
            "node": "Parse Script Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Script Response": {
      "main": [
        [
          {
            "node": "Build Stage 2 Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Stage 2 Payload": {
      "main": [
        [
          {
            "node": "POST to Stage 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Stage 2": {
      "main": [
        [
          {
            "node": "Mark GENERATING in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "id": "seedancehighnice-stage1",
  "tags": [
    {
      "name": "seedance-highnice"
    },
    {
      "name": "stage1"
    }
  ]
}