workflows/seedancehighnice-stage3.json
{
  "name": "Seedance High Nice - Stage 3 - Assembly & Export",
  "nodes": [
    {
      "parameters": {},
      "id": "shn3-n0",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  \"job_id\": \"SHN-50805120\",\n  \"topic\": \"Whale Song Distance\",\n  \"category\": \"Animals & Nature\",\n  \"title\": \"THE LONELIEST Sound: Whale Song Across Oceans\",\n  \"hashtags\": \"#bluewhale #ocean #whalefacts #naturefacts #mindblown\",\n  \"narration\": \"This sound was heard across an entire ocean.\",\n  \"opening_line\": \"This sound was heard across an entire ocean.\",\n  \"cta\": \"Follow for ocean scale facts that make you feel something.\",\n  \"clip_paths\": [\n    \"/data/ffmpeg/input/SHN-50805120_scene1.mp4\",\n    \"/data/ffmpeg/input/SHN-50805120_scene2.mp4\",\n    \"/data/ffmpeg/input/SHN-50805120_scene3.mp4\",\n    \"/data/ffmpeg/input/SHN-50805120_scene4.mp4\",\n    \"/data/ffmpeg/input/SHN-50805120_scene5.mp4\",\n    \"/data/ffmpeg/input/SHN-50805120_scene6.mp4\"\n  ],\n  \"num_clips\": 6,\n  \"clip_dur_sec\": 5,\n  \"audio_path\": \"/ffmpeg/input/SHN-50805120_voice.mp3\",\n  \"audio_duration\": 34.263,\n  \"ass_path\": \"/data/ffmpeg/input/SHN-50805120_captions.ass\",\n  \"highlight_keywords\": [\"THE LONELIEST\", \"Blue whale\", \"Ocean communication\", \"20,000km\", \"Deep ocean\"],\n  \"sheet_row\": 21,\n  \"start_time\": 1778750805721,\n  \"subject\": \"Blue whale descending into deep ocean\",\n  \"energy_vein_location\": \"Throat and entire vocal body\"\n} }];"
      },
      "id": "shn3-n0b",
      "name": "Test Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seedancehighnice-stage3",
        "options": {}
      },
      "id": "shn3-n1",
      "name": "Stage 3 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        200
      ],
      "webhookId": "seedancehighnice-stage3-assemble"
    },
    {
      "parameters": {
        "jsCode": "const raw  = $input.first().json;\nconst body = (raw.body !== undefined) ? raw.body : raw;\n\nif (!body.job_id)     throw new Error('Missing job_id');\nif (!body.clip_paths) throw new Error('Missing clip_paths from Stage 2');\nif (!body.audio_path) throw new Error('Missing audio_path from Stage 2');\nif (!body.ass_path)   throw new Error('Missing ass_path from Stage 2');\n\nconsole.log('Stage 3 start | job:', body.job_id, '| clips:', (body.clip_paths || []).length);\nreturn [{ json: body }];"
      },
      "id": "shn3-n2",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "// Stage 3 — voice-synced clip timing + 6 motion presets\nconst { execSync } = require('child_process');\nconst fs           = require('fs');\n\nconst data        = $input.first().json;\nconst jobId       = data.job_id;\nconst clips       = data.clip_paths || [];\nconst audioP      = data.audio_path;\nconst assP        = data.ass_path;\nconst audioDur    = data.audio_duration || 30;\nconst scenes      = data.scenes || [];\nconst wordTimings = data.word_timings || [];\nconst N           = clips.length;\n\nif (N === 0) throw new Error('No clip_paths received');\n\nconst n8nIn  = '/data/ffmpeg/input';\nconst n8nOut = '/data/ffmpeg/output';\nconst contIn = '/ffmpeg/input';\nconst contOut= '/ffmpeg/output';\n\nif (!fs.existsSync(n8nOut)) fs.mkdirSync(n8nOut, { recursive: true });\n\nfunction run(cmd, ms, ignoreErr) {\n  try { return execSync(cmd, { encoding: 'utf-8', timeout: ms || 120000 }); }\n  catch(e) {\n    const out = ((e.stdout||'') + (e.stderr||'')).toString();\n    if (ignoreErr) { console.warn('WARN: ' + out.slice(-200)); return ''; }\n    throw new Error(out.slice(-600));\n  }\n}\n\nfunction toC(p) { return p.replace('/data/ffmpeg', '/ffmpeg'); }\n\n// ── STEP 0: actual clip durations from word_timings ───────────────\nfunction wc(text) { return (text||'').trim().split(/\\s+/).filter(w=>w.length>0).length; }\n\nconst clipDurs = [];\nlet wtIdx = 0, prevEnd = 0;\n\nfor (let i = 0; i < N; i++) {\n  const seg      = scenes[i] ? (scenes[i].narration_segment || '') : '';\n  const nWords   = wc(seg);\n  const endIdx   = Math.min(wtIdx + nWords - 1, wordTimings.length - 1);\n  const endSec   = wordTimings[endIdx] ? wordTimings[endIdx].end : audioDur;\n  clipDurs.push(parseFloat(Math.max(endSec - prevEnd, 1.5).toFixed(3)));\n  prevEnd = endSec;\n  wtIdx  += nWords;\n}\n// last clip covers to end of audio\nconst used = clipDurs.slice(0,-1).reduce((a,b)=>a+b,0);\nclipDurs[N-1] = parseFloat(Math.max(audioDur - used, 1.5).toFixed(3));\n\nconsole.log('Scene durations: ' + clipDurs.map((d,i)=>'S'+(i+1)+':'+d+'s').join(' | '));\nconsole.log('Total: ' + clipDurs.reduce((a,b)=>a+b,0).toFixed(2) + 's | Audio: ' + audioDur.toFixed(2) + 's');\n\n// ── STEP 1+2: normalize + time-stretch + motion per clip ──────────\nfunction getCrop(preset, d) {\n  const px = ['(1188-1080)/2*(1-t/'+d+'):(2112-1920)/2*(1-t/'+d+')',\n               '(1188-1080)/2*t/'+d+':(2112-1920)/2*t/'+d,\n               '(1188-1080)/2*(1-t/'+d+')+20*t/'+d+':(2112-1920)/2*(1-t/'+d+')',\n               '(1188-1080)/2*t/'+d+':(2112-1920)/2*(1-t/'+d+')+30*t/'+d,\n               '(1188-1080)/4*(1-t/'+d+'):(2112-1920)/2*(1-t/'+d+')',\n               '(1188-1080)/2*(1-t/'+d+'):(2112-1920)/4*t/'+d];\n  return px[preset % 6];\n}\n\nconsole.log('Processing ' + N + ' clips with time-stretch + motion...');\nconst processed = [];\n\nfor (let i = 0; i < N; i++) {\n  const src    = toC(clips[i]);\n  const dst    = contIn + '/' + jobId + '_proc' + i + '.mp4';\n  const dstH   = n8nIn  + '/' + jobId + '_proc' + i + '.mp4';\n  const dur    = clipDurs[i];\n  const d      = dur.toFixed(3);\n  const ptsF   = (dur / 5.0).toFixed(6);\n  const fadeO  = Math.max(dur - 0.25, 0.1).toFixed(3);\n  const crop   = getCrop(i, d);\n  const vf     = 'setpts=' + ptsF + '*PTS,scale=1188:2112:flags=lanczos,crop=1080:1920:' + crop + ',setsar=1,fps=24,fade=t=in:st=0:d=0.2,fade=t=out:st=' + fadeO + ':d=0.2';\n\n  run('docker exec qpc_ffmpeg_runner ffmpeg -y -i \"' + src + '\" -vf \"' + vf + '\" -t ' + d + ' -c:v libx264 -crf 17 -preset fast -pix_fmt yuv420p -an \"' + dst + '\" && echo OK', 180000);\n  processed.push({ n8n: dstH, cont: dst });\n  console.log('  Clip ' + (i+1) + ': ' + d + 's | motion ' + (i%6) + ' | setpts=' + ptsF);\n}\n\n// ── STEP 3: concat ────────────────────────────────────────────────\nconsole.log('Concatenating...');\nlet xfade;\nif (N === 1) {\n  xfade = processed[0];\n} else {\n  const cc = contIn + '/' + jobId + '_concat.mp4';\n  const cn = n8nIn  + '/' + jobId + '_concat.mp4';\n  run('docker exec qpc_ffmpeg_runner ffmpeg -y ' + processed.map(p=>'-i \"'+p.cont+'\"').join(' ') +\n      ' -filter_complex \"concat=n=' + N + ':v=1:a=0[vout]\" -map \"[vout]\"' +\n      ' -c:v libx264 -crf 17 -preset fast -pix_fmt yuv420p -an \"' + cc + '\" && echo CONCAT_OK', 300000);\n  xfade = { n8n: cn, cont: cc };\n  console.log('Concat: ' + clipDurs.reduce((a,b)=>a+b,0).toFixed(2) + 's');\n}\n\n// ── STEP 4: audio ─────────────────────────────────────────────────\nconst voiceC = toC(audioP);\nconst hasVoice = run('docker exec qpc_ffmpeg_runner test -f \"' + voiceC + '\" && echo OK', 10000, true).includes('OK');\n\nlet bgmFile = null;\nfor (const t of ['NatureAmbient','Odyssey','Arcane','Apprehension','Anamalie']) {\n  const p = '/ffmpeg/config/bgm/' + t + '.mp3';\n  if (run('docker exec qpc_ffmpeg_runner test -f \"' + p + '\" && echo OK', 5000, true).includes('OK')) { bgmFile = p; console.log('BGM: ' + t); break; }\n}\n\nlet bgmT = null;\nif (bgmFile) {\n  const bd  = contIn + '/' + jobId + '_bgm.mp3';\n  const fst = Math.max(0, audioDur - 1.5).toFixed(2);\n  run('docker exec qpc_ffmpeg_runner ffmpeg -y -i \"' + bgmFile + '\" -t ' + audioDur.toFixed(2) + ' -af \"afade=t=in:st=0:d=1.0,afade=t=out:st=' + fst + ':d=1.5,volume=0.12\" -acodec libmp3lame -ab 128k \"' + bd + '\" && echo BGM_OK', 60000, true);\n  bgmT = bd;\n}\n\n// ── STEP 5: captions ─────────────────────────────────────────────\nconst assC   = toC(assP);\nconst hasASS = run('docker exec qpc_ffmpeg_runner test -f \"' + assC + '\" && echo OK', 5000, true).includes('OK');\nconsole.log('Captions: ' + (hasASS?'yes':'no'));\n\n// ── STEP 6: final render ──────────────────────────────────────────\nconst inp = ['-i \"' + xfade.cont + '\"'];\nif (hasVoice) inp.push('-i \"' + voiceC + '\"');\nif (bgmT)     inp.push('-i \"' + bgmT + '\"');\n\nconst vIdx = hasVoice ? 1 : -1;\nconst bIdx = bgmT ? (hasVoice ? 2 : 1) : -1;\n\nlet vF = [], vL = '0:v', lb = 0;\n\nif (hasASS) {\n  vF.push('['+vL+\"]subtitles=filename='\"+assC+\"'[vv\"+lb+']');\n  vL = 'vv'+lb; lb++;\n}\nconst fst2 = Math.max(0, audioDur - 1.5).toFixed(2);\nvF.push('['+vL+']fade=t=out:st='+fst2+':d=1.5:color=black[vfo'+lb+']');\nvL = 'vfo'+lb; lb++;\n\nconst aft = Math.max(0, audioDur - 1.2).toFixed(2);\nlet aMap = '-an', aStr = '';\nif (hasVoice && bgmT) {\n  aStr = ';['+vIdx+':a]volume=0.75,afade=t=out:st='+aft+':d=1.2[nar];['+bIdx+':a]volume=1.0[bgm];[nar][bgm]amix=inputs=2:duration=first:dropout_transition=2[aout]';\n  aMap = '-map \"[aout]\"';\n} else if (hasVoice) {\n  aStr = ';['+vIdx+':a]volume=0.75,afade=t=out:st='+aft+':d=1.2[aout]';\n  aMap = '-map \"[aout]\"';\n} else if (bgmT) {\n  aStr = ';['+bIdx+':a]volume=1.0,afade=t=out:st='+aft+':d=1.2[aout]';\n  aMap = '-map \"[aout]\"';\n}\n\nconst ff    = vF.join(';') + aStr;\nconst fCont = contOut + '/' + jobId + '_final.mp4';\nconst fN8n  = n8nOut  + '/' + jobId + '_final.mp4';\nconst tSec  = Math.ceil(audioDur) + 1;\n\nconst fArg  = ff\n  ? ' -filter_complex \"' + ff + '\" -map \"[' + vL + ']\" ' + aMap\n  : ' -map \"0:v\" ' + aMap;\n\nconst cmd =\n  'docker exec qpc_ffmpeg_runner ffmpeg -y ' + inp.join(' ') + fArg +\n  ' -c:v libx264 -crf 17 -preset fast -pix_fmt yuv420p -movflags +faststart' +\n  (aMap !== '-an' ? ' -c:a aac -b:a 192k' : '') +\n  ' -t ' + tSec + ' \"' + fCont + '\" && echo FINAL_OK';\n\nconsole.log('Final render...');\nconst out = run(cmd, 900000);\nif (!out.includes('FINAL_OK')) throw new Error('Render failed: ' + out.slice(-500));\nif (!fs.existsSync(fN8n)) throw new Error('File missing: ' + fN8n);\n\nconst mb  = (fs.statSync(fN8n).size / 1048576).toFixed(1);\nconst sec = Math.round((Date.now() - (data.start_time || Date.now())) / 1000);\nconsole.log('Done: ' + mb + 'MB | ' + sec + 's | clips: ' + clipDurs.map(d=>d.toFixed(1)+'s').join('+'));\n\nreturn [{ json: {\n  ...data,\n  final_video_path: fN8n,\n  output_filename:  jobId + '_final.mp4',\n  file_size_mb:     parseFloat(mb),\n  render_time_sec:  sec,\n  clips_used:       N,\n  has_voice:        hasVoice,\n  has_bgm:          !!bgmT,\n  has_captions:     hasASS,\n  clip_durations:   clipDurs\n}}];"
      },
      "id": "shn3-n3",
      "name": "Assemble Final Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs   = require('fs');\nconst data = $input.first().json;\nconst path = data.final_video_path;\n\nif (!fs.existsSync(path)) throw new Error('Final video not found: ' + path);\n\nconst b64 = fs.readFileSync(path).toString('base64');\nreturn [{\n  json: data,\n  binary: {\n    data: {\n      data:          b64,\n      mimeType:      'video/mp4',\n      fileName:      data.output_filename,\n      fileExtension: 'mp4'\n    }\n  }\n}];"
      },
      "id": "shn3-n4",
      "name": "Read Final Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        150
      ]
    },
    {
      "parameters": {
        "name": "={{ $('Assemble Final Video').first().json.output_filename }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $env.SEEDANCE_DRIVE_FOLDER_ID || $env.GOOGLE_DRIVE_FOLDER_ID }}",
          "mode": "id"
        },
        "options": {
          "simplifyOutput": false
        }
      },
      "id": "shn3-n5",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        150
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OPs3jzJpnpfateNo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.id + '/permissions' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "anyone"
            },
            {
              "name": "role",
              "value": "reader"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "shn3-n6",
      "name": "Make Video Public",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1200,
        150
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OPs3jzJpnpfateNo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const driveNode    = $('Upload to Google Drive').first().json;\nconst assembleData = $('Assemble Final Video').first().json;\nconst fileId       = driveNode.id;\nconst videoUrl     = 'https://drive.google.com/file/d/' + fileId + '/view';\nconst downloadUrl  = 'https://drive.usercontent.google.com/download?id=' + fileId + '&export=download';\n\nconsole.log('Stage 3 complete: ' + assembleData.job_id + ' → ' + videoUrl);\n\nreturn [{ json: {\n  job_id:          assembleData.job_id,\n  topic:           assembleData.topic,\n  title:           assembleData.title,\n  hashtags:        assembleData.hashtags,\n  narration:       assembleData.narration,\n  cta:             assembleData.cta,\n  video_url:       videoUrl,\n  download_url:    downloadUrl,\n  drive_file_id:   fileId,\n  file_size_mb:    assembleData.file_size_mb,\n  render_time_sec: assembleData.render_time_sec,\n  clips_used:      assembleData.clips_used,\n  has_voice:       assembleData.has_voice,\n  has_bgm:         assembleData.has_bgm,\n  has_captions:    assembleData.has_captions,\n  sheet_row:       assembleData.sheet_row\n}}];"
      },
      "id": "shn3-n7",
      "name": "Stage 3 Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        150
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/1Y3BGFJ12-cZSouM92XifTm4tTPq020DtJhHQWiwFhiM/values/Content%20Topics!B' + $json.sheet_row + '?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ majorDimension: 'ROWS', values: [['DONE']] }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "shn3-n8",
      "name": "Mark DONE in Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        1680,
        150
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OPs3jzJpnpfateNo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Clean up temp files after successful completion\nconst fs      = require('fs');\nconst data    = $('Stage 3 Done').first().json;\nconst assembl = $('Assemble Final Video').first().json;\nconst jobId   = assembl.job_id;\nconst n8nIn   = '/data/ffmpeg/input';\n\nconst patterns = [\n  '_norm', '_zoom', '_xfade', '_bgm', '_captions'\n];\n\nlet removed = 0;\nconst files  = fs.readdirSync(n8nIn);\nfor (const f of files) {\n  if (!f.startsWith(jobId)) continue;\n  const shouldDelete = patterns.some(p => f.includes(p));\n  if (shouldDelete) {\n    try { fs.unlinkSync(n8nIn + '/' + f); removed++; } catch(e) {}\n  }\n}\nconsole.log('Cleaned up ' + removed + ' temp files for job ' + jobId);\n\nreturn [{ json: {\n  ...data,\n  cleanup_done: true,\n  temp_files_removed: removed\n}}];"
      },
      "id": "shn3-n9",
      "name": "Cleanup Temp Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        150
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Test Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Payload": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 3 Webhook": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Assemble Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Final Video": {
      "main": [
        [
          {
            "node": "Read Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Final Video": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Make Video Public",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Video Public": {
      "main": [
        [
          {
            "node": "Stage 3 Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 3 Done": {
      "main": [
        [
          {
            "node": "Mark DONE in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark DONE in Sheet": {
      "main": [
        [
          {
            "node": "Cleanup Temp Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "id": "seedancehighnice-stage3",
  "tags": [
    {
      "name": "seedance-highnice"
    },
    {
      "name": "stage3"
    }
  ]
}