workflows/seedancehighnice-stage3.json
{
  "name": "Seedance High Nice - Stage 3 - Assembly & Export",
  "nodes": [
    {
      "parameters": {},
      "id": "shn3-n0",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  \"job_id\": \"SHN-64718870\",\n  \"topic\": \"Bones Are Alive\",\n  \"category\": \"Human Body\",\n  \"title\": \"Bones: Dead Stone or Living Fire?\",\n  \"hashtags\": \"#bones #skeleton #anatomy #humanbody #mindblown #livingbones #bodyscience #reframe\",\n  \"narration\": \"Bones are often perceived as inert, rigid structures. They seem like static scaffolding, a permanent framework. This view suggests they are simply dead material, unchanging once formed. No life, no dynamic processes. In reality, bones are living organs. They possess intricate blood supplies and active nerve endings. Bone tissue constantly rebuilds itself. Old cells dissolve as new, stronger material forms continuously. This continuous regeneration makes the entire skeleton a vibrant, dynamic system. It is a marvel of constant renewal. Follow for anatomy facts that change how one sees the body.\",\n  \"opening_line\": \"Bones are often perceived as inert, rigid structures.\",\n  \"cta\": \"Follow for anatomy facts that change how one sees the body.\",\n  \"clip_paths\": [\n    \"/data/ffmpeg/input/SHN-64718870_scene1.mp4\",\n    \"/data/ffmpeg/input/SHN-64718870_scene2.mp4\",\n    \"/data/ffmpeg/input/SHN-64718870_scene3.mp4\",\n    \"/data/ffmpeg/input/SHN-64718870_scene4.mp4\",\n    \"/data/ffmpeg/input/SHN-64718870_scene5.mp4\",\n    \"/data/ffmpeg/input/SHN-64718870_scene6.mp4\"\n  ],\n  \"num_clips\": 6,\n  \"clip_dur_sec\": 5,\n  \"audio_path\": \"/ffmpeg/input/SHN-64718870_voice.mp3\",\n  \"audio_duration\": 42.316,\n  \"ass_path\": \"/data/ffmpeg/input/SHN-64718870_captions.ass\",\n  \"highlight_keywords\": [\n    \"Bones\",\n    \"Living Organs\",\n    \"Rebuilding\",\n    \"Skeleton\",\n    \"Awe\"\n  ],\n  \"sheet_row\": 88,\n  \"start_time\": 1778764719548,\n  \"subject\": \"Person standing strong, powerful stance\",\n  \"energy_vein_location\": \"Entire skeleton — living and pulsing\",\n  \"word_timings\": [\n    {\n      \"word\": \"Bones\",\n      \"start\": 0.05,\n      \"end\": 0.482\n    },\n    {\n      \"word\": \"are\",\n      \"start\": 0.482,\n      \"end\": 0.742\n    },\n    {\n      \"word\": \"often\",\n      \"start\": 0.742,\n      \"end\": 1.174\n    },\n    {\n      \"word\": \"perceived\",\n      \"start\": 1.174,\n      \"end\": 1.952\n    },\n    {\n      \"word\": \"as\",\n      \"start\": 1.952,\n      \"end\": 2.125\n    },\n    {\n      \"word\": \"inert\",\n      \"start\": 2.125,\n      \"end\": 2.643\n    },\n    {\n      \"word\": \"rigid\",\n      \"start\": 2.643,\n      \"end\": 3.075\n    },\n    {\n      \"word\": \"structures\",\n      \"start\": 3.075,\n      \"end\": 4.026\n    },\n    {\n      \"word\": \"They\",\n      \"start\": 4.026,\n      \"end\": 4.315\n    },\n    {\n      \"word\": \"seem\",\n      \"start\": 4.315,\n      \"end\": 4.603\n    },\n    {\n      \"word\": \"like\",\n      \"start\": 4.603,\n      \"end\": 4.892\n    },\n    {\n      \"word\": \"static\",\n      \"start\": 4.892,\n      \"end\": 5.324\n    },\n    {\n      \"word\": \"scaffolding\",\n      \"start\": 5.324,\n      \"end\": 6.189\n    },\n    {\n      \"word\": \"a\",\n      \"start\": 6.189,\n      \"end\": 6.262\n    },\n    {\n      \"word\": \"permanent\",\n      \"start\": 6.262,\n      \"end\": 6.911\n    },\n    {\n      \"word\": \"framework\",\n      \"start\": 6.911,\n      \"end\": 7.632\n    },\n    {\n      \"word\": \"This\",\n      \"start\": 7.632,\n      \"end\": 7.937\n    },\n    {\n      \"word\": \"view\",\n      \"start\": 7.937,\n      \"end\": 8.241\n    },\n    {\n      \"word\": \"suggests\",\n      \"start\": 8.241,\n      \"end\": 8.851\n    },\n    {\n      \"word\": \"they\",\n      \"start\": 8.851,\n      \"end\": 9.156\n    },\n    {\n      \"word\": \"are\",\n      \"start\": 9.156,\n      \"end\": 9.385\n    },\n    {\n      \"word\": \"simply\",\n      \"start\": 9.385,\n      \"end\": 9.842\n    },\n    {\n      \"word\": \"dead\",\n      \"start\": 9.842,\n      \"end\": 10.147\n    },\n    {\n      \"word\": \"material\",\n      \"start\": 10.147,\n      \"end\": 10.833\n    },\n    {\n      \"word\": \"unchanging\",\n      \"start\": 10.833,\n      \"end\": 11.596\n    },\n    {\n      \"word\": \"once\",\n      \"start\": 11.596,\n      \"end\": 11.901\n    },\n    {\n      \"word\": \"formed\",\n      \"start\": 11.901,\n      \"end\": 12.434\n    },\n    {\n      \"word\": \"No\",\n      \"start\": 12.434,\n      \"end\": 12.636\n    },\n    {\n      \"word\": \"life\",\n      \"start\": 12.636,\n      \"end\": 13.139\n    },\n    {\n      \"word\": \"no\",\n      \"start\": 13.139,\n      \"end\": 13.341\n    },\n    {\n      \"word\": \"dynamic\",\n      \"start\": 13.341,\n      \"end\": 14.046\n    },\n    {\n      \"word\": \"processes\",\n      \"start\": 14.046,\n      \"end\": 15.053\n    },\n    {\n      \"word\": \"In\",\n      \"start\": 15.053,\n      \"end\": 15.223\n    },\n    {\n      \"word\": \"reality\",\n      \"start\": 15.223,\n      \"end\": 15.906\n    },\n    {\n      \"word\": \"bones\",\n      \"start\": 15.906,\n      \"end\": 16.332\n    },\n    {\n      \"word\": \"are\",\n      \"start\": 16.332,\n      \"end\": 16.588\n    },\n    {\n      \"word\": \"living\",\n      \"start\": 16.588,\n      \"end\": 17.1\n    },\n    {\n      \"word\": \"organs\",\n      \"start\": 17.1,\n      \"end\": 17.697\n    },\n    {\n      \"word\": \"They\",\n      \"start\": 17.697,\n      \"end\": 17.978\n    },\n    {\n      \"word\": \"possess\",\n      \"start\": 17.978,\n      \"end\": 18.468\n    },\n    {\n      \"word\": \"intricate\",\n      \"start\": 18.468,\n      \"end\": 19.099\n    },\n    {\n      \"word\": \"blood\",\n      \"start\": 19.099,\n      \"end\": 19.45\n    },\n    {\n      \"word\": \"supplies\",\n      \"start\": 19.45,\n      \"end\": 20.011\n    },\n    {\n      \"word\": \"and\",\n      \"start\": 20.011,\n      \"end\": 20.221\n    },\n    {\n      \"word\": \"active\",\n      \"start\": 20.221,\n      \"end\": 20.641\n    },\n    {\n      \"word\": \"nerve\",\n      \"start\": 20.641,\n      \"end\": 20.992\n    },\n    {\n      \"word\": \"endings\",\n      \"start\": 20.992,\n      \"end\": 21.553\n    },\n    {\n      \"word\": \"Bone\",\n      \"start\": 21.553,\n      \"end\": 21.891\n    },\n    {\n      \"word\": \"tissue\",\n      \"start\": 21.891,\n      \"end\": 22.398\n    },\n    {\n      \"word\": \"constantly\",\n      \"start\": 22.398,\n      \"end\": 23.244\n    },\n    {\n      \"word\": \"rebuilds\",\n      \"start\": 23.244,\n      \"end\": 23.921\n    },\n    {\n      \"word\": \"itself\",\n      \"start\": 23.921,\n      \"end\": 24.513\n    },\n    {\n      \"word\": \"Old\",\n      \"start\": 24.513,\n      \"end\": 24.774\n    },\n    {\n      \"word\": \"cells\",\n      \"start\": 24.774,\n      \"end\": 25.209\n    },\n    {\n      \"word\": \"dissolve\",\n      \"start\": 25.209,\n      \"end\": 25.904\n    },\n    {\n      \"word\": \"as\",\n      \"start\": 25.904,\n      \"end\": 26.078\n    },\n    {\n      \"word\": \"new\",\n      \"start\": 26.078,\n      \"end\": 26.426\n    },\n    {\n      \"word\": \"stronger\",\n      \"start\": 26.426,\n      \"end\": 27.121\n    },\n    {\n      \"word\": \"material\",\n      \"start\": 27.121,\n      \"end\": 27.817\n    },\n    {\n      \"word\": \"forms\",\n      \"start\": 27.817,\n      \"end\": 28.251\n    },\n    {\n      \"word\": \"continuously\",\n      \"start\": 28.251,\n      \"end\": 29.382\n    },\n    {\n      \"word\": \"This\",\n      \"start\": 29.382,\n      \"end\": 29.727\n    },\n    {\n      \"word\": \"continuous\",\n      \"start\": 29.727,\n      \"end\": 30.591\n    },\n    {\n      \"word\": \"regeneration\",\n      \"start\": 30.591,\n      \"end\": 31.627\n    },\n    {\n      \"word\": \"makes\",\n      \"start\": 31.627,\n      \"end\": 32.059\n    },\n    {\n      \"word\": \"the\",\n      \"start\": 32.059,\n      \"end\": 32.318\n    },\n    {\n      \"word\": \"entire\",\n      \"start\": 32.318,\n      \"end\": 32.836\n    },\n    {\n      \"word\": \"skeleton\",\n      \"start\": 32.836,\n      \"end\": 33.527\n    },\n    {\n      \"word\": \"a\",\n      \"start\": 33.527,\n      \"end\": 33.613\n    },\n    {\n      \"word\": \"vibrant\",\n      \"start\": 33.613,\n      \"end\": 34.304\n    },\n    {\n      \"word\": \"dynamic\",\n      \"start\": 34.304,\n      \"end\": 34.909\n    },\n    {\n      \"word\": \"system\",\n      \"start\": 34.909,\n      \"end\": 35.513\n    },\n    {\n      \"word\": \"It\",\n      \"start\": 35.513,\n      \"end\": 35.686\n    },\n    {\n      \"word\": \"is\",\n      \"start\": 35.686,\n      \"end\": 35.86\n    },\n    {\n      \"word\": \"a\",\n      \"start\": 35.86,\n      \"end\": 35.946\n    },\n    {\n      \"word\": \"marvel\",\n      \"start\": 35.946,\n      \"end\": 36.466\n    },\n    {\n      \"word\": \"of\",\n      \"start\": 36.466,\n      \"end\": 36.64\n    },\n    {\n      \"word\": \"constant\",\n      \"start\": 36.64,\n      \"end\": 37.333\n    },\n    {\n      \"word\": \"renewal\",\n      \"start\": 37.333,\n      \"end\": 38.026\n    },\n    {\n      \"word\": \"Follow\",\n      \"start\": 38.026,\n      \"end\": 38.49\n    },\n    {\n      \"word\": \"for\",\n      \"start\": 38.49,\n      \"end\": 38.722\n    },\n    {\n      \"word\": \"anatomy\",\n      \"start\": 38.722,\n      \"end\": 39.264\n    },\n    {\n      \"word\": \"facts\",\n      \"start\": 39.264,\n      \"end\": 39.65\n    },\n    {\n      \"word\": \"that\",\n      \"start\": 39.65,\n      \"end\": 39.96\n    },\n    {\n      \"word\": \"change\",\n      \"start\": 39.96,\n      \"end\": 40.424\n    },\n    {\n      \"word\": \"how\",\n      \"start\": 40.424,\n      \"end\": 40.656\n    },\n    {\n      \"word\": \"one\",\n      \"start\": 40.656,\n      \"end\": 40.888\n    },\n    {\n      \"word\": \"sees\",\n      \"start\": 40.888,\n      \"end\": 41.197\n    },\n    {\n      \"word\": \"the\",\n      \"start\": 41.197,\n      \"end\": 41.429\n    },\n    {\n      \"word\": \"body\",\n      \"start\": 41.429,\n      \"end\": 41.816\n    }\n  ],\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"start_sec\": 0,\n      \"end_sec\": 5,\n      \"formula_part\": \"MYTH\",\n      \"narration_segment\": \"Bones are often perceived as inert, rigid structures. They seem like static scaffolding, a permanent framework.\"\n    },\n    {\n      \"scene_number\": 2,\n      \"start_sec\": 5,\n      \"end_sec\": 10,\n      \"formula_part\": \"MYTH\",\n      \"narration_segment\": \"This view suggests they are simply dead material, unchanging once formed. No life, no dynamic processes.\"\n    },\n    {\n      \"scene_number\": 3,\n      \"start_sec\": 10,\n      \"end_sec\": 15,\n      \"formula_part\": \"TWIST\",\n      \"narration_segment\": \"In reality, bones are living organs. They possess intricate blood supplies and active nerve endings.\"\n    },\n    {\n      \"scene_number\": 4,\n      \"start_sec\": 15,\n      \"end_sec\": 20,\n      \"formula_part\": \"TWIST\",\n      \"narration_segment\": \"Bone tissue constantly rebuilds itself. Old cells dissolve as new, stronger material forms continuously.\"\n    },\n    {\n      \"scene_number\": 5,\n      \"start_sec\": 20,\n      \"end_sec\": 25,\n      \"formula_part\": \"EMOTION\",\n      \"narration_segment\": \"This continuous regeneration makes the entire skeleton a vibrant, dynamic system. It is a marvel of constant renewal.\"\n    },\n    {\n      \"scene_number\": 6,\n      \"start_sec\": 25,\n      \"end_sec\": 30,\n      \"formula_part\": \"CTA\",\n      \"narration_segment\": \"Follow for anatomy facts that change how one sees the body.\"\n    }\n  ]\n} }];"
      },
      "id": "shn3-n0b",
      "name": "Test Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seedancehighnice-stage3",
        "options": {}
      },
      "id": "shn3-n1",
      "name": "Stage 3 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        200
      ],
      "webhookId": "seedancehighnice-stage3-assemble"
    },
    {
      "parameters": {
        "jsCode": "const raw  = $input.first().json;\nconst body = (raw.body !== undefined) ? raw.body : raw;\n\nif (!body.job_id)     throw new Error('Missing job_id');\nif (!body.clip_paths) throw new Error('Missing clip_paths from Stage 2');\nif (!body.audio_path) throw new Error('Missing audio_path from Stage 2');\nif (!body.ass_path)   throw new Error('Missing ass_path from Stage 2');\n\nconsole.log('Stage 3 start | job:', body.job_id, '| clips:', (body.clip_paths || []).length);\nreturn [{ json: body }];"
      },
      "id": "shn3-n2",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "// Stage 3 — voice-synced clip timing + 6 motion presets\nconst { execSync } = require('child_process');\nconst fs           = require('fs');\n\nconst data        = $input.first().json;\nconst jobId       = data.job_id;\nconst clips       = data.clip_paths || [];\nconst audioP      = data.audio_path;\nconst assP        = data.ass_path;\nconst audioDur    = data.audio_duration || 30;\nconst scenes      = data.scenes || [];\nconst wordTimings = data.word_timings || [];\nconst N           = clips.length;\n\nif (N === 0) throw new Error('No clip_paths received');\n\nconst n8nIn  = '/data/ffmpeg/input';\nconst n8nOut = '/data/ffmpeg/output';\nconst contIn = '/ffmpeg/input';\nconst contOut= '/ffmpeg/output';\n\nif (!fs.existsSync(n8nOut)) fs.mkdirSync(n8nOut, { recursive: true });\n\nfunction run(cmd, ms, ignoreErr) {\n  try { return execSync(cmd, { encoding: 'utf-8', timeout: ms || 120000 }); }\n  catch(e) {\n    const out = ((e.stdout||'') + (e.stderr||'')).toString();\n    if (ignoreErr) { console.warn('WARN: ' + out.slice(-200)); return ''; }\n    throw new Error(out.slice(-600));\n  }\n}\n\nfunction toC(p) { return p.replace('/data/ffmpeg', '/ffmpeg'); }\n\n// ── STEP 0: actual clip durations from word_timings ───────────────\nfunction wc(text) { return (text||'').trim().split(/\\s+/).filter(w=>w.length>0).length; }\n\nconst clipDurs = [];\nlet wtIdx = 0, prevEnd = 0;\n\nfor (let i = 0; i < N; i++) {\n  const seg      = scenes[i] ? (scenes[i].narration_segment || '') : '';\n  const nWords   = wc(seg);\n  const endIdx   = Math.min(wtIdx + nWords - 1, wordTimings.length - 1);\n  const endSec   = wordTimings[endIdx] ? wordTimings[endIdx].end : audioDur;\n  clipDurs.push(parseFloat(Math.max(endSec - prevEnd, 1.5).toFixed(3)));\n  prevEnd = endSec;\n  wtIdx  += nWords;\n}\n// last clip covers to end of audio\nconst used = clipDurs.slice(0,-1).reduce((a,b)=>a+b,0);\nclipDurs[N-1] = parseFloat(Math.max(audioDur - used, 1.5).toFixed(3));\n\nconsole.log('Scene durations: ' + clipDurs.map((d,i)=>'S'+(i+1)+':'+d+'s').join(' | '));\nconsole.log('Total: ' + clipDurs.reduce((a,b)=>a+b,0).toFixed(2) + 's | Audio: ' + audioDur.toFixed(2) + 's');\n\n// ── STEP 1+2: normalize + time-stretch + motion per clip ──────────\n// Square (1080x1080) content centred in 1080x1920 with 420px black bars top/bottom\n// Oversample to 1188x1188 for Ken Burns headroom (108px travel each axis)\nfunction getCrop(preset, d) {\n  const px = ['(1188-1080)/2*(1-t/'+d+'):(1188-1080)/2*(1-t/'+d+')',\n               '(1188-1080)/2*t/'+d+':(1188-1080)/2*t/'+d,\n               '(1188-1080)/2*(1-t/'+d+')+20*t/'+d+':(1188-1080)/2*(1-t/'+d+')',\n               '(1188-1080)/2*t/'+d+':(1188-1080)/2*(1-t/'+d+')+20*t/'+d,\n               '(1188-1080)/4*(1-t/'+d+'):(1188-1080)/2*(1-t/'+d+')',\n               '(1188-1080)/2*(1-t/'+d+'):(1188-1080)/4*t/'+d];\n  return px[preset % 6];\n}\n\nconsole.log('Processing ' + N + ' clips with time-stretch + square motion...');\nconst processed = [];\n\nfor (let i = 0; i < N; i++) {\n  const src    = toC(clips[i]);\n  const dst    = contIn + '/' + jobId + '_proc' + i + '.mp4';\n  const dstH   = n8nIn  + '/' + jobId + '_proc' + i + '.mp4';\n  const dur    = clipDurs[i];\n  const d      = dur.toFixed(3);\n  const ptsF   = (dur / 5.0).toFixed(6);\n  const fadeO  = Math.max(dur - 0.25, 0.1).toFixed(3);\n  const crop   = getCrop(i, d);\n  // Fill 1188x1188 square (center-crop any aspect ratio), Ken Burns to 1080x1080,\n  // then pad into 1080x1920 with 420px black top and bottom\n  const vf     = 'setpts=' + ptsF + '*PTS,scale=1188:1188:force_original_aspect_ratio=increase:flags=lanczos,crop=1188:1188,crop=1080:1080:' + crop + ',pad=1080:1920:0:420:color=black,setsar=1,fps=24,fade=t=in:st=0:d=0.2,fade=t=out:st=' + fadeO + ':d=0.2';\n\n  run('docker exec qpc_ffmpeg_runner ffmpeg -y -i \"' + src + '\" -vf \"' + vf + '\" -t ' + d + ' -c:v libx264 -crf 17 -preset fast -pix_fmt yuv420p -an \"' + dst + '\" && echo OK', 180000);\n  processed.push({ n8n: dstH, cont: dst });\n  console.log('  Clip ' + (i+1) + ': ' + d + 's | motion ' + (i%6) + ' | setpts=' + ptsF);\n}\n\n// ── STEP 3: concat ────────────────────────────────────────────────\nconsole.log('Concatenating...');\nlet xfade;\nif (N === 1) {\n  xfade = processed[0];\n} else {\n  const cc = contIn + '/' + jobId + '_concat.mp4';\n  const cn = n8nIn  + '/' + jobId + '_concat.mp4';\n  run('docker exec qpc_ffmpeg_runner ffmpeg -y ' + processed.map(p=>'-i \"'+p.cont+'\"').join(' ') +\n      ' -filter_complex \"concat=n=' + N + ':v=1:a=0[vout]\" -map \"[vout]\"' +\n      ' -c:v libx264 -crf 17 -preset fast -pix_fmt yuv420p -an \"' + cc + '\" && echo CONCAT_OK', 300000);\n  xfade = { n8n: cn, cont: cc };\n  console.log('Concat: ' + clipDurs.reduce((a,b)=>a+b,0).toFixed(2) + 's');\n}\n\n// ── STEP 4: audio ─────────────────────────────────────────────────\nconst voiceC = toC(audioP);\nconst hasVoice = run('docker exec qpc_ffmpeg_runner test -f \"' + voiceC + '\" && echo OK', 10000, true).includes('OK');\n\nlet bgmFile = null;\nfor (const t of ['NatureAmbient','Odyssey','Arcane','Apprehension','Anamalie']) {\n  const p = '/ffmpeg/config/bgm/' + t + '.mp3';\n  if (run('docker exec qpc_ffmpeg_runner test -f \"' + p + '\" && echo OK', 5000, true).includes('OK')) { bgmFile = p; console.log('BGM: ' + t); break; }\n}\n\nlet bgmT = null;\nif (bgmFile) {\n  const bd  = contIn + '/' + jobId + '_bgm.mp3';\n  const fst = Math.max(0, audioDur - 1.5).toFixed(2);\n  run('docker exec qpc_ffmpeg_runner ffmpeg -y -i \"' + bgmFile + '\" -t ' + audioDur.toFixed(2) + ' -af \"afade=t=in:st=0:d=1.0,afade=t=out:st=' + fst + ':d=1.5,volume=1.0\" -acodec libmp3lame -ab 128k \"' + bd + '\" && echo BGM_OK', 60000, true);\n  bgmT = bd;\n}\n\n// ── STEP 5: captions ─────────────────────────────────────────────\nconst assC   = toC(assP);\nconst hasASS = run('docker exec qpc_ffmpeg_runner test -f \"' + assC + '\" && echo OK', 5000, true).includes('OK');\nconsole.log('Captions: ' + (hasASS?'yes':'no'));\n\n// ── STEP 6: final render ──────────────────────────────────────────\nconst inp = ['-i \"' + xfade.cont + '\"'];\nif (hasVoice) inp.push('-i \"' + voiceC + '\"');\nif (bgmT)     inp.push('-i \"' + bgmT + '\"');\n\nconst vIdx = hasVoice ? 1 : -1;\nconst bIdx = bgmT ? (hasVoice ? 2 : 1) : -1;\n\nlet vF = [], vL = '0:v', lb = 0;\n\nif (hasASS) {\n  vF.push('['+vL+\"]subtitles=filename='\"+assC+\"'[vv\"+lb+']');\n  vL = 'vv'+lb; lb++;\n}\nconst fst2 = Math.max(0, audioDur - 1.5).toFixed(2);\nvF.push('['+vL+']fade=t=out:st='+fst2+':d=1.5:color=black[vfo'+lb+']');\nvL = 'vfo'+lb; lb++;\n\nconst aft = Math.max(0, audioDur - 1.2).toFixed(2);\nlet aMap = '-an', aStr = '';\nif (hasVoice && bgmT) {\n  aStr = ';['+vIdx+':a]volume=1.0,afade=t=out:st='+aft+':d=1.2[nar];['+bIdx+':a]volume=1.0[bgm];[nar][bgm]amix=inputs=2:duration=first:dropout_transition=2[aout]';\n  aMap = '-map \"[aout]\"';\n} else if (hasVoice) {\n  aStr = ';['+vIdx+':a]volume=1.0,afade=t=out:st='+aft+':d=1.2[aout]';\n  aMap = '-map \"[aout]\"';\n} else if (bgmT) {\n  aStr = ';['+bIdx+':a]volume=1.0,afade=t=out:st='+aft+':d=1.2[aout]';\n  aMap = '-map \"[aout]\"';\n}\n\nconst ff    = vF.join(';') + aStr;\nconst fCont = contOut + '/' + jobId + '_final.mp4';\nconst fN8n  = n8nOut  + '/' + jobId + '_final.mp4';\nconst tSec  = Math.ceil(audioDur) + 1;\n\nconst fArg  = ff\n  ? ' -filter_complex \"' + ff + '\" -map \"[' + vL + ']\" ' + aMap\n  : ' -map \"0:v\" ' + aMap;\n\nconst cmd =\n  'docker exec qpc_ffmpeg_runner ffmpeg -y ' + inp.join(' ') + fArg +\n  ' -c:v libx264 -crf 17 -preset fast -pix_fmt yuv420p -movflags +faststart' +\n  (aMap !== '-an' ? ' -c:a aac -b:a 192k' : '') +\n  ' -t ' + tSec + ' \"' + fCont + '\" && echo FINAL_OK';\n\nconsole.log('Final render...');\nconst out = run(cmd, 900000);\nif (!out.includes('FINAL_OK')) throw new Error('Render failed: ' + out.slice(-500));\nif (!fs.existsSync(fN8n)) throw new Error('File missing: ' + fN8n);\n\nconst mb  = (fs.statSync(fN8n).size / 1048576).toFixed(1);\nconst sec = Math.round((Date.now() - (data.start_time || Date.now())) / 1000);\nconsole.log('Done: ' + mb + 'MB | ' + sec + 's | clips: ' + clipDurs.map(d=>d.toFixed(1)+'s').join('+'));\n\nreturn [{ json: {\n  ...data,\n  final_video_path: fN8n,\n  output_filename:  jobId + '_final.mp4',\n  file_size_mb:     parseFloat(mb),\n  render_time_sec:  sec,\n  clips_used:       N,\n  has_voice:        hasVoice,\n  has_bgm:          !!bgmT,\n  has_captions:     hasASS,\n  clip_durations:   clipDurs\n}}];"
      },
      "id": "shn3-n3",
      "name": "Assemble Final Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs   = require('fs');\nconst data = $input.first().json;\nconst path = data.final_video_path;\n\nif (!fs.existsSync(path)) throw new Error('Final video not found: ' + path);\n\nconst b64 = fs.readFileSync(path).toString('base64');\nreturn [{\n  json: data,\n  binary: {\n    data: {\n      data:          b64,\n      mimeType:      'video/mp4',\n      fileName:      data.output_filename,\n      fileExtension: 'mp4'\n    }\n  }\n}];"
      },
      "id": "shn3-n4",
      "name": "Read Final Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        150
      ]
    },
    {
      "parameters": {
        "name": "={{ $('Assemble Final Video').first().json.output_filename }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $env.SEEDANCE_DRIVE_FOLDER_ID || $env.GOOGLE_DRIVE_FOLDER_ID }}",
          "mode": "id"
        },
        "options": {
          "simplifyOutput": false
        }
      },
      "id": "shn3-n5",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        150
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OPs3jzJpnpfateNo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.id + '/permissions' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "anyone"
            },
            {
              "name": "role",
              "value": "reader"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "shn3-n6",
      "name": "Make Video Public",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1200,
        150
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OPs3jzJpnpfateNo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const driveNode    = $('Upload to Google Drive').first().json;\nconst assembleData = $('Assemble Final Video').first().json;\nconst fileId       = driveNode.id;\nconst videoUrl     = 'https://drive.google.com/file/d/' + fileId + '/view';\nconst downloadUrl  = 'https://drive.usercontent.google.com/download?id=' + fileId + '&export=download';\n\nconsole.log('Stage 3 complete: ' + assembleData.job_id + ' → ' + videoUrl);\n\nreturn [{ json: {\n  job_id:          assembleData.job_id,\n  topic:           assembleData.topic,\n  title:           assembleData.title,\n  hashtags:        assembleData.hashtags,\n  narration:       assembleData.narration,\n  cta:             assembleData.cta,\n  video_url:       videoUrl,\n  download_url:    downloadUrl,\n  drive_file_id:   fileId,\n  file_size_mb:    assembleData.file_size_mb,\n  render_time_sec: assembleData.render_time_sec,\n  clips_used:      assembleData.clips_used,\n  has_voice:       assembleData.has_voice,\n  has_bgm:         assembleData.has_bgm,\n  has_captions:    assembleData.has_captions,\n  sheet_row:       assembleData.sheet_row\n}}];"
      },
      "id": "shn3-n7",
      "name": "Stage 3 Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        150
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/1Y3BGFJ12-cZSouM92XifTm4tTPq020DtJhHQWiwFhiM/values/Content%20Topics!B' + $json.sheet_row + '?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ majorDimension: 'ROWS', values: [['DONE']] }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "shn3-n8",
      "name": "Mark DONE in Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        1680,
        150
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OPs3jzJpnpfateNo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Clean up temp files after successful completion\nconst fs      = require('fs');\nconst data    = $('Stage 3 Done').first().json;\nconst assembl = $('Assemble Final Video').first().json;\nconst jobId   = assembl.job_id;\nconst n8nIn   = '/data/ffmpeg/input';\n\nconst patterns = [\n  '_norm', '_zoom', '_xfade', '_bgm', '_captions'\n];\n\nlet removed = 0;\nconst files  = fs.readdirSync(n8nIn);\nfor (const f of files) {\n  if (!f.startsWith(jobId)) continue;\n  const shouldDelete = patterns.some(p => f.includes(p));\n  if (shouldDelete) {\n    try { fs.unlinkSync(n8nIn + '/' + f); removed++; } catch(e) {}\n  }\n}\nconsole.log('Cleaned up ' + removed + ' temp files for job ' + jobId);\n\nreturn [{ json: {\n  ...data,\n  cleanup_done: true,\n  temp_files_removed: removed\n}}];"
      },
      "id": "shn3-n9",
      "name": "Cleanup Temp Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        150
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Test Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Payload": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 3 Webhook": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Assemble Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Final Video": {
      "main": [
        [
          {
            "node": "Read Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Final Video": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Make Video Public",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Video Public": {
      "main": [
        [
          {
            "node": "Stage 3 Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 3 Done": {
      "main": [
        [
          {
            "node": "Mark DONE in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark DONE in Sheet": {
      "main": [
        [
          {
            "node": "Cleanup Temp Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "id": "seedancehighnice-stage3",
  "tags": [
    {
      "name": "seedance-highnice"
    },
    {
      "name": "stage3"
    }
  ]
}