workflows/stage3-assembly-pipeline.json
{
  "updatedAt": "2026-07-09T07:46:55.834Z",
  "createdAt": "2026-04-25T10:04:59.493Z",
  "id": "Enqcg4qT5c2yNAe8",
  "name": "Physics Channel - Stage 3 - Social Media Upload",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 3,15 * * *"
            }
          ]
        }
      },
      "id": "s3-schedule",
      "name": "Stage 3 Publish Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stage3-publish-next",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "s3-webhook",
      "name": "Stage 3 Queue Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        512
      ],
      "webhookId": "85549237-c67d-4170-9bcd-1938fdb815d4"
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Video%20Production%20Queue!A2:L1000",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "id": "s3-read",
      "name": "Read Video Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        400
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dwOT4VyMlmKAS9om",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst res = $input.first().json;\nconst rows = res.values || [];\n\nconst ready = rows\n  .map((r, i) => ({\n    rowIndex: i + 2,\n    status: (r[3] || '').toUpperCase().trim(),\n    job_id: r[0] || '',\n    topic: r[1] || '',\n    title: r[2] || '',\n    payloadJson: r[4] || '',\n    driveFileId: r[5] || '',\n    driveUrl: r[6] || '',\n    hashtags: r[7] || '',\n    sheetRow: r[8] || ''\n  }))\n  .filter(r => r.status === 'READY_TO_PUBLISH' && r.job_id);\n\nif (ready.length === 0) {\n  return [{ json: { stop: true, reason: 'NO_READY_JOBS' } }];\n}\n\nconst job = ready[0];\nlet payload = {};\ntry { payload = JSON.parse(job.payloadJson); } catch (e) {}\n\nreturn [{ json: {\n  stop: false,\n  rowIndex: job.rowIndex,\n  job_id: job.job_id,\n  title: job.title || job.topic,\n  topic: job.topic,\n  narration: payload.narration || '',\n  hashtags: job.hashtags || '#QuantumPhysics #Physics #Science',\n  drive_file_id: job.driveFileId,\n  drive_video_url: job.driveUrl,\n  sheet_row: job.sheetRow\n}}];\n"
      },
      "id": "s3-find",
      "name": "Find Next Publishable",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "s3c1",
              "leftValue": "={{ $json.stop }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "s3-if",
      "name": "IF Should Publish",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const d=$input.first().json;\nconsole.log('S3 idle: '+(d.reason||'none'));\nreturn [{json:{summary:'s3_idle',reason:d.reason||'NO_READY_JOBS'}}];"
      },
      "id": "s3-idle",
      "name": "Stage 3 Idle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        608
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ `https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Video%20Production%20Queue!D${$json.rowIndex}?valueInputOption=RAW` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"values\": [[\"PUBLISHING\"]] }",
        "options": {}
      },
      "id": "s3-mark-pub",
      "name": "Mark PUBLISHING",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1600,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dwOT4VyMlmKAS9om",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Find Next Publishable').first().json }];"
      },
      "id": "s3-carry",
      "name": "Carry Job Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst topic = data.topic || data.title || 'Quantum Physics';\nconst narration = (data.narration || '').replace(/_/g, ' ').replace(/\\s*--\\s*/g, ' ').replace(/\\s*-\\s*/g, ' ').replace(/\"/g, \"'\").replace(/\\s+/g, ' ').trim().slice(0, 400);\nconst hashtags = (data.hashtags || '#QuantumPhysics #Physics #Science').replace(/\"/g, '');\n\nconst prompt = 'Create engaging social media captions for a quantum physics short video.\\n\\nTopic: ' + topic + '\\nNarration: ' + narration + '\\n\\nRules:\\n- facebook_caption: 3 engaging paragraphs. Start with the physics fact as a hook. Second paragraph explains why it matters. Third paragraph ends with awe or implication. No hashtags. No underscores. No dashes. Plain readable sentences only.\\n- instagram_caption: 2-3 short punchy sentences. Hook first. No underscores or dashes.\\n- linkedin_caption: 2-3 professional sentences about the scientific significance. No underscores or dashes.\\n- youtube_title: Catchy title max 60 chars, no special symbols.\\n- youtube_description: 2-3 clear sentences.\\n\\nReturn ONLY valid JSON (no markdown, no code fences):\\n{\\n  \"facebook_caption\": \"3 paragraphs here\",\\n  \"youtube_title\": \"title here\",\\n  \"youtube_description\": \"description here\",\\n  \"instagram_caption\": \"short punchy caption\",\\n  \"linkedin_caption\": \"professional caption\",\\n  \"generated_hashtags\": \"' + hashtags + '\"\\n}';\n\nreturn [{ json: {\n  ...data,\n  claude_payload: {\n    model: 'claude-haiku-4-5-20251001',\n    max_tokens: 2048,\n    messages: [{ role: 'user', content: prompt }]\n  }\n}}];\n"
      },
      "id": "s3-build-cap",
      "name": "Build Caption Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.claude_payload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "s3-claude",
      "name": "Claude Social Captions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2800,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "\nfunction parseJ(raw) {\n  const t = (raw||'').trim().replace(/^```json\\s*/i,'').replace(/^```\\s*/i,'').replace(/```\\s*$/i,'').trim();\n  return JSON.parse(t);\n}\nconst prev = $('Build Caption Prompt').first().json;\nconst text = $input.first().json?.content?.[0]?.text || '';\nlet caps = {};\ntry { caps = parseJ(text); } catch(e) {\n  caps = {\n    facebook_caption: prev.narration || prev.topic,\n    youtube_title: (prev.title || prev.topic || 'Physics Short').slice(0,60),\n    youtube_description: prev.narration || '',\n    instagram_caption: prev.narration || prev.topic,\n    linkedin_caption: prev.narration || prev.topic,\n    generated_hashtags: prev.hashtags || '#QuantumPhysics #Physics'\n  };\n}\nreturn [{ json: { ...prev, ...caps } }];\n"
      },
      "id": "s3-parse-cap",
      "name": "Parse Captions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst { execSync } = require('child_process');\nconst data = $input.first().json;\nconst jobId = data.job_id;\nconst driveId = data.drive_file_id;\nif (!driveId) throw new Error('No drive_file_id for job: ' + jobId);\n\nfunction run(cmd, t) {\n  try { return execSync(cmd, { encoding: 'utf-8', timeout: t || 120000 }); }\n  catch(e) { return ((e.stdout||'') + (e.stderr||'')).toString(); }\n}\n\nconst localPath = '/ffmpeg/input/' + jobId + '_pub.mp4';\nconst n8nPath   = '/data/ffmpeg/input/' + jobId + '_pub.mp4';\n\n// Skip download if already cached\nif (!run('docker exec phys_ffmpeg_runner test -f \"' + localPath + '\" && echo OK').includes('OK')) {\n  const dlUrl = 'https://drive.google.com/uc?export=download&id=' + driveId + '&confirm=t';\n  console.log('Downloading job ' + jobId + ' from Drive...');\n  const out = run('docker exec phys_ffmpeg_runner curl -L --max-time 300 -o \"' + localPath + '\" \"' + dlUrl + '\" && echo DL_OK', 310000);\n  if (!run('docker exec phys_ffmpeg_runner test -f \"' + localPath + '\" && echo OK').includes('OK')) {\n    throw new Error('Drive download failed for ' + jobId + ': ' + out.slice(-300));\n  }\n  console.log('Downloaded ' + jobId + ' OK');\n}\n\nreturn [{ json: { ...data, local_video_path: n8nPath, ffmpeg_video_path: localPath } }];\n"
      },
      "id": "s3-download",
      "name": "Download from Drive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst { spawnSync } = require('child_process');\nconst fs = require('fs');\nconst data = $input.first().json;\nconst pageId = $env.FB_PAGE_ID;\nconst token  = $env.FB_PAGE_ACCESS_TOKEN;\nconst videoPath = data.ffmpeg_video_path;\n\nconst title = (data.title || data.topic || 'Physics').slice(0, 255);\nconst desc  = ((data.facebook_caption || '') + '\\n\\n' + (data.generated_hashtags || '')).slice(0, 5000);\n\nfs.writeFileSync('/tmp/fb_desc.txt', desc);\nspawnSync('docker', ['cp', '/tmp/fb_desc.txt', 'phys_ffmpeg_runner:/tmp/fb_desc.txt']);\n\nconst result = spawnSync('docker', [\n  'exec', 'phys_ffmpeg_runner',\n  'curl', '-s', '--max-time', '300',\n  '-X', 'POST',\n  'https://graph-video.facebook.com/v18.0/' + pageId + '/videos',\n  '-F', 'access_token=' + token,\n  '-F', 'title=' + title,\n  '-F', 'description=</tmp/fb_desc.txt',\n  '-F', 'source=@' + videoPath\n], { timeout: 320000 });\n\nconst output = (result.stdout || Buffer.from('')).toString().trim();\nconsole.log('FB response: ' + output.slice(0, 200));\n\nlet parsed = {};\ntry { parsed = JSON.parse(output); } catch(e) {}\nconst fbVideoId = parsed.id || null;\nconst fbUrl = fbVideoId ? 'https://www.facebook.com/video/' + fbVideoId : null;\n\nreturn [{ json: { ...data, fb_video_id: fbVideoId, fb_post_url: fbUrl, fb_status: fbVideoId ? 'OK' : 'FAILED', fb_error: parsed.error ? JSON.stringify(parsed.error) : null } }];\n"
      },
      "id": "s3-fb",
      "name": "FB Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4000,
        112
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst { spawnSync } = require('child_process');\nconst https = require('https');\nconst fs = require('fs');\nconst data = $input.first().json;\n\nconst clientId     = $env.YOUTUBE_OAUTH_CLIENT_ID;\nconst clientSecret = $env.YOUTUBE_OAUTH_CLIENT_SECRET;\nconst refreshToken = $env.YOUTUBE_REFRESH_TOKEN;\n\nif (!clientId || !clientSecret || !refreshToken)\n  return [{ json: { ...data, yt_status: 'SKIP', yt_video_url: null, yt_error: 'Missing YT env vars' } }];\n\n// Get access token\nconst tokenBody = 'grant_type=refresh_token&client_id=' + encodeURIComponent(clientId) +\n  '&client_secret=' + encodeURIComponent(clientSecret) +\n  '&refresh_token=' + encodeURIComponent(refreshToken);\n\nconst tokenRes = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'oauth2.googleapis.com', path: '/token', method: 'POST',\n    headers: { 'Content-Type': 'application/x-www-form-urlencoded', 'Content-Length': Buffer.byteLength(tokenBody) }\n  }, res => { let b=''; res.on('data',c=>b+=c); res.on('end',()=>resolve({status:res.statusCode,body:b})); });\n  req.on('error', reject); req.write(tokenBody); req.end();\n});\n\nconst tokenData = JSON.parse(tokenRes.body);\nif (!tokenData.access_token)\n  return [{ json: { ...data, yt_status: 'SKIP', yt_video_url: null, yt_error: 'Token failed: ' + tokenRes.body.slice(0,200) } }];\n\nconst accessToken = tokenData.access_token;\nconst title = ((data.youtube_title || data.title || 'Physics Short') + ' #Shorts').slice(0, 100);\nconst desc  = ((data.youtube_description || data.narration || '') + '\\n\\n' + (data.generated_hashtags || '')).slice(0, 5000);\n\nconst metadata = JSON.stringify({\n  snippet: { title, description: desc, tags: ['physics','science','shorts','quantum'], categoryId: '28' },\n  status: { privacyStatus: 'public', selfDeclaredMadeForKids: false }\n});\n\n// Resumable upload init\nconst initRes = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'www.googleapis.com',\n    path: '/upload/youtube/v3/videos?uploadType=resumable&part=snippet,status',\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer ' + accessToken,\n      'Content-Type': 'application/json; charset=UTF-8',\n      'X-Upload-Content-Type': 'video/mp4',\n      'Content-Length': Buffer.byteLength(metadata)\n    }\n  }, res => { let b=''; res.on('data',c=>b+=c); res.on('end',()=>resolve({status:res.statusCode,headers:res.headers,body:b})); });\n  req.on('error', reject); req.write(metadata); req.end();\n});\n\nconst uploadUrl = initRes.headers.location;\nif (!uploadUrl) return [{ json: { ...data, yt_status: 'SKIP', yt_video_url: null, yt_error: 'No upload URL: ' + initRes.body.slice(0,200) } }];\n\n// Upload file via curl (handles large files)\nconst localPath = data.ffmpeg_video_path;\nconst curlRes = spawnSync('docker', [\n  'exec', 'phys_ffmpeg_runner',\n  'curl', '-s', '--max-time', '600',\n  '-X', 'PUT', uploadUrl,\n  '-H', 'Content-Type: video/mp4',\n  '--data-binary', '@' + localPath\n], { timeout: 610000 });\n\nlet ytParsed = {};\ntry { ytParsed = JSON.parse((curlRes.stdout||Buffer.from('')).toString()); } catch(e) {}\nconst ytId = ytParsed.id || null;\nconst ytUrl = ytId ? 'https://www.youtube.com/shorts/' + ytId : null;\n\nreturn [{ json: { ...data, yt_video_id: ytId, yt_video_url: ytUrl, yt_status: ytId ? 'OK' : 'FAILED' } }];\n"
      },
      "id": "s3-yt",
      "name": "YT Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4000,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst rowIndex = data.rowIndex;\nconst socialUrls = 'FB:' + (data.fb_post_url||'SKIP') + ' | YT:' + (data.yt_video_url||'SKIP');\nreturn [{ json: { ...data, socialUrls, updateRowIndex: rowIndex } }];\n"
      },
      "id": "s3-prep-update",
      "name": "Prep Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5200,
        304
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ `https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Video%20Production%20Queue!D${$json.rowIndex}?valueInputOption=RAW` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: [[\"PUBLISHED\"]] }) }}",
        "options": {}
      },
      "id": "s3-mark-done",
      "name": "Mark PUBLISHED",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5600,
        208
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dwOT4VyMlmKAS9om",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ `https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Video%20Production%20Queue!K${$('Prep Update').first().json.rowIndex}?valueInputOption=RAW` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: [[$('Prep Update').first().json.socialUrls]] }) }}",
        "options": {}
      },
      "id": "s3-save-urls",
      "name": "Save Social URLs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5600,
        400
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dwOT4VyMlmKAS9om",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ `https://sheets.googleapis.com/v4/spreadsheets/1VD-F6Wj47Dm_5Uo_zdIEuxOnqprepCPRTKEmTYs6mFs/values/Video%20Production%20Queue!L${$('Prep Update').first().json.rowIndex}?valueInputOption=RAW` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: [[new Date().toISOString()]] }) }}",
        "options": {}
      },
      "id": "s3-stamp",
      "name": "Stamp PublishedAt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5600,
        608
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dwOT4VyMlmKAS9om",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst ytData = $(\"YT Upload\").first().json;\nconst liResult = $input.first().json || {};\nconst liFailed = !!(liResult.error || liResult.code);\nreturn [{ json: { ...ytData, li_status: liFailed ? \"FAILED\" : \"OK\", li_post_url: liResult.post_url || liResult.url || null } }];\n"
      },
      "id": "s3-restore-li",
      "name": "Restore After LinkedIn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst data = $input.first().json;\n\nconst apiKey = $env.POSTFORME_API_KEY;\nif (!apiKey) throw new Error('POSTFORME_API_KEY not set');\n\nconst videoUrl = 'https://drive.google.com/uc?export=download&id=' + data.drive_file_id + '&confirm=t';\nconst caption  = ((data.instagram_caption || data.title || data.topic || '') + '\\n\\n' + (data.generated_hashtags || '')).slice(0, 2190);\n\nconst postBody = JSON.stringify({\n  caption: caption,\n  social_accounts: [$env.POSTFORME_PHYSICS_IG_ACCOUNT_ID, $env.POSTFORME_PHYSICS_TIKTOK_ACCOUNT_ID, $env.POSTFORME_PHYSICS_LI_ACCOUNT_ID],\n  media: [{ url: videoUrl }]\n});\n\nconst result = await new Promise((resolve, reject) => {\n  const buf = Buffer.from(postBody);\n  const req = https.request({\n    hostname: 'api.postforme.dev',\n    path: '/v1/social-posts',\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer ' + apiKey,\n      'Content-Type': 'application/json',\n      'Content-Length': buf.length\n    }\n  }, res => {\n    let d = ''; res.on('data', c => d += c);\n    res.on('end', () => { try { resolve(JSON.parse(d)); } catch(e) { reject(new Error('Non-JSON: ' + d.slice(0,200))); } });\n  });\n  req.on('error', reject);\n  req.write(buf); req.end();\n});\n\nconsole.log('PostForMe result:', JSON.stringify(result).slice(0, 300));\nif (result.status === 'error') throw new Error('PostForMe error: ' + (result.message || JSON.stringify(result)));\n\nreturn [{ json: { ...data, postforme_ig_url: result.postIds?.find(p=>p.platform==='instagram')?.postUrl || '', postforme_tiktok_url: result.postIds?.find(p=>p.platform==='tiktok')?.postUrl || '' } }];"
      },
      "id": "s3-ayrshare-001",
      "name": "Post to PostForMe (IG + TikTok + LinkedIn)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        672
      ]
    }
  ],
  "connections": {
    "Stage 3 Publish Schedule": {
      "main": [
        [
          {
            "node": "Read Video Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 3 Queue Webhook": {
      "main": [
        [
          {
            "node": "Read Video Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video Queue": {
      "main": [
        [
          {
            "node": "Find Next Publishable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Next Publishable": {
      "main": [
        [
          {
            "node": "IF Should Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Should Publish": {
      "main": [
        [
          {
            "node": "Mark PUBLISHING",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stage 3 Idle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark PUBLISHING": {
      "main": [
        [
          {
            "node": "Carry Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carry Job Data": {
      "main": [
        [
          {
            "node": "Build Caption Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Caption Prompt": {
      "main": [
        [
          {
            "node": "Claude Social Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Social Captions": {
      "main": [
        [
          {
            "node": "Parse Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Captions": {
      "main": [
        [
          {
            "node": "Download from Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from Drive": {
      "main": [
        [
          {
            "node": "FB Upload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to PostForMe (IG + TikTok + LinkedIn)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Update": {
      "main": [
        [
          {
            "node": "Mark PUBLISHED",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Social URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Stamp PublishedAt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark PUBLISHED": {
      "main": [
        []
      ]
    },
    "Save Social URLs": {
      "main": [
        []
      ]
    },
    "Stamp PublishedAt": {
      "main": [
        []
      ]
    },
    "FB Upload": {
      "main": [
        [
          {
            "node": "YT Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT Upload": {
      "main": [
        [
          {
            "node": "Restore After LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore After LinkedIn": {
      "main": [
        [
          {
            "node": "Prep Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to PostForMe (IG + TikTok + LinkedIn)": {
      "main": [
        [
          {
            "node": "Prep Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Stage 3 Publish Schedule": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "7a9e173e-1a10-49ae-8a90-14a4eb0f4531",
  "activeVersionId": null,
  "versionCounter": 323,
  "triggerCount": 2,
  "tags": [],
  "activeVersion": null
}