workflows/stage1-content-generation.json
{
  "name": "Physics Channel - Stage 1 - Content Generation",
  "nodes": [
    {
      "parameters": {},
      "id": "node1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stage1-generate",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "node2",
      "name": "Stage 1 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 200],
      "webhookId": "physics-stage1-generate"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/17sx-y_QDWYHFPR4sfpx9pPd8YHFx-aX8jh8tLtZXELQ/values/%F0%9F%8E%AC%20Dashboard!A4:O",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node3",
      "name": "Read Topic From Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [220, 0],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QUGEpurbhr31d8QZ",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json;\nconst rows = res.values || [];\nlet found = null;\nfor (let i = 0; i < rows.length; i++) {\n  const s = (rows[i][4] || '').toString().toUpperCase().trim();\n  if (s === 'PENDING') { found = { idx: i, row: rows[i] }; break; }\n}\nif (!found) throw new Error('No PENDING topic in Dashboard tab. Set STATUS (col E) = PENDING for a row.');\nconst sheetRow   = found.idx + 4;\nconst topic      = (found.row[1] || '').trim();\nconst difficulty = (found.row[2] || 'beginner').trim();\nconst durationMin = parseFloat(found.row[3]) || 1;\nif (!topic) throw new Error('PENDING row found but Topic (col B) is empty.');\nconst jobId = (found.row[0] || '').trim() || ('PHY-' + Date.now().toString().slice(-8));\nconsole.log('Row ' + sheetRow + ' | ' + jobId + ' | ' + topic + ' | ' + durationMin + 'min');\nreturn [{ json: { job_id: jobId, topic: topic, difficulty: difficulty, duration_min: durationMin, sheet_row: sheetRow, source: 'google_sheet' } }];"
      },
      "id": "node4",
      "name": "Pick PENDING Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/17sx-y_QDWYHFPR4sfpx9pPd8YHFx-aX8jh8tLtZXELQ/values/%F0%9F%8E%AC%20Dashboard!E' + $json.sheet_row + '?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "body": "={ \"majorDimension\": \"ROWS\", \"values\": [[\"IN_PROGRESS\"]] }",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node5",
      "name": "Mark IN_PROGRESS in Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [660, 0],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QUGEpurbhr31d8QZ",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw  = $input.first().json;\nconst body = (raw.body !== undefined) ? raw.body : raw;\n\nlet sheetData = {};\ntry { sheetData = $('Pick PENDING Topic').first().json; } catch(e) {}\n\nconst jobId    = body.job_id    || raw.job_id    || sheetData.job_id    || ('PHY-' + Date.now().toString().slice(-8));\nconst topic    = body.topic     || raw.topic     || sheetData.topic;\nconst sheetRow = body.sheet_row || raw.sheet_row || sheetData.sheet_row || null;\n\nif (!topic) throw new Error('No topic found. Add a PENDING row in Google Sheet Dashboard (col B=topic, col E=PENDING).');\n\nreturn [{ json: { job_id: jobId, topic: topic, sheet_row: sheetRow, start_time: Date.now() } }];"
      },
      "id": "node6",
      "name": "Set Job Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst prompt = `You are a script writer for a physics YouTube Shorts channel.\nTopic: ${data.topic}\n\nWrite a 20-25 second engaging script for a vertical (9:16) physics YouTube Short.\nReturn ONLY a raw JSON object with no markdown fences:\n{\n  \"narration\": \"50-70 word narration text. Engaging, educational, conversational. No jargon.\",\n  \"clip_prompts\": [\n    \"Detailed Seedance video generation prompt for clip 1, cinematic 9:16 vertical physics visual, ~80 chars vivid description\",\n    \"Detailed Seedance video generation prompt for clip 2, cinematic 9:16 vertical physics visual, ~80 chars vivid description\",\n    \"Detailed Seedance video generation prompt for clip 3, cinematic 9:16 vertical physics visual, ~80 chars vivid description\"\n  ],\n  \"title\": \"Short punchy YouTube title under 60 chars\",\n  \"hashtags\": \"#physics #science #shorts #learn\"\n}\n\nREQUIREMENTS:\n- narration: exactly 50-70 words, spoken naturally, hooks viewer immediately\n- clip_prompts: exactly 3 strings, each describing a physics-themed cinematic visual for 9:16 vertical video, be vivid and specific\n- title: punchy, curiosity-inducing, under 60 characters\n- hashtags: 4-6 relevant hashtags as a single string`;\n\nreturn [{ json: { ...data, gemini_script_request: {\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { maxOutputTokens: 2048, temperature: 0.8, responseMimeType: 'application/json', thinkingConfig: { thinkingBudget: 0 } }\n} } }];"
      },
      "id": "node7",
      "name": "Build Script Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + $env.GOOGLE_AI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.gemini_script_request) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "node8",
      "name": "Gemini Generate Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "jsCode": "const response  = $input.first().json;\nconst jobConfig = $('Set Job Config').first().json;\n\nif (!response.candidates || !response.candidates[0] || !response.candidates[0].content) {\n  throw new Error('Gemini script response empty: ' + JSON.stringify(response).slice(0, 300));\n}\n\nlet rawText = response.candidates[0].content.parts[0].text.trim();\nrawText = rawText.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n\nlet parsed;\ntry { parsed = JSON.parse(rawText); } catch(e1) {\n  const start = rawText.indexOf('{'), end = rawText.lastIndexOf('}');\n  const block = (start !== -1 && end !== -1) ? rawText.slice(start, end + 1) : rawText;\n  try { parsed = JSON.parse(block); } catch(e2) {\n    throw new Error('Failed to parse script JSON: ' + rawText.slice(0, 500));\n  }\n}\n\nif (!parsed.narration) throw new Error('Response missing narration field');\nif (!Array.isArray(parsed.clip_prompts) || parsed.clip_prompts.length !== 3) {\n  throw new Error('Response must have clip_prompts array of exactly 3 items. Got: ' + JSON.stringify(parsed.clip_prompts));\n}\n\nconsole.log('Script generated. Narration words: ' + parsed.narration.split(' ').length);\nconsole.log('Clip prompts: ' + parsed.clip_prompts.length);\n\nreturn [{\n  json: {\n    ...jobConfig,\n    narration: parsed.narration,\n    clip_prompts: parsed.clip_prompts,\n    title: parsed.title || jobConfig.topic,\n    hashtags: parsed.hashtags || '#physics #science #shorts'\n  }\n}];"
      },
      "id": "node9",
      "name": "Parse Script Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst fs = require('fs');\n\nconst data = $input.first().json;\nconst apiKey = $env.ELEVENLABS_API_KEY;\nconst voiceId = $env.ELEVENLABS_VOICE_ID;\nconst jobId = data.job_id;\n\nfunction httpsPost(hostname, path, headers, bodyStr) {\n  return new Promise((resolve, reject) => {\n    const buf = Buffer.from(bodyStr, 'utf-8');\n    const req = https.request({ hostname, path, method: 'POST', headers: { ...headers, 'Content-Length': buf.length } }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => resolve({ status: res.statusCode, body: Buffer.concat(chunks).toString() }));\n    });\n    req.on('error', reject);\n    req.write(buf);\n    req.end();\n  });\n}\n\nconst body = JSON.stringify({\n  text: data.narration,\n  model_id: 'eleven_multilingual_v2',\n  voice_settings: { stability: 0.5, similarity_boost: 0.8 }\n});\n\nconst res = await httpsPost('api.elevenlabs.io', '/v1/text-to-speech/' + voiceId + '/with-timestamps', {\n  'Content-Type': 'application/json',\n  'xi-api-key': apiKey\n}, body);\n\nif (res.status !== 200) throw new Error('ElevenLabs error ' + res.status + ': ' + res.body);\n\nconst result = JSON.parse(res.body);\nconst { audio_base64, alignment } = result;\n\n// Save audio\nconst inputDir = '/data/ffmpeg/input';\nif (!require('fs').existsSync(inputDir)) require('fs').mkdirSync(inputDir, { recursive: true });\nconst audioPath = '/data/ffmpeg/input/' + jobId + '_narration.mp3';\nfs.writeFileSync(audioPath, Buffer.from(audio_base64, 'base64'));\n\n// Build word-level subtitle chunks\nconst chars = alignment.characters;\nconst starts = alignment.character_start_times_seconds;\nconst durs = alignment.character_durations_seconds;\nconst totalDuration = starts[starts.length - 1] + durs[durs.length - 1];\n\nconst words = [];\nlet wChars = '', wStart = null, wEnd = 0;\nfor (let i = 0; i < chars.length; i++) {\n  if (chars[i] === ' ' || chars[i] === '\\n') {\n    if (wChars.trim()) words.push({ text: wChars.trim(), start: wStart, end: wEnd });\n    wChars = ''; wStart = null;\n  } else {\n    if (wStart === null) wStart = starts[i];\n    wEnd = starts[i] + durs[i];\n    wChars += chars[i];\n  }\n}\nif (wChars.trim()) words.push({ text: wChars.trim(), start: wStart, end: wEnd });\n\nconst chunks = [];\nconst PER = 5;\nfor (let i = 0; i < words.length; i += PER) {\n  const g = words.slice(i, i + PER);\n  chunks.push({ text: g.map(w => w.text).join(' '), start: g[0].start, end: g[g.length-1].end + 0.1 });\n}\n\nconst subsPath = '/data/ffmpeg/input/' + jobId + '_subs.json';\nfs.writeFileSync(subsPath, JSON.stringify(chunks));\n\nreturn [{ json: { ...data, audio_path: audioPath, subs_path: subsPath, audio_duration: totalDuration, subtitle_chunks: chunks } }];"
      },
      "id": "node10",
      "name": "Generate Audio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 0]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: {\n  job_id: data.job_id,\n  topic: data.topic,\n  title: data.title,\n  hashtags: data.hashtags,\n  narration: data.narration,\n  clip_prompts: data.clip_prompts,\n  audio_path: data.audio_path,\n  subs_path: data.subs_path,\n  audio_duration: data.audio_duration,\n  subtitle_chunks: data.subtitle_chunks,\n  sheet_row: data.sheet_row,\n  start_time: data.start_time\n} }];"
      },
      "id": "node11",
      "name": "Build Stage 2 Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/stage2-video",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node12",
      "name": "POST to Stage 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2200, 0]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/17sx-y_QDWYHFPR4sfpx9pPd8YHFx-aX8jh8tLtZXELQ/values/%F0%9F%8E%AC%20Dashboard!E' + $('Set Job Config').first().json.sheet_row + '?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "body": "={ \"majorDimension\": \"ROWS\", \"values\": [[\"STAGE2\"]] }",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node13",
      "name": "Notify Stage1 Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [2420, 0],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QUGEpurbhr31d8QZ",
          "name": "Google Drive account 3"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Topic From Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Topic From Sheet": {
      "main": [
        [
          {
            "node": "Pick PENDING Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick PENDING Topic": {
      "main": [
        [
          {
            "node": "Mark IN_PROGRESS in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark IN_PROGRESS in Sheet": {
      "main": [
        [
          {
            "node": "Set Job Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 1 Webhook": {
      "main": [
        [
          {
            "node": "Set Job Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Job Config": {
      "main": [
        [
          {
            "node": "Build Script Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Script Prompt": {
      "main": [
        [
          {
            "node": "Gemini Generate Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Generate Script": {
      "main": [
        [
          {
            "node": "Parse Script Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Script Response": {
      "main": [
        [
          {
            "node": "Generate Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio": {
      "main": [
        [
          {
            "node": "Build Stage 2 Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Stage 2 Payload": {
      "main": [
        [
          {
            "node": "POST to Stage 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Stage 2": {
      "main": [
        [
          {
            "node": "Notify Stage1 Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "id": "physics-stage1-pipeline",
  "name": "Physics Channel - Stage 1 - Content Generation",
  "tags": [
    {
      "name": "physics-channel"
    },
    {
      "name": "stage1"
    }
  ]
}
