workflows/stage2-manim-pipeline.json
{
  "name": "Physics Channel - Stage 2 - Video Generation",
  "nodes": [
    {
      "parameters": {},
      "id": "nodeManualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n    \"job_id\": \"26\",\n    \"topic\": \"Higgs Boson\",\n    \"title\": \"The Higgs Field: Unveiling Mass\",\n    \"hashtags\": \"#HiggsBoson #ParticlePhysics #CERN #LHC #QuantumField\",\n    \"narration\": \"The Higgs boson is a quantum ripple in a universal field. This field, the Higgs field, interacts with particles, giving them mass. At the LHC, protons collide, creating fleeting Higgs bosons. Detectors capture their decay products, reconstructing the invisible particle's signature.\",\n    \"highlight_keywords\": [\"Higgs Boson\", \"Higgs Field\", \"Mass\", \"LHC\"],\n    \"clip_prompts\": [\n      \"Extreme macro slow push-in, a tiny, ephemeral ripple in a vast, shimmering golden field, pulsing gently, high contrast golden glow against deep black void, subtle energy haze, photorealistic 3D scientific visualization, Blender quality, deep black background, cinematic depth of field\",\n      \"Slow rotating orbit, a stream of fundamental particles (e.g., electrons, quarks) passing through a gradient of the golden Higgs field, showing varying degrees of 'drag' or interaction, volumetric light rays, deep matte black background, photorealistic 3D scientific visualization, Blender quality, deep black background, cinematic depth of field\",\n      \"Static locked frame, two high-energy proton beams colliding at the center of a massive particle detector, creating a blinding flash of multi-colored particle tracks and energy bursts, rim lighting on collision sparks, deep space background, photorealistic 3D scientific visualization, Blender quality, deep black background, cinematic depth of field\",\n      \"Overhead schematic view of detector's central collision point, intricate web of distinct particle tracks (electrons, photons) emanating from a central point, reconstructing a faint energy signature, caustic glows, subtle particle dust, photorealistic 3D scientific visualization, Blender quality, deep black background, cinematic depth of field\"\n    ],\n    \"audio_path\": null,\n    \"subs_path\": null,\n    \"audio_duration\": 19.1,\n    \"subtitle_chunks\": [],\n    \"word_timings\": [],\n    \"sheet_row\": 29,\n    \"start_time\": 1776319047917,\n    \"bgm_path\": \"/data/ffmpeg/input/26_bgm.mp3\",\n    \"negative_prompts\": [\n      \"text, letters, numbers, labels, watermarks, UI, human faces, cartoon, anime, blurry, low quality, flat lighting\",\n      \"text, letters, numbers, labels, watermarks, UI, human faces, cartoon, anime, blurry, low quality, flat lighting\",\n      \"text, letters, numbers, labels, watermarks, UI, human faces, cartoon, anime, blurry, low quality, flat lighting\",\n      \"text, letters, numbers, labels, watermarks, UI, human faces, cartoon, anime, blurry, low quality, flat lighting\"\n    ]\n  } }];"
      },
      "id": "nodeSampleData",
      "name": "Assemble Test Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        150
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stage2-video",
        "options": {}
      },
      "id": "node1",
      "name": "Stage 2 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        224,
        304
      ],
      "webhookId": "physics-stage2-video"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = (raw.body !== undefined) ? raw.body : raw;\nif (!body.job_id) throw new Error('Payload missing: job_id');\nif (!Array.isArray(body.clip_prompts) || body.clip_prompts.length < 1) throw new Error('Payload must have clip_prompts array');\nreturn [{ json: {\n  job_id: body.job_id,\n  topic: body.topic,\n  title: body.title,\n  hashtags: body.hashtags,\n  narration: body.narration,\n  clip_prompts: body.clip_prompts,\n  audio_path: body.audio_path,\n  subs_path: body.subs_path,\n  audio_duration: body.audio_duration,\n  subtitle_chunks: body.subtitle_chunks,\n  word_timings: body.word_timings,\n  sheet_row: body.sheet_row || null,\n  start_time: body.start_time || Date.now(),\n  bgm_path: body.bgm_path || null,\n  negative_prompts: body.negative_prompts || [],\n  highlight_keywords: body.highlight_keywords || []\n} }];"
      },
      "id": "node2",
      "name": "Extract Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        304
      ],
      "disabled": false
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst fs = require('fs');\n\nconst data           = $input.first().json;\nconst jobId          = data.job_id;\nconst videoUrls      = data.video_urls;\nconst subtitleChunks = data.subtitle_chunks || [];\nconst audioDuration  = data.audio_duration || 30;\nconst N              = videoUrls.length;\n\nconst n8nIn   = '/data/ffmpeg/input';\nconst n8nOut  = '/data/ffmpeg/output';\nconst contIn  = '/ffmpeg/input';\nconst contOut = '/ffmpeg/output';\n\nif (!fs.existsSync(n8nIn))  fs.mkdirSync(n8nIn,  { recursive: true });\nif (!fs.existsSync(n8nOut)) fs.mkdirSync(n8nOut, { recursive: true });\n\nfunction run(cmd, timeout) {\n  let out = '';\n  try { out = execSync(cmd, { encoding: 'utf-8', timeout: timeout || 120000 }); }\n  catch(e) { out = ((e.stdout || '') + (e.stderr || '') + (e.message || '')).toString(); }\n  return out;\n}\n\nconsole.log('Assembling ' + N + ' clips | audio: ' + audioDuration.toFixed(1) + 's');\n\n// ━ STEP 1: Download all clips ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nfor (let i = 0; i < N; i++) {\n  const dest = contIn + '/' + jobId + '_clip' + i + '.mp4';\n  const out = run(\n    'docker exec ffmpeg-runner curl -sL --max-time 90 -o \"' + dest + '\" \"' + videoUrls[i] + '\" && echo DL_OK',\n    100000\n  );\n  if (!out.includes('DL_OK'))\n    throw new Error('Clip ' + i + ' download failed: ' + out.slice(-200));\n}\n\n// ━ STEP 2: Normalize each clip to 1080x1920 (9:16) — clips are already 5s from API ━\nfor (let i = 0; i < N; i++) {\n  const src  = contIn  + '/' + jobId + '_clip' + i + '.mp4';\n  const norm = contIn  + '/' + jobId + '_clip' + i + '_norm.mp4';\n  const out  = run(\n    'docker exec ffmpeg-runner ffmpeg -y -i \"' + src + '\" ' +\n    '-vf \"scale=1080:1920:force_original_aspect_ratio=decrease,' +\n         'pad=1080:1920:(ow-iw)/2:(oh-ih)/2:black\" ' +\n    '-r 24 -c:v libx264 -crf 20 -preset fast -an \"' + norm + '\" 2>&1 && echo NORM_OK',\n    180000\n  );\n  if (!out.includes('NORM_OK'))\n    throw new Error('Normalize clip ' + i + ' failed: ' + out.slice(-300));\n}\n\n// ━ STEP 3: Concat with XFADE transitions ━━━━━━━━━━━━━━━━━━━━━━━━\nconst FADE_DUR = 0.3;\nconst CLIP_DUR = 5.0;  // each clip trimmed to 5s\nconst NET      = CLIP_DUR - FADE_DUR; // 4.7s net per clip → 6 clips = ~30s total\n\nlet withTransitions;\nif (N === 1) {\n  withTransitions = contIn + '/' + jobId + '_clip0_norm.mp4';\n} else {\n  const inputs  = Array.from({ length: N }, (_, i) =>\n    '-i \"' + contIn + '/' + jobId + '_clip' + i + '_norm.mp4\"'\n  ).join(' ');\n\n  let filterParts = [];\n  let prevLabel   = '[0:v]';\n  for (let i = 1; i < N; i++) {\n    const offset   = (i * NET).toFixed(1);\n    const outLabel = (i === N - 1) ? '[vout]' : '[x' + i + ']';\n    filterParts.push(prevLabel + '[' + i + ':v]xfade=transition=fade:duration=' + FADE_DUR + ':offset=' + offset + outLabel);\n    prevLabel = outLabel;\n  }\n  const filterComplex = filterParts.join('; ');\n  const xfadeOut = contIn + '/' + jobId + '_xfade.mp4';\n  const xfadeCmd =\n    'docker exec ffmpeg-runner ffmpeg -y ' + inputs + ' ' +\n    '-filter_complex \"' + filterComplex + '\" ' +\n    '-map \"[vout]\" -c:v libx264 -crf 20 -preset fast \"' + xfadeOut + '\" 2>&1 && echo XFADE_OK';\n  const out = run(xfadeCmd, 600000);\n  if (!out.includes('XFADE_OK'))\n    throw new Error('xfade failed: ' + out.slice(-500));\n  withTransitions = xfadeOut;\n}\n\n// ━ STEP 4: Write ASS caption file (static text overlay) ━━━━━━━━\nconst clipsDuration = N * CLIP_DUR - (N - 1) * FADE_DUR;\n// Strip any existing quotes from narration\nconst narrationRaw = (data.narration || data.topic || '').replace(/[\\u201c\\u201d\"]/g, '');\n\nfunction wrapText(text, maxChars) {\n  const words = text.split(' ');\n  const lines = [];\n  let line = '';\n  for (const word of words) {\n    if (line && (line + ' ' + word).length > maxChars) {\n      lines.push(line);\n      line = word;\n    } else {\n      line = line ? line + ' ' + word : word;\n    }\n  }\n  if (line) lines.push(line);\n  return lines.join('\\\\N');\n}\n\nfunction toAssTime(sec) {\n  const h  = Math.floor(sec / 3600);\n  const m  = Math.floor((sec % 3600) / 60);\n  const s  = Math.floor(sec % 60);\n  const ms = Math.floor((sec % 1) * 100);\n  return h + ':' + String(m).padStart(2,'0') + ':' + String(s).padStart(2,'0') + '.' + String(ms).padStart(2,'0');\n}\n\nconst captionEnd  = toAssTime(clipsDuration + 0.5);\n\nconst ass =\n  '[Script Info]\\n' +\n  'ScriptType: v4.00+\\n' +\n  'PlayResX: 1080\\n' +\n  'PlayResY: 1920\\n\\n' +\n  '[V4+ Styles]\\n' +\n  'Format: Name, Fontname, Fontsize, PrimaryColour, SecondaryColour, OutlineColour, BackColour, Bold, Italic, BorderStyle, Outline, Shadow, Alignment, MarginL, MarginR, MarginV, Encoding\\n' +\n  'Style: Caption,DejaVu Sans,48,&H00FFFFFF,&H000000FF,&H00000000,&H00000000,-1,0,1,1,0,7,80,80,460,1\\n\\n' +\n  '[Events]\\n' +\n  'Format: Layer, Start, End, Style, Name, MarginL, MarginR, MarginV, Effect, Text\\n';\n\n// Smart Keyword Highlighting (Dynamic from Gemini + Fallback)\nconst fallbackKeywords = [\"Neutrino\", \"Quantum\", \"Einstein\", \"Gravity\", \"Relativity\", \"Entanglement\", \"Physics\", \"Electron\", \"Proton\", \"Neutron\", \"Cosmos\", \"Universe\", \"Spectrum\", \"Photon\", \"Aspect\", \"Bell\", \"Polarizer\"];\nconst keywords = (data.highlight_keywords && data.highlight_keywords.length > 0) ? data.highlight_keywords : fallbackKeywords;\nlet styledNarration = wrapText(narrationRaw, 38);\n\n// Highlight keywords in Cyan-Blue (&HFFCC00& in ABGR)\nkeywords.forEach(kw => {\n  const regex = new RegExp('(\\\\b' + kw + 's?\\\\b)', 'gi');\n  styledNarration = styledNarration.replace(regex, '{\\\\1c&HFFCC00&}$1{\\\\1c&HFFFFFF&}');\n});\n\nconst dialogue = 'Dialogue: 0,0:00:00.00,' + captionEnd + ',Caption,,0,0,0,,' + styledNarration + '\\n';\n\nconst assContent = ass + dialogue;\nconst assN8nPath = n8nIn + '/' + jobId + '.ass';\nfs.writeFileSync(assN8nPath, assContent, 'utf-8');\n\n// ━ STEP 5: Final — composite video + header + BGM + burned caption ━━━━━━━━━━━━━━━━━━━\nconst assContPath   = contIn  + '/' + jobId + '.ass';\nconst logoContPath  = '/ffmpeg/config/icon/logo.png';\nconst tickContPath  = '/ffmpeg/config/icon/Blue verification badge emblem.png';\nconst finalContPath = contOut + '/' + jobId + '_final.mp4';\n\nconst bgmN8nPath  = data.bgm_path || null;\nconst bgmContPath = bgmN8nPath\n  ? bgmN8nPath.replace('/data/ffmpeg', '/ffmpeg')\n  : '/ffmpeg/config/background_music.mp3';\n\nconst bgmCheck = run('docker exec ffmpeg-runner test -f \"' + bgmContPath + '\" && echo BGM_OK || echo BGM_MISSING', 10000);\nconst hasBgm   = bgmCheck.includes('BGM_OK');\n\n// Dynamic overlay height: ends exactly at last caption line + 3px margin\nconst _wLines = (() => { const wds = narrationRaw.split(' '); const ls = []; let l = ''; for(const w of wds){ if(l&&(l+' '+w).length>38){ls.push(l);l=w;}else{l=l?l+' '+w:w;} } if(l)ls.push(l); return ls; })();\nconst overlayH = 460 + (_wLines.length * 62) + 1;\n\nlet finalCmd =\n  'docker exec ffmpeg-runner ffmpeg -y ' +\n  '-i \"' + withTransitions + '\" ' +\n  '-i \"' + logoContPath + '\" ' +\n  '-i \"' + tickContPath + '\" ' +\n  (hasBgm ? '-i \"' + bgmContPath + '\" ' : '') +\n  '-filter_complex \"' +\n    '[0:v]drawbox=x=0:y=0:w=1080:h=' + overlayH + ':color=black@0.05:t=fill[vd];' +\n    '[1:v]scale=88:88[logo];' +\n    '[2:v]crop=555:582:489:181,scale=-1:56[tick];' +\n    '[vd][logo]overlay=x=50:y=300[v1];' +\n    '[v1]drawtext=text=\\'SchrodingersCat\\':fontcolor=white:fontsize=50:fontfile=/usr/share/fonts/truetype/dejavu/DejaVuSans-Bold.ttf:x=158:y=316[v2];' +\n    '[v2][tick]overlay=x=640:y=320[v3];' +\n    '[v3]drawtext=text=\\'@SchrodingersCat\\':fontcolor=0xAAAAAA:fontsize=36:fontfile=/usr/share/fonts/truetype/dejavu/DejaVuSans.ttf:x=158:y=380[v4];' +\n    (hasBgm ? '[3:a]atrim=duration=' + clipsDuration.toFixed(3) + ',asetpts=PTS-STARTPTS[bgm];' : '') +\n    \"[v4]subtitles=\\\\'\" + assContPath + \"\\\\'\" + '[outv]' +\n  '\" ' +\n  '-map \"[outv]\" ' + (hasBgm ? '-map \"[bgm]\" ' : '-an ') +\n  '-c:v libx264 -crf 17 -preset medium ' +\n  (hasBgm ? '-c:a aac -b:a 192k ' : '') +\n  '-movflags +faststart ' +\n  '-t ' + clipsDuration.toFixed(3) + ' ' +\n  '\"' + finalContPath + '\" 2>&1 && echo FINAL_OK';\n\nconst finalOut = run(finalCmd, 900000);\nif (!finalOut.includes('FINAL_OK'))\n  throw new Error('Final assembly failed: ' + finalOut.slice(-600));\n\nconst n8nFinalPath = n8nOut + '/' + jobId + '_final.mp4';\nif (!fs.existsSync(n8nFinalPath))\n  throw new Error('Final video missing: ' + n8nFinalPath);\n\nreturn [{ json: {\n  ...data,\n  output_filename:  jobId + '_final.mp4',\n  final_video_path: n8nFinalPath,\n  clips_used:       N,\n  audio_duration:   clipsDuration\n}}];\n"
      },
      "id": "Assemble Video",
      "name": "Assemble Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst item = $input.first().json;\nconst filePath = item.final_video_path;\n\nif (!fs.existsSync(filePath)) {\n  throw new Error('Final video not found at: ' + filePath);\n}\n\nconst buffer = fs.readFileSync(filePath);\n\nreturn [{\n  json: item,\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'video/mp4',\n      fileName: item.output_filename,\n      fileExtension: 'mp4'\n    }\n  }\n}];"
      },
      "id": "node5",
      "name": "Read Final Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        304
      ]
    },
    {
      "parameters": {
        "name": "={{ $('Assemble Video').first().json.output_filename }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_DRIVE_FOLDER_ID }}",
          "mode": "id"
        },
        "options": {
          "simplifyOutput": false
        }
      },
      "id": "node6",
      "name": "Upload Animation to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1984,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QUGEpurbhr31d8QZ",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.id + '/permissions' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "anyone"
            },
            {
              "name": "role",
              "value": "reader"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "node7",
      "name": "Make Animation Public",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2208,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QUGEpurbhr31d8QZ",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const driveNode    = $('Upload Animation to Drive').first().json;\nconst assembleData = $('Assemble Video').first().json;\nconst fileId = driveNode.id;\n\n// assembleData spreads the full original payload (including sheet_row, topic, title, etc.)\n// Works for both Webhook path and Manual Trigger path\nconst videoUrl      = 'https://drive.google.com/uc?export=download&id=' + fileId;\nconst renderTimeSec = Math.round((Date.now() - assembleData.start_time) / 1000);\n\nconsole.log('Stage 2 complete. Job: ' + assembleData.job_id + ', Drive file: ' + fileId + ', Time: ' + renderTimeSec + 's');\n\nreturn [{ json: {\n  job_id:              assembleData.job_id,\n  topic:               assembleData.topic,\n  title:               assembleData.title,\n  video_url:           videoUrl,\n  drive_file_id:       fileId,\n  render_time_seconds: renderTimeSec,\n  sheet_row:           assembleData.sheet_row,\n  status:              'stage2_complete'\n} }];"
      },
      "id": "node8",
      "name": "Stage 2 Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        304
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/1ns6J4yI4avUFvYZS1Tu97DQpy2z7t22PbA2tvUO824g/values/Content%20Master%20Table!L' + $('Stage 2 Done').first().json.sheet_row + '?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ majorDimension: \"ROWS\", values: [[\"STAGE2_COMPLETE\"]] }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node9",
      "name": "Notify Stage2 Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2640,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QUGEpurbhr31d8QZ",
          "name": "Google Drive account 3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const assemble   = $('Assemble Video').first().json;\nconst stage2Done = $('Stage 2 Done').first().json;\nreturn [{ json: {\n  job_id:           stage2Done.job_id,\n  title:            stage2Done.title,\n  topic:            stage2Done.topic,\n  narration:        assemble.narration || '',\n  description:      (assemble.narration || stage2Done.topic).slice(0, 500),\n  hashtags:         assemble.hashtags || '',\n  final_video_path: assemble.final_video_path,\n  output_filename:  assemble.output_filename,\n  drive_file_id:    stage2Done.drive_file_id,\n  drive_video_url:  stage2Done.video_url,\n  sheet_row:        stage2Done.sheet_row,\n  callback_url:     null\n}}];"
      },
      "id": "node10",
      "name": "Build Stage 3 Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/stage3-social-upload",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node11",
      "name": "Trigger Stage 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3088,
        304
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst data = $input.first().json;\nconst apiKey = $env.WAVESPEED_API_KEY;\nconst clipPrompts = data.clip_prompts;\nconst negativePrompts = data.negative_prompts || [];\nconst defaultNeg = 'text, letters, alphabet, messy, distorted, watermark';\n\nif (!Array.isArray(clipPrompts) || clipPrompts.length === 0)\n  throw new Error('No clip_prompts in payload');\n\nconst audioDuration = data.audio_duration || 30;\nconst clipsNeeded   = clipPrompts.length; // Stage 1 already calculated exact count (6 for 30s)\nconsole.log('Audio duration: ' + audioDuration.toFixed(1) + 's → generating ' + clipsNeeded + ' clips (5s each)');\n\nfunction apiPost(body) {\n  return new Promise((resolve, reject) => {\n    const buf = Buffer.from(JSON.stringify(body));\n    const req = https.request({\n      hostname: 'api.wavespeed.ai',\n      path: '/api/v3/bytedance/seedance-v1-lite-t2v-720p',\n      method: 'POST',\n      headers: {\n        'Authorization': 'Bearer ' + apiKey,\n        'Content-Type': 'application/json',\n        'Content-Length': buf.length\n      }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        try { resolve(JSON.parse(Buffer.concat(chunks).toString())); }\n        catch(e) { reject(new Error('Bad JSON from Wavespeed')); }\n      });\n    });\n    req.on('error', reject);\n    req.write(buf);\n    req.end();\n  });\n}\n\nconst submitPromises = [];\nfor (let i = 0; i < clipsNeeded; i++) {\n  submitPromises.push(\n    apiPost({\n      prompt:          clipPrompts[i],\n      negative_prompt: negativePrompts[i] || defaultNeg,\n      aspect_ratio:    '9:16',\n      duration:        5,\n      seed:            -1\n    })\n  );\n}\n\nconst results = await Promise.all(submitPromises);\n\nconst task_ids = [];\nfor (let i = 0; i < results.length; i++) {\n  const r = results[i];\n  if (!r.data || !r.data.id) throw new Error('Wavespeed submit failed: ' + JSON.stringify(r));\n  task_ids.push(r.data.id);\n}\n\nreturn [{ json: {\n  ...data,\n  task_ids,\n  clips_count: clipsNeeded,\n  video_urls:  new Array(clipsNeeded).fill(null),\n  poll_attempt: 0,\n  all_done:    false\n}}];\n"
      },
      "id": "nodeSubmit",
      "name": "Submit Clips to Wavespeed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        304
      ]
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "nodeWait",
      "name": "Wait 20 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        928,
        320
      ],
      "webhookId": "wavespeed-poll-resume"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst data = $input.first().json;\nconst apiKey = $env.WAVESPEED_API_KEY;\nconst task_ids   = data.task_ids;\nconst video_urls = [...(data.video_urls || [null, null, null])];\nconst attempt    = (data.poll_attempt || 0) + 1;\n\nconsole.log('--- Poll attempt #' + attempt + ' ---');\n\nfunction apiGet(taskId) {\n  return new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: 'api.wavespeed.ai',\n      path: '/api/v3/predictions/' + taskId + '/result',\n      method: 'GET',\n      headers: { 'Authorization': 'Bearer ' + apiKey }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const raw = Buffer.concat(chunks).toString();\n        try { resolve(JSON.parse(raw)); }\n        catch(e) { reject(new Error('Non-JSON from Wavespeed status [HTTP ' + res.statusCode + ']: ' + raw.slice(0,200))); }\n      });\n    });\n    req.on('error', reject);\n    req.end();\n  });\n}\n\n// Check each clip that is not yet complete\nfor (let i = 0; i < task_ids.length; i++) {\n  if (video_urls[i] !== null) {\n    console.log('Clip ' + i + ' already done, skipping');\n    continue;\n  }\n\n  const r = await apiGet(task_ids[i]);\n  const status = (r.data && r.data.status) || 'unknown';\n  console.log('Clip ' + i + ' [' + task_ids[i] + '] status: ' + status);\n\n  if (status === 'completed') {\n    const url = r.data.outputs && r.data.outputs[0];\n    if (!url) throw new Error('Clip ' + i + ' completed but output URL missing');\n    video_urls[i] = url;\n    console.log('Clip ' + i + ' ready: ' + url);\n  } else if (status === 'failed') {\n    throw new Error('Clip ' + i + ' FAILED: ' + JSON.stringify(r.data));\n  } else {\n    console.log('Clip ' + i + ' still ' + status + ' – will retry in 20s');\n  }\n}\n\nconst all_done = video_urls.every(u => u !== null) ? 1 : 0;\nconst pending  = video_urls.filter(u => u === null).length;\n\nif (all_done === 1) {\n  console.log('All clips are ready! Proceeding to assembly.');\n} else {\n  console.log(pending + ' clip(s) still generating. Waiting 20s before next poll.');\n}\n\nreturn [{ json: {\n  ...data,\n  task_ids,\n  video_urls,\n  poll_attempt: attempt,\n  all_done\n}}];\n"
      },
      "id": "nodeCheck",
      "name": "Check Clip Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b038c74c-a3ae-4272-b32a-c63509a60055",
              "leftValue": "={{ $json.all_done }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1312,
        352
      ],
      "id": "f8a4a922-6304-433e-989e-1be87a3c4dab",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Assemble Test Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 2 Webhook": {
      "main": [
        [
          {
            "node": "Extract Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Payload": {
      "main": [
        [
          {
            "node": "Submit Clips to Wavespeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Clips to Wavespeed": {
      "main": [
        [
          {
            "node": "Wait 20 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20 Seconds": {
      "main": [
        [
          {
            "node": "Check Clip Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Clip Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Video": {
      "main": [
        [
          {
            "node": "Read Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Final Video": {
      "main": [
        [
          {
            "node": "Upload Animation to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Animation to Drive": {
      "main": [
        [
          {
            "node": "Make Animation Public",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Animation Public": {
      "main": [
        [
          {
            "node": "Stage 2 Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 2 Done": {
      "main": [
        [
          {
            "node": "Notify Stage2 Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Stage2 Done": {
      "main": [
        [
          {
            "node": "Build Stage 3 Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Stage 3 Payload": {
      "main": [
        [
          {
            "node": "Trigger Stage 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Assemble Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 20 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Test Payload": {
      "main": [
        [
          {
            "node": "Submit Clips to Wavespeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "203f178c-3d87-4d62-9b30-cd8d7395bfb6",
  "meta": {
    "instanceId": "a5cde20d7c9edf7b8607b553d4ec2ac68eba916ae21a61409c2b0f10aa8b4620"
  },
  "id": "yYw37H9rmiA2fDzG",
  "tags": []
}
