workflows/stage1-content-generation.json
{
  "name": "Physics Channel - Stage 1 - Content Generation",
  "nodes": [
    {
      "parameters": {},
      "id": "node1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stage1-generate",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "node2",
      "name": "Stage 1 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "webhookId": "physics-stage1-generate"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1ns6J4yI4avUFvYZS1Tu97DQpy2z7t22PbA2tvUO824g/values/Content%20Master%20Table!A4:O",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node3",
      "name": "Read Topic From Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        220,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QUGEpurbhr31d8QZ",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json;\nconst rows = res.values || [];\nlet pendingRows = [];\nfor (let i = 0; i < rows.length; i++) {\n  const s = (rows[i][11] || '').toString().toUpperCase().trim();\n  if (s === 'PENDING') { pendingRows.push({ idx: i, row: rows[i] }); }\n}\nif (pendingRows.length === 0) throw new Error('No PENDING topic in Content Master Table. Set STATUS (col L) = PENDING for a row.');\nconst found = pendingRows[Math.floor(Math.random() * pendingRows.length)];\nconst sheetRow = found.idx + 4;\nreturn [{\n  json: {\n    job_id:             (found.row[0] || '').trim() || ('PHY-' + Date.now().toString().slice(-8)),\n    topic:              (found.row[1] || '').trim(),\n    category:           (found.row[2] || '').trim(),\n    core_theory:        (found.row[3] || '').trim(),\n    scientific_depth:   (found.row[4] || '').trim(),\n    hook_line:          (found.row[5] || '').trim(),\n    narrative_angle:    (found.row[6] || '').trim(),\n    visual_suggestions: (found.row[7] || '').trim(),\n    target_audience:    (found.row[8] || '').trim(),\n    post_format:        (found.row[9] || '').trim(),\n    difficulty:         (found.row[10] || 'advanced').trim(),\n    duration_min:       0.33,\n    sheet_row:          sheetRow,\n    source:             'google_sheet'\n  }\n}];"
      },
      "id": "node4",
      "name": "Pick PENDING Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/1ns6J4yI4avUFvYZS1Tu97DQpy2z7t22PbA2tvUO824g/values/Content%20Master%20Table!L' + $json.sheet_row + '?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "body": "={ \"majorDimension\": \"ROWS\", \"values\": [[\"IN_PROGRESS\"]] }",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node5",
      "name": "Mark IN_PROGRESS in Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        660,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QUGEpurbhr31d8QZ",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw       = $input.first().json;\nconst body      = (raw.body !== undefined) ? raw.body : raw;\n\nlet sheetData = {};\ntry { sheetData = $('Pick PENDING Topic').first().json; } catch(e) {}\n\nconst jobId      = body.job_id      || raw.job_id      || sheetData.job_id      || ('PHY-' + Date.now().toString().slice(-8));\nconst topic      = body.topic       || raw.topic       || sheetData.topic;\nconst sheetRow   = body.sheet_row   || raw.sheet_row   || sheetData.sheet_row   || null;\nconst difficulty = body.difficulty  || raw.difficulty  || sheetData.difficulty  || 'advanced';\nconst durationMin = parseFloat(body.duration_min || raw.duration_min || sheetData.duration_min) || 0.33;\n\nif (!topic) throw new Error('No topic found. Check Google Sheet.');\n\nconst durationSec = Math.round(durationMin * 60);\nconst numClips    = Math.max(2, Math.ceil(durationSec / 5));\nconst wordTarget  = Math.min(52, Math.max(15, Math.round(durationSec * 2.5)));\n\nreturn [{ json: {\n  ...sheetData,\n  job_id: jobId, topic, difficulty, sheet_row: sheetRow,\n  duration_min: durationMin, duration_sec: durationSec,\n  num_clips: numClips, word_target: wordTarget,\n  start_time: Date.now()\n}}];\n"
      },
      "id": "node6",
      "name": "Set Job Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst { topic, difficulty, duration_min, duration_sec, num_clips, word_target } = data;\nconst { core_theory, hook_line, narrative_angle, visual_suggestions, scientific_depth, target_audience, category } = data;\nconst topic_research = data.topic_research || '';\n\nconst sceneList = Array.from({ length: num_clips }, (_, i) => {\n  const start = i * 5, end = Math.min(start + 5, duration_sec), dur = end - start;\n  const mm = s => Math.floor(s/60) + ':' + String(s%60).padStart(2,'0');\n  return `Scene ${i+1} (${mm(start)} - ${mm(end)}, ${dur}s, ~${Math.round(dur * 2.5)} words)`;\n}).join('\\n  ');\n\nconst prompt = `You are a world-class physics documentary writer. Your job is to CREATE everything from scratch — hook, narration, scenes, title, hashtags. The Google Sheet context below is REFERENCE ONLY to help you understand the topic deeply. Do NOT copy or reuse the hook_idea or angle verbatim — use them only as inspiration.\n\n--- REFERENCE CONTEXT (for understanding only, do not copy) ---\nTopic: ${topic}\nCategory: ${category || ''}\nCore Theory: ${core_theory}\nScientific Depth: ${scientific_depth}\nHook Idea (reference only): ${hook_line}\nNarrative Angle (reference only): ${narrative_angle}\nVisual Style Reference: ${visual_suggestions}\nTarget Audience: ${target_audience || 'Advanced physics enthusiasts'}\n\n--- RESEARCH CONTEXT ---\n${topic_research}\n\n--- YOUR TASK ---\nCreate a complete, original ${duration_sec}-second physics video script that does THREE things:\n1. HOOKS the viewer instantly with a specific, topic-direct opening sentence\n2. EXPLAINS the topic clearly through storytelling — not a lecture, not vague wonder\n3. RESOLVES the curiosity — by second ${duration_sec}, viewer must UNDERSTAND what this phenomenon is and why it matters\n\n⚠️ CRITICAL: You MUST return EXACTLY ${num_clips} scenes. Each is 5 seconds. Non-negotiable.\n\nNARRATION — THE COMPLETE RULES:\n\nRULE 1 — HOOK (Scene 1 first sentence):\n- Must name or directly demonstrate the TOPIC in the first 5 words\n- Must be a specific physical fact, not a question, not an observation about life\n- Drops the viewer INTO the physics — no runway, no setup, no context-setting\n- BAD: \"The universe is stranger than we think\"\n- BAD: \"What if I told you particles behave oddly\"\n- GOOD: \"Quantum tunneling lets particles pass through walls they have no energy to cross\"\n- GOOD: \"A neutron star packs the mass of the sun into a city-sized sphere\"\n\nRULE 2 — CLARITY THROUGH STORY (Middle Scenes):\n- Every sentence must make the topic MORE understood, not just more mysterious\n- Tell it like a chain of events: first this happens, then that happens, here is why\n- Use concrete physical descriptions — what you would literally SEE or MEASURE\n- Each scene answers one question the previous scene raised\n- NO vague language: no \"somehow\", \"in a sense\", \"in a way\", \"kind of\", \"sort of\"\n- NO abstract filler: no \"this changes everything\", \"reality is not what it seems\", \"the universe is strange\"\n- NO personal pronouns: NEVER use \"I\", \"we\", \"you\", \"our\", \"your\", \"let us\", \"join us\" — pure documentary narrator voice, speak about the physics not to the viewer\n- Short punchy sentences. Rhythm matters — must sound powerful spoken aloud\n\nRULE 3 — RESOLUTION (Scene ${num_clips}):\n- The final sentence must DELIVER understanding AND wonder together\n- Viewer must feel: \"Now I get it — and it's incredible\"\n- NOT just: \"The universe is mysterious\" (empty)\n- YES: \"Every computer chip on Earth works because electrons borrow energy they do not have\" (understanding + impact)\n\nRULE 4 — WORD BUDGET:\n- Total: TARGET 35-45 words. Minimum 35 words, absolute maximum 52 words. DO NOT produce scripts shorter than 35 words.\n- ~${Math.round(word_target/num_clips)} words per scene\n- The ${num_clips} scenes flow as ONE continuous story — no repetition, no filler\n\nSCENE STRUCTURE (EXACTLY ${num_clips} scenes, 5 seconds each):\n  ${sceneList}\n- Scene 1: HOOK — specific physical fact directly about ${topic}. First word counts.\n- Middle Scenes: DEEPEN — what exactly is happening? Describe the physical reality concretely.\n- Scene ${num_clips}: RESOLUTION — delivers understanding + wonder. Viewer walks away knowing something real.\n\nVISUAL PROMPT RULES — CINEMATIC PHYSICS VISUALIZATION:\n\nEACH visual_prompt MUST:\n1. SHOW EXACTLY what the narration_segment is describing — the visual and voice must tell the same story\n   - If narration says \"electron passes through both slits\" → show an electron wave splitting through two slits\n   - If narration says \"the pattern vanishes\" → show an interference pattern collapsing\n   - NEVER show a generic glowing orb when the narration describes something specific\n\n2. STRUCTURE every prompt in this exact order:\n   [CAMERA MOVE] + [SUBJECT] + [ACTION/BEHAVIOR] + [LIGHTING] + [ATMOSPHERE] + [STYLE]\n\n3. CAMERA MOVES that create impact (pick the best one for each scene):\n   - \"Extreme macro slow push-in\" — for atomic/particle scale\n   - \"Sweeping wide cinematic dolly\" — for large-scale phenomena\n   - \"Slow rotating orbit\" — for 3D structures\n   - \"Rapid zoom from cosmic to quantum scale\" — for scale revelations\n   - \"Static locked frame\" — for moment-of-impact scenes\n\n4. PHYSICS PHENOMENON must be the hero of every frame:\n   - Show the actual physics: wave interference, particle collapse, field lines, energy transfer\n   - Use scale contrast: show something tiny doing something enormous\n   - Show MOTION: particles spiraling, waves propagating, fields pulsing, matter collapsing\n\n5. LIGHTING & COLOR for maximum visual impact:\n   - Use ONE dominant color per scene that matches the physics energy (cold blue for quantum, gold for thermal, purple for electromagnetic)\n   - High contrast: bright glowing subject against deep black void\n   - Volumetric light rays, caustic glows, rim lighting on energy fields\n   - Avoid flat lighting — use dramatic shadows and bloom\n\n6. ATMOSPHERE:\n   - Deep matte black or deep space background always\n   - Add depth: subtle particle dust, energy haze, field gradients in background\n   - Make it feel VAST or INTIMATE depending on scene — not neutral\n\n7. STYLE — make it feel like REAL PHYSICS WORLD:\n   - Render style: photorealistic 3D scientific visualization — like CERN collision renders, PBS Space Time, or Kurzgesagt physics\n   - The viewer must feel they are INSIDE the quantum/physics realm — not watching an animation about it\n   - Use real physics visual language:\n     * Quantum scale: probability clouds, wave function smears, electron orbitals, interference fringes, tunneling halos\n     * Particle physics: glowing particle tracks, bubble chamber trails, collision sparks, detector rings\n     * Electromagnetic: field lines curving through space, photon wave packets, polarization spirals\n     * Cosmological: spacetime curvature grids, gravitational lensing, neutron star surface, event horizon glow\n   - Every frame should look like it could be a screenshot from a real physics simulation or documentary\n   - Blender/Houdini render quality, volumetric glow, subsurface scattering on energy fields\n   - Cinematic depth of field — sharp subject, soft background\n\n8. STRICTLY FORBIDDEN: text, labels, letters, numbers, watermarks, UI, human faces, cartoon, anime, low quality, flat lighting\n\nReturn ONLY a raw JSON object — no markdown, no explanation:\n{\n  \"narration\": \"full narration, all scenes joined as one continuous speech\",\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"start_sec\": 0,\n      \"end_sec\": 5,\n      \"narration_segment\": \"exact words for this scene\",\n      \"visual_prompt\": \"[camera move], [exact physics phenomenon from narration], [motion/behavior], [dominant color + lighting], [atmosphere], photorealistic 3D CGI, Blender quality, deep black background, cinematic depth of field\",\n      \"negative_prompt\": \"text, letters, numbers, labels, watermarks, UI, human faces, cartoon, anime, blurry, low quality, flat lighting\"\n    }\n  ],\n  \"title\": \"punchy title under 60 characters\",\n  \"hashtags\": \"#physics #quantum #science\",\n  \"highlight_keywords\": [\"MainWord1\", \"MainWord2\", \"MainWord3\"]\n}`;\n\nreturn [{ json: { ...data, gemini_script_request: {\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: {\n    maxOutputTokens: 8192, temperature: 0.65, responseMimeType: 'application/json'\n  }\n}}}];\n"
      },
      "id": "node7",
      "name": "Build Script Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent?key=' + $env.GOOGLE_AI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.gemini_script_request) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "node8",
      "name": "Gemini Generate Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const response  = $input.first().json;\nconst jobConfig = $('Set Job Config').first().json;\nconst expectedClips = jobConfig.num_clips || 6;\n\nif (!response.candidates || !response.candidates[0] || !response.candidates[0].content)\n  throw new Error('Gemini response empty');\n\nlet rawText = response.candidates[0].content.parts[0].text.trim();\nrawText = rawText.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n\nlet parsed;\ntry { parsed = JSON.parse(rawText); }\ncatch(e) {\n  const s = rawText.indexOf('{'), endIndex = rawText.lastIndexOf('}');\n  parsed = JSON.parse((s !== -1 && endIndex !== -1) ? rawText.slice(s, endIndex+1) : rawText);\n}\n\nif (!parsed.scenes || !Array.isArray(parsed.scenes))\n  throw new Error('Gemini returned no scenes array');\n\n// Strict scene count validation\nif (parsed.scenes.length !== expectedClips) {\n  console.warn('Gemini returned ' + parsed.scenes.length + ' scenes, expected ' + expectedClips + '. Fixing...');\n  if (parsed.scenes.length < expectedClips) {\n    // Pad missing scenes by duplicating the last scene with adjusted timing\n    while (parsed.scenes.length < expectedClips) {\n      const i = parsed.scenes.length;\n      const last = parsed.scenes[parsed.scenes.length - 1];\n      parsed.scenes.push({\n        ...last,\n        scene_number: i + 1,\n        start_sec: i * 5,\n        end_sec: (i + 1) * 5,\n        narration_segment: last.narration_segment\n      });\n    }\n  } else {\n    // Trim extra scenes\n    parsed.scenes = parsed.scenes.slice(0, expectedClips);\n  }\n}\n\nconsole.log('Scenes validated: ' + parsed.scenes.length + ' scenes for ' + jobConfig.duration_sec + 's video');\n\nconst clip_prompts    = parsed.scenes.map(s => s.visual_prompt);\nconst negative_prompts = parsed.scenes.map(s => s.negative_prompt || 'text, letters, numbers, labels, watermarks, UI, human faces, cartoon, anime, blurry, low quality');\n\nreturn [{ json: {\n  ...jobConfig,\n  narration:       parsed.narration,\n  scenes:          parsed.scenes,\n  clip_prompts,\n  negative_prompts,\n  title:           parsed.title    || jobConfig.topic,\n  hashtags:        parsed.hashtags || '#physics #science',\n  highlight_keywords: parsed.highlight_keywords || []\n}}];\n"
      },
      "id": "node9",
      "name": "Parse Script Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs           = require('fs');\nconst { execSync } = require('child_process');\n\nconst data  = $input.first().json;\nconst jobId = data.job_id;\nconst clips = (data.clip_prompts || []);\n\nconst clipCount = clips.length;\nconst CLIP_DUR  = 5.0;\nconst FADE_DUR  = 0.3;\nconst videoDuration = clipCount > 0\n  ? (clipCount * CLIP_DUR - Math.max(0, clipCount - 1) * FADE_DUR)\n  : 20;\n\n// ── Analyse visual prompts ────────────────────────────────────────\nconst visual = clips.join(' ').toLowerCase();\n\nconst hasGravity   = /gravitational|spacetime|curvature|warp|black hole|event horizon|singularity/.test(visual);\nconst hasQuantum   = /wave function|probability|interference|quantum|superposit|orbital|electron cloud/.test(visual);\nconst hasParticle  = /particle|collision|detector|bubble chamber|track|beam/.test(visual);\nconst hasElectric  = /electric|plasma|lightning|arc|field line|magnetic|discharge/.test(visual);\nconst hasStellar   = /star|sun|solar|pulsar|supernova|neutron|fusion|corona/.test(visual);\nconst hasAtomic    = /atom|molecule|crystal|lattice|bond|nucleus|proton|neutron/.test(visual);\nconst hasWave      = /wave|ripple|oscillat|vibrat|resonan|frequency|diffract/.test(visual);\nconst hasLaser     = /laser|photon|beam|ray|light pulse|optic/.test(visual);\nconst isIntense    = /explo|burst|rapid|flash|collision|spark|surge|collaps|impact/.test(visual);\nconst isCalm       = /slow|drift|float|fade|gentle|subtle|still|hover/.test(visual);\n\n// ── Pick best matching track from /ffmpeg/config/bgm/ ────────────\n// Tracks available:\n//  Arcane       — dark mysterious ambient          → quantum, wave, laser\n//  BlackVortex  — dark cinematic swirl             → gravity, black hole\n//  Anxiety      — tense building suspense          → intense, particle collision\n//  Anguish      — heavy dark atmospheric           → stellar explosion, supernova\n//  Apprehension — quiet suspense build             → calm quantum, atomic\n//  Anachronist  — sci-fi electronic                → electric, plasma, magnetic\n//  Artifact     — tech/lab sci-fi atmospheric      → lab, atomic, crystal\n//  BlipStream   — electronic particle blips        → particle detector, beam\n//  Blipotron    — electronic sci-fi drone          → electric, wave, frequency\n//  Anamalie     — eerie mysterious anomaly feel    → quantum entanglement, anomaly\n\nlet trackName;\n\nif (hasGravity && isIntense)           trackName = 'IndustrialCinematic'; // heavy industrial = black hole/intense gravity\nelse if (hasGravity)                   trackName = 'BlackVortex';         // dark vortex = gravity/black hole\nelse if (hasStellar && isIntense)      trackName = 'Anguish';             // heavy dark = stellar explosion\nelse if (hasStellar)                   trackName = 'LightlessDawn';       // cinematic space = stellar ambient\nelse if (hasParticle && isIntense)     trackName = 'ImpactIntermezzo';    // dramatic impact = particle collision\nelse if (hasParticle)                  trackName = 'BlipStream';          // blips = particle detector\nelse if (hasElectric && isIntense)     trackName = 'Electrodoodle';       // electric sci-fi = intense plasma\nelse if (hasElectric)                  trackName = 'Anachronist';         // sci-fi electronic = plasma/magnetic\nelse if (hasWave && hasLaser)          trackName = 'Blipotron';           // electronic = wave/laser\nelse if (hasQuantum && isCalm)         trackName = 'Apprehension';        // quiet suspense = calm quantum\nelse if (hasQuantum && isIntense)      trackName = 'DarkFog';             // dark tension = intense quantum\nelse if (hasQuantum)                   trackName = 'Arcane';              // mysterious = quantum\nelse if (hasAtomic)                    trackName = 'Artifact';            // tech lab = atomic/crystal\nelse if (hasWave)                      trackName = 'Anamalie';            // eerie = wave anomaly\nelse if (isIntense)                    trackName = 'Anxiety';             // tense = intense scenes\nelse if (isCalm)                       trackName = 'Odyssey';             // epic calm = general physics\nelse                                   trackName = 'Arcane';              // default: dark mysterious ambient\n\nconst bgmLibPath  = '/ffmpeg/config/bgm/' + trackName + '.mp3';\nconst bgmN8nPath  = '/data/ffmpeg/input/' + jobId + '_bgm.mp3';\nconst bgmContPath = '/ffmpeg/input/'      + jobId + '_bgm.mp3';\n\n// Verify track exists in container\nconst checkCmd = 'docker exec ffmpeg-runner test -f \"' + bgmLibPath + '\" && echo EXISTS || echo MISSING';\nconst checkResult = execSync(checkCmd, { encoding: 'utf-8', timeout: 10000 });\n\nif (!checkResult.includes('EXISTS')) {\n  throw new Error('BGM track not found in container: ' + bgmLibPath + '. Make sure /ffmpeg/config/bgm/ folder is mounted.');\n}\n\n// Trim + fade the selected track to exactly videoDuration seconds\nconst trimCmd =\n  'docker exec ffmpeg-runner ffmpeg -y ' +\n  '-i \"' + bgmLibPath + '\" ' +\n  '-t ' + videoDuration.toFixed(3) + ' ' +\n  '-af \"afade=t=in:st=0:d=1.5,afade=t=out:st=' + (videoDuration - 1.5).toFixed(3) + ':d=1.5,volume=0.3\" ' +\n  '-acodec libmp3lame -ab 128k ' +\n  '\"' + bgmContPath + '\" 2>&1 && echo TRIM_OK';\n\nconsole.log('BGM track selected: ' + trackName + ' | duration: ' + videoDuration.toFixed(1) + 's');\nconst trimResult = execSync(trimCmd, { encoding: 'utf-8', timeout: 30000 });\nif (!trimResult.includes('TRIM_OK')) throw new Error('BGM trim failed: ' + trimResult.slice(-300));\n\nconsole.log('BGM ready: ' + bgmN8nPath);\n\nreturn [{ json: {\n  ...data,\n  audio_path:      null,\n  subs_path:       null,\n  audio_duration:  videoDuration,\n  subtitle_chunks: [],\n  word_timings:    [],\n  word_count:      0,\n  bgm_path:        bgmN8nPath\n}}];\n"
      },
      "id": "node10",
      "name": "Generate Audio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: {\n  job_id: data.job_id,\n  topic: data.topic,\n  title: data.title,\n  hashtags: data.hashtags,\n  narration: data.narration,\n  clip_prompts: data.clip_prompts,\n  audio_path: data.audio_path,\n  subs_path: data.subs_path,\n  audio_duration: data.audio_duration,\n  subtitle_chunks: data.subtitle_chunks,\n  word_timings: data.word_timings,\n  sheet_row: data.sheet_row,\n  start_time: data.start_time,\n  bgm_path: data.bgm_path || null,\n  negative_prompts: data.negative_prompts || [],\n  highlight_keywords: data.highlight_keywords || []\n} }];"
      },
      "id": "node11",
      "name": "Build Stage 2 Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/stage2-video",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node12",
      "name": "POST to Stage 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2640,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/1ns6J4yI4avUFvYZS1Tu97DQpy2z7t22PbA2tvUO824g/values/Content%20Master%20Table!L' + $('Set Job Config').first().json.sheet_row + '?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "options": {
          "timeout": 10000
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ majorDimension: \"ROWS\", values: [[\"STAGE2\"]] }) }}"
      },
      "id": "node13",
      "name": "Notify Stage1 Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        2860,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QUGEpurbhr31d8QZ",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "id": "nodeResearch",
      "name": "Research Topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent?key=' + $env.GOOGLE_AI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: 'You are a physics expert. Research this topic for a physics YouTube video: ' + $json.topic + '. Answer: 1) What does this phenomenon LOOK LIKE visually? (colors, shapes, movement, scale, glow, sparks, waves etc) 2) What is the key experiment setup? (equipment, lab setup, what is visible) 3) What are the 3 most visually striking moments? 4) What measurable quantities are visible? (wavelengths, voltages, angles, speeds) 5) Best camera angle to show this? Be specific, scientific, visual. 200-300 words, plain text.' }] }], generationConfig: { maxOutputTokens: 1024, temperature: 0.3 } }) }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "nodeExtractResearch",
      "name": "Extract Research",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ],
      "parameters": {
        "jsCode": "const researchResp = $input.first().json;\nconst jobData = $('Set Job Config').first().json;\nlet researchText = '';\ntry {\n  researchText = researchResp.candidates[0].content.parts[0].text || '';\n} catch(e) {\n  researchText = 'No research available.';\n}\nconsole.log('Research obtained: ' + researchText.slice(0, 100) + '...');\nreturn [{ json: { ...jobData, topic_research: researchText } }];"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Topic From Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Topic From Sheet": {
      "main": [
        [
          {
            "node": "Pick PENDING Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick PENDING Topic": {
      "main": [
        [
          {
            "node": "Mark IN_PROGRESS in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark IN_PROGRESS in Sheet": {
      "main": [
        [
          {
            "node": "Set Job Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 1 Webhook": {
      "main": [
        [
          {
            "node": "Set Job Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Job Config": {
      "main": [
        [
          {
            "node": "Research Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Script Prompt": {
      "main": [
        [
          {
            "node": "Gemini Generate Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Generate Script": {
      "main": [
        [
          {
            "node": "Parse Script Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Script Response": {
      "main": [
        [
          {
            "node": "Generate Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio": {
      "main": [
        [
          {
            "node": "Build Stage 2 Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Stage 2 Payload": {
      "main": [
        [
          {
            "node": "POST to Stage 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Stage 2": {
      "main": [
        [
          {
            "node": "Notify Stage1 Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Topic": {
      "main": [
        [
          {
            "node": "Extract Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Research": {
      "main": [
        [
          {
            "node": "Build Script Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "id": "physics-stage1-pipeline",
  "tags": [
    {
      "name": "physics-channel"
    },
    {
      "name": "stage1"
    }
  ]
}