workflows/stage2-manim-pipeline.json
{
  "name": "Physics Channel - Stage 2 - Video Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stage2-video",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "node1",
      "name": "Stage 2 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "physics-stage2-video"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = (raw.body !== undefined) ? raw.body : raw;\nif (!body.job_id) throw new Error('Payload missing: job_id');\nif (!Array.isArray(body.clip_prompts) || body.clip_prompts.length !== 3) throw new Error('Payload must have clip_prompts array of 3');\nreturn [{ json: {\n  job_id: body.job_id,\n  topic: body.topic,\n  title: body.title,\n  hashtags: body.hashtags,\n  narration: body.narration,\n  clip_prompts: body.clip_prompts,\n  audio_path: body.audio_path,\n  subs_path: body.subs_path,\n  audio_duration: body.audio_duration,\n  subtitle_chunks: body.subtitle_chunks,\n  sheet_row: body.sheet_row || null,\n  start_time: body.start_time || Date.now()\n} }];"
      },
      "id": "node2",
      "name": "Extract Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst fs = require('fs');\n\nconst data = $input.first().json;\nconst jobId = data.job_id;\nconst videoUrls = data.video_urls;\nconst subtitleChunks = data.subtitle_chunks || [];\n\n// Ensure input dir exists on n8n side\nconst inputDir = '/data/ffmpeg/input';\nif (!fs.existsSync(inputDir)) fs.mkdirSync(inputDir, { recursive: true });\nconst outputDir = '/data/ffmpeg/output';\nif (!fs.existsSync(outputDir)) fs.mkdirSync(outputDir, { recursive: true });\n\n// 1. Download 3 video clips via ffmpeg-runner container\nfor (let i = 0; i < videoUrls.length; i++) {\n  const url = videoUrls[i];\n  const outPath = '/ffmpeg/input/' + jobId + '_clip' + i + '.mp4';\n  console.log('Downloading clip ' + i + ' from ' + url);\n  let dlOut = '';\n  try {\n    dlOut = execSync(\n      'docker exec ffmpeg-runner curl -sL -o \"' + outPath + '\" \"' + url + '\" && echo \"DL_OK\"',\n      { encoding: 'utf-8', timeout: 120000 }\n    );\n  } catch(err) {\n    dlOut = (err.stdout || err.message || '').toString();\n  }\n  if (!dlOut.includes('DL_OK')) throw new Error('Download failed for clip ' + i + ': ' + dlOut.slice(-300));\n  console.log('Downloaded clip ' + i);\n}\n\n// 2. Create concat list file (written from n8n side to /data/ffmpeg/input/)\nconst concatLines = videoUrls.map((_, i) => \"file '/ffmpeg/input/\" + jobId + '_clip' + i + \".mp4'\").join('\\n');\nconst concatN8nPath = '/data/ffmpeg/input/' + jobId + '_concat.txt';\nfs.writeFileSync(concatN8nPath, concatLines, 'utf-8');\nconsole.log('Wrote concat file: ' + concatN8nPath);\n\n// 3. Generate SRT file from subtitle_chunks (written from n8n side)\nfunction toSrtTime(sec) {\n  const h = Math.floor(sec / 3600);\n  const m = Math.floor((sec % 3600) / 60);\n  const s = Math.floor(sec % 60);\n  const ms = Math.round((sec % 1) * 1000);\n  return String(h).padStart(2,'0') + ':' + String(m).padStart(2,'0') + ':' + String(s).padStart(2,'0') + ',' + String(ms).padStart(3,'0');\n}\n\nlet srtContent = '';\nfor (let i = 0; i < subtitleChunks.length; i++) {\n  const chunk = subtitleChunks[i];\n  srtContent += (i + 1) + '\\n';\n  srtContent += toSrtTime(chunk.start) + ' --> ' + toSrtTime(chunk.end) + '\\n';\n  srtContent += chunk.text + '\\n\\n';\n}\n\nconst srtN8nPath = '/data/ffmpeg/input/' + jobId + '.srt';\nfs.writeFileSync(srtN8nPath, srtContent, 'utf-8');\nconsole.log('Wrote SRT file: ' + srtN8nPath);\n\n// 4. Run FFmpeg concat inside ffmpeg-runner container\nconst concatContPath = '/ffmpeg/input/' + jobId + '_concat.txt';\nconst concatOutContPath = '/ffmpeg/input/' + jobId + '_concat.mp4';\n\nlet concatOut = '';\ntry {\n  concatOut = execSync(\n    'docker exec ffmpeg-runner ffmpeg -y -f concat -safe 0 -i \"' + concatContPath + '\" -c copy \"' + concatOutContPath + '\" 2>&1 && echo \"CONCAT_OK\"',\n    { encoding: 'utf-8', timeout: 300000 }\n  );\n} catch(err) {\n  concatOut = (err.stdout || err.message || '').toString();\n}\nif (!concatOut.includes('CONCAT_OK')) throw new Error('FFmpeg concat failed:\\n' + concatOut.slice(-600));\nconsole.log('Concat complete');\n\n// 5. Final assembly: concat mp4 + narration audio + burned subtitles\nconst srtContPath = '/ffmpeg/input/' + jobId + '.srt';\nconst audioContPath = '/ffmpeg/input/' + jobId + '_narration.mp3';\nconst finalContPath = '/ffmpeg/output/' + jobId + '_final.mp4';\n\nconst subtitleFilter = \"subtitles='\" + srtContPath + \"':force_style='FontSize=20,Alignment=2,PrimaryColour=&H00FFFFFF,OutlineColour=&H00000000,Outline=2,Bold=1'\";\n\nlet assembleOut = '';\ntry {\n  assembleOut = execSync(\n    'docker exec ffmpeg-runner ffmpeg -y -i \"' + concatOutContPath + '\" -i \"' + audioContPath + '\" -vf \"' + subtitleFilter + '\" -c:v libx264 -crf 23 -preset fast -c:a aac -b:a 128k -shortest \"' + finalContPath + '\" 2>&1 && echo \"ASSEMBLE_OK\"',\n    { encoding: 'utf-8', timeout: 600000 }\n  );\n} catch(err) {\n  assembleOut = (err.stdout || err.message || '').toString();\n}\nif (!assembleOut.includes('ASSEMBLE_OK')) throw new Error('FFmpeg final assembly failed:\\n' + assembleOut.slice(-800));\nconsole.log('Final assembly complete');\n\nconst finalN8nPath = '/data/ffmpeg/output/' + jobId + '_final.mp4';\nif (!fs.existsSync(finalN8nPath)) throw new Error('Final video not found at: ' + finalN8nPath);\n\nreturn [{ json: { ...data, output_filename: jobId + '_final.mp4', final_video_path: finalN8nPath } }];"
      },
      "id": "node4",
      "name": "Assemble Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst item = $input.first().json;\nconst filePath = item.final_video_path;\n\nif (!fs.existsSync(filePath)) {\n  throw new Error('Final video not found at: ' + filePath);\n}\n\nconst buffer = fs.readFileSync(filePath);\n\nreturn [{\n  json: item,\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'video/mp4',\n      fileName: item.output_filename,\n      fileExtension: 'mp4'\n    }\n  }\n}];"
      },
      "id": "node5",
      "name": "Read Final Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $('Assemble Video').first().json.output_filename }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_DRIVE_FOLDER_ID }}",
          "mode": "id"
        },
        "options": {
          "simplifyOutput": false
        }
      },
      "id": "node6",
      "name": "Upload Animation to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1980,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QUGEpurbhr31d8QZ",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.id + '/permissions' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "anyone"
            },
            {
              "name": "role",
              "value": "reader"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "node7",
      "name": "Make Animation Public",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2200,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QUGEpurbhr31d8QZ",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const driveNode   = $('Upload Animation to Drive').first().json;\nconst assembleData = $('Assemble Video').first().json;\nconst extractData  = $('Extract Payload').first().json;\nconst fileId = driveNode.id;\n\nconst videoUrl       = 'https://drive.google.com/uc?export=download&id=' + fileId;\nconst renderTimeSec  = Math.round((Date.now() - assembleData.start_time) / 1000);\n\nconsole.log('Stage 2 complete. Job: ' + assembleData.job_id + ', Drive file: ' + fileId + ', Time: ' + renderTimeSec + 's');\n\nreturn [{ json: {\n  job_id:             assembleData.job_id,\n  topic:              assembleData.topic,\n  title:              assembleData.title,\n  video_url:          videoUrl,\n  drive_file_id:      fileId,\n  render_time_seconds: renderTimeSec,\n  sheet_row:          extractData.sheet_row,\n  status:             'stage2_complete'\n} }];"
      },
      "id": "node8",
      "name": "Stage 2 Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        300
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/17sx-y_QDWYHFPR4sfpx9pPd8YHFx-aX8jh8tLtZXELQ/values/%F0%9F%8E%AC%20Dashboard!E' + $('Extract Payload').first().json.sheet_row + '?valueInputOption=USER_ENTERED' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({range:'Dashboard!E'+$('Extract Payload').first().json.sheet_row,majorDimension:'ROWS',values:[['DONE']]}) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node9",
      "name": "Notify Stage2 Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [
        2640,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QUGEpurbhr31d8QZ",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "id": "nodeSubmit",
      "name": "Submit Clips to Wavespeed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "jsCode": "const https = require('https');\nconst data = $input.first().json;\nconst apiKey = $env.WAVESPEED_API_KEY;\nconst clipPrompts = data.clip_prompts;\n\nif (!Array.isArray(clipPrompts) || clipPrompts.length === 0)\n  throw new Error('No clip_prompts in payload');\n\nfunction apiPost(body) {\n  return new Promise((resolve, reject) => {\n    const buf = Buffer.from(JSON.stringify(body));\n    const req = https.request({\n      hostname: 'api.wavespeed.ai',\n      path: '/api/v3/bytedance/seedance-1-lite/text-to-video',\n      method: 'POST',\n      headers: {\n        'Authorization': 'Bearer ' + apiKey,\n        'Content-Type': 'application/json',\n        'Content-Length': buf.length\n      }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => resolve(JSON.parse(Buffer.concat(chunks).toString())));\n    });\n    req.on('error', reject);\n    req.write(buf);\n    req.end();\n  });\n}\n\n// Submit all 3 clips to Wavespeed\nconst task_ids = [];\nfor (let i = 0; i < clipPrompts.length; i++) {\n  const r = await apiPost({\n    prompt: clipPrompts[i],\n    aspect_ratio: '9:16',\n    duration: 10,\n    resolution: '720p',\n    generate_audio: false,\n    seed: -1\n  });\n  if (!r.data || !r.data.id)\n    throw new Error('Wavespeed submit failed clip ' + i + ': ' + JSON.stringify(r));\n  task_ids.push(r.data.id);\n  console.log('Clip ' + i + ' submitted — id: ' + r.data.id);\n}\n\nconsole.log('All 3 clips submitted. Waiting for generation...');\n\nreturn [{ json: {\n  ...data,\n  task_ids,\n  video_urls: [null, null, null],\n  poll_attempt: 0,\n  all_done: false\n}}];\n"
      }
    },
    {
      "id": "nodeWait",
      "name": "Wait 20 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        880,
        300
      ],
      "webhookId": "wavespeed-poll-resume",
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      }
    },
    {
      "id": "nodeCheck",
      "name": "Check Clip Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "jsCode": "const https = require('https');\nconst data = $input.first().json;\nconst apiKey = $env.WAVESPEED_API_KEY;\nconst task_ids   = data.task_ids;\nconst video_urls = [...(data.video_urls || [null, null, null])];\nconst attempt    = (data.poll_attempt || 0) + 1;\n\nconsole.log('--- Poll attempt #' + attempt + ' ---');\n\nfunction apiGet(taskId) {\n  return new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: 'api.wavespeed.ai',\n      path: '/api/v3/predictions/' + taskId,\n      method: 'GET',\n      headers: { 'Authorization': 'Bearer ' + apiKey }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => resolve(JSON.parse(Buffer.concat(chunks).toString())));\n    });\n    req.on('error', reject);\n    req.end();\n  });\n}\n\n// Check each clip that is not yet complete\nfor (let i = 0; i < task_ids.length; i++) {\n  if (video_urls[i] !== null) {\n    console.log('Clip ' + i + ' already done, skipping');\n    continue;\n  }\n\n  const r = await apiGet(task_ids[i]);\n  const status = (r.data && r.data.status) || 'unknown';\n  console.log('Clip ' + i + ' [' + task_ids[i] + '] status: ' + status);\n\n  if (status === 'completed') {\n    const url = r.data.outputs && r.data.outputs[0];\n    if (!url) throw new Error('Clip ' + i + ' completed but output URL missing');\n    video_urls[i] = url;\n    console.log('Clip ' + i + ' ready: ' + url);\n  } else if (status === 'failed') {\n    throw new Error('Clip ' + i + ' FAILED: ' + JSON.stringify(r.data));\n  } else {\n    console.log('Clip ' + i + ' still ' + status + ' — will retry in 20s');\n  }\n}\n\nconst all_done = video_urls.every(u => u !== null);\nconst pending  = video_urls.filter(u => u === null).length;\n\nif (all_done) {\n  console.log('All 3 clips are ready! Proceeding to assembly.');\n} else {\n  console.log(pending + ' clip(s) still generating. Waiting 20s before next poll.');\n}\n\nreturn [{ json: {\n  ...data,\n  task_ids,\n  video_urls,\n  poll_attempt: attempt,\n  all_done\n}}];\n"
      }
    },
    {
      "id": "nodeIf",
      "name": "All Clips Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.all_done }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      }
    }
  ],
  "connections": {
    "Stage 2 Webhook": {
      "main": [
        [
          {
            "node": "Extract Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Payload": {
      "main": [
        [
          {
            "node": "Submit Clips to Wavespeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Clips to Wavespeed": {
      "main": [
        [
          {
            "node": "Wait 20 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20 Seconds": {
      "main": [
        [
          {
            "node": "Check Clip Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Clip Status": {
      "main": [
        [
          {
            "node": "All Clips Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Clips Ready?": {
      "main": [
        [
          {
            "node": "Assemble Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 20 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Video": {
      "main": [
        [
          {
            "node": "Read Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Final Video": {
      "main": [
        [
          {
            "node": "Upload Animation to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Animation to Drive": {
      "main": [
        [
          {
            "node": "Make Animation Public",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Animation Public": {
      "main": [
        [
          {
            "node": "Stage 2 Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 2 Done": {
      "main": [
        [
          {
            "node": "Notify Stage2 Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "id": "physics-stage2-pipeline",
  "tags": [
    {
      "name": "physics-channel"
    },
    {
      "name": "stage2"
    }
  ]
}